<div class="sender" [ngClass]="{ 'small-font': sentBy }" *ngIf="message">
  <div>
    <span *ngIf="sentBy && getName()"
          class="name"
          translate
          [translateParams]="{ senderName: getName() || ( 'messages.unknown.sender' | translate ) }">
      messages.sent.by
    </span>
    <span class="name" *ngIf="!getId() && (!sentBy || getName())">
      {{ getName() || ( 'messages.unknown.sender' | translate ) }}
    </span>
    <a class="name" *ngIf="getId() && (!sentBy || getName())" [routerLink]="[ '/contacts', getId() ]">
      {{ getName() || ( 'messages.unknown.sender' | translate ) }}
    </a>
    <span class="phone" *ngIf="!(message.name && message.name === message.facility?.contact?.phone)">
      {{ message.doc?.phone || message.contact?.phone || message.phone }}
    </span>
  </div>

  <div class="position small-font"
       *ngIf="!hideLineage && (message.lineage || (message.contact && message.contact.parent) || message.place || (!message.form && message.name))"
       [innerHTML]="(message.lineage || (message.contact && message.contact.parent) || message.place) | lineage">
  </div>
</div>
