<mm-modal
  id="training-cards-modal"
  class="enketo-modal content-pane"
  [titleKey]="modalTitleKey | translate"
  (onCancel)="confirmExit(true)"
  [hideFooter]="hideModalFooter"
  [hideCloseButton]="showConfirmExit"
>

  <div class="item-content empty-selection" *ngIf="loadingContent">
    <div><div class="loader"></div></div>
  </div>

  <div class="item-content empty-selection" *ngIf="!loadingContent && contentError">
    <div>{{ errorTranslationKey | translate }}</div>
  </div>

  <div class="item-content " *ngIf="showConfirmExit && !loadingContent && !contentError">
    <div>{{ 'training_cards.confirm.exit' | translate }}</div>
    <div class="btn-space-between">
      <a class="btn" (click)="confirmExit(false)">{{ 'training_cards.confirm.button.no' | translate }}</a>
      <a class="btn btn-danger" (click)="quitTraining()">{{ 'training_cards.confirm.button.yes' | translate }}</a>
    </div>
  </div>

  <div class="item-content" [hidden]="showConfirmExit || loadingContent || contentError" [class.form-no-title]="formNoTitle">
    <div class="body">
      <mm-enketo
        [formId]="formWrapperId"
        [status]="enketoStatus"
        (onSubmit)="saveForm()"
        (onCancel)="confirmExit(true)">
      </mm-enketo>
    </div>
  </div>

</mm-modal>
