<!DOCTYPE html>

<html manifest="manifest.appcache">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/inbox.css" />
    <link rel="shortcut icon" href="img/ico/icon_32.ico">
    <link rel="manifest" href="manifest.json">
    <title>Medic Mobile</title>
  </head>
  <body class="inbox {{currentTab}}" ng-controller="InboxCtrl" ng-class="{'show-content': showContent, 'bootstrapped': version && dbWarmedUp, 'select-mode': selectMode}">

    <div class="bootstrap-layer">
      <div>
        <div class="loader"></div>
        <div class="status"></div>
      </div>
    </div>

    <ng-include src="'templates/partials/actionbar.html'"></ng-include>

    <div class="container-fluid">
      <ng-include src="'templates/partials/header.html'"></ng-include>
      <div class="row content" ui-view></div>
    </div>

    <div id="snackbar">
      <span class="snackbar-content"></span>
    </div>

    <script src="js/inbox.js" type="text/javascript"></script>
    <script src="js/templates.js" type="text/javascript"></script>

  </body>
</html>
