@import (reference) "../../../../../css/variables.less";

.modal {
  &.in {
    opacity: 1;
  }
  .modal-header {
    border-bottom: 0.0625rem solid @gray-light;
    .modal-title {
      font-size: @font-large;
      font-weight: bold;
    }
    .close {
      font-size: 1.25rem;
      cursor: pointer;
    }
  }
  .modal-dialog {
    max-width: 60rem;
    width: 60rem;
    margin: 12rem auto;
    max-height: calc(100vh - 14rem);
    overflow-y: auto;
  }
  .modal-body {
    padding: 1.25rem;
  }
  .modal-footer {
    border-top: 0.0625rem solid @gray-light;
    text-align: right;
    .alert-danger {
      text-align: left;
    }
    .btn {
      margin-left: 0.3125rem;
    }
    .btn-link {
      text-decoration: none;
      text-transform: capitalize;
    }
  }
}
.modal-backdrop {
  opacity: 0.5;
}