@import "../../../../../css/base-modal.less";

.modal {
  .modal-dialog {
    max-width: 60rem;
    width: 60rem;
    margin: 12rem auto;
    max-height: calc(100vh - 14rem);
    overflow-y: auto;
  }
}