<span id="statusDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="Any status" ng-class="{ 'disabled': selectMode && selected.length }">
  <span id="status" class="mm-button" data-toggle="dropdown">
    <span class="mm-button-icon">
      <span class="fa fa-circle-o"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
    <span class="mm-button-text"></span>
  </span>
  <span role="menu" aria-labelledby="status" class="dropdown-menu mm-dropdown-menu">
    <ul>
      <li role="presentation" class="dropdown-header">{{'Validity' | translate}}</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="valid">{{'Valid' | translate}}</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="invalid">{{'Invalid' | translate}}</a>
      </li>
      <li role="presentation" class="dropdown-header">{{'Verification' | translate}}</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="verified">{{'Verified' | translate}}</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="unverified">{{'Unverified' | translate}}</a>
      </li>
    </ul>
  </span>
</span>