{
  "extends": "@medic/eslint-config",
  "overrides": [
    {
      "files": [
        "**/tests/**",
        "**/test/**"
      ],
      "extends": "@medic/eslint-config/test"
    },
    {
      "files": [ "Gruntfile.js", "grunt/service-worker.js" ],
      "env": {
        "node": true
      }
    }
  ]
}
