{
  "extends": "@medic",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": ["promise"],
  "overrides": [
    {
      "files": [ "Gruntfile.js" ],
      "env": {
        "node": true
      }
    },
    {
      "files": [ "**/service-worker.js" ],
      "rules": {
        "max-len": "off",
        "no-console": "off",
        "no-var": "off"
      }
    },
    {
      "files": [ "**/test/**", "**/tests/**" ],
      "rules": {
        "promise/catch-or-return": "error"
      }
    }
  ]
}
