.DS_Store
sentinel/settings.js
sentinel/settings-test.js
sentinel/Procfile
npm-debug.log
node_modules
node_modules_backup
/scripts/node_modules/
/scripts/token.json
/config.js
/tests/results
/tests/logs/
*.sublime-project
*.sublime-workspace
/.env
coverage/
dist
/ddocs/compiled.json
/packages
/static
.vscode/
/build/
config/*/backups/*
api/src/extracted-resources/**/*
api/build/**/*
jsdocs
config/*/.gdrive.*.json
