[submodule "json-forms"]
	path = json-forms
	url = git://github.com/medic/json-forms.git
[submodule "sentinel"]
	path = sentinel
	url = git://github.com/medic/kujua-sentinel.git
[submodule "kujua-api"]
	path = kujua-api
	url = git@github.com:medic/kujua-api.git
