.kansorc
.DS_Store
sentinel/settings.js
sentinel/settings-test.js
sentinel/Procfile
sentinel_working
npm-debug.log
node_modules
bower_components
static/dist
static/fonts

logs
config.js
/build/

*.sublime-project
*.sublime-workspace
