.kansorc
.DS_Store
sentinel/settings.js
sentinel/settings-test.js
sentinel/Procfile
sentinel_working
api_working
npm-debug.log
node_modules
/node_modules_backup/
/scripts/node_modules/
/static/dist/
!/static/fonts/
/static/fonts/**
!/static/fonts/reports-verify*
/packages/libphonenumber/libphonenumber/libphonenumber.js
/packages/task-utils/task-utils.js
/ddocs/compiled.json
logs
/config.js
/build/
tests/results
*.sublime-project
*.sublime-workspace
/.env
