language: node_js
sudo: false
node_js:
  - "7.2"
  - "6.3"
  - "5.6"

addons:
  firefox: latest-esr

services:
  - couchdb

env:
  global:
  - COUCH_URL=http://admin:pass@localhost:5984/medic
  - API_URL=http://admin:pass@localhost:5988

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - curl -X PUT localhost:5984/medic
  - bash ./scripts/ci/setup.sh
  - npm install kanso -g
  - npm install grunt-cli -g
  - npm --prefix api install
  - ./node_modules/.bin/webdriver-manager update
  - nohup bash -c "./node_modules/.bin/webdriver-manager start 2>&1 &"
  - sleep 3

script:
  - node --stack_size=10000 `which grunt` ci
  - cat nohup.out || true

after_success:
  - python ./scripts/ci/travis_after_all.py
  - export $(cat .to_export_back)
  - |
      if [ "$BUILD_LEADER" = "YES" ]; then
        if [ "$BUILD_AGGREGATE_STATUS" = "others_succeeded" ]; then
          echo "All jobs succeeded! Publishing..."
          bash ./scripts/ci/after_success.sh
        else
          echo "Some jobs failed. Not publishing."
        fi
      fi

notifications:
  webhooks:
    urls:
      - https://medic.slack.com/services/hooks/travis?token=xcYT8yusfEdSwLskhBxK4Vwj
    on_success: change
    on_failure: always
  email:
    recipients:
      - dev@medicmobile.org
