# Setting up as a java project allows us to ensure that the JRE/JDK version used
# is actually compatible with webdriver-manager.
language: java
sudo: true
jdk: oraclejdk8

addons:
  chrome: 'stable'

services:
  # docker is used for couchdb 2.0 (not currently available as a travis service)
  - docker

env:
  matrix:
    - TEST_SUITE=integration NODE_VERSION=8
    - TEST_SUITE=integration NODE_VERSION=10
    - TEST_SUITE=performance NODE_VERSION=10
  global:
    - COUCH_URL=http://admin:pass@localhost:5984/medic-test
    - COUCH_NODE_NAME=nonode@nohost
    # AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY for log uploading
    - secure: VbSeKGaVmUDZs0v+uRBl2RwcjypzkLeSXLI4BOocKfTavUFkpLvtqGWmhXJwwF6x49wxZyIhNLzPQbcefRok2p2f7KNeOccGmVdNNBbjmxc3oNKNo0rX/qyaA95cyaKEJV2MSoWYhIoBP17T4El8uOOoSqOgV/RQrhj1Lw8pDSU=
    - secure: HmzocDPXwqYiNH9Lt9gvmeuyXlYpaLjNkY0Je1nehXwMx3a9YOn4STfNQJuaCXv3l0SlnLFMnFG1vIH6EEJEhl/Wzn4Ze7FPr8+eVL5pb8Nlc8GNZpZ9l7gk2gGSfDMaK8n6osr2jR4+SzttsrI/0LsAx+yDExLores8ANg4mRU=

before_install:
  - export PATH=$PATH:$HOME/.local/bin
  - export PATH=$HOME/.npm/bin:$PATH
  - ./scripts/travis/couch-start

install: nvm install $NODE_VERSION

before_script:
  - mkdir tests/logs
  - nvm use $NODE_VERSION
  - ./scripts/travis/npm-init
  - npm install -g grunt-cli
  - npm install -g horticulturalist
  - ./scripts/travis/couch-config
  - echo "HORTI_BUILDS_SERVER=${UPLOAD_URL}/_couch/builds_testing"
  - echo "--install=medic:medic:test-${TRAVIS_BUILD_NUMBER}"
  - echo "COUCH_URL=${COUCH_URL}"
  - curl ${COUCH_URL}
  - COUCH_URL=$COUCH_URL HORTI_BUILDS_SERVER=$UPLOAD_URL/_couch/builds_testing horti --local --install=medic:medic:test-$TRAVIS_BUILD_NUMBER > tests/logs/horti.log &

script:
  - |
    if [[ "$TEST_SUITE" = 'integration' ]]; then
      node --stack_size=10000 `which grunt` ci-e2e
    elif [[ "$TEST_SUITE" = 'performance' ]]; then
      node --stack_size=10000 `which grunt` ci-performance
    else
      echo "ERROR No or unknown value for TEST_SUITE env var ('${TEST_SUITE}')."
      exit 1
    fi

stages:
  - compile
  - test
  - publish

jobs:
  include:
    - stage: compile
      env: NODE_VERSION=10
      before_script:
        - ./scripts/travis/npm-init
        - npm install -g grunt-cli
        - ./scripts/travis/couch-config
        - mkdir tests/logs
      script:
        - node --stack_size=10000 `which grunt` ci-compile
      after_failure: # overwrite default
      after_success:
        - node --stack_size=10000 `which grunt` publish-for-testing
    - stage: publish
      if: type != pull_request
      env: NODE_VERSION=10
      before_script: # overwrite default
      script:
        - cd scripts/travis
        - npm install
        - node ./publish.js
        - cd ../../
      after_failure: # overwrite default
      after_script:
        - node scripts/travis/cleanup.js # clean up testing ddoc

after_failure:
  - node scripts/travis/cleanup.js # clean up testing ddoc
  - pip install --user awscli
  - |
    (cd tests/logs
      for log in $(ls *.log); do
        echo "---------- $log ----------"
        tail "$log"
        echo "--------------------------"
      done
    )

    [[ "$TRAVIS_BUILD_STAGE_NAME" = "Test" ]] || return

    if [[ "$TRAVIS_PULL_REQUEST" = true ]]; then
      S3_PATH=s3://medic-e2e/PR_$TRAVIS_PULL_REQUEST
    else
      S3_PATH=s3://medic-e2e/BUILD_$TRAVIS_BUILD_NUMBER/JOB_$TRAVIS_JOB_NUMBER
    fi

    echo "Uploading logs and screenshots to ${S3_PATH}..."

    docker logs couch > tests/logs/couch.log 2>&1

    aws s3 cp tests/results "$S3_PATH"/test-results --recursive
    aws s3 cp tests/logs "$S3_PATH"/ --recursive

notifications:
  slack:
    rooms:
      - medic:SdzCLsD56UOr5U8ujzOCMDJd#development
    template:
      - "[webapp] <%{build_url}|%{author}'s build> %{result}. Commit: %{commit_message} (<%{compare_url}|compare>)"
    on_success: change
    on_failure: always
