version: '3.9'
services:
  couchdb:
    image: medicmobile/cht-couchdb:local
    container_name: cht-test-couchdb
    ports:
      - "5984:5984"
    environment:
      - COUCHDB_USER=admin
      - COUCHDB_PASSWORD=password
    volumes:
      - couchdb-data:/opt/couchdb/data
    depends_on:
      - couchdb-nouveau
    command: >
      bash -c "
      /docker-entrypoint.sh /opt/couchdb/bin/couchdb &
      sleep 10 &&
      curl -X PUT 'http://admin:password@127.0.0.1:5984/_node/_local/_config/nouveau/enable' -d '\"true\"' &&
      curl -X PUT 'http://admin:password@127.0.0.1:5984/_node/_local/_config/nouveau/url' -d '\"http://couchdb-nouveau:5987\"' &&
      wait
      "

  couchdb-nouveau:
    image: medicmobile/cht-couchdb-nouveau:local
    container_name: cht-test-nouveau
    ports:
      - "5987:5987"
      - "5988:5988"
    volumes:
      - nouveau-data:/data/nouveau
      - ./nouveau-config.yaml:/opt/nouveau/etc/nouveau.yaml:ro

volumes:
  couchdb-data:
  nouveau-data:
