<mm-modal
  status="status"
  [titleKey]="'welcome'"
  [submitKey]="'Start'"
  (onCancel)="cancel()"
  (onSubmit)="close()"
>
  <div class="row">
    <div class="col-sm-6">
      <h4>{{'welcome.setup.title' | translate}}</h4>
      <p>{{'welcome.setup.description' | translate}}</p>
    </div>
    <div class="col-sm-6">
      <h4>{{'welcome.tour.title' | translate}}</h4>
      <p>{{'welcome.tour.description' | translate}}</p>
    </div>
  </div>
  <div class="screenshot">
    <img src="/img/setup-wizard-demo.png" width="614" height="262" />
  </div>
</mm-modal>
