<multi-dropdown-filter
  [items]="forms"
  [itemLabel]="itemLabel"
  (applyFilter)="applyFilter($event)"
  labelNoFilter="All form types"
  labelFilter="Number of form types"
  [disabled]="disabled"
>
  <span class="fa fa-list-alt"></span>
  <ul>
    <li role="presentation" *ngFor="let form of forms; trackBy: trackByFn" [class.selected]="false">
      <a role="menuitem" tabindex="-1" [attr.data-value]="form" (click)="dropdownFilter?.toggle(form)">
        {{form.title || form.code}}
      </a>
    </li>
  </ul>
</multi-dropdown-filter>
