<div class="inner" ng-cloak>
  <div class="col-sm-12 page help" ui-view="content">
    <div>
      <h3>{{'about' | translate}}</h3>
      <ul>
        <li>{{'version' | translate}} {{version}}</li>
        <li ng-show="android_app_version">{{'android_app.version.title' | translate}} {{android_app_version}}</li>
        <li>{{url}}</li>
        <li>{{userCtx.name}}</li>
        <li><a ng-click="reload()">{{'Reload' | translate}}</a></li>
      </ul>
    </div>
    <span>
    <div ng-if="android_data_usage">
      <h3>{{'android_app.data_usage.title' | translate}}</h3>
      <p>{{'android_app.data_usage.description' | translate}}</p>
      <h4>{{'android_app.data_usage.system.title' | translate}}</h4>
      <ul>
        <li>{{'android_app.data_usage.rx' | translate}}: {{android_data_usage.system.rx | number}} B</li>
        <li>{{'android_app.data_usage.tx' | translate}}: {{android_data_usage.system.tx | number}} B</li>
      </ul>
      <h4>{{'android_app.data_usage.app.title' | translate}}</h4>
      <ul>
        <li>{{'android_app.data_usage.rx' | translate}}: {{android_data_usage.app.rx | number}} B</li>
        <li>{{'android_app.data_usage.tx' | translate}}: {{android_data_usage.app.tx | number}} B</li>
      </ul>
    </div>
    <div ng-hide="help_pages.length === 0">
      <h3>{{'Help' | translate}}</h3>
      <ul>
        <li ng-repeat="page in help_pages">
          <a ui-sref="help({ page: page.id })">{{page.title}}</a>
        </li>
      </ul>
      <div class="loader" ng-show="help_loading"></div>
    </div>
    <div>
      <h3>{{'Debug' | translate}}</h3>
      <p>{{ 'debug.mode.description' | translate }}</p>
      <form>
        <label>
          <input ng-model="enableDebugModel.val" type="checkbox" /> {{ 'debug.mode.title' | translate }}
        </label>
      </form>
    </div>
    <div>
      <h3>{{'debug.db_info.title' | translate}}</h3>
      <pre>{{ dbInfo }}</pre>
    </div>
  </div>
</div>
