<div class="row filters"></div>

<div class="inner" ng-cloak>
  <div class="col-sm-12 page help" ui-view="content">

    <div>
      <h3 translate>about</h3>
      <ul>
        <li><span translate>version</span> {{version}}</li>
        <li ng-show="android_app_version">
          <span translate>android_app.version.title</span>: {{android_app_version}}
        </li>
        <li><span translate>ddoc.version</span>: {{ddocVersion}}</li>
        <li>{{url}}</li>
        <li>{{userCtx.name}}</li>
        <li><a ng-click="reload()" translate>Reload</a></li>
      </ul>
    </div>

    <div ng-if="initialReplication">
      <h3 translate>initial.replication.title</h3>
      <ul>
        <li>
          <span translate>initial.replication.status</span>:
          <span translate>{{initialReplication.status}}</span>
        </li>
        <li ng-show="initialReplication.duration">
          <span translate>initial.replication.duration</span>:
          <span translate="number.seconds" translate-values="{ number: '{{initialReplication.duration / 1000 | number:1}}' }"></span>
        </li>
        <li ng-show="initialReplication.dataUsage">
          <span translate>android_app.data_usage.rx</span>:
          <span translate="number.bytes" translate-values="{ number: '{{initialReplication.dataUsage.rx | number}}' }"></span>
        </li>
        <li ng-show="initialReplication.dataUsage">
          <span translate>android_app.data_usage.tx</span>:
          <span translate="number.bytes" translate-values="{ number: '{{initialReplication.dataUsage.tx | number}}' }"></span>
        </li>
      </ul>
    </div>

    <div ng-if="androidDataUsage">
      <h3 translate>android_app.data_usage.title</h3>
      <p translate>android_app.data_usage.description</p>
      <h4 translate>android_app.data_usage.system.title</h4>
      <ul>
        <li>
          <span translate>android_app.data_usage.rx</span>:
          <span translate="number.bytes" translate-values="{ number: '{{androidDataUsage.system.rx | number}}' }"></span>
        </li>
        <li>
          <span translate>android_app.data_usage.tx</span>:
          <span translate="number.bytes" translate-values="{ number: '{{androidDataUsage.system.tx | number}}' }"></span>
        </li>
      </ul>
      <h4 translate>android_app.data_usage.app.title</h4>
      <ul>
        <li>
          <span translate>android_app.data_usage.rx</span>:
          <span translate="number.bytes" translate-values="{ number: '{{androidDataUsage.app.rx | number}}' }"></span>
        </li>
        <li>
          <span translate>android_app.data_usage.tx</span>:
          <span translate="number.bytes" translate-values="{ number: '{{androidDataUsage.app.tx | number}}' }"></span>
        </li>
      </ul>
    </div>

    <div ng-hide="help_pages.length === 0">
      <h3 translate>Help</h3>
      <ul>
        <li ng-repeat="page in help_pages">
          <a ui-sref="help({ page: page.id })">{{page.title}}</a>
        </li>
      </ul>
      <div class="loader" ng-show="help_loading"></div>
    </div>

    <div>
      <h3 translate>Debug</h3>
      <p translate>debug.mode.description</p>
      <form>
        <label>
          <input ng-model="enableDebugModel.val" type="checkbox" />
          <span translate>debug.mode.title</span>
        </label>
      </form>
    </div>

    <div>
      <h3 translate>debug.db_info.title</h3>
      <pre>{{ dbInfo }}</pre>
    </div>

  </div>
</div>
