<div class="container-fluid action-container">
  <div class="row">
    <div class="inner">
      <div class="col-sm-4 general-actions left-pane" ng-show="currentTab !== 'reports' || !selectMode">
        <div class="actions dropup" ng-show="currentTab === 'messages' || currentTab === 'reports' || currentTab === 'contacts'">
          <a class="mm-icon mm-icon-inverse mm-icon-caption send-message" ng-show="currentTab === 'messages'">
            <span class="fa fa-plus"></span>
            <p translate>Send Message</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" ng-show="currentTab === 'reports'" data-toggle="dropdown" ng-class="{'mm-icon-disabled': !nonContactForms.length}">
            <span class="fa fa-plus"></span>
            <p translate>Submit Report</p>
          </a>
          <ul class="dropdown-menu" ng-show="nonContactForms.length">
            <li ng-repeat="form in nonContactForms">
                <a ng-show="form.title" ui-sref="reports.add({ formId: form.internalId })">{{form.title | translateFrom}}</a>
                <a ng-show="form.name" ng-click="showMedicReporter(form.code)">{{form.name | translateFrom}}</a>
            </li>
          </ul>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" ui-sref="contacts.add()" ng-show="currentTab === 'contacts' && facilities.length">
            <span class="fa-stack">
              <i class="fa fa-building fa-stack-1x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <p translate>Add place</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" ui-sref="contacts.add()" ng-show="currentTab === 'contacts' && !facilities.length">
            <span class="fa-stack">
              <i class="fa fa-group fa-stack-1x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <p translate>action.clinic.add</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-mode-start" ng-show="currentTab === 'reports'" mm-auth="can_bulk_delete_reports" ng-click="setSelectMode(true)">
            <span class="fa fa-check-circle"></span>
            <p translate>select.mode.start</p>
          </a>
        </div>
      </div>
      <div class="col-sm-4 general-actions left-pane" ng-show="currentTab === 'reports' && selectMode">
        <div class="actions dropup">
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-all" ng-click="emit('SelectAll')">
            <span class="fa fa-check-square-o"></span>
            <p translate>select.mode.select.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption deselect-all" ng-click="emit('DeselectAll')">
            <span class="fa fa-square-o"></span>
            <p translate>select.mode.deselect.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption delete-all" mm-auth="can_bulk_delete_reports" ng-click="deleteDoc(actionBar.selected)" ng-class="{'mm-icon-disabled': !actionBar.selected.length}">
            <span class="fa fa-trash-o"></span>
            <p translate>select.mode.delete.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-mode-stop" ng-click="setSelectMode(false)">
            <span class="fa fa-times-circle"></span>
            <p translate>select.mode.stop</p>
          </a>
        </div>
      </div>

      <div class="col-sm-8 detail-actions right-pane" ng-show="currentTab === 'reports'">
        <div ng-show="selectMode">
          <div class="actions dropup" ng-show="showActionBar && actionBar.selected.length && (!loadingContent) && 'reports.detail' | isState">
            <a class="mm-icon mm-icon-inverse mm-icon-caption delete-all" mm-auth="can_bulk_delete_reports" ng-click="deleteDoc(actionBar.selected)">
              <span class="fa fa-trash-o"></span>
              <p translate>select.mode.delete.all</p>
            </a>
          </div>
        </div>

        <div ng-show="!selectMode">
          <div class="actions dropup" ng-show="showActionBar && actionBar.selected && !loadingContent && ('reports.detail' | isState)">
            <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" href="sms:{{actionBar.sendTo.phone}}" ng-class="{'mm-icon-disabled': !actionBar.sendTo.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption send-message desktop-only" data-send-to="{{actionBar.sendTo}}" ng-class="{'mm-icon-disabled': !actionBar.sendTo.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="!actionBar.verified" ng-click="emit('VerifyReport', true)">
              <span class="fa fa-check"></span>
              <p translate>Verify</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBar.verified" ng-click="emit('VerifyReport', false)">
              <span class="fa fa-times"></span>
              <p translate>Unverify</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBar.type === 'xml'" ui-sref="reports.edit({ reportId: actionBar.selected[0]._id })">
              <span class="fa fa-pencil"></span>
              <p translate>Edit</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBar.type !== 'xml'" ng-click="emit('EditReport')">
              <span class="fa fa-pencil"></span>
              <p translate>Edit</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-click="actionBar.disableDelete || deleteDoc(actionBar.selected)" ng-class="{'mm-icon-disabled': actionBar.disableDelete}" mm-auth="can_delete_reports">
              <span class="fa fa-trash-o"></span>
              <p translate>Delete</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-8 detail-actions right-pane" ng-show="currentTab === 'contacts'">
        <div class="actions dropup" ng-show="showActionBar && actionBar.selected && !loadingContent && ('contacts.detail' | isState)">

          <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBar.selected[0].childType" ui-sref="contacts.addChild({ type: actionBar.selected[0].childType, parent_id: actionBar.selected[0]._id })">
            <span class="fa-stack">
              <i class="fa {{actionBar.selected[0].childIcon}} fa-stack-1x"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <p translate>action.{{actionBar.selected[0].childType}}.add</p>
          </a>

          <div ng-show="actionBar.sendTo">
            <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" href="tel:{{actionBar.sendTo.phone}}" ng-class="{'mm-icon-disabled': !actionBar.sendTo.phone}">
              <span class="fa fa-phone"></span>
              <p translate>call</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" href="sms:{{actionBar.sendTo.phone}}" ng-class="{'mm-icon-disabled': !actionBar.sendTo.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption send-message desktop-only" data-send-to="{{actionBar.sendTo}}" ng-class="{'mm-icon-disabled': !actionBar.sendTo.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
          </div>

          <a class="mm-icon mm-icon-inverse mm-icon-caption" ui-sref="contacts.edit({ id: actionBar.selected[0]._id })">
            <span class="fa fa-pencil"></span>
            <p translate>Edit</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
