<div class="container-fluid action-container">
  <div class="row">
    <div class="inner">
      <div class="col-sm-4 general-actions">
        <div class="actions dropup" ng-show="filterModel.type === 'messages' || filterModel.type === 'reports'">
          <a class="mm-icon mm-icon-inverse mm-icon-caption send-message" ng-show="filterModel.type === 'messages'">
            <span class="fa fa-plus"></span>
            <p>{{'Send Message' | translate}}</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" ng-show="filterModel.type === 'reports'" data-toggle="dropdown">
            <span class="fa fa-plus"></span>
            <p>{{'Submit Report' | translate}}</p>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="form in formDefinitions">
              <a ui-sref="reports.add({ formId: form.internalId })">{{ form.title }}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8 detail-actions">
        <div class="actions" ng-show="showActionBar && actionBar._id && !loadingContent && (('reports.detail' | isState) || ('contacts.detail' | isState))">
          <a class="mm-icon mm-icon-inverse mm-icon-caption send-message" data-send-to="{{actionBar.sendTo}}">
            <span class="fa fa-envelope"></span>
            <p>{{'Send Message' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption send-message" ng-show="filterModel.type === 'contacts' && actionBar.sendTo.type !== 'person'" ng-class="{'mm-icon-disabled': actionBar.sendTo.type !== 'health_center'}" data-send-to="{{actionBar.sendTo}}" data-everyone-at="true">
            <span class="fa-stack">
              <i class="fa fa-envelope fa-stack-1x stack-bottom-left"></i>
              <i class="fa fa-envelope fa-stack-1x stack-top-right"></i>
            </span>
            <p>{{'Message All' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="filterModel.type === 'reports' && !actionBar.verified" ng-click="emit('VerifyReport', true)">
            <span class="fa fa-check"></span>
            <p>{{'Verify' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="filterModel.type === 'reports' && actionBar.verified" ng-click="emit('VerifyReport', false)">
            <span class="fa fa-times"></span>
            <p>{{'Unverify' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="filterModel.type === 'reports' && actionBar.type === 'xml'" ui-sref="reports.edit({ reportId: actionBar._id })">
            <span class="fa fa-pencil"></span>
            <p>{{'Edit' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="filterModel.type === 'reports' && actionBar.type !== 'xml'" ng-click="emit('EditReport')">
            <span class="fa fa-pencil"></span>
            <p>{{'Edit' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="filterModel.type === 'contacts'" ng-click="emit('EditContact')">
            <span class="fa fa-pencil"></span>
            <p>{{'Edit' | translate}}</p>
          </a><a class="mm-icon mm-icon-inverse mm-icon-caption" ng-click="deleteDoc(actionBar._id)">
            <span class="fa fa-trash-o"></span>
            <p>{{'Delete' | translate}}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
