<form role="form">

  <div class="form-group">
    <label for="accept-messages">{{'Accept plain-text messages' | translate}}</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="accept-messages" ng-model="advancedSettingsModel.accept_messages"/>
        {{'Accept plain-text messages help' | translate}}
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="date-display-format">{{'Date display format' | translate}}</label>
    <select id="date-display-format" class="form-control small" ng-model="advancedSettingsModel.date_format" ng-options="format for format in date_formats" ng-change="updateDateFormatExample()">
    </select>
    <p class="help-block">
      {{'For example' | translate}}
      {{dateFormatExample}}
    </p>
  </div>

  <div class="form-group">
    <label for="datetime-display-format">{{'Datetime display format' | translate}}</label>
    <select id="datetime-display-format" class="form-control medium" ng-model="advancedSettingsModel.reported_date_format" ng-options="format for format in datetime_formats" ng-change="updateDatetimeFormatExample()">
    </select>
    <p class="help-block">
      {{'For example' | translate}}
      {{datetimeFormatExample}}
    </p>
  </div>

  <div class="form-group">
    <label>{{'Phone number conversion' | translate}}</label>
    <p>
      {{'Replace country code for' | translate}}
      <select id="outgoing-phone-replace-match"></select>
      {{'with' | translate}}
      <input type="text" class="form-control tiny inline" ng-model="advancedSettingsModel.outgoing_phone_replace.replace">
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': errors.fields.messagingWindow }">
    <label>{{'Messaging window' | translate}}</label>
    <p>
      {{'Send scheduled messages between' | translate}}
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_morning_hours" ng-options="hour.value as hour.name for hour in hours"></select>
      :
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_morning_minutes" ng-options="minute.value as minute.name for minute in minutes"></select>
      {{'and' | translate}}
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_evening_hours" ng-options="hour.value as hour.name for hour in hours"></select>
      :
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_evening_minutes" ng-options="minute.value as minute.name for minute in minutes"></select>
    </p>
    <p class="error">{{errors.fields.messagingWindow}}</p>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="submitAdvancedSettings()" ng-disabled="status.loading">{{'Submit' | translate}}</button>
    <div class="loader inline" ng-show="status.loading"></div>
    <span ng-show="status.error" class="error">{{status.msg}}</span>
    <span ng-show="status.success" class="success">{{status.msg}}</span>
  </div>

</form>

<p class="section">
  {{'Advanced settings intro' | translate}}
  <a href="/dashboard/_design/dashboard/_rewrite/settings#/apps">{{'Dashboard settings page' | translate}}</a>.
  {{'Advanced settings outro' | translate}}
</p>
