<div id="language-accordion" class="panel-group" role="tablist">
  <div class="panel panel-default" ng-repeat="locale in languagesModel.locales">
    <div class="panel-heading" role="tab" id="locale-{~lb}{~lb}locale.code{~rb}{~rb}">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-target="#locale-{~lb}{~lb}locale.code{~rb}{~rb}-body" data-parent="#language-accordion">
          {~lb}{~lb}locale.name{~rb}{~rb}
          <span class="fa-stack default" ng-attr-title="{~lb}{~lb}'Default Application Language' | translate{~rb}{~rb}" ng-show="locale.code === languagesModel.default.locale">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
          <span class="fa-stack default" ng-attr-title="{~lb}{~lb}'Language For Outgoing Messages' | translate{~rb}{~rb}" ng-show="locale.code === languagesModel.default.outgoing">
            <i class="fa fa-envelope-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
        </a>
      </h4>
    </div>
    <div id="locale-{~lb}{~lb}locale.code{~rb}{~rb}-body" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body">
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-language" ng-click="prepareEditLanguage(locale)">
            <i class="fa fa-pencil"></i>
            {~lb}{~lb}'Edit' | translate{~rb}{~rb}
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link" ng-click="setLocale(locale)" ng-disabled="locale.code === languagesModel.default.locale">
            <span class="fa-stack default" ng-attr-title="{~lb}{~lb}'Default Application Language' | translate{~rb}{~rb}">
              <i class="fa fa-file-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span>
            {~lb}{~lb}'Set as default application language' | translate{~rb}{~rb}
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link" ng-click="setLocaleOutgoing(locale)" ng-disabled="locale.code === languagesModel.default.outgoing">
            <span class="fa-stack default" ng-attr-title="{~lb}{~lb}'Language For Outgoing Messages' | translate{~rb}{~rb}">
              <i class="fa fa-envelope-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span>
            {~lb}{~lb}'Set as language for outgoing messages' | translate{~rb}{~rb}
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#delete-language" ng-click="prepareDeleteLanguage(locale)">
            <i class="fa fa-trash-o"></i>
            {~lb}{~lb}'Delete' | translate{~rb}{~rb}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-language" ng-click="prepareEditLanguage()">
  <i class="fa fa-plus"></i>
  {~lb}{~lb}'Add new language' | translate{~rb}{~rb}
</button>