<div class="col-sm-12">
  <form id="forms-upload-xform">
    <div>
      <fieldset>
        <legend translate>Upload XForm</legend>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="xform.error">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span translate>Upload failed</span>
        </div>
        <div class="alert alert-success" role="alert" ng-show="xform.success" translate>Upload succeeded</div>
        <label>XML
          <input class="form uploader" type="file" accept="application/xml"/>
        </label>
        <label> Context
          <input class="context uploader" type="file" accept="application/json"/>
        </label>
        <button type="button" class="btn btn-default upload" ng-disabled="xform.uploading">
          <i class="fa fa-arrow-up"></i>
          <span translate>Import</span>
        </button>
        <div class="loader" ng-show="xform.uploading"></div>
        <span class="help-block" translate>Upload XForm help</span>
        <div class="hide">
        </div>
      </fieldset>
    </div>
  </form>

  <form id="forms-upload-json">
    <div>
      <fieldset>
        <legend translate>Upload JSON Forms</legend>
        <div class="alert alert-danger alert-dismissible" role="alert" ng-show="json.error">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span translate>Upload failed</span>
        </div>
        <div class="alert alert-success" role="alert" ng-show="json.success" translate>Upload succeeded</div>
        <button type="button" class="btn btn-default choose" ng-disabled="json.uploading">
          <i class="fa fa-arrow-up"></i>
          <span translate>Import</span>
        </button>
        <div class="loader" ng-show="json.uploading"></div>
        <span class="help-block" translate>Upload forms help</span>
        <div class="hide">
          <input class="uploader" type="file" accept="application/json">
        </div>
      </fieldset>
    </div>
  </form>

  <div class="section">
    <fieldset>
      <legend translate>Installed Forms</legend>
      <ul>
        <li ng-repeat="form in forms" class="row">
          <div class="col-sm-1" ng-bind-html="form.meta.icon | resourceIcon"></div>
          <div class="col-sm-1">{{form.meta.code}}</div>
          <div class="col-sm-10">{{form.meta.label | translateFrom}}</div>
        </li>
      </ul>
      <a class="btn btn-default" ng-attr-download="{{download.name}}" ng-href="{{download.url}}">
        <i class="fa fa-arrow-down"></i>
        <span translate>Download</span>
      </a>
    </fieldset>
  </div>

  <form class="section">
    <div>
      <fieldset>
        <legend translate>reporter.section.title</legend>
        <a class="btn btn-default" href="/medic-reporter/_design/medic-reporter/_rewrite/">
          <i class="fa fa-external-link"></i>
          <span translate>reporter.link</span>
        </a>
        <span class="help-block" translate>reporter.section.help</span>
      </fieldset>
    </div>
  </form>
</div>
