<div class="inner" ng-cloak>
  <div class="col-sm-12 page configuration" ui-view="content">
    <div class="configuration-menu">
      <a ui-sref="configuration.settings.basic" ng-show="permissions.admin">
        <i class="fa fa-cog"></i>
        {{'Settings' | translate}}
      </a>
      <a ui-sref="configuration.translation.languages" ng-show="permissions.admin">
        <i class="fa fa-language"></i>
        {{'Languages' | translate}}
      </a>
      <a ui-sref="configuration.forms" ng-show="permissions.admin">
        <i class="fa fa-list-alt"></i>
        {{'Forms' | translate}}
      </a>
      <a href="schedules" ng-show="permissions.admin">
        <i class="fa fa-clock-o"></i>
        {{'Schedules' | translate}}
      </a>
      <a ui-sref="configuration.export" ng-show="permissions.admin">
        <i class="fa fa-arrow-circle-o-down"></i>
        {{'Export' | translate}}
      </a>
      <a ui-sref="configuration.users" ng-show="permissions.admin">
        <i class="fa fa-user"></i>
        {{'Users' | translate}}
      </a>
      <a href="facilities" ng-show="permissions.admin || permissions.nationalAdmin">
        <i class="fa fa-home"></i>
        {{'Facilities' | translate}}
      </a>
    </div>
  </div>
</div>