<div class="inner" ng-cloak>
  <div class="col-sm-12 page configuration" ui-view="content">
    <div class="mm-navigation-menu">
      <a ui-sref="configuration.settings.basic" mm-auth="can_configure">
        <i class="fa fa-cog"></i>
        {{'Settings' | translate}}
      </a>
      <a ui-sref="configuration.translation.languages" mm-auth="can_configure">
        <i class="fa fa-language"></i>
        {{'Languages' | translate}}
      </a>
      <a ui-sref="configuration.forms" mm-auth="can_configure">
        <i class="fa fa-list-alt"></i>
        {{'Forms' | translate}}
      </a>
      <a ui-sref="configuration.export" mm-auth="can_configure">
        <i class="fa fa-arrow-circle-o-down"></i>
        {{'Export' | translate}}
      </a>
      <a ui-sref="configuration.user" mm-auth="can_configure">
        <i class="fa fa-user"></i>
        {{'edit.user.settings' | translate}}
      </a>
      <a ui-sref="configuration.users" mm-auth="can_configure">
        <i class="fa fa-users"></i>
        {{'Users' | translate}}
      </a>
      <a ui-sref="configuration.icons" mm-auth="can_configure">
        <i class="fa fa-file-image-o"></i>
        {{'icons' | translate}}
      </a>
      <a ui-sref="configuration.targets" mm-auth="can_configure">
        <i class="fa fa-dot-circle-o"></i>
        {{'analytics.targets' | translate}}
      </a>
    </div>
  </div>
</div>
