<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.export.messages" id="configuration-export-messages-button" translate>Messages</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.export.reports" translate>Reports</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.export.contacts" translate>Contacts</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.export.feedback" translate>User Feedback</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.export.serverlogs" translate>Server Logs</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.export.auditlogs" translate>Audit Logs</a>
  </li>
</ul>
<div class="tab-content" ui-view="tab"></div>
