<div id="language-accordion" class="panel-group" role="tablist">
  <div class="panel panel-default" ng-repeat="localeModel in languagesModel.locales" ng-class="{'disabled': localeModel.locale.disabled}">
    <div class="panel-heading" role="tab" id="locale-{{localeModel.locale.code}}">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-target="#locale-{{localeModel.locale.code}}-body" data-parent="#language-accordion">
          {{localeModel.locale.name}}
          <span class="fa-stack default" ng-attr-title="{{'Default Application Language' | translate}}" ng-show="localeModel.locale.code === languagesModel.default.locale">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
          <span class="fa-stack default" ng-attr-title="{{'Language For Outgoing Messages' | translate}}" ng-show="localeModel.locale.code === languagesModel.default.outgoing">
            <i class="fa fa-envelope-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
        </a>
      </h4>
    </div>
    <div id="locale-{{localeModel.locale.code}}-body" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body action-list">
        <div class="alert alert-warning" role="alert" ng-show="{{localeModel.missing > 0}}">
          {{'Missing translations' | translate:localeModel}}
        </div>
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-language" ng-click="prepareEditLanguage(localeModel.locale)">
            <i class="fa fa-pencil"></i>{{'Edit' | translate}}
          </button>
        </div>
        <div ng-hide="localeModel.locale.disabled">
          <button type="button" class="btn btn-link" ng-click="disableLanguage(localeModel.locale)">
            <i class="fa fa-ban"></i>{{'Disable' | translate}}
          </button>
        </div>
        <div ng-hide="!localeModel.locale.disabled">
          <button type="button" class="btn btn-link" ng-click="enableLanguage(localeModel.locale)">
            <i class="fa fa-circle-o"></i>{{'Enable' | translate}}
          </button>
        </div>
        <div ng-hide="localeModel.locale.disabled">
          <button type="button" class="btn btn-link" ng-click="setLocale(localeModel.locale)" ng-disabled="localeModel.locale.code === languagesModel.default.locale">
            <span class="fa-stack default" ng-attr-title="{{'Default Application Language' | translate}}">
              <i class="fa fa-file-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span>{{'Set as default application language' | translate}}
          </button>
        </div>
        <div ng-hide="localeModel.locale.disabled">
          <button type="button" class="btn btn-link" ng-click="setLocaleOutgoing(localeModel.locale)" ng-disabled="localeModel.locale.code === languagesModel.default.outgoing">
            <span class="fa-stack default" ng-attr-title="{{'Language For Outgoing Messages' | translate}}">
              <i class="fa fa-envelope-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span>{{'Set as language for outgoing messages' | translate}}
          </button>
        </div>
        <div>
          <a class="btn btn-link" ng-attr-download="{{localeModel.export.name}}" ng-href="{{localeModel.export.url}}">
            <i class="fa fa-arrow-circle-o-down"></i>{{'Export' | translate}}
          </a>
        </div>
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#import-translation" ng-click="prepareImport(localeModel.locale)">
            <i class="fa fa-arrow-circle-o-up"></i>{{'Import' | translate}}
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link btn-danger" data-toggle="modal" data-target="#delete-language" ng-click="prepareDeleteLanguage(locale)">
            <i class="fa fa-trash-o"></i>{{'Delete' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-link" data-toggle="modal" data-target="#edit-language" ng-click="prepareEditLanguage()">
  <i class="fa fa-plus"></i>
  {{'Add new language' | translate}}
</button>