<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.translation.languages">
      {{'Languages' | translate}}
    </a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.translation.application">
      {{'Application Text' | translate}}
    </a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="configuration.translation.messages">
      {{'tasks' | translate}}
    </a>
  </li>
</ul>
<div class="tab-content" ui-view="tab"></div>
