<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!selected && !loadingContent">
    <div translate>No contact selected</div>
  </div>

  <div class="col-sm-8 item-content item-body" ng-show="selected && !loadingContent">
    <div class="material">
      <div class="body meta">
        <h3 class="hidden-xs">
          <i class="fa fa-star primary" ng-show="selected.doc.isPrimaryContact" translate translate-attr-title="Primary contact"></i>
          <i class="fa {{selected.doc.icon}}"></i>
          {{selected.doc.name}}
        </h3>
        <h3 class="visible-xs-block">
          <i class="fa fa-star primary" ng-show="selected.doc.isPrimaryContact" translate translate-attr-title="Primary contact"></i>
          <i class="fa {{selected.doc.icon}}"></i>
        </h3>
        <div class="card">
          <div class="row">
            <div class="col-sm-3" ng-show="selected.doc.type === 'person'">
              <div class="cell">
                <label translate>Phone Number</label>
                <p ng-if="selected.doc.phone">
                  <a href="tel:{{selected.doc.phone}}" class="mobile-only">{{selected.doc.phone}}</a>
                  <span class="desktop-only">{{selected.doc.phone}}</span>
                </p>
              </div>
            </div>
            <div class="col-sm-3" ng-show="selected.doc.type === 'person'">
              <div class="cell">
                <label translate>patient_id</label>
                <p>{{selected.doc.patient_id}}</p>
              </div>
            </div>
            <div class="col-sm-3" ng-show="selected.doc.type !== 'person'">
              <div class="cell">
                <label translate>contact.place.id</label>
                <p>{{selected.doc.place_id}}</p>
              </div>
            </div>
            <div class="col-sm-3" ng-show="selected.doc.type === 'person'">
              <div class="cell">
                <label translate>contact.age</label>
                <p ng-bind-html="selected.doc.date_of_birth | age"></p>
              </div>
            </div>
            <div class="col-sm-3" ng-show="selected.doc.type === 'person'">
              <div class="cell">
                <label translate>contact.sex</label>
                <p ng-bind-html="selected.doc.sex"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="cell">
                <label translate>contact.parent</label>
                <p ng-show="showParentLink">
                  <a ui-sref="contacts.detail({ id: selected.doc.parent._id })">{{selected.doc.parent.name}}</a>
                </p>
                <p ng-show="!showParentLink">
                  {{selected.doc.parent.name}}
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="cell">
                <label translate>Notes</label>
                <p>{{selected.doc.notes}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="selected.children.persons">
        <div class="card-title">
          <div class="col-sm-6"><i class="fa fa-user"></i></div>
          <div class="col-sm-3 hidden-xs" translate>person.field.title</div>
          <div class="col-sm-3 hidden-xs" translate>person.field.phone</div>
        </div>
        <div class="card action-list children">
          <div class="accent"></div>
          <div class="row" ng-repeat="child in selected.children.persons">
            <div class="col-sm-12">
              <a ui-sref="contacts.detail({ id: child.doc._id })" class="cell">
                <div>
                  <div class="col-sm-6">
                    <i class="fa fa-star primary" ng-show="child.doc.isPrimaryContact" translate translate-attr-title="Primary contact"></i>
                    {{child.doc.name}}
                  </div>
                  <div class="col-sm-3" ng-bind-html="child.doc.title"></div>
                  <div class="col-sm-3" ng-bind-html="child.doc.phone"></div>
                </div>
                <div ng-show="child.doc.isPrimaryContact" translate>Primary contact</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="selected.children.places">
        <h4>
          <i class="fa {{selected.children.childPlacesIcon}}"></i>
          <span translate>{{selected.children.childPlacesLabel}}</span>
        </h4>
        <div class="card action-list children">
          <div class="accent"></div>
          <div class="row" ng-repeat="child in selected.children.places">
            <div class="col-sm-12">
              <a ui-sref="contacts.detail({ id: child.doc._id })" class="cell">
                <div>{{child.doc.name}}</div>
                <div ng-show="child.doc.contact.name"><span translate>Primary contact</span>: {{child.doc.contact.name}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="(selected.tasks | filter:{resolved:false}:strict).length">
        <h4 translate>Tasks</h4>
        <div class="card action-list tasks">
          <div class="accent"></div>
          <div class="row" ng-repeat="task in selected.tasks | filter:{resolved:false}:strict | orderBy:'date'">
            <div class="col-sm-12">
              <a ui-sref="tasks.detail({ id: task._id })" class="cell">
                <div ng-bind-html="task.date | relativeDay" class="pull-right"></div>
                <span ng-bind-html="task.icon | resourceIcon" class="action-icon"></span>
                <div>{{task.title | translateFrom:task}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="selected.reports.length">
        <h4 translate>Reports</h4>
        <div class="card action-list reports">
          <div class="accent"></div>
          <div class="row" ng-repeat="report in selected.reports track by report._id">
            <div class="col-sm-12">
              <a ui-sref="reports.detail({ id: report._id })" class="cell">
                <div ng-bind-html="report.reported_date | relativeDate" class="pull-right"></div>
                <div>{{report | summary:forms}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="padding"></div>
    </div>
  </div>
</div>
