<div id="contacts-list" class="col-sm-4 inbox-items left-pane">
  <ul class="unfiltered" ng-show="(!loading || appending) && !filtered"></ul>
  <ul class="filtered" ng-show="(!loading || appending) && filtered"></ul>
  <p ng-show="error" class="alert alert-danger" role="alert">{{'Error fetching contacts' | translate}}</p>
  <p class="loading-status" ng-show="!error && !loading && !hasContacts">{{'No contacts found' | translate}}</p>
  <p class="loading-status" ng-show="!error && !loading && hasContacts && !moreItems">{{'No more contacts' | translate}}</p>
  <div class="loader" ng-show="loading"></div>
  <div class="padding"></div>
</div>
