<li class="{{contact._id === userDistrict || contact._id === userContact ? 'ng-hide' : ''}} {{!contact.parent._id ? 'orphan' : ''}}">
  <a class="message-wrapper" href="#contacts/{{contact._id}}">
    <span class="mm-badge">
      <span class="fa {{contact.type === 'person' ? 'fa-user' : ''}} {{contact.type === 'clinic' ? 'fa-group' : ''}} {{contact.type === 'health_center' ? 'fa-hospital-o' : ''}} {{contact.type === 'district_hospital' ? 'fa-building' : ''}}"></span>
    </span>
    <div class="detail">
      <div class="sender">
        <div>
          <span class="name">{{contact.name || contact.contact.phone}}</span>
        </div>
        <div class="position">{{contact.parent | clinic}}</div>
      </div>
    </div>
  </a>
</li>
