<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content item-body" ng-show="selected && !loadingContent">
    <div class="material">

      <div class="body col-sm-12">
        <div class="meta">
          <h2>{{selected.doc.name}}</h2>
          <p ng-show="selected.doc.date_of_birth" ng-bind-html="selected.doc.date_of_birth | age"></p>
          <p ng-show="showParentLink">
            <a ui-sref="contacts.detail({ id: selected.doc.parent._id })">{{selected.doc.parent.name}}</a>
          </p>
        </div>
        <div id="details" class="panel-group" ng-show="selected.fields.length || selected.contactFor.length">
          <div class="panel-heading">
            <span class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#details" href="#detailsContent" aria-controls="detailsContent">Details</a>
            </span>
          </div>
          <div id="detailsContent" class="collapse">
            <div class="card">
              <ul class="field-list">
                <li ng-repeat="(name, conf) in selected.fields" ng-if="selected.doc[name]">
                  <label>{{selected.doc.type + '.field.' + name | translate}}</label>
                  <p>
                    <span ng-if="conf.type === 'tel'">
                      <a href="tel:{{selected.doc[name]}}" class="mobile-only">{{selected.doc[name]}}</a>
                      <span class="desktop-only">{{selected.doc[name]}}</span>
                    </span>
                    <span ng-if="conf.type === 'date' && name !== 'date_of_birth'" ng-bind-html="selected.doc[name] | fullDate"></span>
                    <span ng-if="conf.type.indexOf('db:') === 0"><a ui-sref="contacts.detail({ id: selected.doc[name]._id })">{{selected.doc[name].name}}</a></span>
                    <span ng-if="conf.type !== 'tel' && conf.type !== 'date' && conf.type.indexOf('db:') !== 0">{{selected.doc[name]}} : {{conf.type}}</span>
                  </p>
                </li>
                <li ng-if="selected.contactFor.length">
                  <label>{{'Primary Contact For' | translate}}</label>
                  <ul>
                    <li class="row" ng-repeat="place in selected.contactFor">
                      <div class="col-sm-4">
                        <a ui-sref="contacts.detail({ id: place.doc._id })">{{place.doc.name}}</a>
                      </div>
                      <div class="col-sm-8" ng-bind-html="place.doc.parent | clinic"></div>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-4" ng-if="selected.doc.type !== 'person'">
          <h3>{{selected.doc.type + '.field.children' | translate}}</h3>
          <div class="card action-list">
            <ul>
              <li ng-repeat="child in selected.children">
                <a ui-sref="contacts.detail({ id: child.doc._id })">
                  <div>
                    <i class="fa fa-star" ng-show="child.doc._id === selected.doc.contact._id" title="{{'Primary contact' | translate}}"></i>
                    {{child.doc.name}}
                  </div>
                  <div class="subtext">{{child.doc.contact.name}}</div>
                  <div class="subtext" ng-bind-html="child.doc.date_of_birth | age"></div>
                </a>
              </li>
              <li class="add" ng-show="selected.doc.type === 'clinic'">
                <a ui-sref="contacts.addChild({ type: 'person', parent_id: selected.doc._id })">
                  <i class="fa fa-plus"></i>
                  <div>{{'Add person' | translate}}</div>
                </a>
              </li>
              <li class="add" ng-show="selected.doc.type === 'health_center'">
                <a ui-sref="contacts.addChild({ type: 'clinic', parent_id: selected.doc._id })">
                  <i class="fa fa-plus"></i>
                  <div>{{'Add place' | translate}}</div>
                </a>
              </li>
              <li class="add" ng-show="selected.doc.type === 'district_hospital'">
                <a ui-sref="contacts.addChild({ type: 'health_center', parent_id: selected.doc._id })">
                  <i class="fa fa-plus"></i>
                  <div>{{'Add place' | translate}}</div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4" ng-if="(selected.tasks | filter:{resolved:false}:strict).length">
          <h3>{{'Tasks' | translate}}</h3>
          <div class="card action-list">
            <ul>
              <li ng-repeat="task in selected.tasks | filter:{resolved:false}:strict | orderBy:'date'">
                <a ui-sref="tasks.detail({ id: task._id })">
                  <span ng-bind-html="task.icon | resourceIcon" class="action-icon"></span>
                  <div>{{task.title | translateFrom:task}}</div>
                  <div ng-bind-html="task.date | relativeDay" class="subtext"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4" ng-if="relevantForms.length">
          <h3>{{'Submit Report' | translate}}</h3>
          <div class="card action-list">
            <ul>
              <li ng-repeat="form in relevantForms">
                <a ui-sref="contacts.report({ id: selected.doc._id, formId: form.internalId })">
                  {{form.title | translateFrom}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4" ng-if="selected.reports.length">
          <h3>{{'Reports' | translate}}</h3>
          <div class="card action-list">
            <ul>
              <li ng-repeat="report in selected.reports">
                <a ui-sref="reports.detail({ id: report._id })">
                  <div>{{report.formTitle | translateFrom}}</div>
                  <div ng-bind-html="report.reported_date | relativeDate" class="subtext"></div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="padding"></div>
    </div>
  </div>
</div>
