<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingForm">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!loadingForm && contentError">
    <div translate>error.loading.form</div>
  </div>

  <div class="col-sm-8 item-content item-body" ng-show="selected && form && !loadingForm">
    <mm-enketo id="'contact-report'" status="saveStatus" on-submit="save()" on-cancel="navigationCancel()" />
  </div>

</div>
