<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!selected && !loadingContent">
    <div translate>No contact selected</div>
  </div>

  <div class="col-sm-8 item-content item-body" ng-show="selected && !loadingContent">
    <div class="material">
      <div class="body meta">
        <div class="card-title">
          <div>
            <i class="fa fa-fw {{selected.icon}}"></i>
          </div>
          <div>
            <h3 class="xs-block">
              <i class="fa fa-star primary" ng-show="selected.isPrimaryContact" translate translate-attr-title="Primary contact"></i>
              <span>{{selected.doc.name}}</span>
            </h3>
            <div class="xs-block" ng-show="selected.isPrimaryContact">
              <span ng-show="selected.doc.parent.type !== 'clinic'" translate>Primary contact</span>
              <span ng-show="selected.doc.parent.type === 'clinic'" translate>clinic.field.contact</span>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="row flex">
            <div class="col col-sm-{{field.width || 12}}" ng-repeat="field in selected.summary.fields">
              <div class="cell">
                <label translate>{{field.label}}</label>
                <p ng-if="field.translate" translate translate-values="{{field.context}}">{{field.value}}</p>
                <p ng-if="!field.translate && field.filter" ng-bind-html="field.value"></p>
                <p ng-if="!field.translate && !field.filter">{{field.value}}</p>
              </div>
            </div>
          </div>
        </div>

        <div ng-repeat="card in selected.summary.cards">
          <div class="action-header">
            <h4 translate>{{card.label}}</h4>
          </div>
          <div class="card action-list">
            <div class="accent"></div>
            <div class="row">
              <div class="col col-sm-{{field.width || 12}}" ng-repeat="field in card.fields">
                <div class="cell">
                  <label translate>{{field.label}}</label>
                  <p ng-if="field.translate" translate translate-values="{{field.context}}">{{field.value}}</p>
                  <p ng-if="!field.translate && field.filter" ng-bind-html="field.value"></p>
                  <p ng-if="!field.translate && !field.filter">{{field.value}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="selected.children.persons">
        <div ng-show="selected.doc.type !== 'clinic'" class="col-xs-12">
          <h4><i class="fa fa-fw fa-user"></i><span translate>People</span></h4>
        </div>
        <div ng-show="selected.doc.type === 'clinic'" class="col-xs-10">
          <h4><i class="fa fa-fw fa-user"></i><span translate>clinic.field.children</span></h4>
        </div>
        <div ng-show="selected.doc.type === 'clinic'" mm-auth="can_view_tasks" class="col-xs-2 tasks-title" translate>Tasks</div>
        <div class="card action-list children persons">
          <div class="accent"></div>
          <div class="row" ng-repeat="child in selected.children.persons">
            <a ui-sref="contacts.detail({ id: child.doc._id })" class=" item-summary cell col-xs-12">
              <div ng-show="selected.doc.type !== 'clinic'" class="col-xs-12 detail">
                <div class="cell-label">
                  <i class="fa fa-star primary" ng-show="child.isPrimaryContact" translate translate-attr-title="Primary contact"></i>
                  <span class="name">{{child.doc.name}}</span>
                </div>
                <div class="col-sm-3" ng-bind-html="child.doc.title"></div>
              </div>

              <div ng-show="selected.doc.type === 'clinic'" class="col-xs-11 detail">
                <div class="cell-label">
                  <i class="fa fa-star primary" ng-show="child.isPrimaryContact" translate translate-attr-title="clinic.field.contact"></i>
                  <span class="name">{{child.doc.name}}</span>
                </div>
                <div>
                  <span ng-bind-html="child.doc.date_of_birth | age"></span>
                </div>
              </div>
              <div ng-show="selected.doc.type === 'clinic' && child.taskCount > 0" mm-auth="can_view_tasks" class="col-xs-1 tasks-count">
                <span class="badge">{{child.taskCount}}</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div ng-if="selected.children.places">
        <h4>
          <i class="fa fa-fw {{selected.children.childPlacesIcon}}"></i>
          <span translate>{{selected.children.childPlacesLabel}}</span>
        </h4>
        <div class="card action-list children">
          <div class="accent"></div>
          <div class="row" ng-repeat="child in selected.children.places">
            <div class="col-sm-12">
              <a ui-sref="contacts.detail({ id: child.doc._id })" class="cell item-summary">
                <div class="detail">
                  <div class="name">{{child.doc.name}}</div>
                  <div translate translate-values="child.doc.contact">contact.primary_contact_name</div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div ng-if="selected.areTasksEnabled" mm-auth="can_view_tasks">
        <div class="action-header">
          <h4 translate>Tasks</h4>
          <span class="table-filter">
            <a ng-click="setTasksTimeWindowWeeks(1)" class="btn btn-link" ng-class="{selected: tasksTimeWindowWeeks === 1}" translate translate-values="{WEEKS: 1}" translate-interpolation="messageformat">n.week</a>
            |
            <a ng-click="setTasksTimeWindowWeeks(2)" class="btn btn-link" ng-class="{selected: tasksTimeWindowWeeks === 2}" translate translate-values="{WEEKS: 2}" translate-interpolation="messageformat">n.week</a>
            |
            <a ng-click="setTasksTimeWindowWeeks()" class="btn btn-link" ng-class="{selected: !tasksTimeWindowWeeks}" translate>view.all</a>
          </span>
        </div>
        <div class="card action-list tasks">
          <div class="accent"></div>
          <div class="row" ng-repeat="task in selected.tasks | filter:filterTasks as filteredTasks">
            <ng-include src="'templates/partials/contacts_content_task.html'"></ng-include>
          </div>
          <div class="row" ng-show="!filteredTasks.length">
            <div class="cell">
              <span ng-show="!tasksTimeWindowWeeks" translate>tasks.none</span>
              <span ng-show="tasksTimeWindowWeeks" translate translate-values="{WEEKS: tasksTimeWindowWeeks}" translate-interpolation="messageformat">tasks.none.n.weeks</span>
            </div>
          </div>
        </div>
      </div>

      <div class="action-header" mm-auth="can_view_reports">
        <h4 translate>Reports</h4>
        <span class="table-filter">
          <a ng-click="setReportsTimeWindowMonths(3)" class="btn btn-link" ng-class="{selected: reportsTimeWindowMonths === 3}"  translate translate-values="{ MONTHS: 3 }" translate-interpolation="messageformat">n.month</a>
          |
          <a ng-click="setReportsTimeWindowMonths(6)" class="btn btn-link" ng-class="{selected: reportsTimeWindowMonths === 6}"  translate translate-values="{ MONTHS: 6 }" translate-interpolation="messageformat">n.month</a>
          |
          <a ng-click="setReportsTimeWindowMonths()" class="btn btn-link" ng-class="{selected: !reportsTimeWindowMonths}" translate>view.all</a>
        </span>
      </div>
      <div class="card action-list reports">
        <div class="accent"></div>
        <div class="row" ng-repeat="report in selected.reports | filter:filterReports as filteredReports track by report._id">
          <ng-include src="'templates/partials/contacts_content_report.html'"></ng-include>
        </div>
        <div class="row" ng-show="!filteredReports.length">
          <div class="cell">
            <span ng-show="!reportsTimeWindowMonths" translate>reports.none</span>
            <span ng-show="reportsTimeWindowMonths" translate translate-values="{MONTHS: reportsTimeWindowMonths}" translate-interpolation="messageformat">reports.none.n.months</span>
          </div>
        </div>
      </div>

      <div class="padding"></div>
    </div>
  </div>
</div>
