<div class="row filters">
  <div class="inner">
    <div class="basic-filters left-pane">

      <span id="formTypeDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="All form types" data-filter-label="Number of form types" ng-show="filterModel.type === 'reports'">
        <span id="form_type" class="mm-button mm-button-nudge-down" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <span role="menu" aria-labelledby="report" class="dropdown-menu mm-dropdown-menu">
          <ul>
            <li role="presentation" ng-repeat="form in forms">
              <a role="menuitem" tabindex="-1" data-value="{{form}}">
                <span ng-show="form.name">{{form.code}}: {{form.name}}</span>
                <span ng-show="!form.name">{{form.code}}</span>
              </a>
            </li>
          </ul>
        </span>
      </span>

      <span id="facilityDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="All facilities" data-filter-label="Number of facilities" ng-show="facilities.length && (filterModel.type === 'reports' || filterModel.type === 'contacts')">
        <span id="facility" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-hospital-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <span role="menu" aria-labelledby="facility" class="dropdown-menu mm-dropdown-menu">
          <ul>
            <li role="presentation" ng-repeat="facility in facilities | orderBy:'doc.name'" ng-include="'templates/partials/filters_facility_items.html'" ng-init="facilityDepth = 0"></li>
          </ul>
        </span>
      </span>

      <span id="dateRangeDropdown" class="filter dropdown mm-dropdown" ng-show="filterModel.type === 'reports'">
        <span id="date-filter" class="mm-button">
          <span class="mm-button-icon">
            <span class="fa fa-calendar"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text" ng-show="filterModel.date.from && filterModel.date.to">
            {{filterModel.date.from | date : 'd MMM'}} - {{filterModel.date.to | date : 'd MMM'}}
          </span>
          <span class="mm-button-text" ng-show="!filterModel.date.from || !filterModel.date.to">
            {{'Any date' | translate}}
          </span>
        </span>
      </span>

      <span id="statusDropdown" class="filter dropdown mm-dropdown multidropdown" ng-show="filterModel.type === 'reports'" data-label-no-filter="Any status">
        <span id="status" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-circle-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <span role="menu" aria-labelledby="status" class="dropdown-menu mm-dropdown-menu">
          <ul>
            <li role="presentation" class="dropdown-header">{{'Validity' | translate}}</li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="valid">{{'Valid' | translate}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="invalid">{{'Invalid' | translate}}</a>
            </li>
            <li role="presentation" class="dropdown-header">{{'Verification' | translate}}</li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="verified">{{'Verified' | translate}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="unverified">{{'Unverified' | translate}}</a>
            </li>
          </ul>
        </span>
      </span>

      <span id="contactTypeDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="All contact types" data-filter-label="Number of contact types" ng-show="facilities.length && filterModel.type === 'contacts'">
        <span class="mm-button mm-button-nudge-down" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-user"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <span role="menu" class="dropdown-menu mm-dropdown-menu">
          <ul>
            <li role="presentation" class="dropdown-header">{{'Places' | translate}}</li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="district_hospital">{{'Districts' | translate}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="health_center">{{'Health Centers' | translate}}</a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="clinic">{{'Clinics' | translate}}</a>
            </li>
            <li role="presentation" class="dropdown-header">{{'People' | translate}}</li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" data-value="person">{{'People' | translate}}</a>
            </li>
          </ul>
        </span>
      </span>
      
      <span class="filter input-group freetext-filter" ng-show="filterModel.type === 'reports' || filterModel.type === 'contacts'" ng-class="{'only-filter': filterModel.type === 'contacts' && !facilities.length}">
        <input id="freetext" class="form-control" type="text" ng-model="filterQuery.value" ng-attr-placeholder="{{'freetext.search' | translate}}">
        <span class="input-group-btn">
          <button id="search" class="btn btn-default" type="button">
            <span class="fa fa-search"></span>
          </button>
        </span>
      </span>

      <span class="filter dropdown mobile-freetext-filter" ng-show="filterModel.type === 'reports' || (filterModel.type === 'contacts' && facilities.length)">
        <span id="mobile-search" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-search"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
        </span>
        <div class="search-pane dropdown-menu mm-dropdown-menu" role="menu" aria-labelledby="mobile-search">
          <span class="input-group">
            <input id="mobile-freetext" class="form-control" type="text" ng-model="filterQuery.value" ng-attr-placeholder="{{'freetext.search' | translate}}">
            <span class="input-group-btn">
              <button id="mobile-search-go" class="btn btn-default" type="button">
                <span class="fa fa-search"></span>
              </button>
            </span>
          </span>
        </div>
      </span>

      <span class="filter dropdown mm-dropdown analytics-module" ng-show="filterModel.type === 'analytics' && analyticsModules.length > 1">
        <span id="module" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-bar-chart-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            {{filterModel.module.label | translate}}
          </span>
        </span>
        <ul role="menu" aria-labelledby="module" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="module in analyticsModules">
            <a ui-sref="{{module.state}}" role="menuitem" tabindex="-1">{{module.label | translate}}</a>
          </li>
        </ul>
      </span>

      <span class="reset-filter" ng-show="filterModel.type === 'reports' || filterModel.type === 'contacts'">
        <a tabindex="-1" ng-click="resetFilterModel()" ng-attr-title="{{'Clear all filters' | translate}}">
          <i class="fa fa-undo"></i>
        </a>
      </span>

      <span class="filter dropdown mm-dropdown" ng-show="filterModel.type === 'configuration'">
        <span class="mm-button mm-button-nudge-down" data-toggle="dropdown">
          <span class="mm-button-icon" ng-show="'configuration' | isState">
            <i class="fa fa-cog"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.settings' | includedByState">
            <i class="fa fa-cog"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.translation' | includedByState">
            <i class="fa fa-language"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.forms' | isState">
            <i class="fa fa-list-alt"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.export' | isState">
            <i class="fa fa-arrow-circle-o-down"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.user' | isState">
            <i class="fa fa-user"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.users' | isState">
            <i class="fa fa-users"></i>
          </span>
          <span class="mm-button-icon" ng-show="'configuration.icons' | isState">
            <i class="fa fa-file-image-o"></i>
          </span>
          <span class="mm-button-icon" ng-show="('configuration.targets' | isState) || ('configuration.targets-edit' | isState)">
            <i class="fa fa-dot-circle-o"></i>
          </span>
          <span class="mm-button-dropdown">
            <i class="fa fa-chevron-down"></i>
          </span>
          <span class="mm-button-text">
            <span ng-show="'configuration' | isState">
              {{'Configuration' | translate}}
            </span>
            <span ng-show="'configuration.settings' | includedByState">
              {{'Settings' | translate}}
            </span>
            <span ng-show="'configuration.translation' | includedByState">
              {{'Languages' | translate}}
            </span>
            <span ng-show="'configuration.forms' | isState">
              {{'Forms' | translate}}
            </span>
            <span ng-show="'configuration.export' | isState">
              {{'Export' | translate}}
            </span>
            <span ng-show="'configuration.user' | isState">
              {{'edit.user.settings' | translate}}
            </span>
            <span ng-show="'configuration.users' | isState">
              {{'Users' | translate}}
            </span>
            <span ng-show="'configuration.icons' | isState">
              {{'icons' | translate}}
            </span>
            <span ng-show="('configuration.targets' | isState) || ('configuration.targets-edit' | isState)">
              {{'analytics.targets' | translate}}
            </span>
          </span>
        </span>
        <ul role="menu" aria-labelledby="report" class="dropdown-menu mm-dropdown-menu">
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.settings.basic" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-cog"></i>
              <span>{{'Settings' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.translation.languages" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-language"></i>
              <span>{{'Languages' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.forms" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-list-alt"></i>
              <span>{{'Forms' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.export" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-arrow-circle-o-down"></i>
              <span>{{'Export' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation">
            <a ui-sref="configuration.user" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-user"></i>
              <span>{{'edit.user.settings' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.users" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-users"></i>
              <span>{{'Users' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.icons" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-file-image-o"></i>
              <span>{{'icons' | translate}}</span>
            </a>
          </li>
          <li class="ng-scope" role="presentation" mm-auth="can_configure">
            <a ui-sref="configuration.targets" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-dot-circle-o"></i>
              <span>{{'analytics.targets' | translate}}</span>
            </a>
          </li>
        </ul>
      </span>
    </div>

    <div class="right-pane navigation">
      <span ng-show="cancelCallback" class="filter-bar-back">
        <a ng-click="cancel()">
          <span class="fa fa-times" title="{{'Back' | translate}}"></span>
        </a>
      </span>
      <span ng-hide="cancelCallback" class="filter-bar-back">
        <a ng-click="closeContentPane()">
          <span class="fa fa-chevron-left" title="{{'Close' | translate}}"></span>
        </a>
      </span>
      <h2>{{title}}</h2>
    </div>
  </div>
</div>
