<div class="row filters">
  <div class="inner">

    <span class="slide-back" ng-click="setMessage()" ng-show="filterModel.type === 'reports' || filterModel.type === 'messages'">
      <span id="back" class="mm-button mm-button-nudge-down" ng-class="{'mm-button-disabled': !selected}" >
        <span class="mm-button-icon">
          <span class="fa fa-chevron-left"></span>
        </span>
        <span class="mm-button-text">Back</span>
      </span>
    </span>

    <span class="basic-filters">

      <span id="formTypeDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="All form types" data-filter-label="form types" ng-show="filterModel.type === 'reports'">
        <span id="form_type" class="mm-button mm-button-nudge-down" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <ul role="menu" aria-labelledby="report" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="form in forms">
            <a role="menuitem" tabindex="-1" data-value="{~lb}{~lb}form{~rb}{~rb}">
              <span ng-show="form.name">{~lb}{~lb}form.code{~rb}{~rb}: {~lb}{~lb}form.name{~rb}{~rb}</span>
              <span ng-show="!form.name">{~lb}{~lb}form.code{~rb}{~rb}</span>
            </a>
          </li>
        </ul>
      </span>

      <span id="facilityDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="All facilities" data-filter-label="facilities" ng-show="filterModel.type === 'reports'">
        <span id="facility" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-hospital-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <ul role="menu" aria-labelledby="facility" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="facility in facilities | filter: isClinic">
            <a role="menuitem" tabindex="-1" data-value="{~lb}{~lb}facility.id{~rb}{~rb}" ng-bind="facility.doc | clinic"></a>
          </li>
        </ul>
      </span>

      <span id="dateRangeDropdown" class="filter dropdown mm-dropdown" ng-show="filterModel.type === 'reports'">
        <span id="date-filter" class="mm-button">
          <span class="mm-button-icon">
            <span class="fa fa-calendar"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text" ng-show="filterModel.date.from && filterModel.date.to">
            {~lb}{~lb}filterModel.date.from | date : 'd MMM'{~rb}{~rb} - {~lb}{~lb}filterModel.date.to | date : 'd MMM'{~rb}{~rb}
          </span>
          <span class="mm-button-text" ng-show="!filterModel.date.from || !filterModel.date.to">
            Any date
          </span>
        </span>
      </span>

      <span id="statusDropdown" class="filter dropdown mm-dropdown multidropdown" ng-show="filterModel.type === 'reports'" data-label-no-filter="Any status">
        <span id="status" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-circle-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <ul role="menu" aria-labelledby="status" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" class="dropdown-header">Validity</li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" data-value="valid">Valid</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" data-value="invalid">Invalid</a>
          </li>
          <li role="presentation" class="dropdown-header">Verification</li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" data-value="verified">Verified</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" data-value="unverified">Unverified</a>
          </li>
        </ul>
      </span>

      <span class="filter input-group freetext-filter" ng-show="filterModel.type === 'reports'">
        <input id="freetext" class="form-control" type="text" ng-model="filterQuery" placeholder="Extra search words">
        <span class="input-group-btn">
          <button id="search" class="btn btn-default" type="button">
            <span class="fa fa-search"></span>
          </button>
        </span>
      </span>

      <span class="filter mobile-freetext-filter" ng-show="filterModel.type === 'reports'">
        <span id="mobile-search" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-pencil"></span>
          </span>
        </span>
        <div class="search-pane dropdown-menu mm-dropdown-menu" role="menu" aria-labelledby="mobile-search">
          <span class="input-group">
            <input id="mobile-freetext" class="form-control" type="text" ng-model="filterQuery" placeholder="Extra search words">
            <span class="input-group-btn">
              <button id="mobile-search-go" class="btn btn-default" type="button">
                <span class="fa fa-search"></span>
              </button>
            </span>
          </span>
        </div>
      </span>

      <span class="filter dropdown mm-dropdown" ng-show="filterModel.type === 'analytics' && analyticsModules.length">
        <span id="module" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-bar-chart-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            {~lb}{~lb}filterModel.module.label{~rb}{~rb}
          </span>
        </span>
        <ul role="menu" aria-labelledby="module" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="module in analyticsModules">
            <a href="#/analytics/{~lb}{~lb}module.id{~rb}{~rb}" role="menuitem" tabindex="-1">{~lb}{~lb}module.label{~rb}{~rb}</a>
          </li>
        </ul>
      </span>

      <span id="formsDropdown" class="filter dropdown mm-dropdown" data-label-no-filter="Form" data-filter-label="facilities" ng-show="filterModel.module.id === 'reporting' && filterModel.type === 'analytics'">
        <span id="formsDropdownContent" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-file-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text" >{{
            filterModel.selectedForm ?
              filterModel.selectedForm.code + ': ' + filterModel.selectedForm.name :
              'Select Form'
          }}</span>
        </span>
        <ul role="menu" aria-labelledby="form" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="form in forms">
          <a href="#/analytics/reporting/{~lb}{~lb}form.code{~rb}{~rb}/{{ filterModel.selectedFacility._id }}" role="menuitem" tabindex="-1" data-value="{~lb}{~lb}form.code{~rb}{~rb}" ng-bind="form | shortLabel"></a>
          </li>
        </ul>
      </span>

      <span id="districtDropdown" class="filter dropdown mm-dropdown" data-label-no-filter="District" data-filter-label="facilities" ng-show="filterModel.module.id === 'reporting' && filterModel.selectedForm && filterModel.type === 'analytics'">
        <span id="districtDropdownContent" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-hospital-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">{{
            filterModel.selectedFacility.type === 'district_hospital' ?
            filterModel.selectedFacility.name : (
              filterModel.selectedFacility.type === 'health_center' ?
              filterModel.selectedFacility.parent.name : 
              'Select District'
            )
          }}</span>
        </span>
        <ul role="menu" aria-labelledby="facility" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="facility in facilities | filter: isDistrict">
            <a href="#/analytics/reporting/{~lb}{~lb}filterModel.selectedForm.code{~rb}{~rb}/{~lb}{~lb}facility.id{~rb}{~rb}" role="menuitem" tabindex="-1" data-value="{~lb}{~lb}facility.id{~rb}{~rb}" ng-bind="facility.doc | shortLabel"></a>
          </li>
        </ul>
      </span>

      <span id="healthCenterDropdown" class="filter dropdown mm-dropdown" data-label-no-filter="Health Centers" data-filter-label="facilities" ng-show="filterModel.module.id === 'reporting' && filterModel.type === 'analytics' && filterModel.selectedForm">
        <span id="healthCenterDropdownContent" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-plus-square"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">{{
            filterModel.selectedFacility.type === 'health_center' ?
            filterModel.selectedFacility.name :
            'Select Health Center'
          }}</span>
          <span ng-if="filterModel.selectedFacility.type !== 'health_center'"
            class="mm-button-text">Select Health Center</span>
        </span>
        <ul role="menu" aria-labelledby="facility" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" ng-repeat="facility in facilities | filter: isHealthCenter">
            <a href="#/analytics/reporting/{~lb}{~lb}filterModel.selectedForm.code{~rb}{~rb}/{~lb}{~lb}facility.id{~rb}{~rb}" role="menuitem" tabindex="-1" data-value="{~lb}{~lb}facility.id{~rb}{~rb}" ng-bind="facility.doc | shortLabel"></a>
          </li>
        </ul>
      </span>

      <span class="filter dropdown mm-dropdown advanced-filter" ng-show="filterModel.type === 'reports'">
        <span id="advanced" class="mm-button" data-toggle="dropdown">
          <span class="mm-button-icon">
            <span class="fa fa-bars"></span>
          </span>
        </span>
        <ul role="menu" aria-labelledby="advanced" class="dropdown-menu mm-dropdown-menu pull-right">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ng-click="resetFilterModel()">
              <span class="fa fa-minus-circle"></span>
              Clear all filters
            </a>
          </li>
        </ul>
      </span>

    </span>

  </div>
</div>
