<div class="row filters" ng-cloak>
  <div class="inner">

    <span class="dropdown mm-dropdown slide-back" ng-click="setMessage()">
      <span id="back" class="mm-button mm-button-nudge-down" ng-class="{'mm-button-disabled': !selected}">
        <span class="mm-button-icon">
          <span class="fa fa-chevron-left"></span>
        </span>
        <span class="mm-button-text">Back</span>
      </span>
    </span>

    <span class="basic-filters">
      <span id="formTypeDropdown" class="dropdown mm-dropdown multidropdown" data-label-no-filter="All form types" data-filter-label="form types">
        <span id="form_type" class="mm-button mm-button-nudge-down" data-toggle="dropdown" ng-class="{'mm-button-disabled': filterModel.type !== 'forms', disabled: filterModel.type !== 'forms'}">
          <span class="mm-button-icon">
            <span class="fa fa-list-alt"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <ul role="menu" aria-labelledby="report"
          class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
          <li role="presentation" ng-repeat="form in forms">
            <a role="menuitem" tabindex="-1" data-value="{~lb}{~lb}form{~rb}{~rb}">
              {~lb}{~lb}form.name{~rb}{~rb}
            </a>
          </li>
        </ul>
      </span>

      <span id="facilityDropdown" class="dropdown mm-dropdown multidropdown" data-label-no-filter="All facilities" data-filter-label="facilities">
        <span id="facility" class="mm-button" data-toggle="dropdown" ng-class="{'mm-button-disabled': filterModel.type === 'reports', disabled: filterModel.type === 'reports'}">
          <span class="mm-button-icon">
            <span class="fa fa-hospital-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text"></span>
        </span>
        <ul role="menu" aria-labelledby="facility"
          class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
          <li role="presentation" ng-repeat="facility in facilities">
            <a role="menuitem" tabindex="-1" data-value="{~lb}{~lb}facility.id{~rb}{~rb}">{~lb}{~lb}facility.text{~rb}{~rb}</a>
          </li>
        </ul>
      </span>

      <span class="dropdown mm-dropdown pair-left">
        <span id="date-from" class="mm-button" data-date="{~lb}{~lb}filterModel.date.from | date : 'yyyy-MM-dd'{~rb}{~rb}" data-date-format="yyyy-mm-dd" ng-class="{'mm-button-disabled': filterModel.type === 'reports', disabled: filterModel.type === 'reports'}">
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            {~lb}{~lb}filterModel.date.from | date : 'mediumDate'{~rb}{~rb}
          </span>
        </span>
      </span><!--
      comment required to keep dropdowns flush
      --><span class="dropdown mm-dropdown pair-right">
        <span id="date-to" class="mm-button" data-date="{~lb}{~lb}filterModel.date.to | date : 'yyyy-MM-dd'{~rb}{~rb}" data-date-format="yyyy-mm-dd" ng-class="{'mm-button-disabled': filterModel.type === 'reports', disabled: filterModel.type === 'reports'}">
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">
            {~lb}{~lb}filterModel.date.to | date : 'mediumDate'{~rb}{~rb}
          </span>
        </span>
      </span>

      <span id="validDropdown" class="dropdown mm-dropdown">
        <span id="status" class="mm-button" data-toggle="dropdown" ng-class="{'mm-button-disabled': filterModel.type === 'reports', disabled: filterModel.type === 'reports'}">
          <span class="mm-button-icon">
            <span class="fa fa-check-circle-o"></span>
          </span>
          <span class="mm-button-dropdown">
            <span class="fa fa-chevron-down"></span>
          </span>
          <span class="mm-button-text">Valid Only</span>
        </span>
        <ul role="menu" aria-labelledby="status"
          class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ng-click="filterModel.valid = undefined">Any Status</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ng-click="filterModel.valid = true">Valid Only</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ng-click="filterModel.valid = false">Invalid Only</a>
          </li>
        </ul>
      </span>
    </span>

    <span class="advanced-filters">
      <div class="input-group">
        <input id="advanced" type="text" class="form-control" ng-disabled="filterModel.type === 'reports'" ng-model="filterQuery">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-class="{disabled: filterModel.type === 'reports'}">
            <span class="fa fa-search"></span>
          </button>
        </span>
      </div>
    </span>

    <span class="filter-actions">
      <a href="#" id="download" title="Download all messages" rel="external">
        <span class="mm-button" ng-class="{'mm-button-disabled': filterModel.type === 'reports', disabled: filterModel.type === 'reports'}">
          <span class="mm-button-icon">
            <span class="fa fa-arrow-down"></span>
          </span>
        </span>
      </a>
    </span>
  </div>
</div>