<div class="row header">
  <div class="inner">

    <a href="#">
      <div class="logo">
        <img alt="Medic Mobile" class="logo-icon" src="{baseURL}/static/img/medic-logo-light.svg" />
        <img alt="Medic Mobile" class="logo-full" src="{baseURL}/static/img/medic-logo-light-full.svg" />
      </div>
    </a>

    <div class="extras">

      <span class="dropdown options">
        <a data-toggle="dropdown">
          <div class="mm-icon mm-icon-inverse">
            <span class="fa fa-plus"></span>
          </div>
        </a>
        <ul role="menu" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" class="send-message">
              <span class="fa fa-envelope"></span>
              Send Message
            </a>
          </li>
          <li role="presentation" class="disabled">
            <a role="menuitem" tabindex="-1" id="send-record-button">
              <span class="fa fa-list-alt"></span>
              Submit Report
            </a>
          </li>
        </ul>
      </span>
      
      <span id="add-record-panel" class="add-record-panel">
        <ul class="dropdown-menu">
          <li>
            <button type="button" class="cancel close">×</button>
            <iframe data-src="{info.muvuku_webapp_url}"></iframe>
          </li>
        </ul>
      </span>

      <span class="dropdown options">
        <a data-toggle="dropdown">
          <div class="mm-icon mm-icon-inverse">
            <span class="fa fa-cog"></span>
          </div>
        </a>
        <ul role="menu" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" rel="external" data-toggle="modal" data-target="#edit-user-profile">Edit User Profile</a>
          </li>
          <li role="presentation" ng-show="permissions.admin">
            <a role="menuitem" tabindex="-1" ng-href="{~lb}{~lb}messagesDownloadUrl{~rb}{~rb}" rel="external">Export Messages</a>
          </li>
          <li role="presentation" ng-show="permissions.admin">
            <a role="menuitem" tabindex="-1" ng-href="{~lb}{~lb}reportsDownloadUrl{~rb}{~rb}" rel="external">Export Reports</a>
          </li>
          <li role="presentation" ng-show="permissions.admin">
            <a role="menuitem" tabindex="-1" href="{baseURL}/settings" rel="external">Administrative Options</a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" rel="external" id="logout">Log Out</a>
          </li>
        </ul>
      </span>
    </div>

    <div class="tabs">
      <a href="#/messages/" class="messages-tab" ng-class="{'selected': filterModel.type === 'messages'}">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'messages'}">
          <span class="fa fa-envelope"></span>
          <span class="mm-badge-overlay mm-badge-overlay-top" ng-hide="readStatus.messages.total - readStatus.messages.read <= 0">
            <span class="mm-badge mm-badge-red mm-badge-border">{~lb}{~lb}readStatus.messages.total - readStatus.messages.read{~rb}{~rb}</span>
          </span>
        </div>
        <div class="button-label">Messages</div>
      </a>
      <a href="#/reports/" class="reports-tab" ng-class="{'selected': filterModel.type === 'reports'}">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'reports'}">
          <span class="fa fa-list-alt"></span>
          <span class="mm-badge-overlay mm-badge-overlay-top" ng-hide="readStatus.forms.total - readStatus.forms.read <= 0">
            <span class="mm-badge mm-badge-red mm-badge-border">{~lb}{~lb}readStatus.forms.total - readStatus.forms.read{~rb}{~rb}</span>
          </span>
        </div>
        <div class="button-label">Reports</div>
      </a>
      <a href="#/analytics/" class="analytics-tab" ng-class="{'selected': filterModel.type === 'analytics'}">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'analytics'}">
          <span class="fa fa-bar-chart-o"></span>
        </div>
        <div class="button-label">Analytics</div>
      </a>
    </div>
  </div>
</div>