<div class="row header">
  <div class="inner">

    <span id="mobile-detection"></span>

    <a href="#">
      <div class="logo">
        <img class="logo-full" src="static/img/medic-logo-light-full.svg" title="Medic Mobile | {{version}}" />
      </div>
    </a>

    <div class="extras">

      <span class="dropdown options">
        <a data-toggle="dropdown">
          <div class="mm-icon mm-icon-inverse">
            <span class="fa fa-fw fa-bars"></span>
          </div>
        </a>
        <ul role="menu" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" mm-auth="!can_view_messages_tab">
            <a role="menuitem" tabindex="-1" ui-sref="messages.detail">
              <i class="fa fa-fw fa-envelope"></i>
              {{'Messages' | translate}}
            </a>
          </li>
          <li role="presentation" mm-auth="!can_view_tasks_tab">
            <a role="menuitem" tabindex="-1" ui-sref="tasks.detail">
              <i class="fa fa-fw fa-flag"></i>
              {{'Tasks' | translate}}
            </a>
          </li>
          <li role="presentation" mm-auth="!can_view_reports_tab">
            <a role="menuitem" tabindex="-1" ui-sref="reports.detail">
              <i class="fa fa-fw fa-list-alt"></i>
              {{'Reports' | translate}}
            </a>
          </li>
          <li role="presentation" mm-auth="!can_view_contacts_tab">
            <a role="menuitem" tabindex="-1" ui-sref="contacts.detail">
              <i class="fa fa-fw fa-user"></i>
              {{'Contacts' | translate}}
            </a>
          </li>
          <li role="presentation" mm-auth="!can_view_analytics">
            <a role="menuitem" tabindex="-1" ui-sref="analytics">
              <i class="fa fa-bar-chart-o"></i>
              {{'Analytics' | translate}}
            </a>
          </li>
          <li role="presentation" mm-auth="can_configure">
            <a role="menuitem" tabindex="-1" rel="external" data-toggle="modal" data-target="#guided-setup">
              <i class="fa fa-fw fa-list-ol"></i>
              {{'Easy Setup Wizard' | translate}}
            </a>
          </li>
          <li role="presentation">
            <a id="startTour" role="menuitem" tabindex="-1" rel="external" data-toggle="modal" data-target="#tour-select" ng-show="tours.length">
              <i class="fa fa-fw fa-graduation-cap"></i>
              {{'Guided Tour' | translate}}
            </a>
          </li>
          <li role="presentation">
            <a ui-sref="help" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-question"></i>
              {{'about' | translate}}
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ui-sref="configuration.user">
              <i class="fa fa-fw fa-user"></i>
              {{'edit.user.settings' | translate}}
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" rel="external" data-toggle="modal" data-target="#feedback">
              <i class="fa fa-fw fa-bug"></i>
              {{'Report Bug' | translate}}
            </a>
          </li>
          <li role="presentation" mm-auth="!cannot_logout">
            <a role="menuitem" tabindex="-1" rel="external" ng-click="logout()">
              <i class="fa fa-fw fa-power-off"></i>
              {{'Log Out' | translate}}
            </a>
          </li>
        </ul>
      </span>
    </div>

    <div class="tabs">

      <a ui-sref="messages.detail" id="messages-tab" class="messages-tab" ng-class="{'selected': filterModel.type === 'messages'}" mm-auth="can_view_messages_tab">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'messages'}">
          <span class="fa fa-envelope"></span>
          <span class="mm-badge-overlay mm-badge-overlay-top" ng-hide="readStatus.messages <= 0">
            <span class="mm-badge mm-badge-red mm-badge-border" ng-show="readStatus.messages < 100">{{readStatus.messages}}</span>
            <span class="mm-badge mm-badge-red mm-badge-border" ng-show="readStatus.messages >= 100">100+</span>
          </span>
        </div>
        <div class="button-label">{{'Messages' | translate}}</div>
      </a><a ui-sref="tasks.detail" id="tasks-tab" class="tasks-tab" ng-class="{'selected': filterModel.type === 'tasks'}" mm-auth="can_view_tasks_tab">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'tasks'}">
          <span class="fa fa-flag"></span>
        </div>
        <div class="button-label">{{'Tasks' | translate}}</div>
      </a><a ui-sref="reports.detail" id="reports-tab" class="reports-tab" ng-class="{'selected': filterModel.type === 'reports'}" mm-auth="can_view_reports_tab">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'reports'}">
          <span class="fa fa-list-alt"></span>
          <span class="mm-badge-overlay mm-badge-overlay-top" ng-hide="readStatus.forms <= 0">
            <span class="mm-badge mm-badge-red mm-badge-border" ng-show="readStatus.forms < 100">{{readStatus.forms}}</span>
            <span class="mm-badge mm-badge-red mm-badge-border" ng-show="readStatus.forms >= 100">100+</span>
          </span>
        </div>
        <div class="button-label">{{'Reports' | translate}}</div>
      </a><a ui-sref="contacts.detail" id="contacts-tab" class="contacts-tab" ng-class="{'selected': filterModel.type === 'contacts'}" mm-auth="can_view_contacts_tab">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'contacts'}">
          <span class="fa fa-user"></span>
        </div>
        <div class="button-label">{{'Contacts' | translate}}</div>
      </a><a ui-sref="analytics" id="analytics-tab" class="analytics-tab" ng-class="{'selected': filterModel.type === 'analytics'}" mm-auth="can_view_analytics">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'analytics'}">
          <span class="fa fa-bar-chart-o"></span>
        </div>
        <div class="button-label">{{'Analytics' | translate}}</div>
      </a><a ui-sref="configuration" class="configuration-tab" mm-auth="can_configure" ng-class="{'selected': filterModel.type === 'configuration'}">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': filterModel.type !== 'configuration'}">
          <span class="fa fa-cog"></span>
        </div>
        <div class="button-label">{{'Configuration' | translate}}</div>
      </a>

    </div>
  </div>
</div>
