<div class="col-sm-12">
  <h3>{{'help.search.title' | translate}}</h3>
</div>
<div class="col-sm-9" ng-bind-html="'help.search.description' | translate"></div>
<div class="col-sm-3">
  <h4>{{'Available Fields' | translate}}</h4>
  <div ng-show="loading">
    <ul class="field-data"><li><div class="loader"></div></li></ul>
  </div>
  <div ng-show="!loading" ng-repeat="index in indexes">
    <strong>{{index.name}}</strong>
    <ul>
      <li ng-repeat="field in index.fields">{{field}}</li>
    </ul>
  </div>
</div>
