<label>Language to edit</label>
<select class="locale-selector" data-language="{locale}">
  <option value="en" {@eq key="locale" value="en"}selected="true"{/eq}>English</option>
  <option value="es" {@eq key="locale" value="es"}selected="true"{/eq}>Spanish</option>
  <option value="fr" {@eq key="locale" value="fr"}selected="true"{/eq}>French</option>
  <option value="ne" {@eq key="locale" value="ne"}selected="true"{/eq}>Nepali</option>
  <option value="sw" {@eq key="locale" value="sw"}selected="true"{/eq}>Swahili</option>
</select>
