<div id="message-list" class="col-sm-4 inbox-items">
  <ul>
    <li class="animate-repeat" ng-show="!loading || appending" ng-repeat="message in items | orderBy:'-value.date'" ng-click="select(message.key[0])" data-record-id="{{message.key[0]}}" ng-class="{'selected': message.key[0] === loadingContent || !loadingContent && message.key[0] === selected.id, 'read': isRead(message.value)}">
      <div class="message-wrapper">
        <div class="detail">
          <span class="time" ng-bind-html="message.value.date | relativeDate"></span>
          <mm-sender message="message.value"></mm-sender>
          <div class="description" ng-bind="message.value.message"></div>
        </div>
      </div>
    </li>
  </ul>
  <p ng-show="error" class="alert alert-danger" role="alert">{{'Error fetching messages' | translate}}</p>
  <p class="loading-status" ng-show="!error && !loading && !items.length">{{'No messages found' | translate}}</p>
  <div class="loader" ng-show="loading"></div>
</div>
