<div class="modal fade edit-translation" id="edit-translation" role="dialog" ng-controller="EditTranslationCtrl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{~lb}{~lb}'Edit translation' | translate{~rb}{~rb}</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST">

          <div class="form-group default">
            <label>{~lb}{~lb}'Default' | translate{~rb}{~rb}</label>
            <p>{~lb}{~lb}translationModel.default{~rb}{~rb}</p>
          </div>

          <div class="form-group" ng-repeat="translation in translationModel.values">
            <label>{~lb}{~lb}translation.locale.name{~rb}{~rb}</label>
            <textarea class="form-control" ng-model="translation.value">{~lb}{~lb}translation.value{~rb}{~rb}</textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <p class="note"></p>
        <a class="btn cancel" data-dismiss="modal">{~lb}{~lb}'Cancel' | translate{~rb}{~rb}</a>
        <a class="btn submit btn-primary" ng-click="saveTranslation()" ng-attr-data-working-label="{~lb}{~lb}'Submitting' | translate{~rb}{~rb}">{~lb}{~lb}'Submit' | translate{~rb}{~rb}</a>
      </div>
    </div>
  </div>
</div>