<div id="tour-select" class="tour-select modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'tour.select' | translate}}</h3>
      </div>
      <div class="modal-body">
        <p>{{'tour.select.description' | translate}}</p>
        <a ui-sref="messages.detail({ tour: 'messages' })" class="tour-option tour-option-messages btn">
          <div class="fa fa-envelope"></div>
          <div class="button-label">{{'Messages' | translate}}</div>
        </a>
        <a ui-sref="reports.detail({ tour: 'reports' })" class="tour-option tour-option-reports btn">
          <div class="fa fa-list-alt"></div>
          <div class="button-label">{{'Reports' | translate}}</div>
        </a>
        <a ui-sref="analytics({ tour: 'analytics' })" class="tour-option tour-option-analytics btn">
          <div class="fa fa-bar-chart-o"></div>
          <div class="button-label">{{'Analytics' | translate}}</div>
        </a>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel" data-dismiss="modal">{{'Cancel' | translate}}</a>
      </div>
    </div>
  </div>
</div>
