<div id="welcome" class="welcome modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{~lb}{~lb}'welcome' | translate:'{name: editUserModel.fullname}'</h3>
      </div>
      <div class="modal-body">
        <img src="static/img/setup-wizard-demo.png" class="screenshot" width="343" height="180" />
        <p>{~lb}{~lb}'welcome.description' | translate{~rb}{~rb}</p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#guided-setup">{~lb}{~lb}'Start' | translate{~rb}{~rb}</a>
      </div>
    </div>
  </div>
</div>
