<div id="tour-select" class="tour-select modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>Select Tour</h3>
      </div>
      <div class="modal-body">
        <p>You can start a tour at any time by clicking the cog in the top right corner. Which tour would you like to run?</p>
        <a ui-sref="messages.detail({ tour: 'messages' })" class="tour-option tour-option-messages btn">
          <div class="fa fa-envelope"></div>
          <div class="button-label">Messages</div>
        </a>
        <a ui-sref="reports.detail({ tour: 'reports' })" class="tour-option tour-option-reports btn">
          <div class="fa fa-list-alt"></div>
          <div class="button-label">Reports</div>
        </a>
        <a ui-sref="analytics({ tour: 'analytics' })" class="tour-option tour-option-analytics btn">
          <div class="fa fa-bar-chart-o"></div>
          <div class="button-label">Analytics</div>
        </a>
        <a href="{baseURL}/settings?tour=admin" class="tour-option tour-option-admin btn" ng-show="permissions.admin && !permissions.nationalAdmin" rel="external">
          <div class="fa fa-cog"></div>
          <div class="button-label">Admin</div>
        </a>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
