<div class="modal fade" id="modal-export" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>Export</h3>
      </div>
      <div class="modal-body">

        <h4>Messages</h4>
        <ul>
          <li>
            <a href="{~lb}{~lb}exports.messages.url{~rb}{~rb}">{~lb}{~lb}exports.messages.label{~rb}{~rb}</a>
          </li>
        </ul>

        <h4>Reports</h4>
        <ul>
          <li ng-repeat="model in exports.reports">
            <a href="{~lb}{~lb}model.url{~rb}{~rb}">{~lb}{~lb}model.label{~rb}{~rb}</a>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <a class="btn cancel" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
