<div class="modal fade update-facility-dialog" id="update-facility" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>Update Facility</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <fieldset>
            <div class="control-group">
              <input type="hidden" name="facility" autocomplete="off" />
            </div>
          </fieldset>
        </form>
      </div>
      <div class="modal-footer">
        <p class="note"></p>
        <a class="btn cancel" data-dismiss="modal">Cancel</a>
        <a class="btn submit btn-primary" ng-click="updateFacility()">Submit</a>
      </div>
    </div>
  </div>
</div>
