<div class="modal fade" id="modal-export" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'Export' | translate}}</h3>
      </div>
      <div class="modal-body">

        <h4>{{'Messages' | translate}}</h4>
        <ul>
          <li>
            <a href="{{exports.messages.url}}">{{exports.messages.label | translate}}</a>
          </li>
        </ul>

        <h4>{{'Reports' | translate}}</h4>
        <ul>
          <li ng-repeat="model in exports.reports">
            <a href="{{model.url}}">{{model.label}}</a>
          </li>
        </ul>

      </div>
      <div class="modal-footer">
        <a class="btn cancel" data-dismiss="modal">{{'Cancel' | translate}}</a>
      </div>
    </div>
  </div>
</div>
