<div id="guided-setup" class="guided-setup modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>Easy Setup Wizard</h3>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <!-- 1. Identify care coordinators -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="primary-contact-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#primary-contact-content" aria-controls="primary-contact-content" aria-expanded="true" target="_self">
                  <span class="count">
                    <span class="number">1</span>
                    <i class="fa fa-check"></i>
                  </span>Identify care coordinators
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="primary-contact-content" class="primary-contact-content panel-collapse collapse in" role="tabpanel" aria-labelledby="primary-contact-heading">
              <div class="panel-body">
                <h5>Select who will be registering and tracking pregnancies in your community.</h5>
                <p>They will need a mobile phone with a texting plan.</p>
                <p class="horizontal-options">
                  <a href="#" class="icon contact-pregnant" data-value="patient">
                    The pregnant patient
                  </a>
                  <a href="#" class="icon contact-chw" data-value="chw">
                    Community Health Worker
                  </a>
                  <a href="#" class="icon contact-nurse" data-value="nurse">
                    Facility nurse
                  </a>
                </p>
              </div>
            </div>
          </div>

          <!-- 2. Language preference -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="language-preference-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#language-preference-content" aria-expanded="false" aria-controls="language-preference-content" target="_self">
                  <span class="count">
                    <span class="number">2</span>
                    <i class="fa fa-check"></i>
                  </span>Language preference
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="language-preference-content" class="language-preference-content panel-collapse collapse" role="tabpanel" aria-labelledby="language-preference-heading">
              <div class="panel-body">
                <h5>Select the language that your primary point of contact will be using.</h5>
                <p>If you don’t see your language, you can always add a custom language from Administrative Settings.</p>
                <p class="horizontal-options">
                  <a href="#" data-value="en">
                    <span class="rectangle">English</span>
                  </a>
                  <a href="#" data-value="fr">
                    <span class="rectangle">French</span>
                  </a>
                  <a href="#" data-value="es">
                    <span class="rectangle">Spanish</span>
                  </a>
                  <a href="#" data-value="sw">
                    <span class="rectangle">Swahili</span>
                  </a>
                  <a href="#" data-value="ne">
                    <span class="rectangle">Nepali</span>
                  </a>
                </p>
              </div>
            </div>
          </div>

          <!-- 3. Registration form -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="registration-form-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#registration-form-content" aria-expanded="false" aria-controls="registration-form-content" target="_self">
                  <span class="count">
                    <span class="number">3</span>
                    <i class="fa fa-check"></i>
                  </span>Registration form
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="registration-form-content" class="registration-form-content panel-collapse collapse" role="tabpanel" aria-labelledby="registration-form-heading">
              <div class="panel-body">
                <h5>Will your primary point of contact for registration be able to report using Last Menstrual Period (LMP).</h5>
                <p>Women in some cultures may not want to share this information.</p>
                <p class="horizontal-options">
                  <a href="#" data-value="true">
                    <span class="circle"><i class="fa fa-check"></i></span>
                    <span class="description">
                      <span class="heading">With</span>
                      Last Menstrual Period (LMP)
                    </span>
                  </a>
                  <a href="#" data-value="false">
                    <span class="circle"><i class="fa fa-check"></i></span>
                    <span class="description">
                      <span class="heading">Without</span>
                      Last Menstrual Period (LMP)
                    </span>
                  </a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <a id="setup-wizard-save" class="btn btn-primary">START</a>
        <span class="error" style="display:none">There was an error saving your settings, please try again.</span>
        <a href="#" class="btn cancel" data-dismiss="modal">Exit the setup wizard without saving and start using Medic Mobile</a>
      </div>
    </div>
  </div>
</div>
