<div id="tour-select" class="tour-select modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>Select Tour</h3>
      </div>
      <div class="modal-body">
        <a href="#/messages/?tour=true" class="tour-option tour-option-messages btn">
          <div class="fa fa-envelope"></div>
          <div class="button-label">Messages</div>
        </a>
        <a href="#/reports/?tour=true" class="tour-option tour-option-reports btn">
          <div class="fa fa-list-alt"></div>
          <div class="button-label">Reports</div>
        </a>
        <a href="#/analytics/?tour=true" class="tour-option tour-option-analytics btn">
          <div class="fa fa-bar-chart-o"></div>
          <div class="button-label">Analytics</div>
        </a>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
