<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!loadingContent && (!selected.length || selected[0].report.form === undefined)">
    <div translate>No report selected</div>
  </div>

  <div id="reports-content" class="col-sm-8 item-content item-body" ng-show="!loadingContent && selected.length && selected[0].report.form !== undefined">

    <div class="selection-count" ng-show="selectMode">
      <span ng-show="selected.length === 1" translate>select.mode.count.singular</span>
      <span ng-show="selected.length !== 1" translate translate-values="{ number: {{selected.length}} }">select.mode.count.plural</span>
    </div>

    <div ng-repeat="selection in selected track by selection.report._id" ng-init="report = selection.report" class="body report-body">

      <div class="summary" ng-click="toggleExpand(selection)">
        <span class="mm-badge mm-badge-round mm-badge-border" ng-class="report.errors.length ? 'mm-badge-red' : 'mm-badge-green'">
          <span class="fa" ng-class="{'fa-check': report.verified}"></span>
        </span>
        <div class="time" ng-bind-html="report.reported_date | fullDate"></div>
        <mm-sender message="report"></mm-sender>
        <div class="report-name">{{report | title:forms}}</div>
      </div>

      <div ng-show="selection.expanded">
        <ul>
          <li ng-if="report.form && report.content_type !== 'xml'" ng-repeat="field in report.fields.data">
            <label>
              {{field.label}}
              <span class="fa fa-cogs" ng-show="field.generated" translate translate-attr-title="Generated report field"></span>
            </label>
            <p>{{field.value}}</p>
          </li>
          <li ng-if="report.form && report.content_type === 'xml'" ng-repeat="field in displayFields" class="indent-{{field.depth}}">
            <label translate>{{field.label}}</label>
            <p>{{field.value}}</p>
          </li>
          <li ng-if="report.errors.length">
            <label translate>Errors</label>
            <ul>
              <li ng-repeat="error in report.errors">
                {{error.message}}
              </li>
            </ul>
          </li>
          <li ng-if="report.sms_message.message">
            <label translate>report.content.raw</label>
            <p>{{report.sms_message.message}}</p>
          </li>
          <li ng-if="report.tasks.length">
            <label ng-if="report.kujua_message" translate>tasks.0.messages.0.to</label>
            <label ng-if="!report.kujua_message" translate>Automated Reply</label>
            <ul class="task-list">
              <li ng-repeat="task in report.tasks">
                <ul>
                  <li ng-repeat="message in task.messages">
                    {{report.kujua_message ? message.to : message.message}}
                  </li>
                </ul>
                <span class="task-state" ng-bind-html="task | state"></span>
              </li>
              <li class="clear"></li>
            </ul>
          </li>
        </ul>
        <div class="scheduled-tasks" ng-if="report.scheduled_tasks_by_group.length">
          <h2 translate>tasks</h2>
          <ul>
            <li ng-repeat="group in report.scheduled_tasks_by_group">
              <p>
                {{group.group}}
                <span ng-hide="group.loading">
                  <a class="btn btn-link" ng-click="edit(group)" translate>Edit</a>
                  <a class="btn btn-link" ng-click="mute(group)" ng-show="canMute(group)" translate>Mute</a>
                  <a class="btn btn-link" ng-click="schedule(group)" ng-show="canSchedule(group)" translate>Schedule</a>
                </span>
                <span class="inline loader" ng-show="group.loading"></span>
              </p>
              <ul class="task-list">
                <li ng-repeat="task in group.rows | orderBy:'timestamp'">
                  <ul>
                    <li ng-repeat="message in task.messages">
                      {{message.message}}
                    </li>
                  </ul>
                  <span class="task-state" ng-bind-html="task | state"></span>
                </li>
                <li class="clear"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
