<li class="{{isRead(report) ? 'read' : ''}}" data-record-id="{{report._id}}">
  <a class="item-summary message-wrapper" href="#reports/{{report._id}}">
    <input type="checkbox">
    <span class="icon">{{report | formIcon:forms}}</span>
    <div class="detail">
      <div class="time">{{report.reported_date | relativeDay}}</div>
      <div class="status">
        <i class="fa {{report.valid ? 'green-dot' : 'red-dot'}} {{report.verified ? 'fa-check-circle' : 'fa-circle'}}"></i>
      </div>
      <div class="sender">
        <div>
          <span class="name">{{report.contact || report.from}}</span>
          <span class="phone">{{report.phone}}</span>
        </div>
        <div class="position">{{report.lineage | clinic}}</div>
      </div>
      <div class="description">{{report | summary:forms}}</div>
    </div>
  </a>
</li>
