<div class="content-pane">
  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>
  <div class="col-sm-8 item-content" ng-show="!loadingContent">
    <div id="report-form" class="enketo">
      <div class="container pages"></div>
      <div class="form-footer">
        <button class="btn btn-link previous-page">&lt; {{'Previous' | translate}}</button>
        <button class="btn btn-link next-page">{{'Next' | translate}} &gt;</button>
        <a class="btn submit btn-primary" ng-click="save()" ng-disabled="saving">{{'Submit' | translate}}</a>
      </div>
    </div>
  </div>
</div>
