<div class="basic-filters left-pane">
  <ng-include src="'templates/partials/filters/form_type.html'"></ng-include>
  <ng-include src="'templates/partials/filters/facility.html'"></ng-include>
  <ng-include src="'templates/partials/filters/date.html'"></ng-include>
  <ng-include src="'templates/partials/filters/status.html'"></ng-include>
  <ng-include src="'templates/partials/filters/freetext.html'" onload="setupSearch()"></ng-include>
  <ng-include src="'templates/partials/filters/reset.html'"></ng-include>
</div>
