<div id="reports-list" class="col-sm-4 inbox-items left-pane">
  <ul class="unfiltered" ng-show="(!loading || appending) && !filtered"></ul>
  <ul class="filtered" ng-show="(!loading || appending) && filtered"></ul>
  <p ng-show="error" class="alert alert-danger" role="alert">
    <span ng-show="errorSyntax">
      {{'invalid.query' | translate}}
      <a ui-sref="help.search" target="_blank">{{'Help' | translate}}</a>.
    </span>
    <span ng-hide="errorSyntax">
      {{'Error fetching reports' | translate}}
    </span>
  </p>
  <p class="loading-status" ng-show="!error && !loading && !reports.length">
    {{'No reports found' | translate}}
  </p>
  <p class="loading-status" ng-show="!loading && reports.length && !moreItems">
    {{'No more reports' | translate}}
  </p>
  <div class="loader" ng-show="loading"></div>
  <div class="padding"></div>
</div>
