<div id="reports-list" class="col-sm-4 inbox-items">
  <ul>
    <li class="animate-repeat" ng-show="!loading || appending" ng-repeat="report in items | orderBy:'-reported_date'" ng-click="select(report._id)" data-record-id="{{report._id}}" ng-class="{'selected': report._id === loadingContent || !loadingContent && report._id === selected._id, 'read': isRead(report)}">
      <div class="message-wrapper">
        <span class="mm-badge mm-badge-round mm-badge-border" ng-class="report.errors.length ? 'mm-badge-red' : 'mm-badge-green'">
          <span class="fa" ng-class="{'fa-check': report.verified}"></span>
        </span>
        <div class="detail">
          <span class="time" ng-bind-html="report.reported_date | relativeDate"></span>
          <mm-sender message="report"></mm-sender>
          <div class="description" ng-bind-html="report | summary:forms"></div>
        </div>
      </div>
    </li>
  </ul>
  <p ng-show="error" class="alert alert-danger" role="alert">
    <span ng-show="errorSyntax">
      {{'invalid.query' | translate}}
      <a ui-sref="help.search" target="_blank">{{'Help' | translate}}</a>.
    </span>
    <span ng-hide="errorSyntax">
      {{'Error fetching reports' | translate}}
    </span>
  </p>
  <p class="loading-status" ng-show="!error && !loading && !items.length">
    {{'No reports found' | translate}}
  </p>
  <p class="loading-status" ng-show="!loading && items.length && !moreItems">
    {{'No more reports' | translate}}
  </p>
  <div class="loader" ng-show="loading"></div>
</div>
