<li class="{{isRead(report) ? 'read' : ''}}" data-record-id="{{report._id}}">
  <a class="message-wrapper" href="#reports/{{report._id}}">
    <input type="checkbox">
    <span class="report-icon">{{report | formIcon:forms}}</span>
    <div class="detail">
      <div class="meta">
        <div class="time">{{report.reported_date | relativeDay}}</div>
      </div>
      <div class="meta">
        <i class="fa {{report.valid ? 'green-dot' : 'red-dot'}} {{report.verified ? 'fa-check-circle' : 'fa-circle'}}"></i>
      </div>
      <div class="sender">
        <div>
          <span class="name">{{report.from}}</span>
          <span class="phone">{{report.phone}}</span>
        </div>
        <div class="position">{{report.place | clinic}}</div>
      </div>
      <div class="description">{{report | summary:forms}}</div>
    </div>
  </a>
</li>
