<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent && !selectMode">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!loadingContent && !selected.length">
    <div translate>No report selected</div>
  </div>

  <div id="reports-content" class="col-sm-8 item-content item-body" ng-show="selectMode || (!loadingContent && selected.length && selected[0].report.form !== undefined)">

    <div class="selection-count" ng-show="selectMode && selected.length">
      <span ng-show="selected.length === 1" translate>select.mode.count.singular</span>
      <span ng-show="selected.length !== 1" translate translate-values="{ number: {{selected.length}} }">select.mode.count.plural</span>
    </div>

    <div ng-repeat="selection in selected track by selection._id" ng-init="summary = selection.report || selection.summary; valid = (selection.summary && selection.summary.valid) || (selection.report && !selection.report.errors.length)" class="body report-body">

      <div class="item-summary" ng-click="toggleExpand(selection)">
        <span class="icon" ng-bind-html="summary | formIcon:forms"></span>
        <a class="deselect" ng-show="selectMode" ng-click="deselect(summary, $event)">
          <i class="fa fa-minus-circle"></i>
        </a>
        <div class="detail">
          <div class="time" ng-bind-html="summary.reported_date | fullDate"></div>
          <div class="status">
            <i ng-show="valid && !summary.verified" class="fa fa-circle green-dot"></i>
            <i ng-show="!valid && !summary.verified" class="fa fa-circle red-dot"></i>
            <i ng-show="valid && summary.verified" class="fa fa-check-circle green-dot"></i>
            <i ng-show="!valid && summary.verified" class="fa fa-check-circle red-dot"></i>
          </div>

          <mm-sender message="summary"></mm-sender>
          <div>{{summary | title:forms}}</div>
        </div>
      </div>

      <div ng-show="selection.loading">
        <div class="loader"></div>
      </div>

      <div class="details" ng-show="selection.expanded">
        <ul>
          <li ng-if="selection.report.form && selection.report.content_type !== 'xml'" ng-repeat="field in selection.report.fields.data">
            <label>
              {{field.label}}
              <span class="fa fa-cogs" ng-show="field.generated" translate translate-attr-title="Generated report field"></span>
            </label>
            <p>{{field.value}}</p>
          </li>
          <li ng-if="selection.report.form && selection.report.content_type === 'xml'" ng-repeat="field in selection.displayFields" class="indent-{{field.depth}}">
            <label translate>{{field.label}}</label>
            <p>{{field.value}}</p>
          </li>
          <li ng-if="selection.report.errors.length">
            <label translate>Errors</label>
            <ul>
              <li ng-repeat="error in selection.report.errors">
                {{error.message}}
              </li>
            </ul>
          </li>
          <li ng-if="selection.report.sms_message.message">
            <label translate>selection.report.content.raw</label>
            <p>{{selection.report.sms_message.message}}</p>
          </li>
          <li ng-if="selection.report.tasks.length">
            <label ng-if="selection.report.kujua_message" translate>tasks.0.messages.0.to</label>
            <label ng-if="!selection.report.kujua_message" translate>Automated Reply</label>
            <ul class="task-list">
              <li ng-repeat="task in selection.report.tasks">
                <ul>
                  <li ng-repeat="message in task.messages">
                    {{selection.report.kujua_message ? message.to : message.message}}
                  </li>
                </ul>
                <span class="task-state" ng-bind-html="task | state"></span>
              </li>
              <li class="clear"></li>
            </ul>
          </li>
        </ul>
        <div class="scheduled-tasks" ng-if="selection.report.scheduled_tasks_by_group.length">
          <h2 translate>tasks</h2>
          <ul>
            <li ng-repeat="group in selection.report.scheduled_tasks_by_group">
              <p>
                {{group.group}}
                <span ng-hide="group.loading">
                  <a class="btn btn-link" ng-click="edit(selection, group)" translate>Edit</a>
                  <a class="btn btn-link" ng-click="mute(selection, group)" ng-show="canMute(group)" translate>Mute</a>
                  <a class="btn btn-link" ng-click="schedule(selection, group)" ng-show="canSchedule(group)" translate>Schedule</a>
                </span>
                <span class="inline loader" ng-show="group.loading"></span>
              </p>
              <ul class="task-list">
                <li ng-repeat="task in group.rows | orderBy:'timestamp'">
                  <ul>
                    <li ng-repeat="message in task.messages">
                      {{message.message}}
                    </li>
                  </ul>
                  <span class="task-state" ng-bind-html="task | state"></span>
                </li>
                <li class="clear"></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div ng-show="loadingContent && selectMode">
      <div class="loader"></div>
    </div>

    <div class="padding"></div>
  </div>
</div>
