<li class="{{isRead(report) ? 'read' : ''}}" data-record-id="{{report._id}}">
  <a class="message-wrapper" href="#reports/{{report._id}}">
    <input type="checkbox">
    <span class="mm-badge mm-badge-round mm-badge-border {{report.errors.length ? 'mm-badge-red' : 'mm-badge-green'}}">
      <span class="fa {{report.verified ? 'fa-check' : ''}}"></span>
    </span>
    <div class="detail">
      <span class="time">{{report.reported_date | relativeDay}}</span>
      <div class="sender">
        <div>
          <span class="name">
            {{report.contact.name || report.from || report.sent_by}}
          </span>
          <span class="phone">
            {{report.contact.phone}}
          </span>
        </div>
        <div class="position">
          {{report.contact.parent | clinic}}
        </div>
      </div>
      <div class="description">{{report | summary:forms}}</div>
    </div>
  </a>
</li>
