<div class="sender" ng-if="message">
  <div>
    <span class="name"
    ng-bind="message.related_entities.clinic.contact.name || message.related_entities.clinic.doc.contact.name || message.contact || message.from || message.sent_by"></span>
    <span class="phone"
    ng-bind="message.related_entities.clinic.contact.phone || message.related_entities.clinic.doc.contact.phone || message.facility.contact.phone"></span>
  </div>
  <div class="position"
    ng-if="message.related_entities.clinic"
    ng-bind="message.related_entities.clinic.doc || message.related_entities.clinic | clinic">
  </div>
</div>