<div class="sender" ng-if="message">
  <div class="name"
    ng-bind="message.related_entities.clinic.contact.name || message.related_entities.clinic.doc.contact.name || message.contact || message.from || message.sent_by || message.name">
  </div>
  <div class="position" 
    ng-if="message.related_entities.clinic"
    ng-bind="message.related_entities.clinic.doc || message.related_entities.clinic | clinic">
  </div>
  <div class="position" 
    ng-if="message.name"
    ng-bind="message.name | clinic">
  </div>
</div>