<!--
  TODO li should hve optional class selected, calculated as follows:
    {{task._id === loadingContent || !loadingContent && task._id === selected._id ? 'selected' : ''}}
  This highlight is not useful on mobile, and needs a click listener or similar implemented for desktop users.
-->
<li class="{{task.priority === 'high' ? 'high-priority' : ''}} {{task.priority === 'medium' ? 'medium-priority' : ''}}">
  <!-- We define hrefs weirdly here, as otherwise they end up as "#tasks/{}" -->
  <a class="message-wrapper" {{'href="#tasks/'+task._id+'"'}}>
    <span class="mm-badge">{{task.icon | resourceIcon}}</span>
    <div class="detail">
      <span class="time">{{task.date | relativeDay}}</span>
      <div class="description title">{{task.title | translateFrom:task}}</div>
      <div class="description priority-label">
        <span class="priority">
          <i class="fa fa-exclamation-triangle high-priority-icon"></i>
          <i class="fa fa-info-circle medium-priority-icon"></i>
        </span>
        {{task.priorityLabel | translateFrom:task}}
      </div>
    </div>
  </a>
</li>
