<div id="tasks-list" class="col-sm-4 inbox-items">
  <ul ng-show="!loading && !error">
    <li ng-repeat="task in tasks | orderBy:'date'" ng-click="setSelected(task._id)" data-record-id="{{task._id}}" ng-class="{'selected': task._id === loadingContent || !loadingContent && task._id === selected._id}">
      <div class="message-wrapper">
        <span class="mm-badge">
          <span class="fa" ng-class="{
            'fa-user': task.type === 'visit',
            'fa-calendar': task.type !== 'visit'
          }"></span>
        </span>
        <div class="detail">
          <span class="time" ng-bind-html="task.date | relativeDate"></span>
          <div class="description">{{task.title | translateFrom:task}}</div>
        </div>
      </div>
    </li>
  </ul>
  <p ng-show="error" class="alert alert-danger" role="alert">
    {{'Error fetching tasks' | translate}}
  </p>
  <p class="loading-status" ng-show="!error && !loading && !tasks.length">
    {{'No tasks found' | translate}}
  </p>
  <div class="loader" ng-show="loading"></div>
  <div class="padding"></div>
</div>
