<div id="tasks-list" class="col-sm-4 inbox-items left-pane">
  <ul ng-show="!error && hasTasks"></ul>
  <p ng-show="error" class="alert alert-danger" role="alert">
    {{'Error fetching tasks.' | translate}}
    <a ng-click="refreshTaskList()">{{'Try again.' | translate}}</a>
  </p>
  <p class="loading-status" ng-show="!error && !hasTasks && !tasksDisabled">
    {{'No tasks found' | translate}}
  </p>
  <p class="loading-status" ng-show="tasksDisabled">
    {{'tasks.disabled' || translate}}
  </p>
</div>
