<div id="tasks-list" class="col-sm-4 inbox-items left-pane">
  <ul ng-show="!loading && !error">
    <li ng-repeat="task in tasks | orderBy:'date'" ng-class="{'selected': task._id === loadingContent || !loadingContent && task._id === selected._id, 'high-priority': task.priority === 'high', 'medium-priority': task.priority === 'medium'}" data-record-id="{{task._id}}">
      <a class="message-wrapper" ui-sref="tasks.detail({ id: task._id })">
        <span ng-bind-html="task.icon | resourceIcon" class="mm-badge"></span>
        <div class="detail">
          <span class="time" ng-bind-html="task.date | relativeDay"></span>
          <div class="description">{{task.title | translateFrom:task}}</div>
          <div class="description priority-label">
            <span class="priority">
              <i class="fa fa-exclamation-triangle high-priority-icon"></i>
              <i class="fa fa-info-circle medium-priority-icon"></i>
            </span>
            {{task.priorityLabel | translateFrom:task}}
          </div>
        </div>
      </a>
    </li>
  </ul>
  <p ng-show="error" class="alert alert-danger" role="alert">
    {{'Error fetching tasks.' | translate}}
    <a ng-click="refreshTaskList()">{{'Try again.' | translate}}</a>
  </p>
  <p class="loading-status" ng-show="!error && !loading && !tasks.length">
    {{'No tasks found' | translate}}
  </p>
  <div class="loader" ng-show="loading"></div>
  <div class="padding"></div>
</div>
