<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" ng-show="loadingContent || loadingForm">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!selected && !loadingContent">
    <div>{{'No task selected' | translate}}</div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!loadingContent && !loadingForm && contentError">
    <div>{{'error.loading.form' | translate}}</div>
  </div>

  <div class="col-sm-8 item-content item-body" ng-show="selected && !form && !loadingContent && !loadingForm && !contentError">
    <div>
      <div class="body">
        <h2>{{selected.title | translateFrom:selected}}</h2>
        <ul>
          <li>
            <label>{{'task.date' | translate}}</label>
            <p ng-bind-html="selected.date | simpleDate"></p>
          </li>
          <li>
            <label>{{'task.priority' | translate}}</label>
            <p ng-class="{'high-priority': selected.priority === 'high', 'medium-priority': selected.priority === 'medium'}">
              <span class="priority">
                <i class="fa fa-exclamation-triangle high-priority-icon"></i>
                <i class="fa fa-info-circle medium-priority-icon"></i>
              </span>
              {{selected.priorityLabel | translateFrom:selected}}
            </p>
          </li>
          <li ng-repeat="field in selected.fields">
            <label>{{field.label | translateFrom:selected}}</label>
            <p>{{field.value | translateFrom:selected}}</p>
          </li>
          <li class="actions">
            <a class="btn btn-default" ng-click="performAction(action)" ng-repeat="action in selected.actions">{{action.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-8 item-content item-body" ng-show="selected && form && !loadingContent && !loadingForm">
    <div id="task-report" class="enketo">
      <div class="container pages"></div>
      <div class="form-footer">
        <button class="btn btn-default previous-page">&lt; {{'Previous' | translate}}</button>
        <button class="btn btn-primary next-page">{{'Next' | translate}} &gt;</button>
        <a class="btn submit btn-primary" ng-click="save()" ng-disabled="saving">{{'Submit' | translate}}</a>
        <div class="loader inline small" ng-show="saving"></div>
      </div>
    </div>
  </div>
</div>
