<select name="hours">
  <option value="0" {@eq key="hours" value="0"}selected="true"{/eq}>00</option>
  <option value="1" {@eq key="hours" value="1"}selected="true"{/eq}>01</option>
  <option value="2" {@eq key="hours" value="2"}selected="true"{/eq}>02</option>
  <option value="3" {@eq key="hours" value="3"}selected="true"{/eq}>03</option>
  <option value="4" {@eq key="hours" value="4"}selected="true"{/eq}>04</option>
  <option value="5" {@eq key="hours" value="5"}selected="true"{/eq}>05</option>
  <option value="6" {@eq key="hours" value="6"}selected="true"{/eq}>06</option>
  <option value="7" {@eq key="hours" value="7"}selected="true"{/eq}>07</option>
  <option value="8" {@eq key="hours" value="8"}selected="true"{/eq}>08</option>
  <option value="9" {@eq key="hours" value="9"}selected="true"{/eq}>09</option>
  <option value="10" {@eq key="hours" value="10"}selected="true"{/eq}>10</option>
  <option value="11" {@eq key="hours" value="11"}selected="true"{/eq}>11</option>
  <option value="12" {@eq key="hours" value="12"}selected="true"{/eq}>12</option>
  <option value="13" {@eq key="hours" value="13"}selected="true"{/eq}>13</option>
  <option value="14" {@eq key="hours" value="14"}selected="true"{/eq}>14</option>
  <option value="15" {@eq key="hours" value="15"}selected="true"{/eq}>15</option>
  <option value="16" {@eq key="hours" value="16"}selected="true"{/eq}>16</option>
  <option value="17" {@eq key="hours" value="17"}selected="true"{/eq}>17</option>
  <option value="18" {@eq key="hours" value="18"}selected="true"{/eq}>18</option>
  <option value="19" {@eq key="hours" value="19"}selected="true"{/eq}>19</option>
  <option value="20" {@eq key="hours" value="20"}selected="true"{/eq}>20</option>
  <option value="21" {@eq key="hours" value="21"}selected="true"{/eq}>21</option>
  <option value="22" {@eq key="hours" value="22"}selected="true"{/eq}>22</option>
  <option value="23" {@eq key="hours" value="23"}selected="true"{/eq}>23</option>
</select>:<select name="minutes">
  <option value="0" {@eq key="minutes" value="0"}selected="true"{/eq}>00</option>
  <option value="5" {@eq key="minutes" value="5"}selected="true"{/eq}>05</option>
  <option value="10" {@eq key="minutes" value="10"}selected="true"{/eq}>10</option>
  <option value="15" {@eq key="minutes" value="15"}selected="true"{/eq}>15</option>
  <option value="20" {@eq key="minutes" value="20"}selected="true"{/eq}>20</option>
  <option value="25" {@eq key="minutes" value="25"}selected="true"{/eq}>25</option>
  <option value="30" {@eq key="minutes" value="30"}selected="true"{/eq}>30</option>
  <option value="35" {@eq key="minutes" value="35"}selected="true"{/eq}>35</option>
  <option value="40" {@eq key="minutes" value="40"}selected="true"{/eq}>40</option>
  <option value="45" {@eq key="minutes" value="45"}selected="true"{/eq}>45</option>
  <option value="50" {@eq key="minutes" value="50"}selected="true"{/eq}>50</option>
  <option value="55" {@eq key="minutes" value="55"}selected="true"{/eq}>55</option>
</select>