{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": 1,
    "no-unused-vars": 1,
    "no-console": "off",
    "no-debugger": "off",
    "quotes": ["error", "single", { "avoidEscape": true }]
  },
  "overrides": [
    {
      "files": [
        "**/*.json"
      ],
      "plugins": [
        "json"
      ]
    }
  ]
}