@import (reference) "../../../../css/variables.less";

.selection-heading {
  border-bottom: 0.250rem solid @gray-light;
  padding-bottom: 0.625rem;
  margin-bottom: 0;
  font-weight: bold;
}

.privacy-policy-row {
  border-bottom: 0.0625rem solid @gray-light;
  padding: 0.75rem 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.detail {
  color: @gray-ultra-dark;
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.input-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.hidden-input {
  display: none;
}

.error {
  color: @red;
  font-weight: bold;
}

.form-actions {
  margin-top: 1.5rem;
}

.help-block {
  color: @gray-medium;
  margin-bottom: 0.625rem;
}