@import (reference) "../../../../css/variables.less";

.tab-content {
  padding: 0.5rem 0;

  .row {
    padding: 0.75rem 0;
    border-bottom: 0.0625rem solid @gray-dark;

    &:last-child {
      border-bottom: none;
    }
  }
}
.loader.inline {
  width: 1.25rem;
  height: 1.25rem;
  border-width: 0.1875rem;
}
.error {
  color: @red;
  margin-top: 0.5rem;
  font-weight: bold;
}