{
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "jasmine": true,
    "jquery": true,
    "node": true
  },
  "plugins": [
    "no-only-tests",
    "jasmine",
    "async"
  ],
  "rules": {
    "async/missing-await-in-async-fn": "error",
    "no-only-tests/no-only-tests": "error",
    "jasmine/no-focused-tests": "error",
    "no-console": "off",
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "ignore",
        "named": "ignore",
        "asyncArrow": "always"
      }
    ]
  },
  "globals": {
    "$": true,
    "$$": true,
    "document": true
  }
}
