{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "jasmine": true,
    "jquery": true,
    "node": true
  },
  "plugins": [
    "no-only-tests",
    "jasmine"
  ],
  "rules": {
    "no-only-tests/no-only-tests": "error",
    "no-console": "off"
  }
}
