{
  "parserOptions": {
    "ecmaVersion": 8
  },
  "env": {
    "jasmine": true,
    "jquery": true,
    "node": true
  },
  "plugins": [
    "no-only-tests",
    "jasmine"
  ],
  "rules": {
    "no-only-tests/no-only-tests": "error",
    "jasmine/no-focused-tests": "error",
    "no-console": "off",
    "space-before-function-paren": ["error", {
      "anonymous": "ignore",
      "named": "ignore",
      "asyncArrow": "always"
    }]
  }
}
