<span class="input-group freetext-filter" [class.only-filter]="currentTab === 'contacts'">
  <input id="freetext" class="form-control" [(ngModel)]="inputText" (ngModelChange)="onFieldChange($event)" type="text" [class.disabled]="disabled" placeholder="{{'freetext.search' | translate}}">
  <span class="input-group-btn">
    <button id="search" class="btn btn-default" type="button" [class.disabled]="disabled">
      <span class="fa fa-search"></span>
    </button>
  </span>
</span>

<span class="dropdown mobile-freetext-filter" *ngIf="currentTab === 'reports'" [class.disabled]="disabled" dropdown [insideClick]="true">
  <span id="mobile-search" class="mm-button" data-toggle="dropdown" dropdownToggle>
    <span class="mm-button-icon">
      <span class="fa fa-search"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
  </span>
  <div class="search-pane dropdown-menu mm-dropdown-menu" role="menu" aria-labelledby="mobile-search" *dropdownMenu>
    <span class="input-group">
      <input id="mobile-freetext" class="form-control" type="text" [(ngModel)]="inputText" (ngModelChange)="onFieldChange($event)" placeholder="{{'freetext.search' | translate}}">
      <span class="input-group-btn small-font">
        <button id="mobile-search-go" class="btn btn-default" type="button">
          <span class="fa fa-search"></span>
        </button>
      </span>
    </span>
  </div>
</span>
