<span class="filter input-group freetext-filter" [class.only-filter]="currentTab === 'contacts'">
  <input id="freetext" class="form-control" [(ngModel)]="inputText" type="text" [class.disabled]="selectMode && selectedReports.length" placeholder="{{'freetext.search' | translate}}">
  <span class="input-group-btn">
    <button id="search" class="btn btn-default" type="button" [class.disabled]="selectMode && selectedReports.length">
      <span class="fa fa-search"></span>
    </button>
  </span>
</span>

<span class="filter dropdown mobile-freetext-filter" *ngIf="currentTab === 'reports'" [class.disabled]="selectMode && selectedReports.length">
  <span id="mobile-search" class="mm-button" data-toggle="dropdown">
    <span class="mm-button-icon">
      <span class="fa fa-search"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
  </span>
  <div class="search-pane dropdown-menu mm-dropdown-menu" role="menu" aria-labelledby="mobile-search">
    <span class="input-group">
      <input id="mobile-freetext" class="form-control" type="text" [(ngModel)]="inputText" placeholder="{{'freetext.search' | translate}}">
      <span class="input-group-btn small-font">
        <button id="mobile-search-go" class="btn btn-default" type="button">
          <span class="fa fa-search"></span>
        </button>
      </span>
    </span>
  </div>
</span>
