@font-face {
  font-family: 'Noto';
  src: url(/fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
body, input {
  font-family: Noto, sans-serif;
}
body {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.2em;
  height: 100%;
  padding: 0;
  margin: 0;
}
.logo {
  width: 14.2em;
  height: 3.8em;
  margin: 30px auto 60px auto;
  display: block;
}
label, input {
  display: block;
}
label {
  margin-top: 1em;
}
input {
  margin-bottom: 1em;
  border-width: 1px;
  border-color: #CCCCCC;
  border-radius: 4px;
  width: 280px;
  font-size: 1em;
  padding: 6px 10px;
}
.btn {
  background-color: #337AB7;
  border-color: #2E6DA4;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 1.42857;
  border-radius: 4px;
  display: block;
  margin: 2em auto;
  font-size: 1em;
  width: 302px;
  padding: 6px 10px;
  text-decoration: none;
  max-width: 100%;
  box-sizing: border-box;
}
.loading .btn {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.65;
}
.center {
  padding-top: 2em;
}
form {
  width: 300px;
  margin: 0 auto;
}
.wrapper {
  max-width: 800px;
  text-align: center;
  margin: 1em auto;
  padding: 0 20px;
}
.wrapper a {
  color: #bbbbbb;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.wrapper a.selected {
  color: #ffffff;
}
.wrapper a:hover {
  text-decoration: underline;
}
.legal {
  font-size: 0.8rem;
}
.error {
  color: #DA4548;
  display: none;
}
.has-error .loading {
  display: none;
}

.loading .loader,
.loginoffline .error.offline,
.loginincorrect .error.incorrect,
.loginerror .error.unknown,
.tokeninvalid .error.invalid,
.tokenmissing .error.missing,
.tokentimeout .error.timeout,
.tokenexpired .error.expired,
.tokenerror .error.unknown
{
  display: block;
}

.login-link {
  display: none;
}
.tokenerror .login-link,
.tokeninvalid .login-link,
.tokenmissing .login-link,
.tokentimeout .login-link,
.tokenexpired .login-link {
  display: block;
}

.loader {
  display: none;
  margin: 1em auto;
  font-size: 10px;
  position: relative;
  border: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left-color: #FFFFFF;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader 1.1s infinite linear;
  animation: loader 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}

#unsupported-browser {
  text-align: center;
  border: 2px solid darkred;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 1em;
  text-decoration: none;
}

#password-container {
  position: relative;
  height: 40px;
}

#password-container #password {
  width: 245px;
  padding: 6px 43px 6px 10px;
}

#password-container #password-toggle {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 10px;
  cursor: pointer;
}

#password-container.hidden-password .show-password-icon,
#password-container .hide-password-icon {
  width: 24px;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

#password-container .show-password-icon,
#password-container.hidden-password .hide-password-icon {
  display: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (max-width: 400px) {
  .locale {
    display: block
  }
}
