body {
  background-color: #323232;
  color: #FFFFFF;
  font-size: 1.2em;
  height: 100%;
  padding: 0;
  margin: 0;
}
body, input {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.logo {
  width: 14.2em;
  height: 3.8em;
  margin: 0px auto;
  display: block;
}
form {
  max-width: 800px;
  margin: 1em auto;
}
label, input {
  display: block;
}
label {
  margin: 0.5em auto;
  width: 300px;
}
input {
  margin-bottom: 1em;
  border-width: 1px;
  border-color: #CCCCCC;
  border-radius: 4px;
  width: 280px;
  font-size: 1em;
  padding: 6px 10px;
}
.btn {
  background-color: #337AB7;
  border-color: #2E6DA4;
  color: #FFFFFF;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  line-height: 1.42857;
  border-radius: 4px;
  display: block;
  font-size: 1em;
  width: 302px;
  padding: 6px 10px;
}
.loading .btn {
  cursor: not-allowed;
  box-shadow: none;
  opacity: 0.65;
}
.center {
  padding-top: 2em;
}
.locale-wrapper {
  text-align: center;
  margin: 1em auto;
  padding: 0 20px;
}
.locale {
  color: #bbbbbb;
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
}
.locale.selected {
  color: #ffffff;
}
.locale:hover {
  text-decoration: underline;
}
.error {
  color: #DA4548;
  display: none;
  text-align: center;
}
.loading .loader,
.loginoffline .error.offline,
.loginincorrect .error.incorrect,
.loginerror .error.unknown {
  display: block;
}
.loader {
  display: none;
  margin: 1em auto;
  font-size: 10px;
  position: relative;
  border: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left-color: #FFFFFF;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loader 1.1s infinite linear;
  animation: loader 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (max-width: 400px) {
  .center {
    padding-top: 0;
  }
  .locale {
    display: block
  }
}
