<div class="container-fluid action-container">
  <div class="row">
    <div class="inner">

      <div class="col-sm-4 general-actions left-pane" ng-show="actionBarCtrl.currentTab === 'reports' && actionBarCtrl.selectMode">
        <div class="actions dropup">
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-all" ng-click="actionBarCtrl.selectAll()">
            <span class="fa fa-check-square-o"></span>
            <p translate>select.mode.select.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption deselect-all" ng-click="actionBarCtrl.deselectAll()">
            <span class="fa fa-square-o"></span>
            <p translate>select.mode.deselect.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption delete-all" mm-auth="can_bulk_delete_reports" ng-click="actionBarCtrl.bulkDelete(actionBarCtrl.selectedReportsDocs)" ng-class="{'mm-icon-disabled': !actionBarCtrl.selectedReportsDocs.length}">
            <span class="fa fa-trash-o"></span>
            <p translate>select.mode.delete.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-mode-stop" ng-click="actionBarCtrl.setSelect(false)">
            <span class="fa fa-times-circle"></span>
            <p translate>select.mode.stop</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4 general-actions left-pane" ng-show="actionBarCtrl.currentTab === 'reports' && !actionBarCtrl.selectMode">
        <div class="actions dropup">
          <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" data-toggle="dropdown" ng-class="{'mm-icon-disabled': !actionBarCtrl.nonContactForms.length}">
            <span class="fa fa-plus"></span>
            <p translate>Submit Report</p>
          </a>
          <ul class="dropdown-menu mm-dropdown-menu with-icon" ng-show="actionBarCtrl.nonContactForms.length">
            <li ng-repeat="form in actionBarCtrl.nonContactForms | orderBy: 'title' track by form.code">
              <a ui-sref="reports.add({ formId: form.code })">
                <span ng-bind-html="form.icon | resourceIcon"></span>
                <span class="content">{{form.title}}</span>
              </a>
            </li>
          </ul>
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-mode-start" mm-auth="can_bulk_delete_reports" ng-click="actionBarCtrl.setSelect(true)" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.left.hasResults}">
            <span class="fa fa-check-circle"></span>
            <p translate>select.mode.start</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBarCtrl.isAdmin" ng-click="actionBarCtrl.actionBar.left.exportFn($event)" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.left.hasResults}">
            <span class="fa fa-arrow-down"></span>
            <p translate>Export</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4 general-actions left-pane" ng-show="actionBarCtrl.currentTab === 'contacts'">
        <div class="actions dropup" mm-auth mm-auth-any="[ actionBarCtrl.isAdmin, actionBarCtrl.actionBar.left.childPlaces && 'can_create_places' ]">
          <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" ng-if="actionBarCtrl.actionBar.left.childPlaces.length > 1" data-toggle="dropdown" mm-auth="can_create_places">
            <span class="fa fa-plus"></span>
            <p translate>Add place</p>
          </a>
          <ul class="dropdown-menu mm-dropdown-menu with-icon" ng-if="actionBarCtrl.actionBar.left.childPlaces.length > 1" mm-auth="can_create_places">
            <li ng-repeat="child in actionBarCtrl.actionBar.left.childPlaces | orderBy: 'id' track by child.id">
              <a ui-sref="contacts.addChild({ type: child.id, parent_id: actionBarCtrl.actionBar.left.userFacilityId, from: 'list' })">
                <span ng-bind-html="child.icon | resourceIcon"></span>
                <span class="content" translate>{{child.create_key}}</span>
              </a>
            </li>
          </ul>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-if="actionBarCtrl.actionBar.left.childPlaces.length === 1" ui-sref="contacts.addChild({ type: actionBarCtrl.actionBar.left.childPlaces[0].id, parent_id: actionBarCtrl.actionBar.left.userFacilityId, from: 'list' })" mm-auth="can_create_places">
            <span class="fa-stack">
              <i ng-bind-html="actionBarCtrl.actionBar.left.childPlaces[0].icon | resourceIcon"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <p translate>{{actionBarCtrl.actionBar.left.childPlaces[0].create_key}}</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBarCtrl.isAdmin" ng-click="actionBarCtrl.actionBar.left.exportFn()" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.left.hasResults}">
            <span class="fa fa-arrow-down"></span>
            <p translate>Export</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4 general-actions left-pane" ng-show="actionBarCtrl.currentTab === 'messages'">
        <div class="actions dropup">
          <a class="mm-icon mm-icon-inverse mm-icon-caption send-message" ng-show="actionBarCtrl.currentTab === 'messages'">
            <span class="fa fa-plus"></span>
            <p translate>Send Message</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBarCtrl.isAdmin" ng-click="actionBarCtrl.actionBar.left.exportFn()" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.left.hasResults}">
            <span class="fa fa-arrow-down"></span>
            <p translate>Export</p>
          </a>
        </div>
      </div>

      <div class="col-sm-8 detail-actions right-pane" ng-show="actionBarCtrl.currentTab === 'reports'">
        <div ng-show="actionBarCtrl.selectMode">
          <div class="actions dropup" ng-show="actionBarCtrl.showActionBar && actionBarCtrl.selectedReportsDocs.length && (!actionBarCtrl.loadingContent) && 'reports.detail' | isState">
            <a class="mm-icon mm-icon-inverse mm-icon-caption delete-all" mm-auth="can_bulk_delete_reports" ng-click="actionBarCtrl.bulkDelete(actionBarCtrl.selectedReportsDocs)">
              <span class="fa fa-trash-o"></span>
              <p translate>select.mode.delete.all</p>
            </a>
          </div>
        </div>

        <div ng-show="!actionBarCtrl.selectMode">
          <div class="actions dropup" ng-show="actionBarCtrl.showActionBar && actionBarCtrl.selectedReportsDocs && !actionBarCtrl.loadingContent && ('reports.detail' | isState)">
            <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" href="sms:{{actionBarCtrl.actionBar.right.sendTo.phone}}" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.sendTo.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption send-message desktop-only" data-send-to="{{actionBarCtrl.actionBar.right.sendTo._id}}" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.sendTo.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <div class="dropdown-menu sub-actions" ng-show="actionBarCtrl.actionBar.right.verifyingReport && actionBarCtrl.loadingSubActionBar">
              <div class="loader"></div>
            </div>
            <div class="dropdown-menu sub-actions" mm-auth mm-auth-any="[['can_verify_reports', 'can_edit_verification'], actionBarCtrl.selectedReportsDocs[0].verified === undefined && 'can_verify_reports']" ng-show="actionBarCtrl.actionBar.right.verifyingReport && !actionBarCtrl.loadingSubActionBar">
              <a class="mm-icon mm-icon-caption verify-error" ng-class="{ active: actionBarCtrl.actionBar.right.verified === false }" ng-click="actionBarCtrl.verifyReport(false)">
                <span class="verify-icon" ng-include="'templates/partials/svg-icons/report-verify-invalid-icon.html'"></span>
                <span translate>reports.verify.invalid</span>
              </a>
              <a class="mm-icon mm-icon-caption verify-valid" ng-class="{ active: actionBarCtrl.actionBar.right.verified }" ng-click="actionBarCtrl.verifyReport(true)">
                <span class="verify-icon" ng-include="'templates/partials/svg-icons/report-verify-valid-icon.html'"></span>
                <span translate>reports.verify.valid</span>
              </a>
            </div>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-class="{ active: actionBarCtrl.actionBar.right.verifyingReport }" mm-auth mm-auth-any="[['can_verify_reports', 'can_edit_verification'], actionBarCtrl.selectedReportsDocs[0].verified === undefined && 'can_verify_reports']" ng-click="actionBarCtrl.toggleVerifyingReport()">
              <span class="fa fa-check"></span>
              <p translate>reports.verify</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBarCtrl.actionBar.right.type === 'xml'" mm-auth="can_update_reports" ui-sref="reports.edit({ reportId: actionBarCtrl.selectedReportsDocs[0]._id })">
              <span class="fa fa-pencil"></span>
              <p translate>Edit</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-show="actionBarCtrl.actionBar.right.type !== 'xml'" ng-click="actionBarCtrl.launchEditFacilityDialog()">
              <span class="fa fa-pencil"></span>
              <p translate>Update Facility</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-click="actionBarCtrl.deleteDoc(actionBarCtrl.selectedReportsDocs[0])" mm-auth="can_delete_reports">
              <span class="fa fa-trash-o"></span>
              <p translate>Delete</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-8 detail-actions right-pane" ng-show="actionBarCtrl.currentTab === 'contacts'">
        <div class="actions dropup" ng-show="actionBarCtrl.showActionBar && actionBarCtrl.selectedContactDoc && !actionBarCtrl.loadingContent && ('contacts.detail' | isState)">

          <span>
            <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" data-toggle="dropdown" ng-class="{'mm-icon-disabled': (!actionBarCtrl.actionBar.right.relevantForms || !actionBarCtrl.actionBar.right.relevantForms.length)}">
              <span class="fa fa-plus"></span>
              <p translate>action.report.add</p>
            </a>
            <ul class="dropdown-menu mm-dropdown-menu with-icon" ng-hide="(!actionBarCtrl.actionBar.right.relevantForms || !actionBarCtrl.actionBar.right.relevantForms.length)">
              <li ng-repeat="form in actionBarCtrl.actionBar.right.relevantForms | orderBy: 'title' track by form.code">
                <a show-muted-modal to-state="contacts.report" to-state-params="{ id: actionBarCtrl.selectedContactDoc._id, formId: form.code }">
                  <span ng-bind-html="form.icon | resourceIcon"></span>
                  <span class="content">{{form.title}}</span>
                </a>
              </li>
            </ul>
          </span>

          <span ng-repeat="group in actionBarCtrl.actionBar.right.childTypes" mm-auth="{{group.permission}}">

            <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" data-toggle="dropdown" ng-if="group.types.length > 1">
              <span class="fa-stack">
                <i class="fa {{group.menu_icon}}"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
              <p translate>{{group.menu_key}}</p>
            </a>
            <ul class="dropdown-menu mm-dropdown-menu with-icon" ng-if="group.types.length > 1">
              <li ng-repeat="type in group.types | orderBy: 'id' track by type.id">
                <a ui-sref="contacts.addChild({ type: type.id, parent_id: actionBarCtrl.selectedContactDoc._id })">
                  <span ng-bind-html="type.icon | resourceIcon"></span>
                  <span class="content" translate>{{type.create_key}}</span>
                </a>
              </li>
            </ul>

            <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-if="group.types.length === 1" ui-sref="contacts.addChild({ type: group.types[0].id, parent_id: actionBarCtrl.selectedContactDoc._id })">
              <span class="fa-stack">
                <i ng-bind-html="group.types[0].icon | resourceIcon"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
              <p translate>{{group.types[0].create_key}}</p>
            </a>
          </span>

          <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" href="tel:{{actionBarCtrl.actionBar.right.sendTo.phone}}" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.sendTo.phone}" ng-show="actionBarCtrl.actionBar.right.sendTo" mm-auth="can_view_call_action">
            <span class="fa fa-phone"></span>
            <p translate>call</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" href="sms:{{actionBarCtrl.actionBar.right.sendTo.phone}}" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.sendTo.phone}" ng-show="actionBarCtrl.actionBar.right.sendTo" mm-auth="can_view_message_action">
            <span class="fa fa-envelope"></span>
            <p translate>Send Message</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption send-message desktop-only" data-send-to="{{actionBarCtrl.actionBar.right.sendTo._id}}" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.sendTo.phone}" ng-show="actionBarCtrl.actionBar.right.sendTo" mm-auth="can_view_message_action">
            <span class="fa fa-envelope"></span>
            <p translate>Send Message</p>
          </a>

          <a class="mm-icon mm-icon-inverse mm-icon-caption" ui-sref="contacts.edit({ id: actionBarCtrl.selectedContactDoc._id })" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.canEdit}">
            <span class="fa fa-pencil"></span>
            <p translate>Edit</p>
          </a>

          <a class="mm-icon mm-icon-inverse mm-icon-caption" ng-click="actionBarCtrl.deleteDoc(actionBarCtrl.selectedContactDoc)" ng-class="{'mm-icon-disabled': !actionBarCtrl.actionBar.right.canDelete}" mm-auth="can_delete_contacts">
            <span class="fa fa-trash-o"></span>
            <p translate>Delete</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
