<div class="row header">
  <div class="inner">

    <span id="mobile-detection"></span>

    <a ui-sref="home">
      <div class="logo">
        <div class="logo-full" ng-bind-html="'logo' | headerLogo"></div>
      </div>
    </a>

    <div class="extras">

      <span class="dropdown options">
        <a data-toggle="dropdown">
          <div class="mm-icon mm-icon-inverse">
            <span class="fa fa-fw fa-bars"></span>
          </div>
        </a>
        <ul role="menu" class="dropdown-menu mm-dropdown-menu">
          <li role="presentation" mm-auth="can_view_messages,!can_view_messages_tab">
            <a role="menuitem" tabindex="-1" ui-sref="messages.detail">
              <i class="fa fa-fw fa-envelope"></i>
              <span translate>Messages</span>
            </a>
          </li>
          <li role="presentation" mm-auth="can_view_tasks,!can_view_tasks_tab">
            <a role="menuitem" tabindex="-1" ui-sref="tasks.detail">
              <i class="fa fa-fw fa-flag"></i>
              <span translate>Tasks</span>
            </a>
          </li>
          <li role="presentation" mm-auth="can_view_reports,!can_view_reports_tab">
            <a role="menuitem" tabindex="-1" ui-sref="reports.detail">
              <i class="fa fa-fw fa-list-alt"></i>
              <span translate>Reports</span>
            </a>
          </li>
          <li role="presentation" mm-auth="can_view_contacts,!can_view_contacts_tab">
            <a role="menuitem" tabindex="-1" ui-sref="contacts.detail">
              <i class="fa fa-fw fa-user"></i>
              <span translate>Contacts</span>
            </a>
          </li>
          <li role="presentation" mm-auth="can_view_analytics,!can_view_analytics_tab">
            <a role="menuitem" tabindex="-1" ui-sref="analytics" ui-sref-opts="{reload: true}">
              <i class="fa fa-bar-chart-o"></i>
              <span translate>Analytics</span>
            </a>
          </li>
          <li role="presentation" class="desktop-only" mm-auth mm-auth-any="[ 'can_configure', 'can_view_outgoing_messages', 'can_export_all' ]" mm-auth-online="true">
            <a ng-href="{{headerCtrl.adminUrl}}" role="menuitem" tabindex="-1" rel="noopener noreferrer">
              <i class="fa fa-fw fa-cog"></i>
              <span translate>admin.app.name</span>
            </a>
          </li>
          <li role="presentation" mm-auth="can_configure">
            <a role="menuitem" tabindex="-1" ng-click="headerCtrl.openGuidedSetup()">
              <i class="fa fa-fw fa-list-ol"></i>
              <span translate>Easy Setup Wizard</span>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" rel="external" ng-click="headerCtrl.openTourSelect()" ng-show="headerCtrl.tours.length">
              <i class="fa fa-fw fa-graduation-cap"></i>
              <span translate>Guided Tour</span>
            </a>
          </li>
          <li role="presentation">
            <a ui-sref="about" role="menuitem" tabindex="-1">
              <i class="fa fa-fw fa-question"></i>
              <span translate>about</span>
            </a>
          </li>
          <li role="presentation" mm-auth="can_edit_profile">
            <a role="menuitem" tabindex="-1" ui-sref="userSettings">
              <i class="fa fa-fw fa-user"></i>
              <span translate>edit.user.settings</span>
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" ng-click="headerCtrl.openFeedback()">
              <i class="fa fa-fw fa-bug"></i>
              <span translate>Report Bug</span>
            </a>
          </li>
          <li role="presentation" ng-show="headerCtrl.canLogOut">
            <a role="menuitem" tabindex="-1" rel="external" ng-click="headerCtrl.logout()">
              <i class="fa fa-fw fa-power-off"></i>
              <span translate>Log Out</span>
            </a>
          </li>

          <li role="separator" class="divider" ng-if="!headerCtrl.replicationStatus.disabled"></li>
          <li role="presentation disabled" ng-if="!headerCtrl.replicationStatus.disabled && !headerCtrl.replicationStatus.current.disableSyncButton">
            <a role="menuitem" tabindex="-1" ng-click="headerCtrl.replicate()">
              <i class="fa fa-fw fa-refresh"></i>
              <span translate>sync.now</span>
            </a>
          </li>
          <li role="presentation disabled" ng-if="!headerCtrl.replicationStatus.disabled && headerCtrl.replicationStatus.current" class="sync-status">
            <a class="no-click" ng-class="headerCtrl.replicationStatus.current.className">
              <i class="fa fa-fw" ng-class="headerCtrl.replicationStatus.current.icon"></i>
              <span translate>{{headerCtrl.replicationStatus.current.key}}</span>
            </a>
          </li>
          <li role="presentation disabled" ng-if="!headerCtrl.replicationStatus.disabled && headerCtrl.replicationStatus.lastSuccessTo" class="sync-status">
            <a class="no-click">
              <span translate>sync.last_success</span>
              <span ng-bind-html="headerCtrl.replicationStatus.lastSuccessTo | relativeDate">
            </a>
          </li>
        </ul>
      </span>
    </div>

    <div class="tabs small-font">
      <a ng-repeat="tab in headerCtrl.permittedTabs track by tab.name" ui-sref="{{tab.state}}" id="{{tab.name}}-tab" class="{{tab.name}}-tab" ng-class="{'selected': headerCtrl.currentTab === {{tab.name}}}">
        <div class="mm-icon" ng-class="{'mm-icon-inverse': headerCtrl.currentTab !== {{tab.name}}}">
          <span class="fa {{tab.icon}}"></span>
          <span class="mm-badge-overlay mm-badge-overlay-top" ng-hide="{{headerCtrl.unreadCount[tab.typeName] <= 0}}">
            <span class="mm-badge mm-badge-red mm-badge-border" ng-show="headerCtrl.unreadCount[tab.typeName] < 100">{{headerCtrl.unreadCount[tab.typeName]}}</span>
            <span class="mm-badge mm-badge-red mm-badge-border" ng-show="headerCtrl.unreadCount[tab.typeName] >= 100">100+</span>
          </span>
        </div>
        <div class="button-label" ng-class="{'mobile-tab-label': headerCtrl.permittedTabs.length > 3}" translate>{{tab.translation}}</div>
      </a>
    </div>
  </div>
</div>
