<div class="basic-filters left-pane">
  <mm-form-type-filter selected="reportsFiltersCtrl.selectedReports"></mm-form-type-filter>
  <mm-facility-filter selected="reportsFiltersCtrl.selectedReports"></mm-facility-filter>
  <mm-date-filter selected="reportsFiltersCtrl.selectedReports"></mm-date-filter>
  <mm-status-filter selected="reportsFiltersCtrl.selectedReports"></mm-status-filter>
  <mm-freetext-filter selected="reportsFiltersCtrl.selectedReports"></mm-freetext-filter>
  <mm-reset-filter selected="reportsFiltersCtrl.selectedReports"></mm-reset-filter>
</div>
