<div id="reports-list" class="col-sm-4 inbox-items left-pane">
  <div class="selection-count" ng-show="$ctrl.selectMode">
    <span ng-show="$ctrl.selectedReports.length === 1" translate>select.mode.count.singular</span>
    <span ng-show="$ctrl.selectedReports.length !== 1" translate translate-values="{ number: {{$ctrl.selectedReports.length || 0}} }">select.mode.count.plural</span>
  </div>
  <ul class="unfiltered" ng-show="(!$ctrl.loading || $ctrl.appending) && !$ctrl.filtered"></ul>
  <ul class="filtered" ng-show="(!$ctrl.loading || $ctrl.appending) && $ctrl.filtered"></ul>
  <p ng-show="$ctrl.error" class="alert alert-danger" role="alert">
    <span ng-show="$ctrl.errorSyntax">
      <span translate>invalid.query</span>
    </span>
    <span ng-hide="$ctrl.errorSyntax" translate>Error fetching reports</span>
  </p>
  <p class="loading-status" ng-show="!$ctrl.error && !$ctrl.loading && !$ctrl.hasReports" translate>reports.none</p>
  <p class="loading-status" ng-show="!$ctrl.loading && $ctrl.hasReports && !$ctrl.moreItems" translate>No more reports</p>
  <div class="loader" ng-show="$ctrl.loading"></div>
  <div class="padding"></div>
</div>
