<div class="sender" ng-class="{'small-font': sentBy}" ng-if="message">
  <div>
    <span ng-if="sentBy && (message.doc.name || message.contact.name || (!message.form && message.name) || message.from || message.sent_by || message.doc.from)"
      class="name"
      translate
      translate-values="{ senderName: '{{message.doc.name || message.contact.name || (!message.form && message.name) || message.from || message.sent_by || message.doc.from || ('messages.unknown.sender' | translate)}}'}">
      messages.sent.by
    </span>
    <span ng-if="!sentBy || !(message.doc.name || message.contact.name || (!message.form && message.name) || message.from || message.sent_by || message.doc.from)"
    class="name"
    ng-bind="message.doc.name || message.contact.name || (!message.form && message.name) || message.from || message.sent_by || ('messages.unknown.sender' | translate)"></span>
    <span class="phone"
    ng-hide="message.name && message.name === message.facility.contact.phone"
    ng-bind="message.doc.phone || message.contact.phone || message.phone"></span>
  </div>
  <div class="position small-font"
    ng-if="!hideLineage && (message.lineage || message.contact.parent || message.place || (!message.form && message.name))"
    ng-bind-html="message.lineage || message.contact.parent || message.place | lineage">
  </div>
</div>
