<div id="tasks-list" class="col-sm-4 inbox-items left-pane">
  <ul ng-show="!$ctrl.error && $ctrl.hasTasks"></ul>
  <p ng-show="$ctrl.error" class="alert alert-danger" role="alert">
    <span translate>Error fetching tasks</span>
    <a class="btn btn-link" ng-click="$ctrl.refreshTaskList()" translate>Reload</a>
  </p>
  <p class="loading-status" ng-show="!$ctrl.error && !$ctrl.loading && !$ctrl.hasTasks && !$ctrl.tasksDisabled" translate>No tasks found</p>
  <p class="loading-status" ng-show="!$ctrl.error && !$ctrl.loading && $ctrl.hasTasks && !$ctrl.tasksDisabled" translate>task.list.complete</p>
  <p class="loading-status" ng-show="$ctrl.tasksDisabled" translate>tasks.disabled</p>
  <div class="loader" ng-show="$ctrl.loading && !$ctrl.tasksDisabled && !$ctrl.error"></div>
</div>
