<div class="filters">
  <div class="inner">
    <div class="basic-filters left-pane">
      <mm-form-type-filter
        search="trainingsCtrl.search"
        selected="trainingsCtrl.selectedtrainings"
      ></mm-form-type-filter>
      <mm-facility-filter
        search="trainingsCtrl.search"
        selected="trainingsCtrl.selectedtrainings"
      ></mm-facility-filter>
      <mm-date-filter
        search="trainingsCtrl.search"
        selected="trainingsCtrl.selectedtrainings"
      ></mm-date-filter>
      <mm-status-filter
        search="trainingsCtrl.search"
        selected="trainingsCtrl.selectedtrainings"
      ></mm-status-filter>
      <mm-freetext-filter
        search="trainingsCtrl.search"
        selected="trainingsCtrl.selectedtrainings"
      ></mm-freetext-filter>
      <mm-reset-filter
        reset-filter-model="trainingsCtrl.resetFilterModel"
        selected="trainingsCtrl.selectedtrainings"
      ></mm-reset-filter>
    </div>
    <mm-navigation></mm-navigation>
  </div>
</div>

<div class="inner">
  <div class="inbox page">
    <mm-trainings-list
      appending="trainingsCtrl.appending"
      error="trainingsCtrl.error"
      error-syntax="trainingsCtrl.errorSyntax"
      filtered="trainingsCtrl.filtered"
      has-trainings="trainingsCtrl.hastrainings"
      loading="trainingsCtrl.loading"
      more-items="trainingsCtrl.moreItems"
    ></mm-trainings-list>
    <ui-view name="content"/>
  </div>
</div>
