<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#export-forms" role="tab" data-toggle="tab">Reports</a></li>
  <li><a href="#export-messages" role="tab" data-toggle="tab">Messages</a></li>
  <li><a href="#export-audit" role="tab" data-toggle="tab">Audit Logs</a></li>
  <li><a href="#export-feedback" role="tab" data-toggle="tab">User Feedback</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="export-forms">{>"loader.html"/}</div>
  <div class="tab-pane" id="export-messages"></div>
  <div class="tab-pane" id="export-audit"></div>
  <div class="tab-pane" id="export-feedback"></div>
</div>