<div class="row-fluid form-row">
  <h4 class="span11">
    {@translate value="User Feedback"/}
    <i class="fa fa-bug"></i>
  </h4>
  <div class="span1">
    <a href="#" class="btn btn-primary">
      <i class="fa fa-arrow-down"></i>
    </a>
  </div>
</div>
<div class="row-fluid form-row">
  <p class="span12">{@translate value="Showing number of total" number=rows total=total_rows/}</p>
</div>
{#feedback}
<div class="row-fluid form-row" data-record-id="{id}">
  <div class="span3 date">{time}</div>
  <div class="span9">{info}</div>
</div>
{/feedback}