{#forms}
  <div class="row-fluid form-row">
    <h4 class="span8">
      {title}
      <div class="label label-faded">{form}</div>
    </h4>
    <div class="span3"><label>{total} records</label></div>
    <div class="span1">
      <form class="form-inline" method="get">
        <button class="btn btn-primary" type="submit" data-url="{baseURL}/export/forms/{form}" data-query="{q}">
          <i class="fa fa-arrow-down"></i>
        </button>
      </form>
    </div>
  </div>
  {#districts}
    <div class="row-fluid district-form-row">
      <h5 class="span8">{dh_name}</h5>
      <div class="span3"><label>{total} records</label></div>
      <div class="span1">
        <form class="form-inline" method="get">
          <button class="btn btn-primary" type="submit" data-url="{baseURL}/export/forms/{form}" data-form="{form}" data-query="{q}">
            <i class="fa fa-arrow-down"></i>
          </button>
        </form>
      </div>
    </div>
  {/districts}
{/forms}
