{#messages}
  <div class="row-fluid form-row">
    <h4 class="span8">
      {@translate value="Messages"/}
      <i class="fa fa-envelope"></i>
    </h4>
    <div class="span3"><label></label></div>
    <div class="span1">
      <form class="form-inline" method="get">
        <button class="btn btn-primary" type="submit" data-url="{baseURL}" data-district-id="{dh_id}">
          <i class="fa fa-arrow-down"></i>
        </button>
      </form>
    </div>
  </div>
  {#districts}
    <div class="row-fluid district-form-row">
      <h5 class="span8">{#dh_name}{.}{:else}{@translate value="No district"/}{/dh_name}</h5>
      <div class="span3"><label></label></div>
      <div class="span1">
        <form class="form-inline" method="get">
          <button class="btn btn-primary" type="submit" data-url="{baseURL}" data-district-id="{dh_id}" data-district-name="{dh_name}">
            <i class="fa fa-arrow-down"></i>
          </button>
        </form>
      </div>
    </div>
  {/districts}
{/messages}
