<div>
  @if (!selected && !error) {
    <div class="item-content empty-selection">
      <div>{{'analytics.target.aggregates.no.target.selected' | translate}}</div>
    </div>
  }

  @if (error || selected?.error) {
    <div class="item-content empty-selection selection-error">
      <div>{{ (error?.translationKey || selected?.error?.translationKey || 'analytics.target.aggregates.select.error') | translate}}</div>
    </div>
  }

  @if (selected && !selected.error && !error) {
    <div>
      <div class="material">
        <div class="body meta">
          <div class="target-detail card" [ngClass]="{ 'has-goal': selected.goal >= 0, 'goal-met': (selected.value?.pass >= selected.goal) || (selected.value?.percent >= selected.goal) }">
            <div class="row heading">
              <div class="icon" [innerHTML]="selected.icon | resourceIcon"></div>
              <div class="heading-content">
                @if (selected.translation_key) {
                  <h2>{{ selected.translation_key | translate }}</h2>
                } @else {
                  <h2>{{ selected.title | translateFrom }}</h2>
                }
                <div class="aggregate-targets-details">
                  @if (selected?.facility) {
                    <span>{{ selected?.facility }}</span>
                  }
                </div>
              </div>
            </div>
            <div class="cell">
              @if (selected.hasGoal) {
                <label>{{'analytics.target.aggregates.supervisees.meeting.goal' | translate}}</label>
              } @else {
                <label>{{'analytics.target.aggregates.total' | translate}}</label>
              }
              <p>{{ selected.aggregateValue?.summary }}</p>
            </div>
          </div>
        </div>
        <div class="aggregate-detail card compact-card">
          <div class="action-header cell row">
            <div class="col-xs-6 col-md-4">
              <h3>{{'analytics.target.aggregates.reported' | translate}}</h3>
            </div>
            <div class="col-xs-6 col-md-8 text-right">
              @if (selected.subtitle_translation_key) {
                <h3>
                  {{ reportingPeriod }}
                </h3>
              }
            </div>
          </div>
          <ul>
            @for (item of selected.values; track item) {
              <li
                [attr.data-record-id]="item.contact?._id"
                class="content-row target"
                [ngClass]="{ 'has-goal': selected.hasGoal, 'goal-met': item.value?.goalMet || !selected.hasGoal}">
                <a [routerLink]="['/', 'contacts', item.contact?._id]">
                  <div class="col-xs-6 col-md-4">
                    <div class="content">
                      <div class="heading">
                        <h4>{{ item.contact?.name }}</h4>
                      </div>
                      @if (selected.progressBar) {
                        <div class="detail">
                          <mm-analytics-targets-details [target]="selected" [value]="item.value"></mm-analytics-targets-details>
                        </div>
                      }
                    </div>
                  </div>
                  <div class="col-xs-6 col-md-8 text-right">
                    @if (!selected.progressBar) {
                      <div class="detail" >
                        <mm-analytics-targets-details [target]="selected" [value]="item.value"></mm-analytics-targets-details>
                      </div>
                    } @else {
                      <mm-analytics-targets-progress [target]="selected" [value]="item.value" [aggregate]="true"></mm-analytics-targets-progress>
                    }
                  </div>
                </a>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
  }
</div>
