<section class="sidebar-filter">
  <div class="sidebar-backdrop" [ngClass]="{ hidden: !isOpen }" (click)="toggleSidebarFilter()"></div>

  <div class="sidebar-main" [ngClass]="{ hidden: !isOpen }">
    <div class="sidebar-header">
      <p class="sidebar-title">Filter</p>
      <a class="sidebar-close fa fa-times" (click)="toggleSidebarFilter()"></a>
    </div>

    <div class="sidebar-body">
      <mat-accordion multi>

      </mat-accordion>
    </div>

    <div class="sidebar-footer">
      <button type="button" class="btn btn-primary"
        (click)="toggleSidebarFilter()">Apply</button>
    </div>
  </div>
</section>

<ng-template #headerTemplate let-label="label" let-filters="filters">
  <p class="title">{{ label | translate }}</p>
</ng-template>
