@if (!enabled || loading) {
  <div class="page">
    @if (!loading) {
      <div class="item-content empty-selection disabled">
        <div>{{'analytics.target.aggregates.disabled' | translate}}</div>
      </div>
    } @else {
      <div class="item-content empty-selection">
        <div>
          <div class="loader"></div>
        </div>
      </div>
    }
  </div>
}

@if (enabled && !loading) {
  <div
    class="inbox page target-aggregates"
    [ngClass]="{'sidebar-open': !!sidebarFilter.isOpen, 'sidebar-closed': !sidebarFilter.isOpen}">
    <div
      id="target-aggregates-list"
      class="inbox-items left-pane"
      [ngClass]="{ 'col-sm-3': !!sidebarFilter.isOpen, 'col-sm-4': !sidebarFilter.isOpen }">
      <ul>
        @for (aggregate of aggregates; track aggregate) {
          <mm-content-row
            [id]="aggregate.id"
            [route]="['/', 'analytics', 'target-aggregates', aggregate.id]"
            [selected]="aggregate.selected" [icon]="aggregate.icon"
            [heading]="aggregate.heading"
            [lineage]="aggregate.filtersToDisplay?.length ? aggregate.filtersToDisplay : null"
            [aggregate]="aggregate.aggregateValue">
          </mm-content-row>
        }
      </ul>
      @if (error && !aggregates?.length) {
        <p
          class="alert alert-danger" role="alert">
          {{ 'analytics.target.aggregates.error' | translate }}
        </p>
      }
      @if (!error && !aggregates?.length) {
        <p
          class="loading-status"
          >
          {{ 'analytics.target.aggregates.no.targets' | translate }}
        </p>
      }
    </div>
    <div class="content-pane right-pane">
      <div class="item-content" [ngClass]="{ 'col-sm-6': !!sidebarFilter.isOpen, 'col-sm-8': !sidebarFilter.isOpen }">
        <router-outlet></router-outlet>
      </div>
      <mm-analytics-target-aggregates-sidebar-filter
        class="col-sm-3 sidebar-filter-wrapper" [userFacilities]="userFacilities"
        (facilitySelectionChanged)="getTargetAggregates($event, reportingPeriodFilter)"
        (reportingPeriodSelectionChanged)="getTargetAggregates(facilityFilter, $event)">
      </mm-analytics-target-aggregates-sidebar-filter>
    </div>
  </div>
}

