<div class="page reporting">
  @if (analyticsModules.length) {
    <ul class="mm-navigation-menu">
      @for (module of analyticsModules; track module) {
        <li>
          <a [routerLink]="module.route">
            <span>{{ module.label | translate }}</span>
          </a>
        </li>
      }
    </ul>
  }
  @if (loading) {
    <div class="loader"></div>
  }
  @if (!loading && !analyticsModules.length) {
    <div class="item-content empty-selection">
      <div>{{'analytics.unconfigured' | translate}}</div>
    </div>
  }
</div>
