<div class="container-fluid action-container">
  <div class="row">
    <div class="inner">

      <!-- LEFT PANE -->

      <div class="col-sm-4 general-actions left-pane" *ngIf="currentTab === 'reports' && selectMode">
        <div class="actions dropup">
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-all" (click)="selectAll()">
            <span class="fa fa-check-square-o"></span>
            <p translate>select.mode.select.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption deselect-all" (click)="deselectAll()">
            <span class="fa fa-square-o"></span>
            <p translate>select.mode.deselect.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption delete-all" mmAuth="can_bulk_delete_reports" (click)="bulkDelete(selectedReportsDocs)" [ngClass]="{'mm-icon-disabled': !selectedReportsDocs.length}">
            <span class="fa fa-trash-o"></span>
            <p translate>select.mode.delete.all</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-mode-stop" (click)="setSelect(false)">
            <span class="fa fa-times-circle"></span>
            <p translate>select.mode.stop</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4 general-actions left-pane" *ngIf="currentTab === 'reports' && !selectMode">
        <div class="actions dropup" dropdown [dropup]="true">
          <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" dropdownToggle dropdata-toggle="dropdown" [ngClass]="{'mm-icon-disabled': !nonContactForms?.length}">
            <span class="fa fa-plus"></span>
            <p translate>Submit Report</p>
          </a>
          <ng-container *ngIf="nonContactForms?.length">
            <ul class="dropdown-menu mm-dropdown-menu with-icon" *dropdownMenu>
              <li *ngFor="let form of nonContactForms; trackBy: trackByForms">
                <a [routerLink]="['/reports', 'add', form.code]">
                  <span [innerHTML]="form.icon | resourceIcon"></span>
                  <span class="content">{{ form.title }}</span>
                </a>
              </li>
            </ul>
          </ng-container>
          <a class="mm-icon mm-icon-inverse mm-icon-caption select-mode-start" mmAuth="can_bulk_delete_reports" (click)="setSelect(true)" [ngClass]="{'mm-icon-disabled': !actionBar?.left?.hasResults}">
            <span class="fa fa-check-circle"></span>
            <p translate>select.mode.start</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" *ngIf="isAdmin" (click)="actionBar?.left?.exportFn($event)" [ngClass]="{'mm-icon-disabled': !actionBar?.left?.hasResults}">
            <span class="fa fa-arrow-down"></span>
            <p translate>Export</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4 general-actions left-pane" *ngIf="currentTab === 'contacts'">
        <div class="actions dropup" mmAuth [mmAuthAny]="[ isAdmin, actionBar?.left?.childPlaces && 'can_create_places' ]">
          <a *ngIf="actionBar?.left?.childPlaces?.length > 1"
             mmAuth="can_create_places"
             class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle"
             data-toggle="dropdown"
          >
            <span class="fa fa-plus"></span>
            <p translate>Add place</p>
          </a>

          <ul *ngIf="actionBar?.left?.childPlaces?.length > 1"
              mmAuth="can_create_places"
              class="dropdown-menu mm-dropdown-menu with-icon"
          >
            <li *ngFor="let child of actionBar.left.childPlaces; trackBy: trackById">
              <a (click)="navigateToContactAdd(child.id, actionBar.left.userFacilityId, 'list')">
                <span [innerHTML]="child.icon | resourceIcon"></span>
                <span class="content" translate>{{ child.create_key }}</span>
              </a>
            </li>
          </ul>

          <a *ngIf="actionBar?.left?.childPlaces?.length === 1"
             mmAuth="can_create_places"
             class="mm-icon mm-icon-inverse mm-icon-caption"
             (click)="navigateToContactAdd(actionBar.left.childPlaces[0]?.id, actionBar.left.userFacilityId, 'list')"
          >
            <span class="fa-stack">
              <i [innerHTML]="actionBar.left.childPlaces[0].icon | resourceIcon"></i>
              <i class="fa fa-plus fa-stack-1x"></i>
            </span>
            <p translate>{{ actionBar.left.childPlaces[0].create_key }}</p>
          </a>

          <a *ngIf="isAdmin"
             class="mm-icon mm-icon-inverse mm-icon-caption"
             (click)="actionBar?.left?.exportFn()"
             [ngClass]="{ 'mm-icon-disabled': !actionBar.left.hasResults }"
          >
            <span class="fa fa-arrow-down"></span>
            <p translate>Export</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4 general-actions left-pane" *ngIf="currentTab === 'messages'">
        <div class="actions dropup">
          <a class="mm-icon mm-icon-inverse mm-icon-caption send-message" (click)="actionBar?.left?.openSendMessageModal($event)">
            <span class="fa fa-plus"></span>
            <p translate>Send Message</p>
          </a>
          <a class="mm-icon mm-icon-inverse mm-icon-caption" *ngIf="isAdmin" (click)="actionBar?.left?.exportFn()" [ngClass]="{'mm-icon-disabled': !actionBar?.left?.hasResults}">
            <span class="fa fa-arrow-down"></span>
            <p translate>Export</p>
          </a>
        </div>
      </div>

      <!-- RIGHT PANE -->

      <div class="col-sm-8 detail-actions right-pane" *ngIf="currentTab === 'reports'">
        <div *ngIf="selectMode">
          <div class="actions dropup" *ngIf="showActionBar && selectedReportsDocs?.length && (!loadingContent) && snapshotData?.name === 'reports.detail'">
            <a class="mm-icon mm-icon-inverse mm-icon-caption delete-all" mmAuth="can_bulk_delete_reports" (click)="bulkDelete(selectedReportsDocs)">
              <span class="fa fa-trash-o"></span>
              <p translate>select.mode.delete.all</p>
            </a>
          </div>
        </div>

        <div *ngIf="!selectMode">
          <div class="actions dropup" *ngIf="showActionBar && selectedReportsDocs && !loadingContent && snapshotData?.name === 'reports.detail'">
            <a class="mm-icon mm-icon-inverse mm-icon-caption mobile-only" [attr.href]="'sms:' + actionBar?.right?.sendTo?.phone | safeHtml:'url'" [ngClass]="{'mm-icon-disabled': !actionBar?.right?.sendTo?.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption send-message desktop-only" (click)="actionBar?.right?.sendTo?.phone && actionBar?.right?.openSendMessageModal(actionBar?.right?.sendTo?._id)" [ngClass]="{'mm-icon-disabled': !actionBar?.right?.sendTo?.phone}">
              <span class="fa fa-envelope"></span>
              <p translate>Send Message</p>
            </a>
            <div class="dropdown-menu sub-actions" *ngIf="actionBar?.right?.verifyingReport && loadingSubActionBar">
              <div class="loader"></div>
            </div>
            <div class="dropdown-menu sub-actions" mmAuth [mmAuthAny]="[['can_verify_reports', 'can_edit_verification'], selectedReportsDocs[0]?.verified === undefined && 'can_verify_reports']" *ngIf="actionBar?.right?.verifyingReport && !loadingSubActionBar">
              <a class="mm-icon mm-icon-caption verify-error" [ngClass]="{ active: actionBar?.right?.verified === false }" (click)="verifyReport(false)">
                <report-verify-invalid-icon class="verify-icon"></report-verify-invalid-icon>
                <span translate>reports.verify.invalid</span>
              </a>
              <a class="mm-icon mm-icon-caption verify-valid" [ngClass]="{ active: actionBar?.right?.verified }" (click)="verifyReport(true)">
                <report-verify-valid-icon class="verify-icon"></report-verify-valid-icon>
                <span translate>reports.verify.valid</span>
              </a>
            </div>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" [ngClass]="{ active: actionBar?.right?.verifyingReport }" mmAuth [mmAuthAny]="[['can_verify_reports', 'can_edit_verification'], selectedReportsDocs[0]?.verified === undefined && 'can_verify_reports']" (click)="toggleVerifyingReport()">
              <span class="fa fa-check"></span>
              <p translate>reports.verify</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" *ngIf="actionBar?.right?.type === 'xml'" mmAuth="can_update_reports" [routerLink]="['/reports', 'edit', selectedReportsDocs[0]?._id]">
              <span class="fa fa-pencil"></span>
              <p translate>Edit</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" *ngIf="actionBar?.right?.type !== 'xml'" (click)="launchEditFacilityDialog()">
              <span class="fa fa-pencil"></span>
              <p translate>Update Facility</p>
            </a>
            <a class="mm-icon mm-icon-inverse mm-icon-caption" (click)="deleteDoc(selectedReportsDocs[0])" mmAuth="can_delete_reports">
              <span class="fa fa-trash-o"></span>
              <p translate>Delete</p>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-8 detail-actions right-pane" *ngIf="currentTab === 'contacts'">
        <div class="actions dropup" *ngIf="showActionBar && selectedContactDoc && !loadingContent && snapshotData?.name === 'contacts.detail'">
          <span>
            <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" data-toggle="dropdown" [ngClass]="{'mm-icon-disabled': (!actionBar?.right?.relevantForms || !actionBar?.right?.relevantForms?.length)}">
              <span class="fa fa-plus"></span>
              <p translate>action.report.add</p>
            </a>
            <ul id="relevant-contacts-form" class="dropdown-menu mm-dropdown-menu with-icon" *ngIf="actionBar?.right?.relevantForms && actionBar?.right?.relevantForms?.length">
              <li *ngFor="let form of actionBar.right.relevantForms; trackBy: trackByForms" [attr.id]="form.id">
                <a (click)="actionBar.right.openContactMutedModal($event, form)">
                  <span [innerHTML]="form.icon | resourceIcon"></span>
                  <span class="content">{{ form.title }}</span>
                </a>
              </li>
            </ul>
          </span>

          <span *ngFor="let group of actionBar?.right?.childTypes" mmAuth="{{ group.permission }}">
            <ng-container *ngIf="group.types?.length > 1">
              <a class="mm-icon mm-icon-inverse mm-icon-caption dropdown-toggle" data-toggle="dropdown">
                <span class="fa-stack">
                  <i class="fa {{ group.menu_icon }}"></i>
                  <i class="fa fa-plus fa-stack-1x"></i>
                </span>
                <p translate>{{ group.menu_key }}</p>
              </a>
              <ul class="dropdown-menu mm-dropdown-menu with-icon">
                <li *ngFor="let type of group.types; trackBy: trackById">
                  <a (click)="navigateToContactAdd(type.id, selectedContactDoc._id)">
                    <span [innerHTML]="type.icon | resourceIcon"></span>
                    <span class="content" translate>{{ type.create_key }}</span>
                  </a>
                </li>
              </ul>
            </ng-container>

            <a *ngIf="group.types?.length === 1"
               class="mm-icon mm-icon-inverse mm-icon-caption"
               (click)="navigateToContactAdd(group.types[0]?.id, selectedContactDoc._id)"
            >
              <span class="fa-stack">
                <i [innerHTML]="group.types[0]?.icon | resourceIcon"></i>
                <i class="fa fa-plus fa-stack-1x"></i>
              </span>
              <p translate>{{ group.types[0]?.create_key }}</p>
            </a>
          </span>

          <a *ngIf="actionBar?.right?.sendTo"
             mmAuth="can_view_call_action"
             class="mm-icon mm-icon-inverse mm-icon-caption mobile-only"
             [attr.href]="'tel:' + actionBar?.right?.sendTo?.phone | safeHtml:'url'"
             [ngClass]="{ 'mm-icon-disabled': !actionBar?.right?.sendTo?.phone }"
          >
            <span class="fa fa-phone"></span>
            <p translate>call</p>
          </a>
          <a *ngIf="actionBar?.right?.sendTo"
            mmAuth="can_view_message_action"
            class="mm-icon mm-icon-inverse mm-icon-caption mobile-only"
             [attr.href]="'sms:' + actionBar?.right?.sendTo?.phone | safeHtml:'url'"
            [ngClass]="{ 'mm-icon-disabled': !actionBar?.right?.sendTo?.phone }"
          >
            <span class="fa fa-envelope"></span>
            <p translate>Send Message</p>
          </a>
          <a *ngIf="actionBar?.right?.sendTo"
            mmAuth="can_view_message_action"
            class="mm-icon mm-icon-inverse mm-icon-caption send-message desktop-only"
            [attr.data-send-to]="actionBar?.right?.sendTo?._id"
            [ngClass]="{ 'mm-icon-disabled': !actionBar?.right?.sendTo?.phone }"
            (click)="actionBar?.right?.sendTo?.phone && actionBar?.right?.openSendMessageModal(actionBar?.right?.sendTo?._id)"
          >
            <span class="fa fa-envelope"></span>
            <p translate>Send Message</p>
          </a>

          <a class="mm-icon mm-icon-inverse mm-icon-caption"
             (click)="navigateToContactEdit(selectedContactDoc)"
             [ngClass]="{'mm-icon-disabled': !actionBar?.right?.canEdit}"
          >
            <span class="fa fa-pencil"></span>
            <p translate>Edit</p>
          </a>

          <a mmAuth="can_delete_contacts"
            class="mm-icon mm-icon-inverse mm-icon-caption"
            (click)="deleteDoc(selectedContactDoc.doc)"
            [ngClass]="{ 'mm-icon-disabled': !actionBar?.right?.canDelete }"
          >
            <span class="fa fa-trash-o"></span>
            <p translate>Delete</p>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
