body {
  display: flex;
  margin: 20px;
}
.content {
  width: 100%;
}
.navigation {
  width: 200px;
}
.tab-content {
  margin-top: 20px;
}
.form-control {
  padding-top: 5px;
  padding-bottom: 5px;

  &.medium {
    max-width: 400px;
  }
  &.small {
    max-width: 180px;
  }
  &.tiny {
    max-width: 80px;
  }
  &.inline {
    display: inline-block;
  }
}
