.body,
.header {
  padding: 20px;
}
.body {
  display: flex;
}
.header {
  color: #FFFFFF;
  background-color: #323232;
}
.content {
  width: 100%;
}
.navigation {
  width: 200px;
  font-size: 16px;
  a {
    display: inline-block;
    padding: 10px 10px 10px 0;
    width: 100%;
    outline: 0;
  }
}
.tab-content {
  margin-top: 20px;
}
.form-control {
  padding-top: 5px;
  padding-bottom: 5px;

  &.medium {
    max-width: 400px;
  }
  &.small {
    max-width: 180px;
  }
  &.tiny {
    max-width: 80px;
  }
  &.inline {
    display: inline-block;
  }
}
ul {
  list-style-type: none;
  padding: 0;
}
.form-group.required label::after {
  content: '*';
  margin-left: 5px;
}
