<mm-modal
  id="tour-select"
  [titleKey]="'tour.select'"
  (onCancel)="close()"
>
  <div role="document" class="tour-select">
    <div class="modal-body">
      <p>{{'tour.select.description' | translate}}</p>
      <a *ngFor="let tour of tours; trackBy: listTrackBy" class="btn tour-option" (click)="start(tour.id)" [ngClass]="'tour-option-' + tour.id">
        <div class="fa" [ngClass]="tour.icon"></div>
        <div class="button-label">{{tour.name | translate}}</div>
      </a>
    </div>
  </div>
</mm-modal>
