<mm-modal
  id="'tour-select'"
  [titleKey]="'tour.select'"
  (onCancel)="close()"
>
  <div role="document" class="tour-select" [class.hide-mobile-tab-labels]="minimalTabs">
    <div class="modal-body">
      <p translate>tour.select.description</p>
      <a *ngFor="let tour of tours; trackBy: listTrackBy" class="btn tour-option" (click)="start(tour.id)" [ngClass]="'tour-option-' + tour.id">
        <div class="fa" [ngClass]="tour.icon"></div>
        <div class="button-label" translate>{{tour.name}}</div>
      </a>
    </div>
  </div>
</mm-modal>
