<div role="document" ng-attr="id">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-click="onCancel()">&times;</button>
    <h3 translate>{{titleKey}}</h3>
  </div>
  <div class="modal-body" ng-transclude></div>
  <div class="modal-footer">
    <p class="note" ng-show="error" translate>{{error}}</p>
    <a class="btn cancel" ng-click="onCancel()" translate>{{cancelKey || 'Cancel'}}</a>
    <a class="btn submit" ng-class="{ disabled: processing, 'btn-primary': !danger, 'btn-danger': danger }" ng-click="onSubmit()" >
      <span ng-show="!processing || !submittingKey" translate>{{submitKey}}</span>
      <span ng-show="processing && submittingKey" translate>{{submittingKey}}</span>
    </a>
  </div>
</div>
