<div class="sender" ng-if="message">
  <div>
    <span class="name"
    ng-bind="message.doc.name || message.contact.name || message.contact || (!message.form && message.name) || message.from || message.sent_by"></span>
    <span class="phone"
    ng-hide="message.name && message.name === message.facility.contact.phone"
    ng-bind="message.doc.phone || message.contact.phone || message.phone"></span>
  </div>
  <div class="position"
    ng-if="message.lineage || message.contact.parent || message.place || (!message.form && message.name)"
    ng-bind-html="message.lineage || message.contact.parent || message.place || (!message.form && message.name) | clinic">
  </div>
</div>
