
<div class="toggle">
  <h4 class="toggle-head">
    Action
    <i class="icon-chevron-down"></i>
    <i class="icon-chevron-up"></i>
  </h4>
  <p class="toggle-body inline-form control-group silence">
    A valid form will silence message groups for
    {#silence}
    <input type="number" name="silence-value" class="input-mini" value="{value}" min="0"/>
    <select name="silence-unit">
      <option value="days" {@eq key="unit" value="days"}selected="true"{/eq}>days</option>
      <option value="weeks" {@eq key="unit" value="weeks"}selected="true"{/eq}>weeks</option>
      <option value="months" {@eq key="unit" value="months"}selected="true"{/eq}>months</option>
      <option value="years" {@eq key="unit" value="years"}selected="true"{/eq}>years</option>
    </select>
    {/silence}
  <p>
</div>

{>"workflow/validations.html"/}

<div class="toggle">
  <h4 class="toggle-head">
    Responses
    <i class="icon-chevron-down"></i>
    <i class="icon-chevron-up"></i>
  </h4>
  <div class="toggle-body responses">
    {#responses}
      <div class="response">
        <p>
          {@eq key="event_type" value="report_accepted"}
            If all the validations pass and the report is accepted
          {/eq}
          {@eq key="event_type" value="registration_not_found"}
            If the validations pass but the patient ID is not located
          {/eq}
          this message will be sent to the sender
        </p>
        <input type="hidden" name="event_type" value="{event_type}"/>
        <textarea name="message" class="input-xxlarge translated" data-message="{message}" data-messages="{messages}">{message}</textarea>
      </div>
    {/responses}
  </div>
</div>
