<form id="workflow-incoming">

  {>"partials/locale.html"/}

  <fieldset id="workflow-registrations">

    <legend>{@translate value="Registrations"/}</legend>
    {#registrations}
      <div class="registration" data-form="{form}">
        <div class="registration-help">
        {#help}
          {help|s}
        {:else}
          <p>
            {@translate value="Registration format"/}
            <span class="pre">{form} &lt;patientname&gt;</span>
          </p>

          <p>
            {@translate value="Registration example" name="Maria Soleil"/}
            <span class="pre">{form} Maria Soleil</span>
          </p>
        {/help}
        </div>

        {>"workflow/validations.html"/}

        <div class="toggle responses">
          <h4 class="toggle-head">
            {@translate value="responses"/}
            <i class="fa fa-chevron-down"></i>
            <i class="fa fa-chevron-up"></i>
          </h4>
          <div class="toggle-body">
            <p>{@translate value="Validation message"/}</p>
            <textarea name="content" class="input-xxlarge translated" data-message="{message}" data-messages="{messages}">{message}</textarea>
            <a href="{baseURL}/#/help/messages" target="_blank" class="help" rel="external"><i class="fa fa-question-circle"></i></a>
          </div>
        </div>
      </div>
    {:else}
      <p>{@translate value="No registrations found"/}<p>
    {/registrations}
  </fieldset>

  <div class="reports">
  {#reports}
    <fieldset class="report" data-form="{form}">
      <legend>{name}</legend>
      {#format}
      <p>{@translate value="Report format"/} <span class="pre">{.}</span></p>
      {/format}
      {>"workflow/form.html"/}
    </fieldset>
  {:else}
    <p>{@translate value="No forms found"/}</p>
  {/reports}
  </div>

  <div class="footer">
    <button type="button" class="btn submit btn-primary">{@translate value="Submit"/}</button>
    <span class="status"></span>
  </div>

</form>
