<form id="workflow-incoming">

  {>"partials/locale.html"/}

  <fieldset id="workflow-registrations">

    <legend>Registrations</legend>
    {#registrations}
      <div class="registration" data-form="{form}">
        <p>
          Register for this message workflow by sending an SMS with the following format: 
          <span class="pre">{form} &lt;patientname&gt;</span>
        </p>

        <p>
          For example, to register "Maria Soleil" you would send:
          <span class="pre">{form} Maria Soleil</span>
        </p>
        {>"workflow/validations.html"/}

        <div class="toggle responses">
          <h4 class="toggle-head">
            Responses
            <i class="icon-chevron-down"></i>
            <i class="icon-chevron-up"></i>
          </h4>
          <div class="toggle-body">
            <p>If all the validations pass, this message will be sent to the sender:</p>
            <textarea name="content" class="input-xxlarge translated" data-message="{message}" data-messages="{messages}">{message}</textarea>
          </div>
        </div>
      </div>
    {:else}
      <p>No registrations found for this schedule. This indicates a problem with the configuration.<p>
    {/registrations}
  </fieldset>

  <div class="reports">
  {#reports}
    <fieldset class="report" data-form="{form}">
      <legend>{name}</legend>
      {#format}
      <p>Recorded by sending an SMS in the format <span class="pre">{.}</span>.</p>
      {/format}
      {>"workflow/form.html"/}
    </fieldset>
  {:else}
    <p>No forms found for this schedule.</p>
  {/reports}
  </div>

  <div class="footer">
    <button type="button" class="btn submit btn-primary">Save</button>
    <span class="status"></span>
  </div>

</form>