
<form id="workflow-outgoing">

  {>"partials/locale.html"/}

  <fieldset>
  {#schedule}
    <legend>{@translate value="Schedule"/}</legend>

    <label>{@translate value="Start messages based on"/}</label>
    <select name="start_from">
    {#fields}
      <option value="{field_name}" {@if cond="'{start_from}' === '{field_name}'"}selected="true"{/if}>{field_name}</option>
    {/fields}
    </select>

    <h4>{@translate value="Messages"/}</h4>
    <div class="repeat-container">
      {#messages}
        <div class="repeat-{@if cond="{template}"}template{:else}element{/if} message">
          <p class="inline-form control-group message-description">
            {#message}
            <select name="send_day">
              <option value="">{@translate value="Exactly"/}</option>
              {#weekdays}
              <option value="{code}" {@eq key="send_day" value=code}selected="true"{/eq}>
                {@translate value="On the day" day=label/}
              </option>
              {/weekdays}
            </select>
            {/message}
            {#offset}
            <input name="offset_value" type="number" class="input-mini" value="{value}" min="0"/>
            <select name="offset_unit">
              {#timeunits}
              <option value="{.}" {@eq key="unit" value=.}selected="true"{/eq}>
                {@translate value=./}
              </option>
              {/timeunits}
            </select>
            {/offset}
            {@translate value="after the"/}
            <span class="date-property-name">
              {@eq key="start_from" value="reported_date"}{@translate value="registration date"/}{/eq}
              {@eq key="start_from" value="lmp_date"}{@translate value="LMP date"/}{/eq}
            </span>
            {@translate value="send the following message to the"/}
            {#message}
            <select name="recipient">
              <option value="reporting_unit" {@eq key="recipient" value="reporting_unit"}selected="true"{/eq}>
                {@translate value="registrant"/}
              </option>
              <option value="parent" {@eq key="recipient" value="parent"}selected="true"{/eq}>
                {@translate value="registrants supervisor"/}
              </option>
            </select>
            {/message}
          </p>
          
          <textarea name="message" class="input-xxlarge translated" data-message="{content}" data-messages="{contents}">{content}</textarea>
          <a href="{baseURL}/#/help/messages" target="_blank" class="help" rel="external"><i class="fa fa-question-circle"></i></a>

          <div class="toggle">
            <h5 class="toggle-head">
              {@translate value="Advanced"/}
              <i class="fa fa-chevron-down"></i>
              <i class="fa fa-chevron-up"></i>
            </h5>
            <div class="toggle-body">
              <p class="inline-form group control-group">
                {@translate value="This message is part of group"/}
                <input name="group" type="number" class="input-mini" value="{message.group}" min="0"/>
                <span class="send_time" 
                    {@if cond="['', 'hours', 'minutes'].indexOf('{offset.unit}') != -1"}style="display:none"{/if}>
                  {@translate value="and should be sent at"/}
                  {#sendTime}{>"partials/time.html"/}{/sendTime}
                </span>
              </p>
            </div>
          </div>

          <p>
            <a href="#" class="btn btn-small remove"><i class="fa fa-trash-o"></i> {@translate value="Delete"/}</a>
          </p>
        </div>
      {/messages}
      <p>
        <a href="#" class="add btn"><i class="fa fa-plus"></i> {@translate value="Add Message"/}</a>
      </p>
    </div>
    <p>
      <a href="#" class="btn btn-small remove"><i class="fa fa-trash-o"></i> {@translate value="Delete"/}</a>
    </p>
  {/schedule}
  </fieldset>

  <div class="footer">
    <button type="button" class="btn submit btn-primary">{@translate value="Submit"/}</button>
    <span class="status"></span>
  </div>
</form>