<div class="toggle">
  <h4 class="toggle-head">
    {@translate value="Validations"/}
    <i class="fa fa-chevron-down"></i>
    <i class="fa fa-chevron-up"></i>
  </h4>
  <div class="repeat-container toggle-body">
    {#responses}
      {@eq key="event_type" value="registration_not_found"}
        <div class="response">
          <p>{@translate value="patient id not found response"/}</p>
          <input type="hidden" name="event_type" value="registration_not_found"/>
          <textarea name="message" class="input-xxlarge translated" data-message="{message}" data-messages="{messages}">{message}</textarea>
          <a href="{baseURL}/#/help/messages" target="_blank" class="help" rel="external"><i class="fa fa-question-circle"></i></a>
        </div>
      {/eq}
    {/responses}
    {#validations}
    <div class="repeat-{@if cond="{template}"}template{:else}element{/if}">
      <p class="inline-form">
        {@translate value="failed validation response message"/}
        <select name="property">
        {#fields}
          <option value="{field_name}" {@if cond="'{property}' === '{field_name}'"}selected="true"{/if}>{field_name}</option>
        {/fields}
        </select>
        {@translate value="field does not pass this validation"/}
        <input type="text" name="rule" value="{rule}"/>
        <a href="{baseURL}/#/help/validation" target="_blank" class="help" rel="external"><i class="fa fa-question-circle"></i></a>
      </p>
      <textarea name="content" class="input-xxlarge translated" data-message="{message}" data-messages="{messages}">{message}</textarea>
      <a href="{baseURL}/#/help/messages" target="_blank" class="help" rel="external"><i class="fa fa-question-circle"></i></a>
      <p>
        <a href="#" class="btn btn-small remove"><i class="fa fa-trash-o"></i> {@translate value="Delete"/}</a>
      </p>
    </div>
    {/validations}

    <p>
      <a href="#" class="btn add"><i class="fa fa-plus"></i> {@translate value="Add Validation"/}</a>
    </p>
  </div>
</div>