<div class="toggle">
  <h4 class="toggle-head">
    Validations
    <i class="icon-chevron-down"></i>
    <i class="icon-chevron-up"></i>
  </h4>
  <div class="repeat-container toggle-body">
    {#validations}
    <div class="repeat-{@if cond="{template}"}template{:else}element{/if}">
      <p class="inline-form">
        Send the following response message if the 
        <select name="property">
          <option value="patient_name" {@eq key="property" value="patient_name"}selected="true"{/eq}>patient name</option>
          <option value="patient_phone" {@eq key="property" value="patient_phone"}selected="true"{/eq}>patient phone</option>
        </select>
        field does not pass this validation
        <input type="text" name="rule" value="{rule}"/>
        <a href="{baseURL}/help/validation" target="_blank" class="help"><i class="icon-question-sign"></i></a>
      </p>
      <textarea name="content" class="input-xxlarge translated" data-message="{message}" data-messages="{messages}">{message}</textarea>
      <p>
        <a href="#" class="btn btn-small remove"><i class="icon-trash"></i> Remove</a>
      </p>
    </div>
    {/validations}

    <p>
      <a href="#" class="btn add"><i class="icon-plus"></i> Add validation</a>
    </p>
  </div>
</div>