<form id="workflow-incoming">

  {>"partials/locale.html"/}

  <fieldset id="workflow-registrations">

    <legend>Registrations</legend>
    {#registration}
      <p>
        Register for this message workflow by sending an SMS with the following format: 
        <span class="pre">R Patient Name</span>
      </p>

      <p>
        For example, to register "Maria Soleil" you would send:
        <span class="pre">R Maria Soleil</span>
      </p>

      {>"workflow/workflow_validations.html"/}

      <div class="toggle responses">
        <h4 class="toggle-head">
          Responses
          <i class="icon-chevron-down"></i>
          <i class="icon-chevron-up"></i>
        </h4>
        <div class="toggle-body">
          <p>If all the validations pass, this message will be sent to the sender:</p>
          <textarea name="content" class="input-xxlarge">{message}</textarea>
          <input name="messages" type="hidden" value="{messages}" />
        </div>
      </div>
    {/registration}
  </fieldset>

  <fieldset id="workflow-visits">
    <legend>Visits</legend>
    <p>Visits are recorded by sending an SMS in the format <span class="pre">V 12345</span>, replacing 12345 with the Patient's ID.</p>
    {#visit}
      {>"workflow/workflow_form.html"/}
    {/visit}
  </fieldset>

  <fieldset id="workflow-deliveries">
    <legend>Deliveries</legend>
    <p>Deliveries are registered by sending an SMS in the format <span class="pre">D 12345 &lt;facility&gt;</span>, replacing 12345 with the Patient's ID.</p>
    {#delivery}
      {>"workflow/workflow_form.html"/}
    {/delivery}
  </fieldset>

  <div class="footer">
    <button type="button" class="btn submit btn-primary">Save</button>
    <span class="status"></span>
  </div>

</form>