<div class="tabbable">

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#overview" data-toggle="tab">Overview</a>
    </li>
    <li>
      <a href="#incoming" data-toggle="tab">Incoming Reports</a>
    </li>
    <li>
      <a href="#outgoing" data-toggle="tab">Outgoing Messages</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="overview">
      {overview|s}
    </div>
    <div class="tab-pane" id="incoming">
      {incoming|s}
    </div>
    <div class="tab-pane" id="outgoing">
      {outgoing|s}
    </div>
  </div>

</div>