<div id="message-list" class="col-sm-4 inbox-items left-pane">
  <ul ng-show="!messagesListCtrl.loading">
    <li ng-repeat="conversation in messagesListCtrl.conversations | orderBy:'-date'" data-record-id="{{conversation.key}}" data-record-type="{{conversation.type}}" class="content-row" ng-class="{ 'selected': conversation.key === messagesListCtrl.loadingContent || !messagesListCtrl.loadingContent && conversation.key === messagesListCtrl.selectedConversation.id, 'unread': !conversation.read }">
      <a href="#messages/{{conversation.type}}:{{conversation.key}}">
        <div class="content">
          <div class="heading">
            <h4>{{conversation.contact || conversation.from || ("messages.unknown.sender" | translate)}}</h4>
            <div class="date">
              <span ng-bind-html="conversation.date | relativeDate"></span>
            </div>
          </div>
          <div class="summary">
            <p>{{conversation.message}}</p>
          </div>
          <div class="detail" ng-bind-html="conversation.lineage | lineage"></div>
        </div>
      </a>
    </li>
  </ul>
  <p ng-show="messagesListCtrl.error" class="alert alert-danger" role="alert" translate>Error fetching messages</p>
  <p class="loading-status" ng-show="!messagesListCtrl.error && !messagesListCtrl.loading && !messagesListCtrl.messages.length" translate>No messages found</p>
  <p class="loading-status" ng-show="!messagesListCtrl.error && !messagesListCtrl.loading && messagesListCtrl.messages.length" translate>message.list.complete</p>
  <div class="loader" ng-show="messagesListCtrl.loading"></div>
  <div class="padding"></div>
</div>
