<span id="dateRangeDropdown" class="filter dropdown mm-dropdown" ng-class="{ 'disabled': dateFilterCtrl.selectMode && dateFilterCtrl.selected.length }">
  <span id="date-filter" class="mm-button disabled">
    <span class="mm-button-icon">
      <span class="fa fa-calendar"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
    <span class="mm-button-text" ng-show="dateFilterCtrl.filters.date.from && dateFilterCtrl.filters.date.to">
      {{dateFilterCtrl.filters.date.from | date : 'd MMM'}} - {{dateFilterCtrl.filters.date.to | date : 'd MMM'}}
    </span>
    <span class="mm-button-text" ng-show="!dateFilterCtrl.filters.date.from || !dateFilterCtrl.filters.date.to">
      {{'Any date' | translate}}
    </span>
  </span>
</span>
