<span id="statusDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="Any status" ng-class="{ 'disabled': statusFilterCtrl.selectMode && statusFilterCtrl.selected.length }">
  <span id="status" class="mm-button" data-toggle="dropdown">
    <span class="mm-button-icon">
      <span class="fa fa-circle-o"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
    <span class="mm-button-text"></span>
  </span>
  <span role="menu" aria-labelledby="status" class="dropdown-menu mm-dropdown-menu">
    <ul>
      <li role="presentation" class="dropdown-header" translate>status.review.title</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="unverified" translate>status.review.unverified</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="verifiedErrors" translate>status.review.errors</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="verified" translate>status.review.correct</a>
      </li>
      <li role="presentation" class="dropdown-header" translate>status.sms.title</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="valid" translate>status.sms.valid</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="invalid" translate>status.sms.invalid</a>
      </li>
    </ul>
  </span>
</span>
