/**
 * Some of the widths set up in the enketo.css file assume the form is being
 * viewed full-screen.  These overrides are required when enketo is embedded in
 * a modal dialog.
 */
.enketo {
  @import "../../build/enketo.less";
}

.enketo {
  background-color: #FFFFFF;
  padding-bottom: 2em;
  h2, h3, h4 {
    text-align: left;
  }
  .or h2, .or h3, .or h4 {
    padding: 0 15px;
  }
  .form-footer {
    margin: 0;
    margin-bottom: 1em;
    padding: 0 15px;
    .previous-page {
      float: left;
    }
    .next-page, .submit, .loader {
      float: right;
    }
  }
  label, .question, .note {
    padding-left: 15px;
    padding-right: 15px;
  }
  .note {
    border: 0;
  }
  .container {
    padding: 0;
  }
  .container, .form-footer {
    width: 100%;
  }
  .or-appearance-hidden {
    display: none !important;
  }
  .question,
  .note {
    input[type="text"],
    input[type="password"],
    input[type="url"],
    input[type="email"],
    input[type="file"],
    textarea {
      width: 100%;
    }
  }
  .question {
    .required {
      float: left;
      position: relative;
      left: -10px;
      margin-right: -10px;
      top: 0;
    }
    .geopicker input {
      width: 80%;
    }
    input[type="tel"] {
      /* inherit all standard TEXT input styles */
      &:extend(.enketo .question input[type="text"]);
    }
  }
  input[type="tel"] {
    /* inherit all standard TEXT input styles */
    &:extend(.enketo input[type="text"]);
  }
  .invalid-constraint, .invalid-required {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
  }
  .or-required-msg.active, .or-constraint-msg.active {
    padding-top: 0;
  }

  .horizontal-options a.icon {
    width: inherit;
  }
  em {
    font-style: italic;
  }
  .or-appearance-countdown-timer canvas {
    width: 100%;
    max-width: 320px;
    display: block;
  }
  .or-hint.active {
    font-size: 13px;
  }
  .option-wrapper > label:not(.filler) {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
  }
  button[disabled] {
    .icon-plus, .icon-minus {
      opacity: 0.2;
    }
  }

  .or-appearance-summary {
    @red: #e00900;
    @green: #75b2b2;
    @blue: #6b9acd;
    @yellow: #e2b100;

    .or-appearance-center {
      text-align: center;
    }

    label {
      margin: 0 1em;
      .question-label {
        display: block;
      }
    }

    .or-appearance-h1:not(.disabled) {
      padding: 0.5em;
      margin-top: 0;
      text-align: center;
      font-size: 1.25em;
      font-family: 'OpenSans', Arial, sans-serif;
      font-weight: bold;
      &:nth-child(1) {
        margin-top: 10px;
      }
      &.or-appearance-red {
        background-color: @red;
        color: #fff;
      }
      &.or-appearance-green {
        background-color: @green;
        color: #fff;
      }
      &.or-appearance-blue {
        background-color: @blue;
        color: #fff;
      }
      &.or-appearance-yellow {
        background-color: @yellow;
        color: #fff;
      }
      i.fa {
        font-size: 1.25em;
        position: absolute;
        left: 1.5em;
      }
    }
    .or-appearance-h2 {
      padding: 0.5em 0 0.45em;
      margin: 0 1em;
      text-align: center;
      font-size: 1.5em;
      font-weigth: bold;
      display: block;

      &.or-appearance-red {
        border-bottom: 0.15em solid @red;
        color: @red;
      }
      &.or-appearance-green {
        border-bottom: 0.15em solid @green;
        color: @green;
      }
      &.or-appearance-blue {
        border-bottom: 0.15em solid @blue;
        color: @blue;
      }
      &.or-appearance-yellow {
        border-bottom: 0.15em solid @yellow;
        color: @yellow;
      }
    }
    .or-appearance-h3 {
      padding: 0.5em 0 0.45em;
      margin: 0 1em;
      text-align: center;
      font-size: 1.5em;
      font-weigth: bold;
      display: block;

      &.or-appearance-red {
        color: @red;
      }
      &.or-appearance-green {
        color: @green;
      }
      &.or-appearance-blue {
        color: @blue;
      }
      &.or-appearance-yellow {
        color: @yellow;
      }
    }
    .or-appearance-h4 {
      border-bottom:0.1em solid #ccc;
      margin: 0 1em;
      font-weight:bold; 

      &.or-appearance-red {
        color: @red;
      }
      &.or-appearance-green {
        color: @green;
      }
      &.or-appearance-blue {
        color: @blue;
      }
      &.or-appearance-yellow {
        color: @yellow;
      }
    }
    .or-appearance-li:not(.disabled) {
      margin: -0.5em 1.5em;
      br {
        display: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .enketo {
    .option-wrapper > label:not(.filler) {
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        background-color: #ffa500;
        color: white;
      }
    }
    input[data-mm-android-dp]:hover {
      background-color: #ffa500;
    }
  }
}
