<mm-modal
  status="status"
  id="'edit-message-group'"
  title-key="'Edit'"
  submit-key="'save'"
  submitting-key="'saving'"
  on-cancel="editMessageGroupCtrl.cancel()"
  on-submit="editMessageGroupCtrl.submit()"
>
  <form action="" method="POST">

    <fieldset ng-repeat="task in model.group.rows" ng-hide="task.deleted" ng-disabled="task.state !== 'scheduled' && task.state !== 'muted'" data-index="{{$index}}">

      <div class="form-group">
        <label>
          <span translate>tasks.0.messages.0.message</span>
          <a class="btn btn-link fa fa-trash-o" ng-click="task.deleted = true" ng-hide="task.state !== 'scheduled' && task.state !== 'muted'"></a>
        </label>
        <input type="text" class="form-control" ng-repeat="message in task.messages" ng-model="message.message" ng-disabled="task.hasOwnProperty('translation_key')"/>
      </div>

      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" class="form-control datepicker" ng-value="task.due" />
        </div>
      </div>

    </fieldset>

    <a class="btn" ng-click="editMessageGroupCtrl.addTask()">
      <i class="fa fa-plus"></i>
      <span translate>Add Message</span>
    </a>

  </form>
</mm-modal>
