<mm-modal
  status="status"
  id="'edit-user-settings'"
  title-key="'Edit User Profile'"
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="editUserCtrl.cancel()"
  on-submit="editUserCtrl.editUserSettings()"
>

  <form action="" method="POST">

    <div class="form-group" ng-class="{'has-error': editUserCtrl.errors.name}">
      <label for="name" translate>User Name</label> *
      <input id="name" type="text" class="form-control" ng-model="editUserCtrl.editUserModel.username" ng-disabled="editUserCtrl.editUserModel.id" />
      <span class="help-block">{{editUserCtrl.errors.name}}</span>
    </div>

    <div class="form-group">
      <label for="fullname" translate>Full Name</label>
      <input id="fullname" type="text" class="form-control" ng-model="editUserCtrl.editUserModel.fullname" />
    </div>

    <div class="form-group">
      <label for="email" translate>Email Address</label>
      <input id="email" type="text" class="form-control" ng-model="editUserCtrl.editUserModel.email" />
    </div>

    <div class="form-group">
      <label for="phone" translate>Phone Number</label>
      <input id="phone" type="text" class="form-control" ng-model="editUserCtrl.editUserModel.phone"/>
    </div>

    <div class="form-group">
      <label for="language" translate>Language</label>
      <select id="language" class="form-control" ng-model="editUserCtrl.editUserModel.language" ng-options="locale.name for locale in editUserCtrl.enabledLocales track by locale.code"></select>
    </div>

  </form>

</mm-modal>
