<mm-modal
  status="status"
  id="'feedback'"
  title-key="'Report Bug'"
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <form action="" method="POST">
    <div class="form-group" ng-class="{ 'has-error': error.message }">
      <textarea ng-model="model.message" class="form-control" translate translate-attr-placeholder="Bug description"></textarea>
      <span class="help-block" ng-show="error.message">{{error.message}}</span>
    </div>
  </form>
</mm-modal>
