<mm-modal
  status="status"
  id="'send-message'"
  title-key="'Send Message'"
  submit-key="'Send'"
  submitting-key="'Sending'"
  on-cancel="sendMessageCtrl.cancel()"
  on-submit="sendMessageCtrl.submit()"
>
  <form action="" method="POST" class="message-form">
    <div class="form-group" ng-class="{ 'has-error': sendMessageCtrl.error.phone }">
      <select class="form-control" name="phone" autocomplete="off" multiple="multiple"></select>
      <span class="help-block" ng-show="sendMessageCtrl.error.phone">{{sendMessageCtrl.error.phone}}</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': sendMessageCtrl.error.message }">
      <textarea name="message" class="form-control" translate translate-attr-placeholder="tasks.0.messages.0.message" ng-model="model.message"></textarea>
      <span class="help-block" ng-show="sendMessageCtrl.error.message">{{sendMessageCtrl.error.message}}</span>
      <span class="count">{{count}}</span>
    </div>
  </form>
</mm-modal>
