<mm-modal
  status="status"
  id="'user-language'"
  title-key="'Select a language'"
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="userLanguageModalCtrl.cancel()"
  on-submit="userLanguageModalCtrl.submit()"
  disable-submit="!userLanguageModalCtrl.selectedLanguage"
>
  <p class="horizontal-options locale">
    <a ng-repeat="language in userLanguageModalCtrl.enabledLocales track by language.code" ng-class="{selected: language.code === userLanguageModalCtrl.selectedLanguage}" ng-click="userLanguageModalCtrl.changeLanguage(language.code)">
      <span class="rectangle" ng-bind="language.name"></span>
    </a>
  </p>
</mm-modal>
