@import "packages/bootstrap/bootstrap/lib/bootstrap.less";
@import "packages/kujua-branding/css/base.less";

/* shrink container width for kujua export */
@gridColumns: 11;

/* background noise */
html, body {
      background: #ccc url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAmUlEQVQYV12Q2wrEIAxEVaSI+P/f6JMPIkWk1OUEpmwrSEicW/S11n0ch1trOWqM0V3X9erP83S+tbZ55HwBmlF9733DSCmZ2n3fD4HZnNPlnJ3/WisCMXAIIVg1RQ2wQBFlXAADRNUUSykWnosNRB052DJqxAaMokjMX1vLTl+Eqr7OMpKLHP+ZBNDmlpEGMI9jjMdSSxHhB0QBnc28Jnb5AAAAAElFTkSuQmCC);
}

body {
  padding-top: 40px;
}
.content {
  margin-top: 20px;
  border-top: solid 3px black;
  background-color: @white;
  @shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 3px 8px #cecece;
  .box-shadow(@shadow);
}
#footer {
  margin: 40px auto;
  width: 10em;
  color: @grayLight;
}
.page-header {
  background-color: @white;
  padding: 10px;
}
.version {
  font-weight: bold;
  font-size: .567em;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}
#docs {
  padding: 20px;
}
#forms li {
  padding: 10px;
  list-style-type: none;
}
.navbar, .brand {
  font-weight: normal;
}
.navbar .brand a.kujua {
  .kujua;
}
.navbar .brand a.kujua:hover {
  background:none;
}
