@import "variables";

.row.content .configuration {
  background-color: #FFF;
  overflow-y: auto;
  overflow-x: hidden;
  border-style: solid;
  border-color: @seperator-color;
  border-width: 0 1px;
}

.configuration-menu {
  text-align: center;
  max-width: 60em;
  margin: 2em auto;
  a {
    color: inherit;
    cursor: pointer;
    font-size: 1.5em;
    background-color: @seperator-color;
    border: 1px solid @admin-color;
    display: inline-block;
    width: 9em;
    box-sizing: border-box;
    text-align: center;
    border-radius: @radius-size;
    margin: 1em;
    padding: 1em;
    &:hover {
      text-decoration: none;
    }
    .fa {
      font-size: 1.5em;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  .configuration-menu a {
    font-size: 1em;
  }
}

@media (max-width: 400px) {
  .configuration-menu a {
    margin: 0.5em;
    padding: 0.5em;
  }
}