
/**
* @name mm-dropdown-menu:
* Restyles and extends Bootstrap's `dropdown-menu`.
*/

.mm-dropdown-menu {
  top: 0;
  right: 0;
  min-width: 0;
  padding: 1em 0;
  margin: 3.675em 2em;
  font-size: 0.85em;
  position: absolute;
  overflow: hidden;
  border-radius: 0 0 8pt 8pt;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.8);

  li a {
    font-size: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }

  &.datepicker {
    right: inherit;
    margin-top: 0;
    padding: 1em;
  }

}

.dropdown.mm-dropdown {
  &.pair-left {
    padding-right: 0;
    .mm-button {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right-width: 0;
    }
    .mm-button-dropdown {
      float: left;
    }
    .mm-button-text {
      text-align: right;
      width: 95%;
    }
  }

  &.pair-right {
    padding-left: 0;
    .mm-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-left: 0.5em;
      border-left-color: #aaa;
    }
  }
}

.mm-dropdown-menu-inverse li a:hover, 
.datepicker td.day:hover,
.datepicker thead tr:first-child th:hover,
.datepicker.mm-dropdown-menu-inverse td.active,
.datepicker.mm-dropdown-menu-inverse td.active:hover {
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: none;
}

.mm-dropdown-menu-inverse {
  background-color: rgba(0, 0, 0, 0.85);
  border-color: rgba(255, 255, 255, 0.25);
  &, li a {
    color: #fff;
  }
}

.mm-dropdown-menu-modal {
  margin: 0;
  position: fixed;
  display: block;
  padding: 2em 1em;
  font-size: 1.25em;
  border-width: 1px;

  li a {
    color: #fff;
    padding: 0.5em 1em;
    text-shadow: none;
    font-weight: bold;
  }

  li a:hover {
    color: #000;
    border-radius: 3pt;
    background-color: rgba(0, 0, 0, 0.85);
  }
}

@media (max-width: 767px) {
  .open .mm-dropdown-menu, .datepicker.mm-dropdown-menu {
    border-radius: 7pt;
  }
  .open .mm-dropdown-menu {
    top: 9em;
    left: 2em;
    right: 2em;
    .mm-dropdown-menu-modal
  }
  .open .mm-dropdown-menu-inverse li a:hover {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

@media (min-width: 767px) {
  .open .mm-dropdown-menu-fullscreen {
    border-radius: 7pt;
  }
  .open .mm-dropdown-menu-fullscreen {
    top: 7em;
    left: 25%;
    right: 25%;
    text-align: center;
    .mm-dropdown-menu-modal
  }
  .mm-dropdown-menu-fullscreen.mm-dropdown-menu-inverse li a:hover {
    background-color: rgba(255, 255, 255, 0.85);
  }
}

