.help {
  span.pre {
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 4px;
  }
  .btn {
    margin-top: 1em;
  }
}
