@import (inline) "reset.css";
@import "bower_components/bootstrap/less/bootstrap";
@import "bower_components/fontawesome/less/font-awesome";
@import (inline) "bower_components/select2/select2.css";
@import (inline) "bower_components/select2-bootstrap-css/select2-bootstrap.css";
@import (inline) "bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css";
@import (inline) "bower_components/nvd3/nv.d3.css";
@import (inline) "bower_components/bootstrap-tour/build/css/bootstrap-tour.css";

@import "variables";
@import "mixins";
@import "theme";
@import "packages/kujua-reporting/css/base";
@import "angular";
@import "analytics";
@import "configuration";
@import "help";

@import "enketo/medic";

.container-fluid {
  overflow-x: hidden;
}

body {
  overflow-y: hidden;
  &.messages {
    .header .tabs .selected, .filters {
      background-color: @messages-color;
    }
  }
  &.tasks {
    .header .tabs .selected, .filters {
      background-color: @tasks-color;
    }
  }
  &.reports {
    .header .tabs .selected, .filters {
      background-color: @reports-color;
    }
  }
  &.analytics {
    .header .tabs .selected, .filters {
      background-color: @analytics-color;
    }
  }
  &.contacts {
    .header .tabs .selected, .filters {
      background-color: @contacts-color;
    }
  }
  &.configuration {
    .header .tabs .selected, .filters {
      background-color: @admin-color;
    }
  }
  &.help {
    .header .tabs .selected, .filters {
      background-color: @help-color;
    }
  }
  &.error {
    .header .tabs .selected, .filters {
      background-color: @error-color;
    }
  }
}

.row .inner {
  max-width: @content-width;
  margin: 0 auto;
}

.header {
  background-color: @medic-slate-color;
  text-align: center;
  padding-top: 0.25em;
  z-index: 3;
  position: relative;
  .button-text-inverse;

  .inner {
    height: 4.5em;
  }

  a {
    .button-text-inverse;
    outline: 0;
    padding-top: 0.25em;
  }

  .mm-icon {
    margin: 0 auto;
    font-size: 2em;
  }

  .logo {
    float: left;
    opacity: 0.9;
    padding: 0.15em 1.25em;
    img {
      width: 14.2em;
      height: 3.8em;
    }
    .logo-icon {
      width: 2.5em;
      display: none;
    }
  }

  .extras, .tabs {
    &, a {
      height: 100%;
    }
    a {
      display: inline-block;
    }
  }

  .extras {
    float: right;
    padding-right: 5px;

    a {
      width: 2.8em;
      height: 3em;
      margin-top: 0.5em;
      border-radius: 0.5em 0.5em 0 0;

      .mm-icon {
        width: inherit;
      }
    }

    .dropdown-menu a {
      border-radius: 0;
    }

    .open > a {
      background-color: #FFFFFF;

      .mm-icon {
        color: @medic-slate-color;
      }
    }
  }

  .dropdown ul a {
    width: 100%;
    height: auto;
    line-height: 1.5em;
  }

  .options .dropdown-menu {
    a {
      text-shadow: none;
      padding: 3px 20px;
      color: #262626;
      margin-top: 0;
    }
    .disabled a {
      color: #999999;
    }
  }

  .tabs {
    overflow: hidden;
    white-space: nowrap;

    .button-label {
      top: -0.5em;
      position: relative;
      font-size: 0.9em;
    }
    
    a {
      width: 6em;
      border-radius: @radius-size @radius-size 0 0;
      cursor: pointer;

      &.selected {
        .button-label, .mm-icon:hover {
          .button-text;
        }
      }

      &:hover {
        &.messages-tab {
          &, .mm-icon-inverse, .mm-icon-inverse:hover {
            color: @messages-color;
          }
        }
        &.tasks-tab {
          &, .mm-icon-inverse, .mm-icon-inverse:hover {
            color: @tasks-color;
          }
        }
        &.reports-tab {
          &, .mm-icon-inverse, .mm-icon-inverse:hover {
            color: @reports-color;
          }
        }
        &.analytics-tab {
          &, .mm-icon-inverse, .mm-icon-inverse:hover {
            color: @analytics-color;
          }
        }
        &.contacts-tab {
          &, .mm-icon-inverse, .mm-icon-inverse:hover {
            color: @contacts-color;
          }
        }
        &.configuration-tab {
          &, .mm-icon-inverse, .mm-icon-inverse:hover {
            color: @admin-color;
          }
        }
      }

      &:hover, &:focus {
        text-decoration: none;
      }
    }

  }
}

.header .options, .filters .filter-buttons {
  .dropdown-menu {
    width: 200px;
    left: auto;
    margin-top: 1.9em;
  }
}

.slide-back a {
  display: inline-block;
  text-align: center;
  cursor: default;
  color: @grey;
}
.show-content .slide-back a {
  cursor: pointer;
  color: @grayDark;
}

.filters {
  height: 4.2em;
  font-size: 0.95em;
  white-space: nowrap;

  .inner {
    position: relative;
  }

  .filter {
    width: 18%;
    margin: 0 0.2%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
   
    .dropdown-menu {
      padding-top: 0;
    }
  }

  .filter-buttons .dropdown {
    > a {
      display: inline-block;
      height: 3em;
      border-radius: 0.5em 0.5em 0 0;
    }
    &.open > a {
      background-color: #FFFFFF;
    }
    .mm-icon {
      width: 1.5em;
      line-height: 1em;
      &:hover {
        color: @medic-slate-color;
      }
    }
  }

  .dropdown-menu .fa {
    margin-left: -0.5em;
  }

  .mm-button-text {
    display: inline-block;
    overflow: hidden;
    width: 88%;
  }

  .mm-button {
    width: 100%;
  }

  .basic-filters, .slide-back {
    padding-top: 0.65em;
  }
  
  .basic-filters {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .help {
    line-height: 3em;
  }

  .freetext-filter {
    padding-right: 2em;
    input, .btn {
      height: 2.85em;
      background-color: rgba(255, 255, 255, 0.45);
      border: 0;
    }
    input {
      padding: 0.6em;
      color: #000000;
      margin-right: -2em;
    }
    .input-group-btn {
      float: right;
    }
  }

  .slide-back, .reset-filter {
    line-height: 3em;
    > a {
      width: 2em;
    }
  }

  .filter-buttons {
    float: right;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    .mm-icon, .fa-stack {
      font-size: 2em;
      width: 1.5em;
    }
    .dropdown .mm-icon {
      padding-top: 0.25em;
    }
    .dropdown, .fa-stack {
      vertical-align: bottom;
      height: 1.4em;
      line-height: inherit;
    }
    .fa-plus {
      left: 0.4em;
      top: -0.2em;
      text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
      font-size: 0.75em;
    }
  }

  .filter-buttons, .reset-filter {
    > a {
      color: @grayDark;
      display: inline-block;
      text-align: center;

      &.disabled {
        cursor: default;
        color: @grey;
      }
    }
  }

  .mobile-freetext-filter {
    display: none;
  }
  .advanced-filter {
    width: 3.3em;
  }

}


.container-fluid {
  background-color: @background-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  .page {
    top: 8.7em;
    bottom: 0;
    position: absolute;
    width: 100%;
    max-width: @content-width;
    z-index: 2;
  }

  .inbox {
    background-color: @background-color;
  }
}

.inbox-items, .item-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  background-color: @background-color;
}

.content .item-content.empty-selection {
  text-align: center;
  color: #C2C2C2;
  text-shadow: 1px 1px 4px rgba(255, 255, 255, 1);
  font-size: 2em;

  .fa {
    font-size: 2em;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
  }
}

.content-pane {
  height: 100%
}
.message-content-wrapper {
  height: 100%;
  .item-content {
    bottom: 57px;
    top: 2em;
    position: absolute;
    height: auto;
    right: 0;
  }
  .name-header, .reply {
    background-color: @lightgrey;
  }
  .reply {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    div {
      padding: 0;
    }
    textarea {
      width: 100%;
      height: 3em;
      padding: 0.6em;
      resize: none;
    }
    .message-actions {
      display: none;
      text-align: right;
      .btn-link {
        float: left;
      }
      .note {
        margin-right: 1em;
      }
    }
    &.sending {
      textarea {
        height: 6em;
      }
      .message-actions {
        display: block;
      }
    }
  }
  .name-header {
    height: 2em;
    line-height: 2em;
    .sender .position {
      position: absolute;
      top: 0;
      right: 15px;
    }
  }
  .recipient {
    display: none;
  }
}

.messages .inbox-items li {
  .message-wrapper:hover {
    border-left-color: @messages-color;
  }
  &.selected {
    background-color: lighten(@messages-color, 30%);
  }
}

.tasks .inbox-items li {
  .message-wrapper:hover {
    border-left-color: @tasks-color;
  }
  &.selected {
    background-color: lighten(@tasks-color, 25%);
  }
}

.reports .inbox-items li {
  .message-wrapper:hover {
    border-left-color: @reports-color;
  }
  &.selected {
    background-color: lighten(@reports-color, 30%);
  }
}

.contacts {
  .inbox-items li {
    .message-wrapper:hover {
      border-left-color: @contacts-color;
    }
    &.selected {
      background-color: lighten(@contacts-color, 30%);
    }
    &.orphan .detail {
      margin-top: 0.42em;
    }
  }
}

.tasks .inbox-items .mm-badge {
  padding-top: 0;
  margin-top: 0;
}

.tasks,
.contacts {
  .item-content .status,
  .message-wrapper {
    .fa {
      color: @ok-color;
    }
  }
  .item-content > div {
    margin-top: 1em;
  }
}

.inbox-items {
  padding: 0;
  background-color: @form-background-color;
  border-left: 1px solid @seperator-color;

  ul {
    margin-bottom: 0;
  }

  li {
    border-bottom: 1px solid @seperator-color;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;

    span {
      white-space: normal;
    }

    .mm-badge {
      float: left;
    }

    .message-wrapper {
      padding: 1em;
      border-left: 5px solid transparent;
    }
  }

  .read {
    background-color: @background-color;
    .sender .name {
      font-weight: normal;
    }
  }

  .detail .description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sender .phone {
    display: none;
  }

  .alert {
    margin: 1em;
  }

  .time {
    margin-left: 1em;
  }

}

.loading-status {
  margin: 1em;
  text-align: center;
  font-weight: bold;
}

.scheduled-tasks .loader {
  font-size: 6px;
}

.reports, .contacts {
  .inbox-items .detail {
    margin-left: 3em;
  }
}

.inbox-items, .item-content {
  .animate-repeat {
    &.ng-move,
    &.ng-enter,
    &.ng-leave {
      transition: all 500ms ease 0s;
    }

    &.ng-leave-active,
    &.ng-move,
    &.ng-enter {
      opacity: 0;
      max-height: 0;
    }

    &.ng-leave,
    &.ng-move-active,
    &.ng-enter-active {
      opacity: 1;
      max-height: 70px;
    }
  }
}

.messages .inbox-items .detail {
  padding-right: 0.5em;
}

.task-state {
  color: #AAAAAA;
  .state {
    font-weight: bold;
    &:before {
      content: '\f111';
      font-family: FontAwesome;
      font-size: 0.8em;
      margin-right: 0.5em;
    }
    &.received:before {
      content: '';
      margin-right: 0;
    }
    &.pending:before {
      color: @pending-state-color;
    }
    &.muted:before {
      color: @muted-state-color;
    }
    &.cleared:before {
      color: @cleared-state-color;
    }
    &.sent:before {
      color: @sent-state-color;
    }
    &.scheduled:before {
      color: @scheduled-state-color;
    }
  }
}

.item-content {

  padding: 0;
  border: 1px solid @seperator-color;
  border-width: 0 1px;

  .status {
    clear: both;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: -1.3em;
  }

  .body p {
    word-wrap: break-word;
    margin: 0;
  }

}

.incomplete .body h2 {
  color: @error-color;
}

a.fa:hover {
  text-decoration: none;
}

.messages .item-content .body {
  .actions {
    width: 2em;
    float: right;
    visibility: hidden;
    a {
      padding: 0.5em;
    }
  }
  .data {
    padding: 1em;
    margin-right: 1.5em;
  }
  .marker {
    color: @grey;
    font-size: 0.8em;
    font-weight: bold;
    background-color: @background-color;
    margin: 1em 0;
    padding: 0.5em;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(50, 50, 50, 0.45);
    position: relative;
    &:after {
      position: absolute;
      bottom: -1em;
      left: 48%;
      border-style: solid;
      border-color: @background-color transparent;
      display: block;
      width: 0;
      border-width: 15px 15px 0;
      content: "";
      margin: 0 auto;
    }
  }
  & > ul {
    > li {
      clear: both;
      > span {
        background-color: #ffffff;
        border: 1px solid @seperator-color;
        border-radius: @radius-size;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
    .message-body:hover, .selected {
      .actions {
        visibility: visible;
      }
    }
    .message-body {
      display: inline-block;
    }
    .message-body, .message-body p {
      max-width: 100%;
    }
    .incoming .message-body {
      border-color: @received-state-color;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
      margin-right: 1em;
    }
    .outgoing .message-body {
      border-color: @messages-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: 0;
      margin-left: 1em;
      &, p {
        float: right;
      }
    }
    .task-state {
      clear: right;
      display: block;
    }
  }
}

.reports .item-content,
.contacts .item-content,
.tasks .item-content {

  > div {
    margin-bottom: 5em;
  }

  .meta {
    padding: 2em;
  }

  .body {

    padding-bottom: 2em;
    background-color: @form-background-color;
    border: 1px solid @seperator-color;
    border-radius: @radius-size;
    margin: 0 1em 1em 1em;

    p {
      font-weight: bold;
      font-size: 1.4em;
    }

    h2 {
      text-align: center;
      margin: 1.25em 0 0.75em 0;
      font-style: italic;
      font-weight: bold;
      font-size: 1.75em;
    }

    h5 {
      text-align: center;
      margin-top: -1em;
    }

    > ul > li {
      border-bottom: 1px solid @seperator-color;
      padding: 1em 3em 1em 2em;
      margin: 0;

      &:last-child {
        border-bottom: none;
      }
    }

    label {
      display: block;
      margin: 0;
      font-weight: normal;
      font-style: italic;
      color: @label-color;
    }

    .missing p {
      color: @lightgrey;
    }
  }

  .task-list > li {
    margin-top: 1em;
  }

}

.time {
  float: right;
  text-align: right;
}

.item-content .time {
  .relative-date-content {
    font-weight: bold;
  }
  .full-date {
    color: @label-color;
    font-size: 0.8em;
  }
}

.sender {
  .position {
    color: @label-color;
    font-size: 0.8em;
  }
  .name {
    font-weight: bold;
  }
}

.slide-back {
  display: none;
}

.reports, .contacts {
  .action-container {
    display: block;
  }
}

.action-container {
  display: none;
  position: fixed;
  bottom: 0;
  top: inherit;
  z-index: 10;
  background: transparent;
  pointer-events: none;

  .column .actions {
    min-height: 5em;
    background-color: @grey;
    background-color: rgba(0, 0, 0, 0.65);
    border-color: @lightgrey;
    border-color: rgba(0, 0, 0, 0.8);
    border-width: 1px;
    border-style: solid;
    max-width: 30em;
    text-align: center;
    margin: 0 auto 2em;
    overflow: hidden;
    pointer-events: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.63);

    .mm-icon {
      width: 25%;
      margin: 1.5em 0 0;
      display: inline-block;
      outline: 0;
      border-bottom: 5px solid transparent;
      .fa {
        font-size: 3em;
      }
      &:hover {
        text-decoration: none;
      }
    }

    .fa-stack {
      width: 3em;
      height: 3em;
      .stack-bottom-left {
        font-size: 2em;
        margin-top: 0.4em;
        margin-left: -0.4em;
      }
      .stack-top-right {
        font-size: 2em;
        margin-left: 0.4em;
      }
    }
  }
}

.reports .action-container .column .actions .mm-icon:hover {
  border-bottom-color: @reports-color;
}

.contacts .action-container .column .actions .mm-icon:hover {
  border-bottom-color: @contacts-color;
}

.action-container .column .actions .mm-icon.mm-icon-disabled:hover {
  border-bottom-color: transparent;
}

.reporting, .help, .configuration {
  background-color: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-width: 0 1px;
  overflow-y: auto;
  overflow-x: hidden;
}

.no-records {
  color: @grayDark;
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}

.filter-daterangepicker {
  padding: 0;
  margin: 0;
}

.modal .datepicker {
  max-width: 300px;
}

.tour-select {
  z-index: 2000;
  .tour-option {
    width: 100px;
    margin: 1em;
    padding: 0.5em 0;
    .button-text;
  }
  .modal-body {
    text-align: center;
  }
  .fa {
    font-size: 2em;
  }
  .tour-option-messages {
    background-color: @messages-color;
  }
  .tour-option-reports {
    background-color: @reports-color;
  }
  .tour-option-analytics {
    background-color: @analytics-color;
  }
  .tour-option-admin {
    background-color: @admin-color;
  }
}

.daterangepicker.dropdown-menu {
  z-index: 1050;
}

.select2-results, .select2-choice {
  .sender span {
    margin-right: 1em;
  }
  .everyone-at {
    font-weight: bold;
  }
  .fa {
    color: @ok-color;
  }
}
.select2-results .select2-highlighted .sender .position {
  color: #FFFFFF;
}

.welcome .screenshot {
  text-align: center;
  margin-top: 1em;
}

.horizontal-options {
  a {
    display: inline-block;
    outline: none;
    margin: 0.5em;
  }
  .fa {
    margin-right: 0.25em;
  }
  .circle, .rectangle {
    display: inline-block;
    background-color: @background-color;
    border: 1px solid @seperator-color;
  }
  .circle {
    border-radius: 100px;
  }
  .rectangle {
    padding: 0.5em 1em;
  }
  .selected .circle, .selected .rectangle {
    background-color: @ok-color;
    color: #FFFFFF;
  }
}

.user-language .modal-body {
  text-align: center;
}

.guided-setup {
  .panel-group .panel-body {
    text-align: center;
    h5 {
      font-size: 1.2em;
    }
  }
  .horizontal-options {
    .icon {
      background-size: contain;
      background-repeat: no-repeat;
      padding-top: 100px;
    }
    .contact-pregnant {
      background-image: url('../img/icon-pregnant.svg');
      &.selected {
        background-image: url('../img/icon-pregnant-selected.svg');
      }
    }
    .contact-chw {
      background-image: url('../img/icon-chw.svg');
      &.selected {
        background-image: url('../img/icon-chw-selected.svg');
      }
    }
    .contact-nurse {
      background-image: url('../img/icon-nurse.svg');
      &.selected {
        background-image: url('../img/icon-nurse-selected.svg');
      }
    }
  }
  .primary-contact-content .horizontal-options a {
    width: 100px;
    vertical-align: top;
    .circle {
      height: 100px;
      width: 100px;
    }
  }
  .registration-form-content .horizontal-options a {
    width: 150px;
    vertical-align: top;
    .circle {
      height: 2em;
      width: 2em;
      .fa {
        visibility: hidden;
        line-height: 1.25em;
        font-size: 1.5em;
      }
    }
    .description {
      display: inline-block;
      margin-top: 0.5em;
    }
    &.selected .fa {
      visibility: visible;
    }
  }
  .modem-setup-content {
    label {
      margin-top: 0.5em;
      margin-bottom: 0;
      display: block;
    }
    .small-field {
      width: 3em;
    }
  }
  .modal-footer {
    text-align: left;
    .right {
      float: right;
    }
    .error {
      clear: both;
      font-weight: bold;
      color: @error-color;
    }
  }
}

.section {
  margin-top: 2em;
}

@media (max-width: 767px) {
  .item-content {
    border-width: 0;
  }
  .inbox .inbox-items {
    border-left: 0;
    li.selected {
      background-color: inherit;
      &.read {
        background-color: @background-color;
      }
    }
  }
  .header {
    font-size: 0.65em;
    .dropdown-menu {
      font-size: 1.5em;
      margin: 0;
      top: 0.6em;
      right: 0.2em;
    }
    .tabs a {
      width: 6em;
    }
    .mm-icon {
      font-size: 2em;
    }
    .logo {
      .logo-icon {
        display: inherit;
      }
      .logo-full {
        display: none;
      }
    }
    .extras a {
      padding-top: 0.3em;
      margin-top: 0.2em;
      font-size: 1.2em;
    }
  }
  .filters {
    padding: 0;
    padding-bottom: 1em;
    font-size: 0.77em;
    .dropdown, .slide-back .mm-button {
      vertical-align: top;
    }
    .dropdown {
      width: 4.3em;

      &.analytics-module {
        width: 5em;
      }
    }
    .mm-button-text {
      width: 0;
      visibility: hidden;
      padding-right: 0.75em;
    }
    .slide-back {
      display: inline-block;
    }
    .basic-filters, .slide-back {
      padding-top: 0.2em;
    }
    .basic-filters {
      left: 2.5em;
    }
    .freetext-filter {
      display: none;
    }
    .advanced-filter {
      width: 3em;
    }
    .mobile-freetext-filter {
      display: inline-block;

      .search-pane {
        padding: 1em;
      }
    }
    .filter-buttons {
      width: inherit;
      padding-right: 0.4em;
      .dropdown-menu {
        top: 3.8em;
        right: 0.2em;
      }
    }
  }
  .inbox-items,
  .content-pane {
    width: 100%;
  }
  .inbox-items,
  .content-pane {
    position: absolute;
    padding-top: 0;
  }
  .message-content-wrapper {
    .item-content, .reply {
      left: 0;
    }
  }
  .content {
    .page {
      top: 5.75em;
    }
    .meta {
      padding-bottom: 0;
    }
    .item-content .body {
      padding-bottom: 0;
    }
  }
  .reports .content .item-content .body > ul > li {
    padding: 1em;
  }
  .messages .content .item-content .body {
    margin-bottom: 0;
  }
  .item-content .reply .note {
    display: inline;
  }
  .message-content-wrapper .reply textarea {
    width: 100%;
    height: 3em;
  }

  .action-container .column {
    padding: 0;
    .actions {
      box-shadow: none;
      border-width: 1px 0 0 0;
      margin: 0;
      padding: 0;
      border-radius: 0;
      max-width: 100%;
    }
  }

  .action-container .column,
  .content .inbox-items,
  .content-pane {
    transition: left 500ms ease 0s;
  }

  .content .inbox-items {
    left: 0;
  }
  .action-container .column,
  .content-pane {
    left: 100%;
  }

  body.show-content {
    .content .inbox-items {
      left: -100%;
    }
    .action-container .column,
    .content-pane {
      left: 0;
    }
  }

  .filter-daterangepicker {
    width: 245px;
    height: 240px;
    .calendar {
      transition: left 500ms ease 0s;
      position: absolute;
      float: none;
    }
    .range_inputs {
      display: none;
    }
  }
  .show-from {
    .left {
      left: 0;
    }
    .right {
      left: 100%;
    }
  }
  .show-to {
    .left {
      left: -100%;
    }
    .right {
      left: 0;
    }
  }
  .mm-button {
    padding-left: 0.8em;
  }
  .mm-button-dropdown {
    padding-right: 0.6em;
  }
  .mm-button-icon {
    padding-right: 0.1em;
  }
}

@media (max-width: 400px) {
  .logo {
    display: none;
  }
  .filters .filter {
    margin: 0;
  }
  .header .tabs {
    a {
      padding-top: 0.8em;
      width: 5em;
    }
    .button-label {
      display: none;
    }
  }
  .item-content .body > ul > li li {
    margin-left: 0;
  }
  .message-content-wrapper {
    .item-content {
      top: 3em;
    }
    .name-header {
      height: 3em;
      line-height: 1.2em;
      padding-top: 0.5em;
      .sender .position {
        position: inherit;
      }
    }
  }
  .action-container .column .actions {
    min-height: 4em;
    p {
      display: none;
    }
    .fa-stack {
      font-size: 0.8em;
      height: 4.4em;
    }
    .mm-icon {
      min-height: 4em;
      .fa {
        font-size: 2.5em;
      }
    }
  }
  .header .tabs .configuration-tab {
    display: none;
  }
}
