table.spreadsheet {
    /*border-collapse: collapse;*/
    border-spacing: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: white;
}
table.spreadsheet th,
table.spreadsheet td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    padding: 3px 6px;
    cursor: default;
}
table.spreadsheet th {
    text-align: left;
    background: #eee;
}
table.spreadsheet td {
}
input.edit-inline {
    display: block;
    border: 2px solid blue;
    padding: 10px 4px;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
#spreadsheet_select {
    border: 2px solid blue;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#spreadsheet_clipboard {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
