table.spreadsheet {
    /*border-collapse: collapse;*/
    border-spacing: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: white;
    width: 100%;
    overflow: auto;
}
table.spreadsheet th,
table.spreadsheet td {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    padding: 3px 6px;
    cursor: default;
}
table.spreadsheet th {
    text-align: left;
    background: #eee;
}
table.spreadsheet td {
    color: #333;
    height: 25px;
}
table.spreadsheet tr.saving td {
    background: #ccc;
}
table.spreadsheet .error {
    background: #fcc;
}
input.edit-inline {
    color: #333;
    display: block;
    border: 2px solid blue;
    padding: 0 4px;
    margin: 0;
    font-size: 14px;
    font-family: sans-serif;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 1030;
}
#spreadsheet_select {
    z-index: 1020;
    border: 2px solid blue;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#spreadsheet_clipboard {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.spreadsheet-actions {
    position: relative;
}

.row-counter {
    position: absolute;
    right: 2px;
    top: 5px;
    color: #999;
}

.spreadsheet td.handle {
    background: #eee;
}

.spreadsheet th.handle.active {
    background: #ccc;
}
.spreadsheet thead th.active {
    background: #ccc;
}
.spreadsheet td.range {
    background: #eef;
}
