@import "variables";
@import "badge";
@import "button";
@import "dropdown";
@import "icon";

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
}

.select2-search-choice-close {
  top: 3px;
}

.tooltip .tooltip-inner {
  text-align: left;
}