
/* @option-color: #e0d7ab; */
@option-color: rgb(173, 174, 167);
@option-selected-color: lighten(@option-color, 15%);
@medic-slate-color: rgb(50, 50, 50);
@medic-overlay-color: #191919;
@highlight-color: rgb(233, 234, 227);
@seperator-color: #e0e0e0;
@background-color: #f2f2f3;
@form-background-color: #ffffff;
@label-color: #777777;
@error-color: #da4548;
@ok-color:#a0ba62;

@radius-size: 0.85em;
@header-height: 4.75em;
@filters-height: 4.25em;
@content-width: 1170px;

.button-text() {
  color: #333;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 1px 2px;
}

.button-text-hover() {
  color: rgba(255, 255, 255, 1);
}

.button-text-disabled() {
  color: #777;
}

.button-text-inverse() {
  color: #ddd;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
}
