<div class="col-xs-12 analytics-widget active-pregnancies">
  <div class="widget-body error" ng-show="activePregnancies.error">
    {{'analytics.connection.error' | translate}}
  </div>
  <div class="widget-body" ng-hide="!activePregnancies.loading">
    <div class="loading">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
  </div>
  <div class="widget-body" ng-if="!activePregnancies.loading && !activePregnancies.error">
    <div class="title">
      <p class="count">{{activePregnancies.data.count || 0}}</p>
      <p class="name">{{'analytics.anc.active-pregnancies' | translate}}</p>
    </div>
  </div>
</div>