<div class="col-xs-12 col-md-6 analytics-widget delivery-location">
  <div class="widget-body error" ng-show="deliveryLocation.error" translate>analytics.connection.error</div>
  <div class="widget-body loading" ng-hide="!deliveryLocation.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!deliveryLocation.loading && !deliveryLocation.error">
    <div class="title">
      <p class="name" translate>analytics.anc.delivery-locations</p>
    </div>
    <div class="content">
      <nvd3 options="deliveryLocation.options" data="deliveryLocation.data"></nvd3>
    </div>
  </div>
</div>
