<div class="col-xs-12 col-md-6 analytics-widget missed-appointments table-responsive">
  <div class="widget-body error" ng-show="missedAppointments.error" translate>analytics.connection.error</div>
  <div class="widget-body loading" ng-hide="!missedAppointments.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!missedAppointments.loading && !missedAppointments.error">
    <div class="title">
      <p class="count">{{missedAppointments.data.length || 0}}</p>
      <p class="name" translate>analytics.anc.missed-appointments</p>
    </div>
    <div class="content" ng-if="missedAppointments.data">
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='patient_name'}" ng-click="missedAppointments.order='patient_name'" translate>Patient Name</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='-weeks.number'}" ng-click="missedAppointments.order='-weeks.number'" translate>Weeks Pregnant</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='contact.name'}" ng-click="missedAppointments.order='contact.name'" translate>contact.short</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='date'}" ng-click="missedAppointments.order='date'" translate>Appointment Date</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='visits'}" ng-click="missedAppointments.order='visits'" translate>Visits</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in missedAppointments.data | orderBy:missedAppointments.order">
            <td ng-class="{'high-risk': appointment.high_risk}">
              <a ng-click="loadPatient(appointment.patient_id)" translate-attr="{ title: 'Patient History' }">
                {{appointment.patient_name}}
              </a>
            </td>
            <td ng-bind-html="appointment.weeks | weeksPregnant"></td>
            <td>
              <a ng-click="loadContact(appointment.contact._id)" translate-attr="{ title: 'contact.history' }">
                {{appointment.contact.name}}
              </a>
            </td>
            <td ng-bind-html="appointment.date | relativeDate"></td>
            <td ng-class="{'no-visits': appointment.visits === 0}">
              <span>{{appointment.visits}}</span>
            </td>
            <td class="actions">
              <a href="#" class="btn btn-link send-message" data-send-to="{{appointment.contact._id}}" translate-attr="{ title: 'Send Message' }" ng-class="{'disabled': !appointment.contact.phone}"><i class="fa fa-envelope"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>