<div class="col-xs-12 col-md-6 analytics-widget missing-delivery-reports table-responsive">
  <div class="widget-body error" ng-show="missingDeliveryReports.error">
    {{'analytics.connection.error' | translate}}
  </div>
  <div class="widget-body loading" ng-hide="!missingDeliveryReports.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!missingDeliveryReports.loading && !missingDeliveryReports.error">
    <div class="title">
      <p class="count">
        {{missingDeliveryReports.data.length || 0}}
      </p>
      <p class="name">{{'analytics.anc.missing-reports' | translate}}</p>
    </div>
    <div class="content" ng-if="missingDeliveryReports.data">
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" ng-class="{'sorted':missingDeliveryReports.order==='patient_name'}" ng-click="missingDeliveryReports.order='patient_name'">{{'Patient Name' | translate}}</th>
            <th class="sortable" ng-class="{'sorted':missingDeliveryReports.order==='contact.name'}" ng-click="missingDeliveryReports.order='contact.name'">{{'contact.short' | translate}}</th>
            <th class="sortable" ng-class="{'sorted':missingDeliveryReports.order==='edd.date'}" ng-click="missingDeliveryReports.order='edd.date'">{{'EDD' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in missingDeliveryReports.data | orderBy:missingDeliveryReports.order">
            <td ng-class="{'high-risk': appointment.high_risk}">
              <a ng-click="loadPatient(appointment.patient_id)" ng-attr-title="{{'Patient History' | translate}}">
                {{appointment.patient_name}}
              </a>
            </td>
            <td>
              <a ng-click="loadContact(appointment.contact._id)" ng-attr-title="{{'contact.history' | translate}}">
                {{appointment.contact.name}}
              </a>
            </td>
            <td>
              <span ng-class="{'approximate': appointment.edd.approximate}"><span ng-bind-html="appointment.edd.date | simpleDate"></span></span>
            </td>
            <td class="actions">
              <a href="#" class="btn btn-link send-message" data-send-to="{{appointment.contact._id}}" ng-attr-title="{{'Send Message' | translate}}" ng-class="{'disabled': !appointment.contact.phone}"><i class="fa fa-envelope"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>