<div class="col-xs-12 col-md-6 analytics-widget missed-appointments table-responsive">
  <div class="widget-body error" ng-show="missedAppointments.error">
    {~lb}{~lb}'analytics.connection.error' | translate{~rb}{~rb}
  </div>
  <div class="widget-body" ng-hide="!missedAppointments.loading">
    <div class="loading">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
  </div>
  <div class="widget-body" ng-if="!missedAppointments.loading && !missedAppointments.error">
    <div class="title">
      <p class="count">{~lb}{~lb}missedAppointments.data.length || 0{~rb}{~rb}</p>
      <p class="name">{~lb}{~lb}'analytics.anc.missed-appointments' | translate{~rb}{~rb}</p>
    </div>
    <div class="content" ng-if="missedAppointments.data">
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='patient_name'}" ng-click="missedAppointments.order='patient_name'">{~lb}{~lb}'Patient Name' | translate{~rb}{~rb}</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='-weeks.number'}" ng-click="missedAppointments.order='-weeks.number'">{~lb}{~lb}'Weeks Pregnant' | translate{~rb}{~rb}</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='clinic.contact.name'}" ng-click="missedAppointments.order='clinic.contact.name'">{~lb}{~lb}'contact.short' | translate{~rb}{~rb}</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='date'}" ng-click="missedAppointments.order='date'">{~lb}{~lb}'Appointment Date' | translate{~rb}{~rb}</th>
            <th class="sortable" ng-class="{'sorted':missedAppointments.order==='visits'}" ng-click="missedAppointments.order='visits'">{~lb}{~lb}'Visits' | translate{~rb}{~rb}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in missedAppointments.data | orderBy:missedAppointments.order">
            <td ng-class="{'high-risk': appointment.high_risk}">{~lb}{~lb}appointment.patient_name{~rb}{~rb}</td>
            <td ng-bind-html="appointment.weeks | weeksPregnant"></td>
            <td>{~lb}{~lb}appointment.clinic.contact.name{~rb}{~rb}</td>
            <td ng-bind-html="appointment.date | relativeDate"></td>
            <td>{~lb}{~lb}appointment.visits{~rb}{~rb}</td>
            <td class="actions">
              <a href="#" class="btn btn-link send-message" data-send-to="{~lb}{~lb}appointment.clinic.contact.phone{~rb}{~rb}" ng-attr-title="{~lb}{~lb}'Send Message' | translate{~rb}{~rb}" ng-class="{'disabled': !appointment.clinic.contact.phone}"><i class="fa fa-envelope"></i></a>
              <a href="#/reports?query=patient_id:{~lb}{~lb}appointment.patient_id{~rb}{~rb}" class="btn btn-link" ng-attr-title="{~lb}{~lb}'Patient History' | translate{~rb}{~rb}"><i class="fa fa-list-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>