<div class="col-xs-12 col-md-6 analytics-widget monthly-registrations">
  <div class="widget-body error" ng-show="monthlyRegistrations.error">
    {{'analytics.connection.error' | translate}}
  </div>
  <div class="widget-body loading" ng-hide="!monthlyRegistrations.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!monthlyRegistrations.loading && !monthlyRegistrations.error">
    <div class="title">
      <p class="name">{{'analytics.anc.monthly-registrations' | translate}}</p>
    </div>
    <div class="content">
      <nvd3-line-chart
        data="monthlyRegistrations.data"
        width="300"
        height="250"
        showXAxis="true"
        showYAxis="true"
        xAxisTickFormat="monthlyChartLabelKey()"
        x="monthlyChartX()"
        y="monthlyChartY()"
        interpolate="monotone"
        interactive="true"
        tooltips="true"
        tooltipcontent="monthlyChartToolTip()">
          <svg></svg>
      </nvd3-line-chart>
    </div>
  </div>
</div>