<div class="col-xs-12 col-md-6 analytics-widget upcoming-due-dates table-responsive">
  <div class="widget-body error" ng-show="upcomingDueDates.error">
    {{'analytics.connection.error' | translate}}
  </div>
  <div class="widget-body loading" ng-hide="!upcomingDueDates.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!upcomingDueDates.loading && !upcomingDueDates.error">
    <div class="title">
      <p class="count">
        {{upcomingDueDates.data.length || 0}}
      </p>
      <p class="name">{{'analytics.anc.upcoming-edds' | translate}}</p>
    </div>
    <div class="content" ng-if="upcomingDueDates.data">
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" ng-class="{'sorted':upcomingDueDates.order==='patient_name'}" ng-click="upcomingDueDates.order='patient_name'">{{'Patient Name' | translate}}</th>
            <th class="sortable" ng-class="{'sorted':upcomingDueDates.order==='-weeks.number'}" ng-click="upcomingDueDates.order='-weeks.number'">{{'Weeks Pregnant' | translate}}</th>
            <th class="sortable" ng-class="{'sorted':upcomingDueDates.order==='date'}" ng-click="upcomingDueDates.order='date'">{{'Last Appointment' | translate}}</th>
            <th class="sortable" ng-class="{'sorted':upcomingDueDates.order==='visits'}" ng-click="upcomingDueDates.order='visits'">{{'Visits' | translate}}</th>
            <th class="sortable" ng-class="{'sorted':upcomingDueDates.order==='edd'}" ng-click="upcomingDueDates.order='edd'">{{'EDD' | translate}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="pregnancy in upcomingDueDates.data | orderBy:upcomingDueDates.order">
            <td ng-class="{'high-risk': pregnancy.high_risk}">
              <a ng-click="loadPatient(pregnancy.patient_id)" ng-attr-title="{{'Patient History' | translate}}">
                {{pregnancy.patient_name}}
              </a>
            </td>
            <td ng-bind-html="pregnancy.weeks | weeksPregnant"></td>
            <td ng-bind-html="pregnancy.lastAppointmentDate | relativeDate"></td>
            <td ng-class="{'no-visits': pregnancy.visits === 0}">
              <span>{{pregnancy.visits}}</span>
            </td>
            <td>
              <span ng-class="{'approximate': pregnancy.edd.approximate}"><span ng-bind-html="pregnancy.edd.date | simpleDate"></span></span>
            </td>
            <td class="actions">
              <a href="#" class="btn btn-link send-message" data-send-to="{{pregnancy.contact}}" ng-attr-title="{{'Send Message' | translate}}" ng-class="{'disabled': !pregnancy.clinic.phone}"><i class="fa fa-envelope"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>