<div class="col-sm-6 analytics-widget visits-during">
  <div class="widget-body error" ng-show="visitsDuring.error">
    Could not retrieve data at this time.
  </div>
  <div class="widget-body" ng-hide="!visitsDuring.loading">
    <div class="loading">
      <span class="fa fa-spinner fa-spin"></span>
    </div>
  </div>
  <div class="widget-body" ng-if="!visitsDuring.loading && !visitsDuring.error">
    <div class="title">
      <p class="name">Visits Completed So Far</p>
      <p class="description">Active pregnancies that have had...</p>
    </div>
    <div class="content">
      <nvd3-discrete-bar-chart
        data="visitsDuring.data"
        width="300"
        height="250"
        showXAxis="true"
        showValues="true"
        color="visitsChartColors()"
        xAxisTickFormat="visitsChartLabelKey()"
        valueFormat="visitsChartLabelValue()">
          <svg></svg>
      </nvd3-discrete-bar-chart>
    </div>
  </div>
</div>