<div class="col-xs-12 col-md-6 analytics-widget visits-during">
  <div class="widget-body error" ng-show="visitsDuring.error">
    {{'analytics.connection.error' | translate}}
  </div>
  <div class="widget-body loading" ng-hide="!visitsDuring.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!visitsDuring.loading && !visitsDuring.error">
    <div class="title">
      <p class="name">{{'analytics.anc.visits-during' | translate}}</p>
      <p class="description">{{'analytics.anc.visits-during.description' | translate}}</p>
    </div>
    <div class="content">
      <nvd3-discrete-bar-chart
        data="visitsDuring.data"
        width="300"
        height="250"
        showXAxis="true"
        showValues="true"
        color="visitsChartColors()"
        xAxisTickFormat="visitsChartLabelKey()"
        valueFormat="visitsChartLabelValue()">
          <svg></svg>
      </nvd3-discrete-bar-chart>
    </div>
  </div>
</div>