<div class="col-sm-6 analytics-widget visits-during">
  <div class="title">
    <p class="name">Visits Completed So Far</p>
    <p class="description">Active pregnancies that have had...</p>
  </div>
  <div class="content" ng-show="visitsDuring">
    <nvd3-discrete-bar-chart
      data="visitsDuring"
      width="300"
      height="250"
      showXAxis="true"
      showValues="true"
      color="visitsChartColors()"
      xAxisTickFormat="visitsChartLabelKey()"
      valueFormat="visitsChartLabelValue()">
        <svg height="250"></svg>
    </nvd3-discrete-bar-chart>
  </div>
</div>