<div class="col-xs-12 col-md-6 analytics-widget visits-completed">
  <div class="widget-body error" ng-show="visitsCompleted.error" translate>analytics.connection.error</div>
  <div class="widget-body loading" ng-hide="!visitsCompleted.loading">
    <div class="loader"></div>
  </div>
  <div class="widget-body" ng-if="!visitsCompleted.loading && !visitsCompleted.error">
    <div class="title">
      <p class="name" translate>analytics.anc.visits-completed</p>
      <p class="description" translate>analytics.anc.visits-completed.description</p>
    </div>
    <div class="content">
      <nvd3 options="visitsCompleted.options" data="visitsCompleted.data"></nvd3>
    </div>
  </div>
</div>
