<div role="document">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-click="cancel()">&times;</button>
    <h3>{{'Confirm' | translate}}</h3>
  </div>
  <div class="modal-body">
    <p>{{'confirm.delete' | translate}}</p>
  </div>
  <div class="modal-footer">
    <p class="note" ng-show="error">{{'Error deleting document.' | translate}}</p>
    <a class="btn cancel" ng-click="cancel()">{{'Cancel' | translate}}</a>
    <a class="btn submit btn-danger" ng-class="{disabled: processing}" ng-click="setProcessingMode()" >
      <span ng-show="!processing">{{'Delete' | translate}}</span>
      <span ng-show="processing">{{'Deleting' | translate}}</span>
    </a>
  </div>
</div>
