<div class="modal fade edit-translation" id="edit-translation" role="dialog" ng-controller="EditTranslationCtrl">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3 translate>Edit translation</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <div class="form-group" ng-repeat="translation in translationModel.values">
            <label>{{translation.locale}}</label>
            <textarea class="form-control" ng-model="translation.value">{{translation.value}}</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <p class="note"></p>
        <a class="btn cancel" data-dismiss="modal" translate>Cancel</a>
        <a class="btn submit btn-primary" ng-click="saveTranslation()" translate-attr-data-working-label="Submitting" translate>Submit</a>
      </div>
    </div>
  </div>
</div>