<div class="modal fade" id="edit-contact" role="dialog" ng-controller="EditContactCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3 ng-if="contactId">{{'contact.type.' + contact.type + '.edit' | translate}}</h3>
        <h3 ng-if="!contactId && canCreateDifferentPlaceTypes">{{'contact.type.' + category + '.new' | translate}}</h3>
        <h3 ng-if="!contactId && !canCreateDifferentPlaceTypes">{{'contact.type.' + contact.type + '.new' | translate}}</h3>
      </div>
      <div class="modal-body enketo">

        <div class="form-group" ng-show="category === 'place' && !contactId && canCreateDifferentPlaceTypes">
          <label>{{'Contact type' | translate}} *</label>
          <p class="horizontal-options">
            <a class="icon" ng-class="{'selected': contact.type === t}" ng-click="setContactType(t)" ng-repeat="(t, props) in placeSchemas">
              <span class="rectangle">
                <span class="fa" ng-class="props.icon"></span>{{'contact.type.' + props.type | translate}}
              </span>
            </a>
          </p>
        </div>

        <div class="container pages" ng-show="!loading"></div>
        <div class="loader" ng-show="loading"></div>

      </div>
      <div class="modal-footer form-footer">
        <p class="note"></p>
        <button class="btn btn-link previous-page">&lt; {{'Previous' | translate}}</button>
        <button class="btn btn-link next-page">{{'Next' | translate}} &gt;</button>
        <a class="btn submit btn-primary" ng-click="save()" ng-attr-data-working-label="{{'Submitting' | translate}}">{{'Submit' | translate}}</a>
      </div>
    </div>
  </div>
</div>
