<div class="modal enketo-composer fade create-report-dialog" id="create-report" role="dialog" ng-controller="EditReportCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'Create Report' | translate}}</h3>
      </div>
      <div class="modal-body">
        <table id="control-panel"><tbody>
          <tr><td>
            <p class="status loading-forms">Loading forms...</p>
            <p class="status no-forms" style="display:none">There are currently no forms available.</p>
            <table id="available-enketo-forms"></table>
          </td></tr>
        </tbody></table>
      </div>

      <div class="modal-footer">
        <p class="note"></p>
        <a class="btn cancel" data-dismiss="modal">{{'Cancel' | translate}}</a>
      </div>
    </div>
  </div>
</div>

<div class="modal enketo fade edit-report-dialog update-facility" id="edit-report" role="dialog" ng-controller="EditReportCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'Edit Report' | translate}}</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST">
          <fieldset>
            <div class="control-group">
              <input type="hidden" name="facility" autocomplete="off" />
            </div>
          </fieldset>
        </form>

            <div>
              <div class="form-wrapper" style="display:none">
                <div class="container"></div>
                <div class="form-footer" style="margin:0">
                  <button class="btn btn-primary first-page">&lt;&lt; Go to start</button>
                  <button class="btn btn-primary previous-page">&lt; prev</button>
                  <button class="btn btn-primary next-page">next &gt;</button>
                  <button class="btn btn-primary last-page">Go to end &gt;&gt;</button>
                </div>
              </div>

              <table id="control-panel" style="display:none; TODO:remove"><tbody>
                <td id="log">
                  <h2>Log</h2>
                  <div class="content">
                  </div>
                </td></tr>
              </tbody></table>
            </div>
      </div>

      <div class="modal-footer">
        <p class="note"></p>
        <a class="btn cancel" data-dismiss="modal">{{'Cancel' | translate}}</a>
        <a class="btn submit btn-primary" ng-click="updateReport()">{{'Submit' | translate}}</a>
      </div>
    </div>
  </div>
</div>
