<div class="modal-content" id="edit-user-settings" role="document">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-click="cancel()">&times;</button>
    <h3 translate>Edit User Profile</h3>
  </div>
  <div class="modal-body">
    <form action="" method="POST">

      <div class="form-group" ng-class="{'has-error': errors.name}">
        <label for="name" translate>User Name</label> *
        <input id="name" type="text" class="form-control" ng-model="editUserModel.name" ng-disabled="editUserModel.id" />
        <span class="help-block">{{errors.name}}</span>
      </div>

      <div class="form-group">
        <label for="fullname" translate>Full Name</label>
        <input id="fullname" type="text" class="form-control" ng-model="editUserModel.fullname" />
      </div>

      <div class="form-group">
        <label for="email" translate>Email Address</label>
        <input id="email" type="text" class="form-control" ng-model="editUserModel.email" />
      </div>

      <div class="form-group">
        <label for="phone" translate>Phone Number</label>
        <input id="phone" type="text" class="form-control" ng-model="editUserModel.phone"/>
      </div>

      <div class="form-group">
        <label for="language" translate>Language</label>
        <select id="language" class="form-control" ng-model="editUserModel.language" ng-options="locale.name for locale in enabledLocales track by locale.code"></select>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <p class="note"></p>
    <a class="btn cancel" ng-click="cancel()" translate>Cancel</a>
    <a class="btn submit btn-primary" ng-click="editUserSettings()" translate>Submit</a>
  </div>
</div>
