<div id="guided-setup" class="guided-setup modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'Easy Setup Wizard' | translate}}</h3>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <!-- 1. Modem setup -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="modem-setup-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#modem-setup-content" aria-controls="modem-setup-content" aria-expanded="true" target="_self">
                  <span class="count">
                    <span class="number">1</span>
                    <i class="fa fa-check"></i>
                  </span>{{'setup.modem.title' | translate}}
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="modem-setup-content" class="modem-setup-content panel-collapse collapse in" role="tabpanel" aria-labelledby="modem-setup-heading">
              <div class="panel-body">
                <p>{{'setup.modem.description' | translate}}</p>
                <label for="default-country-code-setup">{{'Default country code' | translate}}</label>
                <p>{{'Default country code help' | translate}}</p>
                <select id="default-country-code-setup" name="default-country-code"></select>
                <label for="gateway-number-setup">{{'Gateway number' | translate}}</label>
                <p>{{'Gateway number help' | translate}}</p>
                <input id="gateway-number-setup" name="gateway-number" type="text"/>
              </div>
            </div>
          </div>

          <!-- 2. Identify care coordinators -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="primary-contact-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#primary-contact-content" aria-controls="primary-contact-content" aria-expanded="true" target="_self">
                  <span class="count">
                    <span class="number">2</span>
                    <i class="fa fa-check"></i>
                  </span>{{'setup.contact.title' | translate}}
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="primary-contact-content" class="primary-contact-content panel-collapse collapse" role="tabpanel" aria-labelledby="primary-contact-heading">
              <div class="panel-body">
                <p>{{'setup.contact.description' | translate}}</p>
                <p class="horizontal-options">
                  <a href="#" class="icon contact-pregnant" data-value="patient">
                    {{'Pregnant patient' | translate}}
                  </a>
                  <a href="#" class="icon contact-chw" data-value="chw">
                    {{'Community health worker' | translate}}
                  </a>
                  <a href="#" class="icon contact-nurse" data-value="nurse">
                    {{'Facility nurse' | translate}}
                  </a>
                </p>
                <p>{{'setup.contact.help' | translate}}</p>
              </div>
            </div>
          </div>

          <!-- 3. Language preference -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="language-preference-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#language-preference-content" aria-expanded="false" aria-controls="language-preference-content" target="_self">
                  <span class="count">
                    <span class="number">3</span>
                    <i class="fa fa-check"></i>
                  </span>{{'setup.language.title' | translate}}
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="language-preference-content" class="language-preference-content panel-collapse collapse" role="tabpanel" aria-labelledby="language-preference-heading">
              <div class="panel-body">

                <span>{{'setup.language.outgoing.subtitle' | translate}}</span>
                <p class="horizontal-options locale-outgoing">
                  <a href="#" ng-repeat="language in enabledLocales" ng-attr-data-value="{{language.code}}">
                    <span class="rectangle" ng-bind="language.name"></span>
                  </a>
                </p>

                <span>{{'setup.language.subtitle' | translate}}</span>
                <p class="horizontal-options locale">
                  <a href="#" ng-repeat="language in enabledLocales" ng-attr-data-value="{{language.code}}">
                    <span class="rectangle" ng-bind="language.name"></span>
                  </a>
                </p>

                <p>{{'setup.language.description' | translate}}</p>
              </div>
            </div>
          </div>

          <!-- 4. Registration form -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="registration-form-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#registration-form-content" aria-expanded="false" aria-controls="registration-form-content" target="_self">
                  <span class="count">
                    <span class="number">4</span>
                    <i class="fa fa-check"></i>
                  </span>{{'setup.registration.title' | translate}}
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="registration-form-content" class="registration-form-content panel-collapse collapse" role="tabpanel" aria-labelledby="registration-form-heading">
              <div class="panel-body">
                <p>{{'setup.registration.description' | translate}}</p>
                <p class="horizontal-options">
                  <a href="#" data-value="true">
                    <span class="circle"><i class="fa fa-check"></i></span>
                    <span class="description">{{'with.lmp' | translate}}</span>
                  </a>
                  <a href="#" data-value="false">
                    <span class="circle"><i class="fa fa-check"></i></span>
                    <span class="description">{{'without.lmp' | translate}}</span>
                  </a>
                </p>
                <p>{{'setup.registration.help' | translate}}</p>
              </div>
            </div>
          </div>

          <!-- 5. Anonymous statistics -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="anonymous-statistics-heading">
              <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#anonymous-statistics-content" aria-expanded="false" aria-controls="anonymous-statistics-content" target="_self">
                  <span class="count">
                    <span class="number">5</span>
                    <i class="fa fa-check"></i>
                  </span>{{'setup.statistics.title' | translate}}
                  <span class="value"></span>
                </a>
              </h4>
            </div>
            <div id="anonymous-statistics-content" class="anonymous-statistics-content panel-collapse collapse" role="tabpanel" aria-labelledby="anonymous-statistics-heading">
              <div class="panel-body">
                <p>{{'setup.statistics.description' | translate}}</p>
                <p class="horizontal-options">
                  <a href="#" data-value="sms">
                    <span class="rectangle">{{'Submit via sms' | translate}}</span>
                  </a>
                  <a href="#" data-value="both">
                    <span class="rectangle">{{'Submit via either' | translate}}</span>
                  </a>
                  <a href="#" data-value="web">
                    <span class="rectangle">{{'Submit via web' | translate}}</span>
                  </a>
                  <a href="#" data-value="none">
                    <span class="rectangle">{{'No submission' | translate}}</span>
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span class="right">
          <span class="error" style="display:none"></span>
          <div class="loader inline" style="display:none"></div>
          <a id="setup-wizard-save" class="btn btn-primary">{{'setup.start' | translate}}</a>
        </span>
        <a href="#" class="btn cancel" data-dismiss="modal">{{'setup.skip' | translate}}</a>
      </div>
    </div>
  </div>
</div>
