<div id="import-translation" role="document">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-click="cancel()">&times;</button>
    <h3 translate>Import translations</h3>
  </div>
  <div class="modal-body">
    <form action="" method="POST">
      <div class="form-group">
        <label translate>Translation file</label> *
        <input type="file" name="translations" />
        <p class="help-block" translate>Translation file help</p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <p class="note"></p>
    <a class="btn cancel" ng-click="cancel()" translate>Cancel</a>
    <a class="btn submit btn-primary" ng-click="import()" translate translate-attr-data-working-label="Submitting">Submit</a>
  </div>
</div>
