<mm-modal
  status="status"
  id="'send-message'"
  title-key="'Send Message'"
  submit-key="'Send'"
  submitting-key="'Sending'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <form action="" method="POST" class="message-form">
    <div class="form-group" ng-class="{ 'has-error': error.phone }">
      <select class="form-control" name="phone" autocomplete="off" multiple="multiple"></select>
      <span class="help-block" ng-show="error.phone">{{error.phone}}</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': error.message }">
      <textarea name="message" class="form-control" translate translate-attr-placeholder="tasks.0.messages.0.message" ng-model="model.message"></textarea>
      <span class="help-block" ng-show="error.message">{{error.message}}</span>
      <span class="count">{{count}}</span>
    </div>
  </form>
</mm-modal>
