<div id="send-message" class="modal fade message-form" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'Send Message' | translate}}</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST">

          <div class="form-group">
            <select style="width:100%;" class="form-control" name="phone" autocomplete="off" data-placeholder="{{'tasks.0.messages.0.to' | translate}}" multiple="multiple"></select>
            <span class="help-block"></span>
          </div>

          <div class="form-group">
            <textarea name="message" class="form-control" placeholder="{{'tasks.0.messages.0.message' | translate}}"></textarea>
            <span class="help-block"></span>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <span class="count left">{{note}}</span>
        <a href="#" class="btn cancel" data-dismiss="modal">{{'Cancel' | translate}}</a>
        <a class="btn submit btn-primary" ng-click="sendMessage($event)" ng-attr-data-working-label="{{'Sending' | translate}}">{{'Send' | translate}}</a>
      </div>
    </div>
  </div>
</div>
