<div role="document" class="tour-select">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-click="cancel()">&times;</button>
    <h3 translate>tour.select</h3>
  </div>
  <div class="modal-body">
    <p translate>tour.select.description</p>
    <a ng-repeat="tour in tours | orderBy:'order' track by tour.id" class="btn tour-option" ng-click="start(tour.id)" ng-class="'tour-option-' + tour.id">
      <div class="fa" ng-class="tour.icon"></div>
      <div class="button-label" translate="{{tour.name}}"></div>
    </a>
  </div>
  <div class="modal-footer">
    <a class="btn cancel" ng-click="cancel()" translate>Cancel</a>
  </div>
</div>