<div class="modal fade" id="update-password" role="dialog" ng-controller="EditUserCtrl">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>{{'password.update' | translate}}</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST"> 

          <div class="form-group" ng-class="{'has-error': errors.password}">
            <label for="password">{{'Password' | translate}} <span ng-hide="editUserModel.id">*</span></label>
            <input id="password" type="password" class="form-control" ng-model="editUserModel.password" autocomplete="off"/>
            <span class="help-block">{{errors.password}}</span>
          </div>

          <div class="form-group">
            <label for="password-confirm">{{'Confirm Password' | translate}} <span ng-hide="editUserModel.id">*</span></label>
            <input id="password-confirm" type="password" class="form-control" ng-model="editUserModel.passwordConfirm" autocomplete="off"/>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <p class="note"></p>
        <a class="btn cancel" data-dismiss="modal">{{'Cancel' | translate}}</a>
        <a class="btn submit btn-primary" ng-click="updatePassword()">{{'Submit' | translate}}</a>
      </div>
    </div>
  </div>
</div>
