@if (!selectMode && fastActions?.length) {
  <section
    class="fast-action-trigger"
    [class.embed-fast-action]="config?.button?.type === buttonTypeFlat"
    [attr.test-id]="getFastExecutableAction() ? 'one-action-no-menu' : 'multiple-actions-menu'">
    @if (config?.button?.type !== buttonTypeFlat) {
      <button
        mat-fab
        color="primary"
        class="fast-action-fab-button"
        (click)="open()">
        <mat-icon [fontIcon]="getTriggerButtonIcon()" color="white"></mat-icon>
      </button>
    }
    @if (config?.button?.type === buttonTypeFlat) {
      <button
        mat-flat-button
        color="primary"
        class="fast-action-flat-button"
        (click)="open()">
        {{ (getActionLabel() || config?.button?.label) | translate }}
      </button>
    }
  </section>
}

<ng-template #contentWrapper>
  <section class="fast-action-content-wrapper">

    <mm-panel-header [headerTitle]="config?.title || 'fast_action_button.title'" (onClose)="closeAll()"></mm-panel-header>

    <mat-list class="fast-action-body">
      @for (action of fastActions; track trackById($index, action)) {
        <mat-list-item>
          <a
            class="fast-action-item"
            [attr.test-id]="action.id"
            (click)="executeAction(action)">
            @if (action.icon?.name) {
              <div class="fast-action-item-icon">
                @if (action.icon.type === iconTypeFontAwesome) {
                  <mat-icon [fontIcon]="action.icon.name"></mat-icon>
                }
                @if (action.icon.type === iconTypeResource) {
                  <span [innerHTML]="action.icon.name | resourceIcon" class="fast-action-resource-icon"></span>
                }
              </div>
            }
            <p class="fast-action-item-label">{{ action.label || (action.labelKey | translate) }}</p>
          </a>
        </mat-list-item>
      }
    </mat-list>

  </section>
</ng-template>
