<mm-tool-bar title="training_materials.page.title"/>

<div class="inner">
  <div class="inbox page">

    <div id="trainings-list" class="col-sm-4 inbox-items left-pane">
      <div class="items-container">
        @if (trainingList?.length) {
          <ul>
            @for (training of trainingList; track trackBy($index, training)) {
              <li
                class="content-row"
                [attr.data-record-id]="training.code"
                [class.selected]="training.code === selectedTrainingId"
                [class.completed]="training.isCompletedTraining">
                <a [routerLink]="['/', 'trainings', training.code]" [state]="{ tab: 'trainings', id: training.code }">
                  <div class="content">
                    <div class="heading">
                      <h4>
                        @if (training.title) {
                          <span>{{ training.title }}</span>
                        }
                        @if (!training.title) {
                          <span>{{ training.code }}</span>
                        }
                      </h4>
                      @if (training.isCompletedTraining) {
                        <mat-icon class="mat-icon-check" svgIcon="icon-check"/>
                      }
                    </div>
                  </div>
                </a>
              </li>
            }
          </ul>
        }

        @if (!loading && !trainingList?.length) {
          <p class="loading-status">{{ 'training_materials.page.no_trainings' | translate }}</p>
        }
        @if (!loading && trainingList?.length && !moreTrainings) {
          <p class="loading-status">
            {{ 'training_materials.page.no_more_trainings' | translate }}
          </p>
        }
        @if (loading) {
          <div class="loader"></div>
        }
        <div class="padding"></div>
      </div>
    </div>

    <router-outlet/>

  </div>
</div>
