{
  "env": {
    "mocha": true
  },
  "rules": {
    "no-console": "off",
    "angular/window-service": "off",
    "angular/timeout-service": "off"
  },
  "parserOptions": {
    "ecmaVersion": 8
  }
}
