<span class="filter input-group freetext-filter" ng-class="{'only-filter': freetextFilterCtrl.currentTab === 'contacts'}">
  <input id="freetext" class="form-control" type="text" ng-model="freetextFilterCtrl.inputText" ng-change="freetextFilterCtrl.updateFilter()" ng-attr-placeholder="{{'freetext.search' | translate}}" ng-disabled="freetextFilterCtrl.selectMode && freetextFilterCtrl.selected.length">
  <span class="input-group-btn">
    <button id="search" class="btn btn-default" type="button" ng-disabled="freetextFilterCtrl.selectMode && freetextFilterCtrl.selected.length">
      <span class="fa fa-search"></span>
    </button>
  </span>
</span>

<span class="filter dropdown mobile-freetext-filter" ng-show="freetextFilterCtrl.currentTab === 'reports'" ng-class="{ 'disabled': freetextFilterCtrl.selectMode && freetextFilterCtrl.selected.length }">
  <span id="mobile-search" class="mm-button" data-toggle="dropdown">
    <span class="mm-button-icon">
      <span class="fa fa-search"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
  </span>
  <div class="search-pane dropdown-menu mm-dropdown-menu" role="menu" aria-labelledby="mobile-search">
    <span class="input-group">
      <input id="mobile-freetext" class="form-control" type="text" ng-model="freetextFilterCtrl.inputText" ng-change="freetextFilterCtrl.updateFilter()" ng-attr-placeholder="{{'freetext.search' | translate}}">
      <span class="input-group-btn small-font">
        <button id="mobile-search-go" class="btn btn-default" type="button">
          <span class="fa fa-search"></span>
        </button>
      </span>
    </span>
  </div>
</span>
