<div class="right-pane navigation">
  <a ng-show="navigationCtrl.cancelCallback" ng-click="navigationCtrl.navigationCancel()" class="filter-bar-back">
    <span class="fa fa-times" ng-class="{ 'mm-icon-disabled': navigationCtrl.enketoSaving }" translate translate-attr-title="close"></span>
  </a>
  <a ng-hide="navigationCtrl.cancelCallback" ng-click="navigationCtrl.navigateBack()" class="filter-bar-back">
    <span class="fa fa-chevron-left" translate translate-attr-title="Back"></span>
  </a>
  <h2>{{navigationCtrl.title}}</h2>
</div>
