project_name: <your-project-name>
namespace: "cht-dev-namespace"
chtversion: 4.1.1
# cht_image_tag - This is filled in automatically by the deploy script. Don't uncomment this line.
couchdb:
  password: <password-value>
  secret: <secret-value>
  user: <user-name>
  uuid: <uuid-value>
  clusteredCouch_enabled: true
  node1_storageSize: 100Mi
  node2_storageSize: 100Mi
  node3_storageSize: 100Mi
  single_node_storageSize: 100Mi  #For when clusteredCouch is disabled
toleration:   # This is for the couchdb pods. Don't change this unless you know what you're doing.
  key: "dev-couchdb-only"
  operator: "Equal"
  value: "true"
  effect: "NoSchedule"
ingress:
  annotations:
    groupname: "dev-cht-alb"
    tags: "Environment=dev,Team=QA"
    certificate: "arn:aws:iam::<account-id>:server-certificate/2023-wildcard-dev-medicmobile-org-chain"
  host: "gamma-cht.dev.medicmobile.org"

environment: "local"  # "local" or "remote"

local:
  diskPath: "/var/lib/couchdb"
