namespace: cht-dev-namespace
chtversion: 4.1.1
couchdb:
  password: <password-value>
  secret: <secret-value>
  user: <user-name>
  uuid: <uuid-value>
  node1_storageSize: 100Mi
  node2_storageSize: 100Mi
  node3_storageSize: 100Mi
toleration:
  key: "dev-couchdb-only"
  operator: "Equal"
  value: "myvalue"
  effect: "NoSchedule"
ingress:
  annotations:
    groupname: "dev-cht-alb"
    tags: "Environment=dev,Team=QA"
    certificate: "arn:aws:iam::<account-id>:server-certificate/2023-wildcard-dev-medicmobile-org-chain"
  host: "gamma-cht.dev.medicmobile.org"
