namespace: cht-dev-namespace
chtversion: 4.1.1
couchdb:
  password: <password-value>
  secret: <secret-value>
  user: <user-name>
  uuid: <uuid-value>
  clusteredCouch_enabled: true
  node1_storageSize: 100Mi
  node2_storageSize: 100Mi
  node3_storageSize: 100Mi
  single_node_storageSize: 100Mi  #For when clusteredCouch is disabled
toleration:
  key: "dev-couchdb-only"
  operator: "Equal"
  value: "true"
  effect: "NoSchedule"
ingress:
  annotations:
    groupname: "dev-cht-alb"
    tags: "Environment=dev,Team=QA"
    certificate: "arn:aws:iam::<account-id>:server-certificate/2023-wildcard-dev-medicmobile-org-chain"
  host: "gamma-cht.dev.medicmobile.org"

environment: "local"  # or "remote"

local:
  namespace: "default"
  diskPath: "/var/lib/couchdb"

remote:
  namespace: "cht-dev-namespace"
