<div class="mm-form-type-filter">
  <multi-dropdown-filter
    *ngIf="!inline"
    [items]="flattenedFacilities"
    [itemLabel]="itemLabel.bind(this)"
    (applyFilter)="applyFilter($event)"
    labelNoFilter="All facilities"
    labelFilter="Number of facilities"
    [disabled]="disabled"
    (onOpen)="loadFacilities()"
  >
    <span class="fa fa-hospital-o"></span>
    <ul id="facility-dropdown-list" class="filter-options">
      <ng-container
        *ngFor="let facility of displayedFacilities; trackBy: trackByFn"
        [ngTemplateOutlet]="facilityTemplate"
        [ngTemplateOutletContext]="{ facility: facility, facilityDepth: 0, filter: dropdownFilter }">
      </ng-container>
    </ul>
  </multi-dropdown-filter>

  <ul class="filter-options" *ngIf="inline">
    <ng-container
      *ngFor="let facility of displayedFacilities; trackBy: trackByFn"
      [ngTemplateOutlet]="facilityTemplate"
      [ngTemplateOutletContext]="{ facility: facility, facilityDepth: 0, filter: inlineFilter }">
    </ng-container>
  </ul>
</div>

<ng-template #facilityTemplate let-facility="facility" let-facilityDepth="facilityDepth" let-parent="parent" let-selectedParent="selectedParent" let-filter="filter">
  <li role="presentation" [class.selected]="filter?.selected.has(facility)" [class.disabled]="selectedParent">
    <a role="menuitem" tabindex="-1" [attr.data-value]="facility?.doc?._id" (click)="!selectedParent && toggle(facility)">
      {{ facility.label | async }}
    </a>
    <ul class="mm-dropdown-submenu">
      <ng-container
        *ngFor="let child of facility?.children; trackBy: trackByFn"
        [ngTemplateOutlet]="facilityTemplate"
        [ngTemplateOutletContext]="{ facility: child, parent: facility, selectedParent: filter?.selected.has(facility), facilityDepth: facilityDepth + 1, filter: filter }">
      </ng-container>
    </ul>
  </li>
</ng-template>
