<!DOCTYPE html>
<html>
  <head>
    <title>{{ branding.name }}</title>
    <link href="/login/style.css" media="all" rel="stylesheet">
    <link rel="shortcut icon" href="/login/icon_48.ico">
  </head>
  <body>
    <div class="center">
      <form id="form" action="/_session" data-redirect="{{ redirect }}">
        <img class="logo" src="/login/medic-logo-light-full.svg" title="Medic Mobile">
        <label for="user">{{ translations.username }}</label>
        <input id="user" name="user"/>
        <label for="password">{{ translations.password }}</label>
        <input id="password" name="password" type="password"/>
        <p class="error incorrect">{{ translations.loginincorrect }}</p>
        <p class="error unknown">{{ translations.loginerror }}</p>
        <button id="login" class="btn">{{ translations.login }}</button>
        <div id="spinner" class="spinner"><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
      </form>
    </div>
    <script src="/login/script.js"></script>
  </body>
</html>
