<div class="tab-content">
  <form>
    <legend translate>configuration.roles.add</legend>

    <div class="form-group required" ng-class="{ 'has-error': validation.key }">
      <label for="key" translate>configuration.role</label>
      <input id="key" name="key" class="form-control medium" ng-model="newRole.key">
      <p class="error">{{validation.key}}</p>
    </div>

    <div class="form-group required" ng-class="{ 'has-error': validation.name }">
      <label for="name" translate>translation.key</label>
      <input id="name" name="name" class="form-control medium" ng-model="newRole.name">
      <p class="error">{{validation.name}}</p>
    </div>

    <div class="form-group">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="offline" name="offline" ng-model="newRole.offline">
          <span translate>configuration.role.offline</span>
        </label>
      </div>
      <p class="help-block" translate>configuration.role.offline.warning</p>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" ng-click="add()" ng-disabled="submitting">
        <i class="fa fa-plus"></i>
        <span translate>Submit</span>
      </button>
      <div class="loader inline small" ng-show="submitting"></div>
      <p class="error" ng-if="error">{{error}}</p>
    </div>
  </form>
</div>

<div class="tab-content">
  <legend translate>configuration.roles</legend>

  <div class="loader" ng-show="loading"></div>

  <div class="tab-content container-fluid deletable" ng-hide="loading">

    <div class="row selection-heading">
      <div class="col-xs-2" translate>configuration.role</div>
      <div class="col-xs-3" translate>translation.key</div>
      <div class="col-xs-5" translate>Name</div>
      <div class="col-xs-1" translate>configuration.role.offline</div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row" ng-repeat="(key, value) in roles track by key">
      <div class="col-xs-2">{{key}}</div>
      <div class="col-xs-3">{{value.name}}</div>
      <div class="col-xs-5" translate>{{value.name}}</div>
      <div class="col-xs-1"><i class="fa fa-check" ng-if="value.offline"></i></div>
      <div class="col-xs-1 delete">
        <a class="btn btn-sm btn-danger" ng-click="!deleting && delete(key)" ng-disabled="deleting"><i class="fa fa-trash-o"></i></a>
      </div>
    </div>

  </div>
</div>
