<div class="loader" ng-show="loading"></div>

<form class="tab-content permissions" ng-hide="loading">

  <div class="form-group container-fluid">
    <div class="row" ng-repeat="permission in permissions | orderBy:'name' track by permission.name">
      <div class="col-xs-4">
        <strong>{{permission.name}}</strong>
        <p translate="permission.description.{{permission.name}}" translate-default=""></p>
      </div>
      <div class="col-xs-8">
        <ul>
          <li ng-repeat="role in permission.roles" class="checkbox">
            <label>
              <input type="checkbox" ng-model="role.enabled"/>
              <span translate>{{roles[role.name].name}}</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="submitting" translate>Submit</button>
    <div class="loader inline small" ng-show="submitting"></div>
    <p class="error" ng-show="error" translate>{{error}}</p>
  </div>

</form>
