<div class="tab-content">
  <form role="form">

    <div class="form-group">
      <label for="locale" translate>Default Application Language</label>
      <select id="locale" class="form-control small" ng-model="basicLanguagesModel.locale" ng-options="locale.doc.code as locale.doc.name disable when !locale.enabled for locale in languagesModel.locales"></select>
      <p class="help-block" translate>setup.language.subtitle</p>
    </div>

    <div class="form-group">
      <label for="locale-outgoing" translate>Language For Outgoing Messages</label>
      <select id="locale-outgoing" class="form-control small" ng-model="basicLanguagesModel.locale_outgoing" ng-options="locale.doc.code as locale.doc.name disable when !locale.enabled for locale in languagesModel.locales"></select>
      <p class="help-block" translate>setup.language.outgoing.subtitle</p>
    </div>

    <div class="form-actions">
      <button type="submit" class="btn btn-primary" ng-click="submitLanguageSettings()" ng-disabled="status.loading" translate>Submit</button>
      <span ng-if="status.success" class="success">{{status.msg}}</span>
      <span ng-if="status.error" class="error">{{status.msg}}</span>
      <div class="loader inline" ng-show="status.loading"></div>
    </div>

  </form>
</div>

<div class="btn-bottom-spacing">
  <button type="button" class="btn btn-primary" ng-click="editLanguage()">
    <i class="fa fa-plus"></i>
    <span translate>Add new language</span>
  </button>
</div>

<div class="loader" ng-show="loading"></div>

<p class="help-block" translate>display.language.accordion.title</p>

<div id="language-accordion" ng-show="!loading" class="panel-group" role="tablist">
  <div class="panel panel-default" ng-repeat="localeModel in languagesModel.locales track by localeModel.doc._id" ng-class="{'disabled': !localeModel.enabled}">
    <div class="panel-heading" role="tab" id="locale-{{localeModel.doc.code}}">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-target="#locale-{{localeModel.doc.code}}-body" data-parent="#language-accordion">
          {{localeModel.doc.name}}
          <span class="fa-stack default" translate translate-attr-title="Default Application Language" ng-show="localeModel.doc.code === languagesModel.default.locale">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
          <span class="fa-stack default" translate translate-attr-title="Language For Outgoing Messages" ng-show="localeModel.doc.code === languagesModel.default.outgoing">
            <i class="fa fa-envelope-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
        </a>
      </h4>
    </div>
    <div id="locale-{{localeModel.doc.code}}-body" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body action-list">
        <div class="alert alert-warning" role="alert" ng-show="{{localeModel.missing > 0}}" translate translate-values="localeModel">Missing translations</div>
        <div>
          <button type="button" class="btn btn-link" ng-click="editLanguage(localeModel.doc)">
            <i class="fa fa-pencil"></i><span translate>edit.name</span>
          </button>
        </div>
        <div ng-if="localeModel.enabled">
          <button type="button" class="btn btn-link" ng-click="disableLanguage(localeModel.doc)">
            <i class="fa fa-ban"></i><span translate>Disable</span>
          </button>
        </div>
        <div ng-if="!localeModel.enabled">
          <button type="button" class="btn btn-link" ng-click="enableLanguage(localeModel.doc)">
            <i class="fa fa-circle-o"></i><span translate>Enable</span>
          </button>
        </div>
        <div>
          <a class="btn btn-link" ng-attr-download="{{localeModel.export.name}}" ng-href="{{localeModel.export.url}}">
            <i class="fa fa-arrow-down"></i><span translate>Download</span>
          </a>
        </div>
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" ng-click="prepareImport(localeModel.doc)">
            <i class="fa fa-arrow-up"></i><span translate>Upload</span>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link btn-danger" ng-click="deleteDoc(localeModel.doc)">
            <i class="fa fa-trash-o"></i><span translate>Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
