<ul class="nav nav-tabs" mm-auth="can_configure">
  <li ui-sref-active="active">
	  <a ui-sref="display.date-time" translate>admin.display.datetime</a>
  </li>
  <li ui-sref-active="active">
	  <a ui-sref="display.languages" translate>Languages</a>
  </li>
  <li ui-sref-active="active">
	  <a ui-sref="display.translations" translate>Translations</a>
  </li>
  <li ui-sref-active="active">
    <a ui-sref="display.privacy-policies" translate>display.privacy.policies.title</a>
  </li>
</ul>
<div class="tab-content" ui-view="tab" mm-auth="can_configure"></div>
