<form role="form">

  <div class="form-group">
    <label for="date-display-format" translate>Date display format</label>
    <select id="date-display-format" class="form-control small" ng-model="displayDateTimeModel.date_format" ng-options="format for format in date_formats" ng-change="updateDateFormatExample()">
    </select>
    <p class="help-block">

    </p>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank" rel="noopener noreferrer" translate>configuration.date.format.help</a>.
      <span translate>For example</span>
      {{dateFormatExample}}
    </p>
  </div>

  <div class="form-group">
    <label for="datetime-display-format" translate>Datetime display format</label>
    <select id="datetime-display-format" class="form-control medium" ng-model="displayDateTimeModel.reported_date_format" ng-options="format for format in datetime_formats" ng-change="updateDatetimeFormatExample()">
    </select>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" target="_blank" rel="noopener noreferrer" translate>configuration.date.format.help</a>.
      <span translate>For example</span>
      {{datetimeFormatExample}}
    </p>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="submitAdvancedSettings()" ng-disabled="status.loading" translate>Submit</button>
    <div class="loader inline" ng-show="status.loading"></div>
    <span ng-show="status.error" class="error">{{status.msg}}</span>
    <span ng-show="status.success" class="success">{{status.msg}}</span>
  </div>

</form>
