<mm-modal
  status="status"
  id="'display_privacy_policies_preview'"
  title-key=""
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <p translate>edit.language.description</p>
  <form action="" method="POST">

    <div class="form-group" ng-class="{'has-error': errors.code}">
      <label translate>Language code</label> *
      <input type="text" class="form-control tiny" ng-model="language.code" ng-disabled="language._id" />
      <span class="error" ng-show="errors.code">{{errors.code}}</span>
      <span class="help-block">
        <span translate>Language code help</span>
        <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2#Current_codes" target="_blank" rel="noopener noreferrer" translate>edit.language.code.help.link</a>
      </span>
    </div>

    <div class="form-group" ng-class="{'has-error': errors.name}">
      <label translate>Name</label> *
      <input type="text" class="form-control small" ng-model="language.name" />
      <span class="error" ng-show="errors.name">{{errors.name}}</span>
      <span class="help-block" translate>Language name help</span>
    </div>

  </form>
</mm-modal>
