<mm-modal
  status="status"
  id="'edit-translation'"
  title-key="editing ? 'Edit translation' : 'translation.add'"
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <form action="" method="POST">
    <div class="form-group">
      <label translate>translation.key</label>
      <input class="form-control" ng-model="model.key" ng-disabled="editing">
    </div>
    <div class="form-group" ng-repeat="locale in model.locales track by locale._id">
      <label>{{locale.name}}</label>
      <textarea class="form-control" ng-model="model.values[locale.code]"></textarea>
    </div>
  </form>
</mm-modal>