<div class="col-sm-12">
  
  <div class="people-section">
    <legend translate>Export</legend>
    <p translate>export.people.description</p>
    <a class="btn btn-default" ng-click="export()" ng-disabled="exporting">
      <i class="fa fa-arrow-down"></i>
      <span translate>Download</span>
    </a>
  </div>

  <div class="people-section">
    <form id="import-contacts">
      <fieldset>
        <legend translate>upload</legend>
        <div class="form-group required">
          <label translate>Contacts</label>
          <input type="file" name="contacts"/>
          <p class="help-block" translate>Contacts file help</p>
        </div>
        <div class="form-group">
          <label>
            <input type="checkbox" ng-model="overwrite"/>
            <span translate>Overwrite Existing Records</span>
          </label>
          <p class="help-block" translate>overwrite.existing.records.help</p>
        </div>
      </fieldset>
      <div class="form-footer">
        <button type="button" class="btn btn-default" ng-click="import()" ng-disabled="importing">
          <i class="fa fa-arrow-up"></i>
          <span translate>upload</span>
        </button>
        <span class="error" ng-show="error">{{error}}</span>
      </div>
    </form>
  </div>

</div>
