<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="export.messages" translate>Messages</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="export.reports" translate>Reports</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="export.contacts" translate>Contacts</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="export.feedback" translate>User Feedback</a>
  </li>
</ul>
<div class="tab-content" ui-view="tab"></div>
