<form id="forms-upload-json">
  <legend translate>Upload Forms</legend>

  <div class="form-actions">
    <a class="btn btn-primary choose" ng-disabled="status.uploading">
      <i class="fa fa-arrow-up"></i>
      <span translate>Import</span>
    </a>
    <div class="error" ng-show="status.error" translate>Upload failed</div>
    <div class="loader" ng-show="status.uploading"></div>
    <span class="help-block" translate>upload.json.forms.help</span>
    <div class="hide">
      <input class="uploader" type="file" accept="application/json">
    </div>
  </div>
</form>

<div class="section">
  <fieldset>
    <legend translate>Installed Forms</legend>
    <ul>
      <li ng-repeat="form in forms" class="row">
        <div class="col-sm-1" ng-bind-html="form.meta.icon | resourceIcon"></div>
        <div class="col-sm-1">{{form.meta.code}}</div>
        <div class="col-sm-10" ng-if="form.meta.translation_key" translate>{{form.meta.translation_key}}</div>
        <div class="col-sm-10" ng-if="!form.meta.translation_key">{{form.meta.label | translateFrom}}</div>
      </li>
    </ul>
    <a class="btn btn-primary" ng-attr-download="{{download.name}}" ng-href="{{download.url}}">
      <i class="fa fa-arrow-down"></i>
      <span translate>Download</span>
    </a>
  </fieldset>
</div>
