<div>
  <p translate>images.partners.description</p>
  <form id="partner-upload">
    <legend translate>partner.logo.upload</legend>
    <div class="form-group required">
      <label for="name" translate>partner.name.field</label>
      <input type="text" name="name" class="form-control medium" ng-required="required" ng-model="name">
    </div>
    <div class="form-group required">
      <label translate>partner.logo.field</label>
      <div>
        <button type="button" class="btn btn-default choose" ng-disabled="uploading">
        <i class="fa fa-arrow-up"></i>
        <span translate>Choose file</span>
        </button>
        <div class="loader" ng-show="uploading"></div>
        <div class="hide">
          <input class="uploader" type="file"  accept="image/*">
        </div>
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="submitting" translate>Submit</button>
      <div class="loader inline small" ng-show="submitting"></div>
      <p class="error">{{error}}</p>
    </div>
  </form>
</div>
<div ng-if="images">
  <legend translate>partner.tab.partners</legend>
  <div class="loader" ng-show="loading"></div>
  <ul class="list-inline">
    <li ng-repeat="image in images">
      <span ng-bind-html="image | partnerImage"></span>
    </li>
  </ul>
</div>
