<mm-modal
  status="status"
  id="'import-translation'"
  title-key="'Import translations'"
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <form action="" method="POST">
    <div class="form-group">
      <label translate>Translation file</label> *
      <input type="file" name="translations" accept=".properties"/>
      <p class="help-block" translate>Translation file help</p>
      <p class="help-block note">{{validationError}}</p>
    </div>
  </form>
</mm-modal>
