<html>
  <head>
    <link href="main.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <body ng-controller="MainCtrl">
    <div class="navigation">
      <ul>
        <li><a ui-sref="settings.basic" translate>Settings</a></li>
        <li><a ui-sref="translation.languages" translate>Languages</a></li>
        <li><a ui-sref="forms.xml" translate>Forms</a></li>
        <li><a ui-sref="export.messages" translate>import.export</a></li>
        <li><a ui-sref="upgrade" translate>instance.upgrade</a></li>
        <li><a ui-sref="users" translate>Users</a></li>
        <li><a ui-sref="icons" translate>icons</a></li>
        <li><a ui-sref="targets" translate>analytics.targets</a></li>
        <li><a ui-sref="permissions" translate>configuration.permissions</a></li>
      </ul>
    </div>
    <div class="content" ui-view></div>
    <script src="main.js"></script>
  </body>
</html>
