<html>
  <head>
    <meta charset="UTF-8">
    <link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
    <title>Medic Mobile administration console</title>
  </head>
  <body ng-controller="MainCtrl" ng-cloak>
    <div class="loader" ng-hide="authorized"></div>
    <div ng-if="authorized">
      <div class="header">
        <h1>Medic Mobile administration console</h1>
      </div>
      <div class="body">
        <ng-include src="'templates/navigation.html'"></ng-include>
        <div class="content" ui-view></div>
      </div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/templates.js"></script>
  </body>
</html>
