<html>
  <head>
    <meta charset="UTF-8">
    <link href="css/main.css" rel="stylesheet" type="text/css" media="screen">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Medic Mobile administration console</title>
  </head>
  <body ng-controller="MainCtrl">
      <nav class="header">
        <div class="container">
          <div class="navbar-header">
            <h1 translate>admin.app.name</h1>
          </div>
        </div>
      </nav>
    <div class="body">
      <div class="navigation">
        <ul>
          <li><a ui-sref="settings.basic" translate>Settings</a></li>
          <li><a ui-sref="translation.languages" translate>Languages</a></li>
          <li><a ui-sref="forms.xml" translate>Forms</a></li>
          <li><a ui-sref="export.messages" translate>import.export</a></li>
          <li><a ui-sref="upgrade" translate>instance.upgrade</a></li>
          <li><a ui-sref="users" translate>Users</a></li>
          <li><a ui-sref="images.icons" translate>images</a></li>
          <li><a ui-sref="targets" translate>analytics.targets</a></li>
          <li><a ui-sref="authorization.permissions" translate>configuration.authorization</a></li>
          <li><a ui-sref="messagetest" translate>configuration.messagetest</a></li>
          <li><a ui-sref="message-queue.due" translate>admin.message.queue</a></li>
        </ul>
      </div>
      <div class="content" ui-view></div>
    </div>
    <script src="js/main.js"></script>
    <script src="js/templates.js"></script>
  </body>
</html>
