<p ng-show="error" class="alert alert-danger" role="alert" translate>admin.message.queue.error</p>

<div class="container-fluid">
  <table>
    <thead>
      <tr class="row">
        <th translate>admin.message.queue.recipient</th>
        <th translate>admin.message.queue.created</th>
        <th translate>admin.message.queue.message</th>
        <th translate>admin.message.queue.status</th>
        <th translate>admin.message.queue.due</th>
        <th ng-if="displayLastUpdated" translate>admin.message.queue.updated</th>
      </tr>
    </thead>
    <tbody ng-show="loading">
      <tr>
        <td colspan="{{ displayLastUpdated ? 6 : 5 }}">
          <div class="loader"></div>
        </td>
      </tr>
    </tbody>
    <tbody>
      <tr ng-repeat="message in messages" class="row">
        <td>{{message.recipient}}</td>
        <td>
          <relative-date date="message.record.reportedDate" date-format="dateFormat"></relative-date>
          <div>
            <a ng-if="message.link" ng-href="{{basePath}}#/reports/{{message.record.id}}" target="_blank" rel="noopener noreferrer" translate>
              admin.message.queue.view.report
            </a>
          </div>
        </td>
        <td>
          <p ng-if="message.task"><strong>{{message.task}}</strong></p>
          <span>{{message.content}}</span>
          <div class="message-error" ng-if="message.error">
            <span translate>messages.errors.invalid</span>
            <span translate>{{message.error}}</span>
          </div>
        </td>
        <td>
          <span class="message-state {{message.state}}" ng-class="{ delayed: message.delayed, 'has-error': message.error }" translate>
            {{'state.' + message.state}}
          </span>
        </td>
        <td>
          <relative-date date="message.due" date-format="dateFormat"></relative-date>
        </td>
        <td ng-if="displayLastUpdated">
          <relative-date date="message.stateHistory.timestamp" date-format="dateFormat"></relative-date>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<mm-pagination></mm-pagination>
