<div class="row flex-row selection-heading">
  <div class="col col-fixed" translate>admin.message.queue.recipient</div>
  <div class="col col-fixed" translate>admin.message.queue.created</div>
  <div class="col col-grow" translate>admin.message.queue.message</div>
  <div class="col col-fixed" translate>admin.message.queue.status</div>
  <div class="col col-fixed" translate>admin.message.queue.due</div>
  <div ng-if="displayLastUpdated" class="col col-fixed" translate>admin.message.queue.updated</div>
</div>
<div class="row flex-row" ng-repeat="message in messages">
  <div class="col col-fixed">{{message.recipient}}</div>
  <div class="col col-fixed">
    <relative-date date="message.record.reported_date" date-format="dateFormat"></relative-date>
    <br/>
    <a href=" ../../medic/_rewrite/#/reports/{{message.record.id}}" title="{{message.record.id}}" target="_blank">
      View record
    </a>
  </div>
  <div class="col col-grow">
    <p class="strong task-group" ng-if="message.task">{{message.task}}</p>
    <span>{{message.content}}</span>
  </div>
  <div class="col col-fixed">
    <span class="message-state state-{{message.state}}" ng-class="{ delayed: message.delayed }">{{message.state}}</span>
  </div>
  <div class="col col-fixed">
    <relative-date date="message.due" date-format="dateFormat"></relative-date>
  </div>

  <div ng-if="displayLastUpdated" class="col col-fixed">
    <relative-date date="message.state_history.timestamp" date-format="dateFormat"></relative-date>
  </div>
</div>
<mm-pagination></mm-pagination>
