<div role="document" ng-attr-id="{{id}}">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-disabled="status.processing" ng-click="onCancel()">&times;</button>
    <h2 translate translate-values="titleParams">{{titleKey}}</h2>
  </div>
  <div class="modal-body" ng-transclude></div>
  <div class="modal-footer" ng-hide="!(submitKey || cancelKey)">
    <p class="alert text-left" ng-class="status.severity === 'warning' ? 'alert-warning' : 'alert-danger'" ng-if="status.error" translate>{{status.error}}</p>
    <a class="btn cancel" test-id="modal-cancel-btn" ng-class="{ 'disabled': status.processing }" ng-click="onCancel()" translate>{{cancelKey || 'Cancel'}}</a>
    <a class="btn btn-danger pull-left" ng-show="showDelete" ng-click="onDelete()"><i class="fa fa-trash-o"></i>&nbsp;<span translate>{{deleteKey || 'Delete'}}</span></a>
    <a class="btn submit" test-id="modal-submit-btn" ng-if="submitKey" ng-class="{ 'btn-primary': !danger, 'btn-danger': danger, 'disabled': disableSubmit }" mm-enter="onSubmit()" ng-click="onSubmit()" ng-show="!status.processing" translate>{{submitKey}}</a>
    <a class="btn submit disabled" ng-class="{ 'btn-primary': !danger, 'btn-danger': danger }" ng-show="status.processing" translate>{{submittingKey || submitKey}}</a>
  </div>
</div>
