<fullscreen-window
  title-key="'App Management'"
  showCloseButton="false"
  on-cancel="cancel()"
>
  <div id="upload-confirm-dialog" class="row" ng-if="displayUploadConfirm">
    <h3 class="text-center"><p>Are you sure you want to upload [filename}.csv ?</p></h3>
    <p class="text-center"><a id="upload-btn" class="btn btn-primary" ng-click="processUpload()">
      <span translate>Yes, upload</span>
    </a></p>
    <p class="text-center"><a class="btn cancel" id="cancel-btn"  ng-click="onCancel()"> Cancel</a></p>
  </div>

  <div id="processing-status" class="row" ng-if="displayProcessingStatus">
    <div class="loader" ></div>
    <h3 class="text-center"><p>Processing (25 of 100 users)...</p></h3>
    <p class="text-center">
      <a class="btn btn-primary"  ng-click="showFinishSummary()">
      <span >showFinishSummary</span>
      </a>
    </p>
  </div>

  <div id="finish-summary" ng-if="displayFinishSummary">
    <h3 class="text-center"><p>[X] users have been successfully added</p></h3>
    <p class="text-center">
    Click <a class="" ng-click="downloadSuccessFile()"> here </a>
    to download the .csv of <strong>added users</strong>
      and <a class="" ng-click="downloadFailedFile()"> here </a>  for the .csv <strong>containing errors.</strong>
    </p>
    <p class="text-center"><strong>To resubmit the users containing errors.</strong><p>
    <p>
    1. Open the .csv containing errors <br />
    2. Review spreadsheet to fix errors and/or add missing information <br />
    3. Reupload updated .csv <br />
    </p>
    <p class="text-center">
      <a id="back-to-app-btn" class="btn btn-primary" ng-click="backToAppManagement()" ui-sref="users">
      <span translate>Back to App Management</span>
    </a>
    </p>
  </div>
</fullscreen-window>