<div class="navigation">
  <ul>
    <li><a ui-sref="settings.basic" translate>Settings</a></li>
    <li><a ui-sref="translation.languages" translate>Languages</a></li>
    <li><a ui-sref="forms.xml" translate>Forms</a></li>
    <li><a ui-sref="export.messages" translate>import.export</a></li>
    <li><a ui-sref="upgrade" translate>instance.upgrade</a></li>
    <li><a ui-sref="users" translate>Users</a></li>
    <li><a ui-sref="icons" translate>icons</a></li>
    <li><a ui-sref="targets" translate>analytics.targets</a></li>
    <li><a ui-sref="authorization.permissions" translate>configuration.authorization</a></li>
    <li><a ui-sref="messagetest" translate>configuration.messagetest</a></li>
    <li><a ui-sref="message-queue.due" translate>admin.message.queue</a></li>
  </ul>
</div>
