<form role="form">

  <div class="form-group">
    <label for="accept-messages" translate>Accept plain-text messages</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="accept-messages" ng-model="advancedSettingsModel.accept_messages"/>
        <span translate>Accept plain-text messages help</span>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="date-display-format" translate>Date display format</label>
    <select id="date-display-format" class="form-control small" ng-model="advancedSettingsModel.date_format" ng-options="format for format in date_formats" ng-change="updateDateFormatExample()">
    </select>
    <p class="help-block">

    </p>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" translate>configuration.date.format.help</a>.
      <span translate>For example</span>
      {{dateFormatExample}}
    </p>
  </div>

  <div class="form-group">
    <label for="datetime-display-format" translate>Datetime display format</label>
    <select id="datetime-display-format" class="form-control medium" ng-model="advancedSettingsModel.reported_date_format" ng-options="format for format in datetime_formats" ng-change="updateDatetimeFormatExample()">
    </select>
    <p class="help-block">
      <a href="http://momentjs.com/docs/#/displaying/format/" translate>configuration.date.format.help</a>.
      <span translate>For example</span>
      {{datetimeFormatExample}}
    </p>
  </div>

  <div class="form-group">
    <label translate>Phone number conversion</label>
    <p>
      <span translate>Replace country code for</span>
      <select id="outgoing-phone-replace-match"></select>
      <span translate>with</span>
      <input type="text" class="form-control tiny inline" ng-model="advancedSettingsModel.outgoing_phone_replace.replace">
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': errors.fields.messagingWindow }">
    <label translate>Messaging window</label>
    <p>
      <span translate>Send scheduled messages between</span>
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_morning_hours" ng-options="hour.value as hour.name for hour in hours"></select>
      :
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_morning_minutes" ng-options="minute.value as minute.name for minute in minutes"></select>
      <span translate>and</span>
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_evening_hours" ng-options="hour.value as hour.name for hour in hours"></select>
      :
      <select class="form-control tiny inline" ng-model="advancedSettingsModel.schedule_evening_minutes" ng-options="minute.value as minute.name for minute in minutes"></select>
    </p>
    <p class="error">{{errors.fields.messagingWindow}}</p>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="submitAdvancedSettings()" ng-disabled="status.loading" translate>Submit</button>
    <div class="loader inline" ng-show="status.loading"></div>
    <span ng-show="status.error" class="error">{{status.msg}}</span>
    <span ng-show="status.success" class="success">{{status.msg}}</span>
  </div>

</form>
