<form role="form">

  <div class="form-group">
    <label for="locale" translate>Default Application Language</label>
    <select id="locale" class="form-control small" ng-model="basicSettingsModel.locale" ng-options="locale.code as locale.name for locale in enabledLocales">
    </select>
    <p class="help-block" translate>setup.language.subtitle</p>
  </div>

  <div class="form-group">
    <label for="locale-outgoing" translate>Language For Outgoing Messages</label>
    <select id="locale-outgoing" class="form-control small" ng-model="basicSettingsModel.locale_outgoing" ng-options="locale.code as locale.name for locale in enabledLocales">
    </select>
    <p class="help-block" translate>setup.language.outgoing.subtitle</p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': basicSettingsModel.error.default_country_code }">
    <label for="default-country-code" translate>Default country code</label> *
    <div>
      <select id="default-country-code" name="default-country-code"></select>
    </div>
    <p class="help-block" translate>Default country code help</p>
    <p class="help-block" ng-if="basicSettingsModel.error.default_country_code">
      {{basicSettingsModel.error.default_country_code}}
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': basicSettingsModel.error.gateway_number }">
    <label for="gateway-number" translate>Gateway number</label> *
    <input type="text" class="form-control small" id="gateway-number" ng-model="basicSettingsModel.gateway_number">
    <p class="help-block" translate>Gateway number help</p>
    <p class="help-block" ng-if="basicSettingsModel.error.gateway_number">
      {{basicSettingsModel.error.gateway_number}}
    </p>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="submitBasicSettings()" ng-disabled="status.loading" translate>Submit</button>
    <span ng-if="status.success" class="success">{{status.msg}}</span>
    <span ng-if="status.error" class="error">{{status.msg}}</span>
    <div class="loader inline" ng-show="status.loading"></div>
  </div>

</form>
