<ul class="nav nav-tabs" mm-auth="can_configure">
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="sms.settings" translate>configuration.sms.settings</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="sms.forms" translate>configuration.sms.forms</a>
  </li>
  <li role="presentation" ui-sref-active="active">
    <a ui-sref="sms.test" translate>configuration.sms.test.title</a>
  </li>
</ul>
<div class="tab-content" ui-view="tab" mm-auth="can_configure"></div>
