<form role="form">

  <div class="form-group" ng-class="{ 'has-error': model.error.default_country_code }">
    <label for="default-country-code" translate>Default country code</label> 
    <div>
      <select id="default-country-code" name="default-country-code"><option></option></select>
    </div>
    <p class="help-block" translate>Default country code help</p>
    <p class="help-block" ng-if="model.error.default_country_code">
      {{model.error.default_country_code}}
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': model.error.gateway_number }">
    <label for="gateway-number" translate>Gateway number</label> 
    <input type="text" class="form-control small" id="gateway-number" ng-model="model.gateway_number">
    <p class="help-block" translate>Gateway number help</p>
    <p class="help-block" ng-if="model.error.gateway_number">
      {{model.error.gateway_number}}
    </p>
  </div>

  <div class="form-group">
    <label for="accept-messages" translate>Accept plain-text messages</label>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="accept-messages" ng-model="model.accept_messages"/>
        <span translate>Accept plain-text messages help</span>
      </label>
    </div>
  </div>

  <div class="form-group">
    <label translate>Phone number conversion</label>
    <p>
      <span translate>Replace country code for</span>&nbsp;
      <select id="outgoing-phone-replace-match"></select>&nbsp;
      <span translate>with</span>
      <input type="text" class="form-control tiny inline" ng-model="model.outgoing_phone_replace.replace">
    </p>
  </div>

  <div class="form-group" ng-class="{ 'has-error': errors.fields.messagingWindow }">
    <label translate>Messaging window</label>
    <p>
      <span translate>Send scheduled messages between</span>&nbsp;
      <select class="form-control tiny inline" ng-model="model.schedule_morning_hours" ng-options="hour.value as hour.name for hour in hours"></select>
      &nbsp;:&nbsp;
      <select class="form-control tiny inline" ng-model="model.schedule_morning_minutes" ng-options="minute.value as minute.name for minute in minutes"></select>
      &nbsp;<span translate>and</span>&nbsp;
      <select class="form-control tiny inline" ng-model="model.schedule_evening_hours" ng-options="hour.value as hour.name for hour in hours"></select>
      &nbsp;:&nbsp;
      <select class="form-control tiny inline" ng-model="model.schedule_evening_minutes" ng-options="minute.value as minute.name for minute in minutes"></select>
    </p>
    <p class="error">{{errors.fields.messagingWindow}}</p>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="status.loading" translate>Submit</button>
    <span ng-if="status.success" class="success">{{status.msg}}</span>
    <span ng-if="status.error" class="error">{{status.msg}}</span>
    <div class="loader inline" ng-show="status.loading"></div>
  </div>

</form>
