<form action="" method="POST" class="col-xs-8 configuration-form" mm-auth="can_configure">
  <p translate>configuration.sms.test.description</p>
  <div class="form-group required" ng-class="{'has-error': errors.message}">
    <label for="message" translate>Message Body</label>
    <input id="message" type="text" class="form-control" ng-model="message" />
    <span class="help-block" translate>configuration.sms.test.message.description</span>
    <span class="help-block" ng-if="errors.message" translate>{{errors.message}}</span>
  </div>

  <div class="form-group required" ng-class="{'has-error': errors.from}">
    <label for="from" translate>configuration.sms.test.from.number</label>
    <input id="from" type="text" class="form-control small" ng-model="from" />
    <span class="help-block" translate>configuration.sms.test.number.validation.description</span>
    <span class="help-block" ng-if="errors.from" translate>{{errors.from}}</span>
  </div>

  <a class="btn btn-primary" ng-click="submit()" ng-disabled="saving" translate>Send Message</a>
  <span translate ng-if="success">report.created</span>
  <span translate ng-if="failure">Error sending message</span>

</form>
