<button type="button" class="btn btn-primary" ng-click="editLanguage()">
  <i class="fa fa-plus"></i>
  <span translate>Add new language</span>
</button>

<div class="loader" ng-show="loading"></div>

<div id="language-accordion" ng-show="!loading" class="panel-group" role="tablist">
  <div class="panel panel-default" ng-repeat="localeModel in languagesModel.locales track by localeModel.doc._id" ng-class="{'disabled': !localeModel.doc.enabled}">
    <div class="panel-heading" role="tab" id="locale-{{localeModel.doc.code}}">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-target="#locale-{{localeModel.doc.code}}-body" data-parent="#language-accordion">
          {{localeModel.doc.name}}
          <span class="fa-stack default" translate translate-attr-title="Default Application Language" ng-show="localeModel.doc.code === languagesModel.default.locale">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
          <span class="fa-stack default" translate translate-attr-title="Language For Outgoing Messages" ng-show="localeModel.doc.code === languagesModel.default.outgoing">
            <i class="fa fa-envelope-o fa-stack-2x"></i>
            <i class="fa fa-star fa-stack-1x"></i>
          </span>
        </a>
      </h4>
    </div>
    <div id="locale-{{localeModel.doc.code}}-body" class="panel-collapse collapse" role="tabpanel">
      <div class="panel-body action-list">
        <div class="alert alert-warning" role="alert" ng-show="{{localeModel.missing > 0}}" translate translate-values="localeModel">Missing translations</div>
        <div>
          <button type="button" class="btn btn-link" ng-click="editLanguage(localeModel.doc)">
            <i class="fa fa-pencil"></i><span translate>Edit</span>
          </button>
        </div>
        <div ng-if="localeModel.doc.enabled">
          <button type="button" class="btn btn-link" ng-click="disableLanguage(localeModel.doc)">
            <i class="fa fa-ban"></i><span translate>Disable</span>
          </button>
        </div>
        <div ng-if="!localeModel.doc.enabled">
          <button type="button" class="btn btn-link" ng-click="enableLanguage(localeModel.doc)">
            <i class="fa fa-circle-o"></i><span translate>Enable</span>
          </button>
        </div>
        <div ng-if="localeModel.doc.enabled">
          <button type="button" class="btn btn-link" ng-click="setLocale(localeModel.doc)" ng-disabled="localeModel.doc.code === languagesModel.default.locale">
            <span class="fa-stack default">
              <i class="fa fa-file-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span><span translate>Set as default application language</span>
          </button>
        </div>
        <div ng-if="localeModel.doc.enabled">
          <button type="button" class="btn btn-link" ng-click="setLocaleOutgoing(localeModel.doc)" ng-disabled="localeModel.doc.code === languagesModel.default.outgoing">
            <span class="fa-stack default">
              <i class="fa fa-envelope-o fa-stack-2x"></i>
              <i class="fa fa-star fa-stack-1x"></i>
            </span><span translate>Set as language for outgoing messages</span>
          </button>
        </div>
        <div>
          <a class="btn btn-link" ng-attr-download="{{localeModel.export.name}}" ng-href="{{localeModel.export.url}}">
            <i class="fa fa-arrow-down"></i><span translate>Export</span>
          </a>
        </div>
        <div>
          <button type="button" class="btn btn-link" data-toggle="modal" ng-click="prepareImport(localeModel.doc)">
            <i class="fa fa-arrow-up"></i><span translate>Import</span>
          </button>
        </div>
        <div>
          <button type="button" class="btn btn-link btn-danger" ng-click="deleteDoc(localeModel.doc)">
            <i class="fa fa-trash-o"></i><span translate>Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
