<mm-modal
  status="status"
  danger="true"
  title-key="model.stageOnly ? 'instance.stage.confirm' : 'instance.upgrade.confirm'"
  submit-key="'Confirm'"
  submitting-key="'instance.upgrade.confirming'"
  on-cancel="cancel()"
  on-submit="submit()"
>
  <p translate-values="{ before: '{{model.before}}', after: '{{model.after}}' }" translate>instance.upgrade.confirm.summary</p>
  <p ng-if="model.stageOnly" translate>instance.stage.confirm.note</p>
  <p ng-if="!model.stageOnly" translate>instance.upgrade.confirm.warning.text</p>
</mm-modal>
