<div class="upgrade-config col-sm-12" ng-hide="currentDeploy || loading" mm-auth="can_configure">
  <legend translate>instance.upgrade.no_horti</legend>
  <p translate>instance.upgrade.no_horti.detail</p>
</div>

<div class="upgrade-config col-sm-12" ng-show="currentDeploy" mm-auth="can_configure">
  <div ng-show="deployDoc">
    <legend ng-hide="deployDoc.action === 'stage'" translate>instance.upgrade.deployment</legend>
    <legend ng-show="deployDoc.action === 'stage'" translate>instance.stage.deployment</legend>

    <p class="status"
      translate="instance.upgrade.upgrading"
      translate-values="{ before: currentDeploy.version, after: deployDoc.build_info.version }"></p>

    <ul ng-show="deployDoc.log.length" class="table table-striped col">
      <li ng-repeat="entry in deployDoc.log" class="row">
        <div ng-if="entry.type === 'stage'">
          <div class="col-xs-3">{{entry.datetime | date:'medium'}}</div>
          <div class="col-xs-9">{{entry.message.key | translate}}</div>
        </div>
        <ul class="col-xs-12" ng-if="entry.type === 'warm_log'">
          <li ng-repeat="indexer in entry.indexers">
            <div class="col-xs-3">{{indexer.design_document}}</div>
            <div class="col-xs-9 progress">
              <div class="progress-bar" role="progressbar" style="width: {{indexer.progress}}%;" aria-valuenow="{{indexer.progress}}" aria-valuemin="0" aria-valuemax="100">{{indexer.progress}}%</div>
            </div>
          </li>
        </ul>
      </li>
    </ul>

    <div ng-show="deployDoc.staging_complete && deployDoc.action === 'stage'">
      <p class="col-xs-11" translate>instance.stage.complete</p>
      <button class="col-xs-1 btn btn-primary" ng-click="upgrade(deployDoc.build_info.version, 'complete')" translate>instance.upgrade.install</button>
    </div>
    <div ng-show="deployDoc._deleted">
      <p class="col-xs-10" translate>instance.upgrade.complete</p>
      <button class="col-xs-2 btn btn-primary" ng-click="reloadPage()" translate>reload.app</button>
    </div>
  </div>

  <div ng-show="error">
    <p class="alert alert-danger error">{{error}}</p>
  </div>

  <div ng-hide="deployDoc">

    <div>
      <legend translate>instance.upgrade.current_version</legend>
      <p ng-hide="currentDeploy" translate>instance.upgrade.no_details</p>
      <dl ng-show="currentDeploy" class="horizontal">
        <dt translate>instance.upgrade.version</dt>
        <dd>{{currentDeploy | buildVersion}}</dd>
        <dt translate>instance.upgrade.deployed_by</dt>
        <dd>{{currentDeploy.user}}</dd>
        <dt translate>instance.upgrade.at</dt>
        <dd ng-bind-html="currentDeploy.timestamp | date"></dd>
      </dl>
    </div>

    <div><p translate>upgrade.description</p></div>

    <div class="col-sm-12" ng-show="loading || (deployDoc && !deployDoc._deleted && (deployDoc.action !== 'stage' || !deployDoc.staging_complete))">
      <div class="loader"></div>
    </div>

    <div ng-hide="loading || (deployDoc && !deployDoc._deleted && (deployDoc.action !== 'stage' || !deployDoc.staging_complete))">

      <div>
        <legend translate>instance.upgrade.releases</legend>
        <p ng-hide="versions.releases.length" translate>instance.upgrade.no_new_releases</p>
        <div ng-show="versions.betas.length">
          <div class="row selection-heading">
            <div class="col-xs-5" translate>instance.upgrade.version</div>
            <div class="col-xs-7" translate>instance.upgrade.date</div>
          </div>
          <ul>
            <li ng-repeat="release in versions.releases" class="row">
              <release release="release" potentially-incompatible="potentiallyIncompatible" upgrade="upgrade"/>
            </li>
          </ul>
        </div>
      </div>

      <div ng-show="allowPrereleaseBuilds">
        <legend translate>instance.upgrade.betas</legend>
        <div>
          <p ng-hide="versions.betas.length" translate>instance.upgrade.no_betas</p>
          <div ng-show="versions.betas.length">
            <div class="row selection-heading">
              <div class="col-xs-5" translate>instance.upgrade.version</div>
              <div class="col-xs-7" translate>instance.upgrade.date</div>
            </div>
            <ul>
              <li ng-repeat="release in versions.betas" class="row">
                <release release="release" potentially-incompatible="potentiallyIncompatible" upgrade="upgrade"/>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div ng-show="allowPrereleaseBuilds">
        <legend translate>instance.upgrade.branches</legend>
        <div>
          <p ng-hide="versions.branches.length" translate>instance.upgrade.no_branches</p>
          <div ng-show="versions.branches.length">
            <div class="row selection-heading">
              <div class="col-xs-5" translate>instance.upgrade.version</div>
              <div class="col-xs-7" translate>instance.upgrade.date</div>
            </div>
            <ul>
              <li ng-repeat="release in versions.branches" class="row">
                <release release="release" potentially-incompatible="potentiallyIncompatible" upgrade="upgrade" date-format="medium" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
