<div mm-auth="can_configure">

  <legend translate>Users</legend>

  <div class="tab-content">
    <a id="add-user" class="btn btn-primary" ng-click="editUser({})">
      <i class="fa fa-plus"></i>
      <span translate>Add User</span>
    </a>
  </div>

  <div class="loader" ng-show="loading"></div>

  <div class="tab-content deletable" ng-hide="loading">

    <p ng-show="error" class="alert alert-danger" role="alert" translate>Error fetching users</p>
    <div class="container-fluid">
      <div class="row selection-heading" ng-hide="error">
        <div class="col-xs-2" translate>User Name</div>
        <div class="col-xs-2" translate>Full Name</div>
        <div class="col-xs-3" translate>configuration.role</div>
        <div class="col-xs-2" translate>Phone Number</div>
        <div class="col-xs-1" translate>Facility</div>
        <div class="col-xs-1" translate>Contact</div>
        <div class="col-xs-1"></div>
      </div>

      <div class="row selection" ng-repeat="user in users" ng-click="editUser(user)" ng-class="{'inactive': user.inactive}">
        <div class="col-xs-2">{{user.name}}</div>
        <div class="col-xs-2">{{user.fullname}}</div>
        <div class="col-xs-3"><span ng-if="user.roles[0]" translate>{{(roles[user.roles[0]].name) || ('usertype.' + user.roles[0])}}</span></div>
        <div class="col-xs-2">{{user.phone}}</div>
        <div class="col-xs-1"><i class="fa fa-check" ng-if="user.facility_id"></i></div>
        <div class="col-xs-1"><i class="fa fa-check" ng-if="user.contact_id"></i></div>
        <div class="col-xs-1 delete">
          <a class="btn btn-sm btn-danger" ng-click="deleteUserPrepare(user, $event)"><i class="fa fa-trash-o"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
