@font-face {
    font-family: 'enketo-icons';
    src: url('/fonts/enketo-icons-v2.woff') format('woff'),
        url('/fonts/enketo-icons-v2.ttf') format('truetype'),
        url('/fonts/enketo-icons-v2.svg#enketo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
