<div class="target-progress">
  <div class="progress" [class.placeholder]="value?.placeholder">
    @if (!aggregate) {
      <div class="progress-bar" [class.hidden]="value?.percent <= 0" [ngStyle]="{ 'width': (value?.percent || 0) + '%' }"></div>
    }
    @if (aggregate) {
      <div class="progress-bar" [class.hidden]="value?.placeholder" [ngStyle]="{ 'width': (value?.percent || 0) + '%' }" [ngClass]="{ 'no-border': value?.percent === 0 }">
        @if (target?.type === 'percent') {
          <span>{{ value?.percent | localizeNumber }}%</span>
        }
        @if (target?.type !== 'percent') {
          <span>{{ value?.pass | localizeNumber }}</span>
        }
      </div>
    }
  </div>

  @if (target?.goal > 0) {
    <div class="goal"
      [ngStyle]="{ 'padding-left': ((direction === 'ltr' && target?.goal) || 0) + '%', 'padding-right': ((direction === 'rtl' && target?.goal) || 0) + '%' }"
      >
      <label [ngClass]="{ 'pin-left': !aggregate && target?.goal < 10, 'pin-right': aggregate || target?.goal > 85 }">
        <span>{{'analytics.target.monthly_goal' | translate}}</span>
        {{ target.goal | localizeNumber }}@if (target?.type === 'percent') {
        <span>%</span>
      }
    </label>
    @if (target?.type === 'percent') {
      <div class="bar" [ngClass]="{ 'adjust-margin': target?.goal > 95 }"></div>
    }
  </div>
}

@if (!aggregate) {
  <div class="number">
    <span class="value">{{ value.percent | localizeNumber }}%</span>
    <span translate [translateParams]="value | localizeNumber">{{ target?.percentage_count_translation_key || 'targets.count.default' }}</span>
  </div>
}
</div>
