<span id="contactTypeDropdown" class="filter dropdown mm-dropdown multidropdown" data-label-no-filter="All contact types" data-filter-label="Number of contact types" ng-show="facilities.length">
  <span class="mm-button mm-button-nudge-down" data-toggle="dropdown">
    <span class="mm-button-icon">
      <span class="fa fa-user"></span>
    </span>
    <span class="mm-button-dropdown">
      <span class="fa fa-chevron-down"></span>
    </span>
    <span class="mm-button-text"></span>
  </span>
  <span role="menu" class="dropdown-menu mm-dropdown-menu">
    <ul>
      <li role="presentation" class="dropdown-header">{{'Places' | translate}}</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="district_hospital">{{'Districts' | translate}}</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="health_center">{{'Health Centers' | translate}}</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="clinic">{{'Clinics' | translate}}</a>
      </li>
      <li role="presentation" class="dropdown-header">{{'People' | translate}}</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" data-value="person">{{'People' | translate}}</a>
      </li>
    </ul>
  </span>
</span>