<span ng-if="lastVisitedDateExtras" id="sortDropdown" class="filter dropdown mm-dropdown multidropdown">
  <span class="sort-results" data-toggle="dropdown">
    <a tabindex="-1" translate-attr-title="contacts.results.sort">
      <i class="fa fa-sort-amount-desc"></i>
    </a>
  </span>
  <span role="menu" aria-labelledby="sort-results" class="dropdown-menu mm-dropdown-menu">
    <ul>
      <li role="presentation" class="dropdown-header">{{'contacts.results.sort.title' | translate}}</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-class="{selected: sortDirection === 'alpha'}" data-value="alpha" ng-click="sort($event)">{{'contacts.results.sort.alpha' | translate}}</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" ng-class="{selected: sortDirection === 'lastVisitedDate'}" data-value="lastVisitedDate" ng-click="sort($event)">{{'contacts.results.sort.dlv' | translate}}</a>
      </li>
    </ul>
  </span>
</span>
