<div class="navigation">
  <ul>
    <li routerLinkActive="active-nav">
      <a routerLink="/display">Display</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/users">Users</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/authorization">Authorization</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/sms">SMS</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/forms">Forms</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/targets">Targets</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/images">Images</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/message-queue">Message Queue</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/upgrade">Upgrade</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/export">Export</a>
    </li>
    <li routerLinkActive="active-nav">
      <a routerLink="/backup">Backup</a>
    </li>
  </ul>
</div>
