{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "globals": {
    "contact": true,
    "reports": true,
    "lineage": true
  },
  "overrides": [
    {
      "files": [
        "**/*.json"
      ],
      "plugins": [
        "json"
      ]
    }
  ]
}