{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-undef": "off",
    "no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.json"
      ],
      "plugins": [
        "json"
      ]
    }
  ]
}