<div [attr.id]="formId" class="enketo" [attr.data-editing]="editing">
  <div class="container pages"></div>
  <!-- Do not use inline styling -->
  <div 
    id="duplicate_info"
    style="display: none; width: 100%; min-height: 20px; padding-left: 20px; padding-right: 20px; background-color: #ffe7e8; color: #e33030;">
  </div> 
  <div class="form-footer">
    <button (click)="onCancel.emit()" class="btn btn-link cancel" [disabled]="status?.saving">{{'Cancel' | translate}}</button>
    <div class="loader inline small" *ngIf="status?.saving"></div>
    <span class="error" *ngIf="status?.error">{{status?.error}}</span>
    <button class="btn btn-default previous-page" [disabled]="status?.saving">{{'Previous' | translate}}</button>
    <button class="btn btn-primary next-page" [disabled]="status?.saving">{{'Next' | translate}}</button>
    <button (click)="onSubmit.emit()" class="btn submit btn-primary" [disabled]="status?.saving">{{'Submit' | translate}}</button>
  </div>
</div>
