<multi-dropdown-filter
  [items]="['unverified', 'verifiedErrors', 'verified', 'valid', 'invalid']"
  (applyFilter)="applyFilter($event)"
  [label]="getFilterLabel"
  [disabled]="selectMode && selectedReports.length"
>
  <span class="fa fa-circle-o"></span>
  <ul>
    <li role="presentation" class="dropdown-header" translate>status.review.title</li>
    <li role="presentation" *ngFor="let status of statuses.verified" [class.selected]="dropdownFilter?.isSelected(status)">
      <a role="menuitem" tabindex="-1" [attr.data-value]="status" (click)="dropdownFilter?.toggle(status)" translate>status.review.{{status}}</a>
    </li>

    <li role="presentation" class="dropdown-header" translate>status.sms.title</li>
    <li role="presentation" *ngFor="let status of statuses.valid" [class.selected]="dropdownFilter?.isSelected(status)">
      <a role="menuitem" tabindex="-1" [attr.data-value]="status" (click)="dropdownFilter?.toggle(status)" translate>status.sms.{{status}}</a>
    </li>
  </ul>
</multi-dropdown-filter>
