@import "../../../../../../css/base-modal.less";

.modal {
  display: block;

  .modal-dialog {
    width: 50%;
    min-width: 28rem;
    max-width: 42rem;
    margin: 10% auto;
  }

  .modal-body {
    .hidden {
      display: none;
    }

    .summary-box {
      margin-bottom: 1rem;
    }

    .summary-number {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }
  }
}