@import 'variables';

.modal {
  display: block;

  &.in {
    opacity: 1;
  }

  .modal-dialog {
    width: 50%;
    min-width: 28rem;
    max-width: 42rem;
    margin: 10% auto;
  }

  .modal-header {
    border-bottom: 0.0625rem solid @gray-light;

    .modal-title {
      font-size: @font-large;
      font-weight: bold;
    }

    .close {
      font-size: 1.25rem;
      cursor: pointer;
    }
  }

  .modal-body {
    padding: 1.25rem;

    .hidden {
      display: none;
    }

    .summary-box {
      margin-bottom: 1rem;
    }

    .summary-number {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0.5rem 0;
    }
  }

  .modal-footer {
    border-top: 0.0625rem solid @gray-light;
    text-align: right;

    .btn {
      margin-left: 0.3125rem;
    }
  }
}

.modal-backdrop {
  opacity: 0.5;
}
