<div class="content-pane right-pane">
  <div class="col-sm-8 item-content empty-selection" ng-show="contactsEditCtrl.loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>
  <div class="col-sm-8 item-content empty-selection" ng-show="!contactsEditCtrl.loadingContent && contactsEditCtrl.contentError">
    <div translate>{{ contactsEditCtrl.errorTranslationKey }}</div>
  </div>
  <div class="col-sm-8 item-content material" ng-show="!contactsEditCtrl.loadingContent && !contactsEditCtrl.contentError">
    <div class="card">
      <mm-enketo id="'contact-form'" editing="contactsEditCtrl.enketoContact.docId" status="contactsEditCtrl.enketoStatus" on-submit="contactsEditCtrl.save()" on-cancel="contactsEditCtrl.navigationCancel()" />
    </div>
  </div>
</div>
