<div class="content-pane right-pane">

  <div class="item-content empty-selection" ng-show="messagesContentCtrl.loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="item-content empty-selection" ng-show="!messagesContentCtrl.selectedConversation.messages[0] && !messagesContentCtrl.loadingContent">
    <div translate>No message selected</div>
  </div>

  <div class="message-content-wrapper item-content" ng-show="messagesContentCtrl.selectedConversation.messages[0] && !messagesContentCtrl.loadingContent">
    <div class="body">
      <div id="message-header" class="name-header">
        <mm-sender message="messagesContentCtrl.selectedConversation.contact"></mm-sender>
      </div>
      <div id="message-content">
        <div class="loader" ng-show="messagesContentCtrl.loadingMoreContent"></div>
        <p class="loading-status" ng-show="messagesContentCtrl.allLoaded" translate>No more messages</p>
        <div>
          <ul>
            <li ng-repeat="message in messagesContentCtrl.selectedConversation.messages | orderBy:'doc.reported_date' track by message.doc._id" data-record-id="{{message.doc._id}}" ng-class="{'outgoing': message.doc.kujua_message, 'incoming': !message.doc.kujua_message}">
              <div class="marker" ng-if="messagesContentCtrl.firstUnread.id === message.doc._id" translate>Unread below</div>
              <span class="message-body">
                <div class="data">
                  <p>
                    {{message.doc.sms_message.message}}
                    <span ng-if="message.doc.kujua_message">
                      {{message.doc.tasks[0].messages[0].message}}
                    </span>
                  </p>
                  <!-- outgoing message -->
                  <span
                    class="task-state"
                    ng-if="message.doc.kujua_message"
                    ng-bind-html="message.doc.tasks[0] | state"
                  ></span>
                  <!-- incoming message -->
                  <span
                    class="task-state"
                    ng-if="!message.doc.kujua_message"
                    ng-bind-html="message.doc | state"
                  ></span>
                  <!-- incoming message autoreply -->
                  <span
                    class="task-state"
                    ng-if="!message.doc.kujua_message && message.doc.tasks[0]"
                    ng-bind-html="message.doc.tasks[0] | autoreply"
                  ></span>
                </div>
                <div class="actions">
                  <a class="btn btn-link fa fa-trash-o" translate-attr-title="Delete" ng-click="messagesContentCtrl.deleteDoc(message.doc)" mm-auth="can_delete_messages"></a>
                </div>
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div id="message-footer" class="reply message-form" ng-if="messagesContentCtrl.selectedConversation.messages[0] && (messagesContentCtrl.selectedConversation.contact.name || messagesContentCtrl.selectedConversation.contact.doc)">
        <div class="control-group">
          <div class="controls">
            <textarea name="message" ng-model="messagesContentCtrl.send.message" translate translate-attr-placeholder="Reply to name" translate-values="{ contact: (messagesContentCtrl.selectedConversation.contact.doc.name || messagesContentCtrl.selectedConversation.contact.name) }"></textarea>
          </div>
        </div>
        <div class="message-actions">
          <a class="btn btn-link" ng-mousedown="messagesContentCtrl.addRecipients()" translate>Add recipient</a>
          <span class="count"></span>
          <a class="btn submit btn-primary" ng-class="{disabled: messagesContentCtrl.send.message.length === 0}" ng-mousedown="messagesContentCtrl.sendMessage()" translate>Send</a>
        </div>
      </div>
    </div>
  </div>
</div>
