<div class="filters">
  <div class="inner">
    <mm-reports-filters></mm-reports-filters>
    <mm-navigation></mm-navigation>
  </div>
</div>

<div class="inner">
  <div class="inbox page">
    <mm-reports-list
      appending="reportsCtrl.appending"
      error="reportsCtrl.error"
      errorSyntax="reportsCtrl.errorSyntax"
      filtered="filtered"
      hasReports="hasReports"
      loading="reportsCtrl.loading"
      moreItems="moreItems"
    ></mm-reports-list>
    <ui-view name="content"/>
  </div>
</div>
