<div class="basic-filters left-pane">
  <ng-include src="'templates/partials/filters/form_type.html'" onload="setupSearchFormType()"></ng-include>
  <ng-include src="'templates/partials/filters/facility.html'" onload="setupSearchFacility()"></ng-include>
  <ng-include src="'templates/partials/filters/date.html'" onload="setupSearchDate()"></ng-include>
  <ng-include src="'templates/partials/filters/status.html'" onload="setupSearchStatus()"></ng-include>
  <ng-include src="'templates/partials/filters/freetext.html'" onload="setupSearchFreetext()"></ng-include>
  <ng-include src="'templates/partials/filters/reset.html'"></ng-include>
</div>
