<div class="content-pane right-pane">
  <div class="col-sm-8 item-content empty-selection" ng-show="reportsAddCtrl.loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" ng-show="!reportsAddCtrl.loadingContent && reportsAddCtrl.contentError">
    <div translate>{{ reportsAddCtrl.errorTranslationKey }}</div>
  </div>

  <div class="col-sm-8 item-content" ng-show="!reportsAddCtrl.loadingContent && !reportsAddCtrl.contentError">
    <div class="body">
      <mm-enketo id="'report-form'" status="reportsAddCtrl.enketoStatus" on-submit="reportsAddCtrl.save()" on-cancel="reportsAddCtrl.navigationCancel()" />
    </div>
  </div>
</div>
