@if (contentError || loadingContent) {
  <div class="item-content empty-selection" [class.col-sm-8]="isEmbedded">
    @if (loadingContent) {
      <div><div class="loader"></div></div>
    }
    @if (!loadingContent && contentError) {
      <div>{{ errorTranslationKey | translate }}</div>
    }
  </div>
}

<div class="item-content" [hidden]="loadingContent || contentError || !trainingCardFormId" [class.col-sm-8]="isEmbedded">
  <div class="body">
    <mm-enketo
      [formId]="FORM_WRAPPER_ID"
      [status]="enketoStatus"
      (onSubmit)="saveForm()"
      (onCancel)="quit.emit()">
    </mm-enketo>
  </div>
</div>
