<div class="reports">
    <div class="content">
        <div class="page" style="top: 0">
            <div class="content-pane" style="width: 100%">
                <div class="item-content">
                    <div class="report-wrap">
                        <div class="body">
                            <div [attr.id]="formId" class="enketo" [attr.data-editing]="editing">
                                <div class="container pages"></div>
                                <div class="form-footer">
                                    <button (click)="cancelForm()" class="btn btn-link cancel"
                                            [disabled]="status?.saving">{{'Cancel' | translate}}</button>
                                    <div class="loader inline small" *ngIf="status?.saving"></div>
                                    <span class="error" *ngIf="status?.error">{{status?.error}}</span>
                                    <button class="btn btn-default previous-page"
                                            [disabled]="status?.saving">{{'Previous' | translate}}</button>
                                    <button class="btn btn-primary next-page"
                                            [disabled]="status?.saving">{{'Next' | translate}}</button>
                                    <button (click)="submitForm()" class="btn submit btn-primary"
                                            [disabled]="status?.saving">{{'Submit' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
