{
  "plugins": ["compat", "angular"],
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true
  },
  "globals": {
    "angular": true
  },
  "rules": {
    "compat/compat": "error",
    "no-console": "error",
    "angular/window-service": "error",
    "angular/timeout-service": "error",
    "angular/module-getter": "error",
    "angular/module-setter": "error",
    "angular/no-private-call": "error",
    "angular/di-unused": "error",
    "angular/on-watch": "error",
    "angular/no-cookiestore": "error",
    "angular/no-directive-replace": "error",
    "angular/no-http-callback": "error",
    "angular/di-order": "error",
    "angular/di": "error",
    "angular/module-dependency-order": "error",
    "angular/one-dependency-per-line": "error",
    "angular/interval-service": "error",
    "angular/on-destroy": "error",
  },
  "overrides": [
    {
      "files": [
        "src/js/main.js",
        "tests/**/*"
      ],
      "rules": {
        "angular/window-service": "off",
        "angular/timeout-service": "off",
        "angular/di-order": "off",
        "angular/interval-service": "off"
      }
    }
  ]
}
