<div role="document">
  <div class="modal-header">
    <button type="button" class="cancel close" ng-click="checkDateCtrl.ok()">&times;</button>
    <h3 translate>date.incorrect.title</h3>
  </div>
  <div class="modal-body" class="">
    <p translate>date.incorrect.description</p>
    <p translate>date.incorrect.advice</p>
    <p>
      <span translate>date.incorrect.reported</span>:
      <span ng-bind-html="model.reportedLocalDate | simpleDateTime"></span>
    </p>
    <p ng-show="expectedLocalDate">
      <span translate>date.incorrect.expected</span>:
      <span ng-bind-html="model.expectedLocalDate | simpleDateTime"></span>
    </p>
  </div>
  <div class="modal-footer">
    <a class="btn submit" ng-click="checkDateCtrl.ok()" translate>date.incorrect.confirm</a>
  </div>
</div>
