<mm-modal
  status="status"
  id="'bulk-delete-confirm'"
  danger="true"
  title-key="bulkDeleteConfirmCtrl.deleteComplete ? 'bulkdelete.complete.title' : 'bulkdelete.confirm.title'"
  submit-key="bulkDeleteConfirmCtrl.deleteComplete ? 'bulkdelete.complete.action' : 'bulkdelete.confirm.action'"
  submitting-key="'Deleting'"
  on-cancel="bulkDeleteConfirmCtrl.cancel()"
  on-submit="bulkDeleteConfirmCtrl.submit()"
>
  <p ng-show="!bulkDeleteConfirmCtrl.deleteComplete && !status.processing && model.docs.length === 1" translate>confirm.delete</p>
  <p ng-show="!bulkDeleteConfirmCtrl.deleteComplete && !status.processing && model.docs.length !== 1" translate translate-values="{ number: {{model.docs.length}} }">confirm.delete.plural</p>
  <p ng-show="bulkDeleteConfirmCtrl.deleteComplete" translate>bulkdelete.complete</p>
  <p ng-show="status.processing" translate>confirm.delete.progress</p>
  <p ng-show="status.processing" translate translate-values="{ totalDeleted: {{bulkDeleteConfirmCtrl.totalDocsDeleted}}, totalSelected: {{bulkDeleteConfirmCtrl.totalDocsSelected}} }">confirm.delete.totals</p>
</mm-modal>
