<mm-modal
  status="status"
  id="'feedback'"
  title-key="'Report Bug'"
  submit-key="'Submit'"
  submitting-key="'Submitting'"
  on-cancel="feedbackCtrl.cancel()"
  on-submit="feedbackCtrl.submit()"
>
  <form action="" method="POST">
    <div class="form-group" ng-class="{ 'has-error': feedbackCtrl.error.message }">
      <textarea ng-model="feedbackCtrl.model.message" class="form-control" translate translate-attr-placeholder="Bug description"></textarea>
      <span class="help-block" ng-show="feedbackCtrl.error.message">{{feedbackCtrl.error.message}}</span>
    </div>
  </form>
</mm-modal>
