<span *ngIf="lastVisitedDateExtras" class="dropdown mm-dropdown sort-dropdown no-reset" dropdown>
  <span class="sort-results" data-toggle="dropdown">
    <a
      id="sort-results"
      translate-attr-title="contacts.results.sort"
      dropdownToggle
      (click)="false"
      aria-controls="sort-results-dropdown"
    >
      <i class="fa fa-sort-amount-desc"></i>
    </a>
  </span>
  <span
    id="sort-results-dropdown"
    role="menu"
    *dropdownMenu
    aria-labelledby="sort-results"
    class="dropdown-menu mm-dropdown-menu"
  >
    <ul>
      <li role="presentation" class="dropdown-header" translate>contacts.results.sort.title</li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" [class.selected]="{selected: sortDirection === 'alpha'}" (click)="applySort('alpha')" translate>contacts.results.sort.alpha</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" [class.selected]="{selected: sortDirection === 'last_visited_date'}" (click)="applySort('last_visited_date')" translate>contacts.results.sort.date.last.visited</a>
      </li>
    </ul>
  </span>
</span>
