<div id="privacy-policy-wrapper">
  <div class="container">
    <div class="loader" *ngIf="loading"></div>
    <div class="content" *ngIf="!loading">
      <div class="html-content" [innerHTML]="privacyPolicy?.html"></div>
      <div class="footer text-right">
        <button class="btn btn-primary" *ngIf="!accepting && !loading" (click)="accept()" translate>privacy.policy.accept</button>
        <div *ngIf="accepting">
          <span class="loader inline small"></span>
          <button class="btn btn-primary disabled" translate>privacy.policy.accept</button>
        </div>
      </div>
    </div>
  </div>
</div>
