@import (reference) "../../../../css/variables.less";

.panel-heading {
  a {
    font-weight: bold;
    color: @gray-dark;
  }
}
.form-actions {
  margin-bottom: 1.5rem;

  .error {
    color: @red;
    font-weight: bold;
    margin-left: 0.5rem;
  }
}
.loading-error {
  color: @red;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1.5rem;
}
.alert-warning {
  margin-bottom: 0.5rem;
}