<mat-sidenav-container>
  <mat-sidenav #sidebar mode="over" [fixedInViewport]="true">
    <mm-panel-header headerTitle="sidebar-menu.title" (onClose)="close()"/>

    <mat-sidenav-content>
      <ul>
        <li>
          <a> hola1</a>
        </li>
        <li>
          <a> hola2</a>
        </li>
        <li>
          <a> hola3</a>
        </li>
        <li>
          <a> hola4</a>
        </li>
        <li>
          <a> hola1</a>
        </li>
        <li>
          <a> hola2</a>
        </li>
        <li>
          <a> hola3</a>
        </li>
      </ul>
    </mat-sidenav-content>

  </mat-sidenav>
</mat-sidenav-container>
