<mat-sidenav-container>
  <mat-sidenav #sidebar mode="over" [fixedInViewport]="true">
    <mm-panel-header headerTitle="sidebar-menu.title" (onClose)="close()"/>

    <mat-sidenav-content>

      <div class="module-nav">
        <a *ngFor="let module of mainModules"
          tabindex="-1"
          [routerLink]="module.routerLink"
          [mmAuth]="module.hasPermissions">
          <mat-icon [fontIcon]="module.icon"></mat-icon>
          <span>{{ module.translationKey | translate }}</span>
        </a>

        <a tabindex="-1"
           [attr.href]="adminAppPath"
           mmAuth
           [mmAuthAny]="[ 'can_configure', 'can_view_outgoing_messages', 'can_export_all' ]"
           [mmAuthOnline]="true">
          <mat-icon fontIcon="fa-cog"></mat-icon>
          <span>{{ 'admin.app.name' | translate }}</span>
        </a>
      </div>

    </mat-sidenav-content>

  </mat-sidenav>
</mat-sidenav-container>
