<mm-modal-layout
  id="bulk-delete-confirm"
  [processing]="processing"
  [error]="error"
  [titleKey]="docs.length > 1 ? 'bulkdelete.confirm.title.plural' : 'bulkdelete.confirm.title'"
  [submitKey]="'bulkdelete.confirm.action'"
  [submittingKey]="'Deleting'"
  [cancelKey]="'Cancel'"
  (onCancel)="close()"
  (onSubmit)="submit()"
  >
  @if (!processing && docs.length === 1) {
    <p>{{ 'confirm.delete' | translate }}</p>
  }
  @if (!processing && docs.length !== 1) {
    <p translate [translateParams]="{ number: docs.length }">confirm.delete.plural</p>
  }
  @if (processing) {
    <p>{{ 'confirm.delete.progress' | translate }}</p>
  }
  @if (processing) {
    <p translate [translateParams]="{ totalDeleted: totalDocsDeleted, totalSelected: totalDocsSelected }">confirm.delete.totals</p>
  }
</mm-modal-layout>
