<div class="content-pane right-pane">

  @if (loadingContent) {
    <div class="item-content empty-selection">
      <div><div class="loader"></div></div>
    </div>
  }

  @if ((!selectedConversation?.messages || !selectedConversation?.messages[0]) && !loadingContent) {
    <div class="item-content empty-selection">
      <div>{{'No message selected' | translate}}</div>
    </div>
  }

  @if (selectedConversation?.messages && selectedConversation?.messages[0] && !loadingContent) {
    <div class="message-content-wrapper item-content">
      <div class="body">
        <div id="message-header" class="name-header">
          <mm-sender [message]="selectedConversation.contact"></mm-sender>
        </div>
        <div id="message-content">
          @if (loadingMoreContent) {
            <div class="loader"></div>
          }
          @if (allLoaded) {
            <p class="loading-status">{{'No more messages' | translate}}</p>
          }
          <div>
            <ul>
              @for (message of selectedConversation.messages; track listTrackBy($index, message); let lastMessage = $last) {
                <li
                  [ngClass]="{'outgoing': message.doc?.kujua_message, 'incoming': !message.doc?.kujua_message}"
                  [attr.data-id]="message.doc?._id">
                  @if (firstUnread && firstUnread.id === message.doc?._id) {
                    <div class="marker">{{'Unread below' | translate}}</div>
                  }
                  <span class="message-body" [class.last-message]="lastMessage">
                    <div class="data">
                      <p [attr.test-id]="'sms-content'">
                        {{message.doc?.sms_message?.message}}
                        @if (message.doc?.kujua_message && message.doc?.tasks && message.doc?.tasks[0]?.messages) {
                          <span>
                            {{message.doc?.tasks[0]?.messages[0]?.message}}
                          </span>
                        }
                      </p>
                      <!-- outgoing message -->
                      @if (message.doc?.kujua_message && message.doc?.tasks) {
                        <span class="task-state" [innerHTML]="(message.doc?.tasks[0] | state) | async"></span>
                      }
                      <!-- incoming message -->
                      @if (!message.doc?.kujua_message) {
                        <span class="task-state" [innerHTML]="(message.doc | state) | async"></span>
                      }
                      <!-- incoming message autoreply -->
                      @if (!message.doc?.kujua_message && message.doc?.tasks) {
                        <span class="task-state" [innerHTML]="(message.doc?.tasks[0] | autoreply) | async"></span>
                      }
                    </div>
                    <div class="actions">
                      <a class="btn btn-link fa fa-trash-o" (click)="deleteDoc(message.doc)" title="{{ 'Delete' | translate }}" mmAuth="can_edit,can_delete_messages"></a>
                    </div>
                  </span>
                </li>
              }
            </ul>
          </div>
        </div>
        <div
          mmAuth="can_edit"
          id="message-footer"
          class="reply message-form"
          [ngClass]="{sending: textAreaFocused || send.message?.length}">
          @if (selectedConversation.messages[0] && (selectedConversation.contact?.name || selectedConversation.contact?.doc?.name)) {
            <div class="control-group">
              <div class="controls">
                <textarea name="message"
                  [(ngModel)]="send.message"
                  placeholder="{{ 'Reply to name' | translate:{ contact: (selectedConversation.contact?.doc?.name || selectedConversation.contact?.name || '')} }}">
                </textarea>
              </div>
            </div>
            @if (textAreaFocused || send.message?.length) {
              <div class="message-actions">
                <button class="btn btn-link btn-add-recipients"
                  (click)="addRecipients()"
                  (mouseover)="isAddRecipientBtnActive = true"
                  (mouseout)="isAddRecipientBtnActive = false">
                  {{'Add recipient' | translate}}
                </button>
                <!-- Count is done by CountMessageService -->
                <span class="count"></span>
                <button class="btn submit btn-primary"
                  (click)="sendMessage()"
                  [disabled]="!send.message?.length"
                  [ngClass]="{disabled: !send.message?.length}">
                  {{'Send' | translate}}
                </button>
              </div>
            }
          } @else {
            <p id="unknown-contact-error-message" class="alert alert-danger" role="alert">
              {{'messages.errors.unknown.contact' | translate}}
            </p>
          }
        </div>
      </div>
    </div>
  }
</div>

