<div class="wrap">
  <form id="configuration-form">

    <fieldset>
      <legend>Basic Settings</legend>

      <label for="language">Language</label>
      <select id="language">
        <option value="en">English</option>
        <option value="es">Spanish</option>
        <option value="fr">French</option>
        <option value="ne">Nepalese</option>
        <option value="sw">Swahili</option>
      </select>
      <span class="help-block">edit translations by going to the Translations tab above</span>

      <label for="gateway-number">Gateway number</label>
      <input id="gateway-number" type="text" value="{info.gateway_number}" />
    </fieldset>

<!--     <fieldset>
      <legend>Advanced Settings</legend>
    </fieldset> -->

    <button type="button" class="btn submit btn-primary">Save</button>
  </form>
</div>