<button class="btn edit-mode pull-right">
  <i class="icon-edit icon-large"></i> Edit</button>
<div id="valid-filter" class="btn-group pull-right hide" style="margin-right: 10px">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Valid <span class="caret"></span></a>
  <ul class="dropdown-menu valid">
  </ul>
</div>
<div id="form-filter" class="btn-group pull-right hide" style="margin-right: 10px">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Form <span class="caret"></span></a>
  <ul class="dropdown-menu forms">
  </ul>
</div>
<div id="district-filter" class="btn-group pull-right hide" style="margin-right: 10px">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    District <span class="caret"></span></a>
  <ul class="dropdown-menu district-hospitals">
  </ul>
</div>
