<div id="data-records">
  <div class="span12">
    <div class="wrap wrap-rows">
      {^data_records}
        <div class="alert alert-info">
          No records found.
        </div>
      {/data_records}
      {?data_records}
        {>"data_records_rows.html"/}
      {/data_records}
    </div>
    <div class="ajax-loader">
      <img src="{baseURL}/static/img/ajax-loader-turq.gif" />
    </div>
    <div class="reached-last-record hide">
      <i class="icon-stop"></i>
    </div>
  </div>
</div>
