<table class="table tasks-{type}">
  <thead>
    <tr>
      <th class="tasks-messages">Schedule</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
{#scheduled_tasks_by_group}
  <table class="table">
    <thead>
      <tr>
        <th class="group-header">
          <div class="wrap">
            {?group}{group}{:else}Group{/group}
            <div class="btn-group menu">
              <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                <i class="icon-large icon-cog"></i>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#" class="edit">Edit Schedule</a></li>
                <li><a href="#" class="add">Add Row</a></li>
              </ul>
            </div>
            <div class="btn-group submit">
              <a href="#" class="btn btn-mini btn-primary">Save</a>
              <a href="#" class="btn btn-mini cancel">Cancel</a>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <table>
          <tbody>
            {#rows}
            <tr data-tasks-idx="{_idx}" class="task">
              <td class="tasks-state">
                <div class="wrap">
                  <span class="label tasks-state-{state}"></span>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><span class="tasks-state-scheduled"></span></a></li>
                      <li><a href="#"><span class="tasks-state-pending"></span></a></li>
                      <li><a href="#"><span class="tasks-state-cleared"></span></a></li>
                      <li><a href="#"><span class="tasks-state-cancelled"></span></a></li>
                      <li><a href="#"><span class="tasks-state-muted"></span></a></li>
                    </ul>
                  </div>
                </div>
              </td>
              {?timestamp}
              <td class="tasks-timestamp">
                {timestamp}
              </td>
              {/timestamp}
              {?due}
              <td class="tasks-due">
                {due}
              </td>
              {/due}
              {#messages}
                <td class="tasks-to">{?to}{to}
                  {:else}
                  <i class="tasks-error error-missing-phone icon-exclamation-sign" title="Missing phone"></i>
                  <form action="" method="POST" class="hide form-inline" autocomplete="off">
                    <span class="control-group">
                      <input type="hidden" name="_id" value="{_id}" />
                      <input type="hidden" name="_rev" value="{_rev}" />
                      <input type="hidden" name="idx" value="{@idx}{.}{/idx}" />
                      <input class="span2" type="text" data-provide="typeahead" name="phone" />
                      <button type="submit" class="btn">Submit</button>
                      <p class="help-block">e.g. +22995960001</p>
                    </span>
                  </form>
                  {/to}
                </td>
                <td class="tasks-message">
                    {message}
                </td>
                </td>
              {/messages}
            </tr>
            {/rows}
        </tbody>
      </table>
      </td>
      </tr>
    </tbody>
  </table>
{/scheduled_tasks_by_group}
</td>
</tr>
</tbody>
</table>

