<div id="data-records">
  <div class="span12">
    <div class="wrap">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>
              Reported Date
            </th>
            <th>
              Name
            </th>
            <th>
              Phone
            </th>
            <th>
              Clinic
            </th>
            <th>
              Message
            </th>
            <th>
              Valid
            </th>
          </tr>
        </thead>
        <tbody>
        {?data_records}
          {>"data_records_rows.html"/}
        {:else}
          <tr>
            <td colspan="7">No records found.</td>
          </tr>
        {/data_records}
        </tbody>
      </table>
    </div>
    <div class="ajax-loader hide">
      <img src="{baseURL}/static/img/ajax-loader-turq.gif" />
    </div>
  </div>
</div>
