<div class="btn-group edit-mode pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-edit icon-large"></i> Edit <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#" class="edit-update">Update Facility</a></li>
    <li><a href="#" class="mark-invalid">Mark Invalid</a></li>
    <li><a href="#" class="clear-invalid">Clear Invalid</a></li>
    <li><a href="#" class="edit-delete">Delete</a></li>
  </ul>
</div>
<div id="valid-filter" class="records-filter btn-group pull-right hide" style="margin-right: 10px">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Valid <span class="caret"></span></a>
  <ul class="dropdown-menu valid">
  </ul>
</div>
<div id="form-filter" class="records-filter btn-group pull-right hide" style="margin-right: 10px">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Form <span class="caret"></span></a>
  <ul class="dropdown-menu forms">
  </ul>
</div>
<div id="district-filter" class="records-filter btn-group pull-right hide" style="margin-right: 10px">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    District <span class="caret"></span></a>
  <ul class="dropdown-menu district-hospitals">
  </ul>
</div>
