{#data_records}
<div class="data-record {^kujua_message}clickable{/kujua_message}" rel="{_id}" data-key="{_key}">
  {?kujua_message}
  <div class="message row-fluid">
    <div class="select-row span1">
    </div>
    <div class="reported-date span1" title="{_reported_date_full}">
      {_reported_date}
    </div>
    <div class="contact-info span2">
      {tasks[0].messages[0].to}
    </div>
    <div class="span4">
      {tasks[0].messages[0].message}
    </div>
  </div>
  {:else}
  <div class="main row-fluid">
    <div class="select-row span1">
      <input type="checkbox" name="select-row-checkbox" />
    </div>
    <div class="reported-date span1" title="{_reported_date_full}">
      {_reported_date}
    </div>
    <div class="contact-info span2">
      {#related_entities}
      {?clinic.contact.name}{clinic.contact.name}
      {:else}
        {?health_center.contact.name}{health_center.contact.name}
        {:else}
          {?clinic.parent.contact.name}{clinic.parent.contact.name}
          {:else}
          <i class="icon-question-sign icon-large"></i>
          {/clinic.parent.contact.name}
        {/health_center.contact.name}
      {/clinic.contact.name}
      {/related_entities}
      <span class="from">{from}</span>
    </div>
    <div class="facility span2">
      {#related_entities}
        {?clinic.parent.parent.name}
        <i>{clinic.parent.parent.name}</i>
        {:else}
          {?health_center.parent.name}
          <i>{health_center.parent.name}</i>
          {:else}
          <i class="icon-question-sign icon-large"></i>
          {/health_center.parent.name}
        {/clinic.parent.parent.name}
        {?clinic.parent.name}
        <i>{clinic.parent.name}</i>
        {:else}
          {?health_center.name}
          <i>{health_center.name}</i>
          {:else}
          <i class="icon-question-sign icon-large"></i>
          {/health_center.name}
        {/clinic.parent.name}
        {?clinic.name}
        <i>{clinic.name}</i>
        {:else}
          <i class="icon-question-sign icon-large" title="No clinic name."></i>
        {/clinic.name}
      {/related_entities}
    </div>
    <div class="rc-code span1">
      {#related_entities}
        {?clinic.contact.rc_code}
        <i class="rc-code">{clinic.contact.rc_code}</i>
        {/clinic.contact.rc_code}
      {/related_entities}
    </div>
    <div class="sms-message span3">
      {#sms_message}
          <pre>{message}</pre>
      {/sms_message}
    </div>
    <div class="add-message span1">
        <button class="btn btn-small">
            <i class="icon-comments-alt"></i>
        </button>
    </div>
    <div class="errors span1">
      {?form}
      {?errors}
      <i class="icon-exclamation-sign icon-large"></i>
      {:else}
        <i class="{state} icon-ok icon-large"></i>
      {/errors}
      {/form}
      {?tasks}
      <span class="label label-{tasks_class}" title="{tasks_title}">{tasks.length}</span>
      {/tasks}
      {?scheduled_tasks}
      <span class="label label-info">{scheduled_tasks_count}</span>
      {/scheduled_tasks}
    </div>
  </div>
  <div class="hide extended">
    <div class="scroll">
      {>"data_record_fields.html":fields/}
    </div>
    {?errors}
    <div class="data-record-errors">
      {>"data_record_errors.html"/}
    </div>
    {/errors}
    {?responses}
    <div class="data-record-responses">
      {>"data_record_responses.html"/}
    </div>
    {/responses}
    {?tasks}
    <div class="data-record-tasks">
      {>"data_record_tasks.html"/}
    </div>
    {/tasks}
    {?scheduled_tasks}
    <div class="data-record-scheduled-tasks">
      {>"data_record_scheduled_tasks.html"/}
    </div>
    {/scheduled_tasks}
    {?_raw}
    <div class="data-record-raw">
      <a title="JSON" data-toggle="extended" class="pull-right">
        <i class="icon-plus"></i>
      </a>
      <div class="extended hide"><pre>{_raw}</pre></div>
    </div>
    {/_raw}
  </div>
  {/kujua_message}
</div>
{/data_records}
