{#tasks}
<table class="table tasks-{type}" data-tasks-idx="{@idx}{.}{/idx}">
  <thead>
    <tr>
      <th>Messages <span class="tasks-state-{state}"></span>
        <span class="tasks-type pull-right">{type}</span>
      </th>
    </tr>    
  </thead>
  <tbody>
    {#messages}
    <tr>
        <td>
          <ul>
            <li class="to">To: {?to}{to}
              {:else}
              <i class="error-missing-phone icon-exclamation-sign" title="Missing phone"></i>
              <form action="" method="POST" class="hide form-inline">
                <span class="control-group">
                  <input type="hidden" name="_id" value="{_id}" />
                  <input type="hidden" name="_rev" value="{_rev}" />
                  <input type="hidden" name="idx" value="{@idx}{.}{/idx}" />
                  <input class="span2" type="text" data-provide="typeahead" name="phone" />
                  <button type="submit" class="btn">Submit</button>
                  <p class="help-block">e.g. +22995960001</p>
                </span>
              </form>
              {/to}
            </li>
            <li>{message}</li>
         </ul>
        </td>
    </tr>    
   {/messages}
  </tbody>
</table>
{/tasks}
