<div class="btn-group edit-mode pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-edit icon-large"></i> Edit <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="#" class="edit-update">Update Facility</a></li>
    <li><a href="#" class="mark-invalid">Mark as Invalid</a></li>
    <li><a href="#" class="clear-invalid">Mark as Valid</a></li>
    <li><a href="#" class="edit-delete">Delete</a></li>
  </ul>
</div>
<div id="valid-filter" class="records-filter btn-group pull-right">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
    Valid <span class="caret"></span></a>
  <ul class="dropdown-menu valid">
  </ul>
</div>
<div id="form-filter" class="records-filter btn-group pull-right">
  <input name="forms" type="text" class="input-large" placeholder="{@translate value="Form"/}">
</div>
<div id="clinics-filter" class="records-filter btn-group pull-right">
  <input name="clinics" type="text" class="input-medium" placeholder="{@translate value="Contact"/}">
</div>
<div id="patient-id-filter" class="records-filter btn-group pull-right">
  <div class="input-append">
    <form action="" method="get" class="form-inline">
      <input 
        name="patient_id" 
        value="{query.patient_id}" 
        type="text" 
        class="input-small" 
        placeholder="Patient ID" />
      <a type="submit" class="btn" href="#">
        <i class="icon-search"></i>
      </a>
  </form>
  </div>
</div>
