<table class="table tasks-{type}">
  <thead>
    <tr>
      <th class="tasks-messages" colspan="20">Schedule</th>
    </tr>
  </thead>
{#scheduled_tasks_by_group}
<tbody class="read-mode">
  <tr>
    <th class="group-header">
      <div class="wrap">
        {?group}{group}{:else}Group{/group}
        <div class="btn-group menu">
          <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#" class="edit">{@translate value="Edit Group" /}</a></li>
            <li><a href="#" data-state-val="cleared" class="update">{@translate value="Clear Group" /}</a></li>
            <li><a href="#" data-state-val="muted" class="update">{@translate value="Mute Group" /}</a></li>
            <li><a href="#" data-state-val="scheduled" class="update">{@translate value="Schedule Group" /}</a></li>
          </ul>
        </div>
        <div class="btn-group submit">
          <a href="#" class="btn btn-mini btn-primary save">{@translate value="Save" /}</a>
          <a href="#" class="btn btn-mini cancel">{@translate value="Cancel" /}</a>
        </div>
      </div>
    </th>
  </tr>
  <tr>
    <td>
      <table class="table table-striped">
        <tbody>
          {#rows}
          <tr data-tasks-idx="{_idx}" class="task">
          {?timestamp}
            <td class="tasks-state">
              <div class="wrap">
                <span class="label tasks-state-{state}"></span>
              </div>
            </td>
            <td class="tasks-timestamp">
              <div>{timestamp}</div>
            </td>
            <td class="tasks-to">
              <div>{#messages}{to} {/messages}</div>
            </td>
            <td class="tasks-message">
              <div>{messages[0].message}</div>
            </td>
          {:else}
            <td class="tasks-state">
              <div class="control-group">
                <div class="btn-group">
                  <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a data-state="scheduled" href="#"><span class="tasks-state-scheduled"></span></a></li>
                    <li><a data-state="pending" href="#"><span class="tasks-state-pending"></span></a></li>
                    <li><a data-state="muted" href="#"><span class="tasks-state-muted"></span></a></li>
                    <li><a data-state="cleared" href="#"><span class="tasks-state-cleared"></span></a></li>
                  </ul>
                </div>
              </div>
              <div class="wrap">
                <span 
                  data-save-val="{state}" 
                  data-orig-val="" 
                  class="label tasks-state-{state}"></span>
              </div>
            </td>
            <td class="tasks-due">
              <div data-orig-val="{_due_ts}" class="val">{due}</div>
              <div class="control-group">
                <div class="input-append datepicker control">
                  <input 
                  class="input-medium" 
                  placeholder="dd-mm-yyyy hh:mm"
                  data-format="dd-MM-yyyy hh:mm"
                  type="text" />
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                  </span>
                </div>
              </div>
            </td>
            <td class="tasks-to">
              <div class="val">{#messages}{to} {/messages}</div>
              <div class="control-group">
                <div class="control">
                   <input value="{#messages}{to},{/messages}" class="input-medium" type="text" data-provide="typeahead" name="phone" />
                </div>
              </div>
            </td>
            <td class="tasks-message">
              <div class="val">{messages[0].message}</div>
              <div class="control-group">
                <div class="control">
                  <textarea>{messages[0].message}</textarea>
                </div>
              </div>
            </td>
            <td class="row-controls">
              <a class="remove" href="#">
                <i class="icon-remove-sign"></i>
              </a>
              <a class="add-new" href="#">
                <i class="icon-plus-sign"></i>
              </a>
            </td>
          {/timestamp}
          </tr>
          {/rows}
          <tr id="new-task-template" class="task">
            <td class="tasks-state">
              <div class="btn-group">
                <a class="btn dropdown-toggle btn-mini" data-toggle="dropdown" href="#">
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a data-state="scheduled" href="#"><span class="tasks-state-scheduled"></span></a></li>
                  <li><a data-state="cleared" href="#"><span class="tasks-state-cleared"></span></a></li>
                  <li><a data-state="muted" href="#"><span class="tasks-state-muted"></span></a></li>
                </ul>
              </div>
              <div class="wrap">
                <span 
                  data-save-val="scheduled" 
                  data-orig-val="scheduled" 
                  class="label tasks-state-scheduled"></span>
              </div>
            </td>
            <td class="tasks-due">
              <div class="control-group">
                <div class="input-append datepicker control">
                  <input 
                  class="input-medium" 
                  placeholder="dd-mm-yyyy hh:mm"
                  data-format="dd-MM-yyyy hh:mm"
                  type="text">
                  </input>
                  <span class="add-on">
                    <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                  </span>
                </div>
              </div>
            </td>
            <td class="tasks-to">
              <div class="control-group">
                <div class="control">
                  <input class="input-medium" type="text" data-provide="typeahead" name="phone" />
                </div>
              </div>
            </td>
            <td class="tasks-message">
              <div class="control-group">
                <div class="control">
                  <textarea />
                  </div>
                </div>
              </td>
              <td class="row-controls">
                <a class="remove" href="#">
                  <i class="icon-remove-sign"></i>
                </a>
                <a class="add-new" href="#">
                  <i class="icon-plus-sign"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
{/scheduled_tasks_by_group}
</table>

