{?isAdmin}
<div id="facilities-controls">
<form class="pull-right form-inline" method="get">
  <div class="options">
    <button type="button" class="btn btn-small backup" data-url="{baseURL}/facilities/backup">Backup</button>
    <a class="btn btn-small restore">Restore</a>
  </div>
  <div class="options-restore hide">
      <fieldset>
        <label class="checkbox">
          <input type="checkbox" name="overwrite"> Overwrite Existing Records
        </label>
        <button type="button" class="btn btn-small choose">Choose File</button>
        <button type="button" title="Cancel" class="cancel close">&times;</button>
      </fieldset>
  </div>
  <!--div style="height:0; width:0; overflow:hidden;"-->
  <div class="hide">
    <input class="uploader" type="file" accept="application/json">
  </div>
</form>
<div>
{/isAdmin}
