<div id="facilities-nav">
<ul class="nav nav-tabs">
  <li{?tab.districts} class="active"{/tab.districts}>
    <a href="{baseURL}/facilities/districts">{@translate value="Districts"/}</a>
  </li>
  <li{?tab.health_centers} class="active"{/tab.health_centers}>
    <a href="{baseURL}/facilities/health_centers">{@translate value="Health Centers"/}</a>
  </li>
  <li{?tab.clinics} class="active"{/tab.clinics}>
    <a href="{baseURL}/facilities/clinics">{@translate value="Clinics"/}</a>
  </li>
</ul>
</div>

<div id="facilities">
  <div class="loader">
    <ul><li>Loading...</li></ul>
  </div>
</div>
