<div id="facilities-restore">
  {?msg}
    {?errors}
    <div class="row">
      <div class="offset2 span8">
        <p class="msg">{msg} We encountered {errors.length} errors:</p>
        <div class="alert alert-error">
          <p class="errors">{#errors}{.}, {/errors}</p>
        </div>
      </div>
    </div>
    {:else}
    <div class="row">
      <div class="offset2 span8">
        <p class="msg">{msg}</p>
      </div>
    </div>
    {/errors}
    <div class="row">
      <div class="offset2 span8">
        <p class="continue"><a class="btn btn-primary" href="">Continue</a></p>
      </div>
    </div>
  {/msg}
  {?progress}
  <div class="row update-progress">
    <div class="offset2 span8">
      <p class="desc">{progress}</p>
      <div class="progress progress-striped active">
        <div class="bar" style="width:{?width}{width}{:else}100%{/width}"></div>
      </div>
  </div>
  {/progress}
</div>
