<!DOCTYPE html>

<html ng-app="inboxApp" data-base-url="{baseURL}" data-user='{user}'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{baseURL}/static/dist/inbox.css" />
    <link rel="shortcut icon" href="{baseURL}/static/img/ico/icon_48.ico">
    <title>Medic Mobile</title>
  </head>
  <body class="inbox {~lb}{~lb}filterModel.type{~rb}{~rb}" ng-controller="InboxCtrl" ng-cloak>

    <ng-include src="'templates/partials/actionbar.html'"></ng-include>

    <div class="container-fluid">
      <ng-include src="'templates/partials/header.html'" onload="setupHeader()"></ng-include>
      <ng-include src="'templates/partials/filters.html'" onload="setupFilters()"></ng-include>
      <div class="row content" ui-view></div>
    </div>

    <ng-include src="'templates/partials/modal_user_language.html'" onload="setupUserLanguage()"></ng-include>
    <ng-include src="'templates/partials/modal_welcome.html'" onload="setupWelcome()"></ng-include>
    <ng-include src="'templates/partials/modal_guided_setup.html'" onload="setupGuidedSetup()"></ng-include>
    <ng-include src="'templates/partials/modal_tour_select.html'" onload="setupTour()"></ng-include>
    <ng-include src="'templates/partials/modal_feedback.html'"></ng-include>
    <ng-include src="'templates/partials/modal_send_message.html'" onload="setupSendMessage()"></ng-include>
    <ng-include src="'templates/partials/modal_update_facility.html'" onload="updateAvailableFacilities()"></ng-include>
    <ng-include src="'templates/partials/modal_alert.html'"></ng-include>
    <ng-include src="'templates/partials/modal_edit_user.html'"></ng-include>
    <ng-include src="'templates/partials/modal_edit_language.html'"></ng-include>
    <ng-include src="'templates/partials/modal_delete_language.html'"></ng-include>
    <ng-include src="'templates/partials/modal_delete_user_confirm.html'"></ng-include>
    <ng-include src="'templates/partials/modal_edit_translation.html'"></ng-include>
    <ng-include src="'templates/partials/modal_import_translation.html'"></ng-include>

    <script src="{baseURL}/static/dist/inbox.js" type="text/javascript"></script>

  </body>
</html>