<!DOCTYPE html>

<html data-base-url="{baseURL}" manifest="static/dist/manifest.appcache">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{baseURL}/static/dist/inbox.css" />
    <link rel="shortcut icon" href="{baseURL}/static/img/ico/icon_48.ico">
    <title>Medic Mobile</title>
  </head>
  <body class="inbox {~lb}{~lb}filterModel.type{~rb}{~rb}" ng-controller="InboxCtrl" ng-class="{'show-content': showContent}" ng-cloak>

    <ng-include src="'templates/partials/actionbar.html'"></ng-include>

    <div class="container-fluid">
      <ng-include src="'templates/partials/header.html'"></ng-include>
      <ng-include src="'templates/partials/filters.html'" onload="setupFilters()"></ng-include>
      <div class="row content" ui-view></div>
    </div>

    <ng-include src="'templates/modals/alert.html'"></ng-include>
    <ng-include src="'templates/modals/delete_language.html'"></ng-include>
    <ng-include src="'templates/modals/delete_user_confirm.html'"></ng-include>
    <ng-include src="'templates/modals/edit_contact.html'"></ng-include>
    <ng-include src="'templates/modals/edit_translation.html'"></ng-include>
    <ng-include src="'templates/modals/edit_language.html'"></ng-include>
    <ng-include src="'templates/modals/edit_report.html'" onload="updateAvailableFacilities()"></ng-include>
    <ng-include src="'templates/modals/edit_user.html'"></ng-include>
    <ng-include src="'templates/modals/edit_user_settings.html'"></ng-include>
    <ng-include src="'templates/modals/feedback.html'"></ng-include>
    <ng-include src="'templates/modals/guided_setup.html'" onload="setupGuidedSetup()"></ng-include>
    <ng-include src="'templates/modals/import_contacts.html'"></ng-include>
    <ng-include src="'templates/modals/import_translation.html'"></ng-include>
    <ng-include src="'templates/modals/send_message.html'" onload="setupSendMessage()"></ng-include>
    <ng-include src="'templates/modals/tour_select.html'" onload="setupTour()"></ng-include>
    <ng-include src="'templates/modals/update_facility.html'" onload="updateAvailableFacilities()"></ng-include>
    <ng-include src="'templates/modals/update_password.html'"></ng-include>
    <ng-include src="'templates/modals/user_language.html'" onload="setupUserLanguage()"></ng-include>
    <ng-include src="'templates/modals/version_update.html'"></ng-include>
    <ng-include src="'templates/modals/welcome.html'" onload="setupWelcome()"></ng-include>

    <script src="{baseURL}/static/dist/dependencies.js" type="text/javascript"></script>
    <script src="{baseURL}/static/dist/inbox.js" type="text/javascript"></script>
    <script src="{baseURL}/static/dist/templates.js" type="text/javascript"></script>

    <div id="enketo-widget-container" class="enketo"></div>
  </body>
</html>
