<!DOCTYPE html>

<html ng-app="inboxApp" data-base-url="{baseURL}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{baseURL}/static/css/inbox.css" />
    <link rel="shortcut icon" href="{baseURL}/static/img/ico/icon_48.ico">
    <title>Medic Mobile: Inbox</title>
  </head>
  <body class="inbox" ng-controller="MessageCtrl" ng-class="{'show-content': selected}">
    <div class="container-fluid action-container">
      <div class="row">
        <div class="inner">
          <div class="col-sm-4"></div>
          <div class="col-sm-8 column">
            <div class="actions">
              <a class="mm-icon mm-icon-inverse mm-icon-caption" href="#">
                <span class="fa fa-mail-reply"></span>
                <p>Reply</p>
              </a>
              <a class="mm-icon mm-icon-inverse mm-icon-caption" href="#">
                <span class="fa fa-pencil"></span>
                <p>Edit</p>
              </a>
              <a class="mm-icon mm-icon-inverse mm-icon-caption" href="#">
                <span class="fa fa-check-circle-o"></span>
                <p>Verify</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row header">
        <div class="inner">

          <a href="#">
            <div class="logo">
              <img alt="Medic" src="{baseURL}/static/img/medic-logo-light.svg" />
            </div>
          </a>

          <div class="welcome">
            <div>Medic Mobile</div>
            <div>INBOX</div>
          </div>

          <div class="extras">
            <a href="#" title="Send message" data-toggle="modal" data-target="#send-message">
              <div class="mm-icon mm-icon-nudge-up mm-icon-inverse">
                <span class="mm-icon-overlay mm-icon-overlay-before fa fa-plus-circle"></span>
                <span class="fa fa-envelope"></span>
              </div>
            </a>
            <span>
              <a id="send-record-button" href="#" title="Send form" data-toggle="dropdown">
                <div class="mm-icon mm-icon-nudge-up mm-icon-inverse mm-icon-disabled">
                  <span class="mm-icon-overlay mm-icon-overlay-before fa fa-plus-circle"></span>
                  <span class="fa fa-list-alt"></span>
                </div>
              </a>
              <span id="add-record-panel">
                <ul class="dropdown-menu">
                  <li>
                    <button type="button" class="cancel close">×</button>
                    <iframe data-src="{info.muvuku_webapp_url}"></iframe>
                  </li>
                </ul>
              </span>
              <a id="toggle-filters" href="#" title="Search">
                <div class="mm-icon mm-icon-inverse">
                  <span class="fa fa-search"></span>
                </div>
              </a>
            </span>

            <span class="dropdown">
              <a href="#" data-toggle="dropdown">
                <div class="mm-icon mm-icon-inverse">
                  <span class="fa fa-cog"></span>
                </div>
              </a>
              <ul role="menu" class="dropdown-menu mm-dropdown-menu
                        mm-dropdown-menu-fullscreen mm-dropdown-menu-inverse">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">Edit Your User Profile</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{baseURL}/settings" rel="external">Administrative Options</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" id="logout">Log Out</a>
                </li>
              </ul>
            </span>
          </div>

          <div class="tabs">
            <a ng-click="setFilterType('message')" ng-class="{'selected': filterType === 'message'}">
              <div class="mm-icon" ng-class="{'mm-icon-inverse': filterType !== 'message'}">
                <span class="fa fa-envelope"></span>
                <span class="mm-badge-overlay mm-badge-overlay-top">
                  <span class="mm-badge mm-badge-red mm-badge-border">405</span>
                </span>
              </div>
              <div class="button-label">Messages</div>
            </a>
            <a ng-click="setFilterType('form')" ng-class="{'selected': filterType === 'form'}">
              <div class="mm-icon" ng-class="{'mm-icon-inverse': filterType !== 'form'}">
                <span class="fa fa-list-alt"></span>
                <span class="mm-badge-overlay mm-badge-overlay-top">
                  <span class="mm-badge mm-badge-red mm-badge-border">15</span>
                </span>
              </div>
              <div class="button-label">Forms</div>
            </a>
            <a ng-click="setFilterType('reporting')" ng-class="{'selected': filterType === 'reporting'}">
              <div class="mm-icon" ng-class="{'mm-icon-inverse': filterType !== 'reporting'}">
                <span class="fa fa-bar-chart-o"></span>
              </div>
              <div class="button-label">Reports</div>
            </a>
          </div>
        </div>
      </div>

      <div class="row filters">
        <div class="inner">

          <span class="dropdown mm-dropdown slide-back" ng-click="setMessage()">
            <span id="back" class="mm-button mm-button-nudge-down" ng-class="{'mm-button-disabled': !selected}">
              <span class="mm-button-icon">
                <span class="fa fa-chevron-left"></span>
              </span>
              <span class="mm-button-text">Back</span>
            </span>
          </span>

          <span class="basic-filters">
            <span id="formTypeDropdown" class="dropdown mm-dropdown mm-multiple-select" data-label-no-filter="All form types" data-filter-label="form types">
              <span id="form_type" class="mm-button mm-button-nudge-down" data-toggle="dropdown" ng-class="{'mm-button-disabled': filterType === 'message', disabled: filterType === 'message'}">
                <span class="mm-button-icon">
                  <span class="fa fa-list-alt"></span>
                </span>
                <span class="mm-button-dropdown">
                  <span class="fa fa-chevron-down"></span>
                </span>
                <span class="mm-button-text"></span>
              </span>
              <ul role="menu" aria-labelledby="report"
                class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
                <li role="presentation" ng-repeat="form in forms">
                  <a role="menuitem" tabindex="-1" href="#" data-form="{~lb}{~lb}form{~rb}{~rb}">
                    {~lb}{~lb}form.name{~rb}{~rb}
                  </a>
                </li>
              </ul>
            </span>

            <span id="facilityDropdown" class="dropdown mm-dropdown mm-multiple-select" data-label-no-filter="All facilities" data-filter-label="facilities">
              <span id="facility" class="mm-button" data-toggle="dropdown">
                <span class="mm-button-icon">
                  <span class="fa fa-hospital-o"></span>
                </span>
                <span class="mm-button-dropdown">
                  <span class="fa fa-chevron-down"></span>
                </span>
                <span class="mm-button-text"></span>
              </span>
              <ul role="menu" aria-labelledby="facility"
                class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
                <li role="presentation" ng-repeat="facility in facilities">
                  <a role="menuitem" tabindex="-1" href="#" data-facility-id="{~lb}{~lb}facility.id{~rb}{~rb}">{~lb}{~lb}facility.text{~rb}{~rb}</a>
                </li>
              </ul>
            </span>

            <span class="dropdown mm-dropdown pair-left">
              <span id="date-from" class="mm-button" data-date="{~lb}{~lb}filterDate.from | date : 'yyyy-MM-dd'{~rb}{~rb}" data-date-format="yyyy-mm-dd">
                <span class="mm-button-dropdown">
                  <span class="fa fa-chevron-down"></span>
                </span>
                <span class="mm-button-text">
                  {~lb}{~lb}filterDate.from | date : 'mediumDate'{~rb}{~rb}
                </span>
              </span>
            </span><!--
            comment required to keep dropdowns flush
            --><span class="dropdown mm-dropdown pair-right">
              <span id="date-to" class="mm-button" data-date="{~lb}{~lb}filterDate.to | date : 'yyyy-MM-dd'{~rb}{~rb}" data-date-format="yyyy-mm-dd">
                <span class="mm-button-dropdown">
                  <span class="fa fa-chevron-down"></span>
                </span>
                <span class="mm-button-text">
                  {~lb}{~lb}filterDate.to | date : 'mediumDate'{~rb}{~rb}
                </span>
              </span>
            </span>

            <span id="validDropdown" class="dropdown mm-dropdown">
              <span id="status" class="mm-button" data-toggle="dropdown" ng-class="{'mm-button-disabled': filterType === 'message', disabled: filterType === 'message'}">
                <span class="mm-button-icon">
                  <span class="fa fa-check-circle-o"></span>
                </span>
                <span class="mm-button-dropdown">
                  <span class="fa fa-chevron-down"></span>
                </span>
                <span class="mm-button-text">Valid Only</span>
              </span>
              <ul role="menu" aria-labelledby="status"
                class="dropdown-menu mm-dropdown-menu mm-dropdown-menu-inverse">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" ng-click="setFilterValid()">Any Status</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" ng-click="setFilterValid(true)">Valid Only</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#" ng-click="setFilterValid(false)">Invalid Only</a>
                </li>
              </ul>
            </span>
          </span>

          <span class="advanced-filters">
            <div class="input-group">
              <input id="advanced" type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                  <span class="fa fa-search"></span>
                </button>
              </span>
            </div>
          </span>

          <span class="filter-actions">
            <a href="#" id="download" title="Download all messages" rel="external">
              <span class="mm-button">
                <span class="mm-button-icon">
                  <span class="fa fa-arrow-down"></span>
                </span>
              </span>
            </a>
          </span>
        </div>
      </div>

      <div class="row content" ng-show="filterType !== 'reporting'">
        <div class="inner">
          <div class="inbox">
            <div class="col-sm-4 inbox-items">
              <ul>
                <li ng-show="!loading || appending" ng-repeat="message in messages | orderBy:'-reported_date'" ng-click="setMessage(message._id)" data-record-id="{~lb}{~lb}message._id{~rb}{~rb}" ng-class="{'selected': message._id === selected._id}">
                  <span class="time" ng-bind-html="message.reported_date | relativeDate"></span>
                  <span class="mm-badge mm-badge-round mm-badge-border" ng-class="message.errors.length ? 'mm-badge-red' : 'mm-badge-green'">
                    <span class="fa"></span>
                  </span>
                  <div class="detail">
                    <mm-sender message="message"></mm-sender>
                    <div ng-bind-html="message | messageType:forms"></div>
                  </div>
                </li>
              </ul>
              <p ng-show="!loading && !messages.length">No messages found</p>
              <p ng-show="!loading && messages.length && messages.length === totalMessages">No more messages</p>
              <span class="mm-loader" ng-show="loading">
                <span class="fa fa-spinner fa-spin"></span>
              </span>
            </div>

            <div class="col-sm-8 item-content">
              <div>
                <div class="meta">
                  <span class="time" ng-bind-html="selected.reported_date | relativeDate"></span>
                  <mm-sender message="selected"></mm-sender>
                </div>
                <div class="status">
                  <span class="mm-badge mm-badge-round mm-badge-border" ng-class="selected.errors.length ? 'mm-badge-red' : 'mm-badge-green'">
                    <span class="fa"></span>
                  </span>
                </div>
                <div class="body">
                  <h2 ng-bind-html="selected | messageType:forms"></h2>
                  <ul>
                    <li ng-if="!selected.form && selected.sms_message.message">
                      <label>Content</label>
                      <p>{~lb}{~lb}selected.sms_message.message{~rb}{~rb}</p>
                    </li>
                    <li ng-if="selected.form" ng-repeat="field in selected.fields.data">
                      <label>{~lb}{~lb}field.label{~rb}{~rb}</label>
                      <p>{~lb}{~lb}field.value{~rb}{~rb}</p>
                    </li>
                    <li ng-if="selected.errors.length">
                      <label>Errors</label>
                      <ul>
                        <li ng-repeat="error in selected.errors">
                          {~lb}{~lb}error.message{~rb}{~rb}
                        </li>
                      </ul>
                    </li>
                    <li ng-if="selected.tasks.length">
                      <label>Messages</label>
                      <ul>
                        <li ng-repeat="task in selected.tasks">
                          <ul>
                            <li ng-bind-html="task | state"></li>
                            <li ng-repeat="message in task.messages">
                              {~lb}{~lb}message.message{~rb}{~rb}
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li ng-if="selected.scheduled_tasks_by_group.length">
                      <label>Scheduled Tasks</label>
                      <ul>
                        <li ng-repeat="group in selected.scheduled_tasks_by_group">
                          <p>{~lb}{~lb}group.group{~rb}{~rb}</p>
                          <ul>
                            <li ng-repeat="task in group.rows">
                              <ul>
                                <li ng-bind-html="task | state"></li>
                                <li ng-repeat="m in task.messages">
                                  {~lb}{~lb}m.message{~rb}{~rb}
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row content" ng-show="filterType === 'reporting'">
        <div class="inner">
          <div class="col-sm-12 reporting">
            Reporting goes here
          </div>
        </div>
      </div>

    </div>

    {>"modal_send_message.html"/}

    <script src="{baseURL}/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/underscore.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/moment.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/angular.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/angular-resource.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/angular-sanitize.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/controllers.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/services.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/select2.min.js" type="text/javascript"></script>
    <script src="{baseURL}/static/js/inbox.js" type="text/javascript"></script>
    <script src="{baseURL}/static/kujua-reporting/js/raphael.js" type="text/javascript"></script>
    <script src="{baseURL}/config.js" type="text/javascript"></script>
    <script src="{baseURL}/modules.js" type="text/javascript"></script>
    <script src="{baseURL}/duality.js" type="text/javascript"></script>

  </body>
</html>
