<div class="message incoming-message row-fluid clickable">
  <div class="select-row">
    <input type="checkbox" name="select-row-checkbox" />
  </div>
  <div class="direction-icon">
    <i class="icon-envelope icon-muted"></i>
  </div>
  <div class="contact-info">
    {@contact entities="{related_entities}" from="{from}"/}
  </div>
  <div class="msg">
    {#sms_message}
      {message}
    {/sms_message}
  </div>
  <div class="icons">
    {@ifHasState array="{tasks}" state="sent"}
      <span class="label label-success" title="{@countByState array="{tasks}" state="sent"/} messages sent">
        {@countByState array="{tasks}" state="sent"/}
        <i class="icon-envelope"></i>
      </span>
    {/ifHasState}
    {@ifHasState array="{tasks}" state="pending"}
      <span class="label label-info" title="{@countByState array="{tasks}" state="pending"/} messages pending">
        {@countByState array="{tasks}" state="pending"/}
        <i class="icon-time"></i>
      </span>
    {/ifHasState}
  </div> 
  <div class="reported-date" title="{@formatDate timestamp="{reported_date}"/}">
    {@formatDate timestamp="{reported_date}" format="MMM DD HH:mm"/}
  </div>
  <div class="add-message">
    <button class="btn btn-mini btn-primary">
      <i class="icon-reply"></i>
    </button>
  </div>
</div>
<div class="extended">
  <div class="row-fluid">
    <div class="inset span12">
      <div class="row-fluid data-record-details">
      {#related_entities}
        <p><b>From:</b>
        {?clinic.parent.parent.name}
          {clinic.parent.parent.name}
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.parent.name}
            {health_center.parent.name}
            <i class="icon-double-angle-right"></i>
          {/health_center.parent.name}
        {/clinic.parent.parent.name}
        {?clinic.parent.name}
          {clinic.parent.name}
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.name}
            {health_center.name}
            <i class="icon-double-angle-right"></i>
          {/health_center.name}
        {/clinic.parent.name}
        {?clinic.name}
          {clinic.name}
        {:else}
          {from}
        {/clinic.name}
        {?clinic.contact.rc_code}
          <span class="label">{clinic.contact.rc_code}</span>
        {/clinic.contact.rc_code}
        {?clinic.contact.name}
          {clinic.contact.name}
        {/clinic.contact.name}
        {?clinic.contact.phone}
          {clinic.contact.phone}
        {/clinic.contact.phone}
        </p>
      {/related_entities}
      {^related_entities}
        <p><b>From:</b> {from}</p>
      {/related_entities}
      {#sms_message}
        <p><pre>{message}</pre></p>
      {/sms_message}
      </div>
      {?responses}
      <div class="row-fluid data-record-responses">
        {>"data_record_responses.html"/}
      </div>
      {/responses}
      {?errors}
      <div class="row-fluid data-record-errors">
        {>"data_record_errors.html"/}
      </div>
      {/errors}
      {?tasks}
      <div class="row-fluid data-record-tasks">
        {>"data_record_tasks.html"/}
      </div>
      {/tasks}
     </div>
  </div>
</div>
