<div class="message incoming-message row-fluid clickable">
  <div class="select-row">
    <input type="checkbox" name="select-row-checkbox" />
  </div>
  <div class="direction-icon">
    <div class="label label-success">
      <i class="icon-envelope-alt"></i>
    </div>
  </div>
  <div class="contact-info">
    {@contact entities="{related_entities}" from="{from}"/}
  </div>
  <div class="msg">
    {#sms_message}
      <pre>{message}</pre>
    {/sms_message}
  </div>
  <div class="icons">
    {?tasks}
      <span class="label label-{@taskClass tasks="{tasks}"/}" title="{@taskMessage tasks="{tasks}"/}">
        {tasks.length}
        {@taskIcon tasks="{tasks}"/}
      </span>
    {/tasks}
  </div> 
  <div class="add-message">
    <button class="btn btn-mini">
      <i class="icon-comment-alt"></i>
    </button>
  </div>
  <div class="reported-date" title="{@formatDate timestamp="{reported_date}"/}">
    {@formatDate timestamp="{reported_date}" format="MMM DD HH:mm"/}
  </div>
</div>
<div class="extended">
  <div class="row-fluid">
    <div class="inset span12">
      {#related_entities}
        <div>
        {?clinic.parent.parent.name}
          {clinic.parent.parent.name}
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.parent.name}
            {health_center.parent.name}
            <i class="icon-double-angle-right"></i>
          {/health_center.parent.name}
        {/clinic.parent.parent.name}
        {?clinic.parent.name}
          {clinic.parent.name}
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.name}
            {health_center.name}
            <i class="icon-double-angle-right"></i>
          {/health_center.name}
        {/clinic.parent.name}
        {?clinic.name}
          {clinic.name}
        {:else}
          From: {from}
        {/clinic.name}
        {?clinic.contact.rc_code}
          <span class="label">{clinic.contact.rc_code}</span>
        {/clinic.contact.rc_code}
        </div>
        <div>
        {?clinic.contact.name}
          {clinic.contact.name}
        {/clinic.contact.name}
        {?clinic.contact.phone}
          {clinic.contact.phone}
        {/clinic.contact.phone}
        </div>
      {/related_entities}
      {^related_entities}
        From: {from}
      {/related_entities}
      {#sms_message}
        <p><pre>{message}</pre></p>
      {/sms_message}
     </div>
  </div>
  {?tasks}
  <div class="row-fluid data-record-tasks">
    {>"data_record_tasks.html"/}
  </div>
  {/tasks}
  {?responses}
  <div class="row-fluid data-record-responses">
    {>"data_record_responses.html"/}
  </div>
  {/responses}
  {?errors}
  <div class="row-fluid data-record-errors">
    {>"data_record_errors.html"/}
  </div>
  {/errors}
</div>
