<div class="message incoming-form row-fluid clickable">
  <div class="select-row">
    <input type="checkbox" name="select-row-checkbox" />
  </div>
  <div class="direction-icon">
    {?errors}
      <i class="icon-exclamation-sign"></i>
    {:else}
      <i class="icon-file-alt icon-muted"></i>
    {/errors}
  </div>
  <div class="contact-info">
    {@contact entities="{related_entities}" from="{from}"/}
  </div>
  <div class="msg">
    <label class="label">
      <i class="icon-file-alt"></i>
      {form}
    </label>
    {@formName form="{form}"/}
  </div>
  <div class="icons">
    {@ifHasState array="{tasks}" state="sent"}
      <span class="label label-success" title="{@countByState array="{tasks}" state="sent"/} messages sent">
        {@countByState array="{tasks}" state="sent"/}
        <i class="icon-envelope"></i>
      </span>
    {/ifHasState}
    {@ifHasState array="{tasks}" state="pending"}
      <span class="label label-info" title="{@countByState array="{tasks}" state="pending"/} messages pending">
        {@countByState array="{tasks}" state="pending"/}
        <i class="icon-time"></i>
      </span>
    {/ifHasState}
    {?scheduled_tasks}
    <span class="label label-info" title="{@countByState array="{scheduled_tasks}" state="scheduled"/} scheduled messages">
      {@countByState array="{scheduled_tasks}" state="scheduled"/}
      <i class="icon-bell"></i>
    </span>
    {/scheduled_tasks}
  </div>
  <div class="reported-date" title="{@formatDate timestamp="{reported_date}"/}">
    {@formatDate timestamp="{reported_date}" format="MMM DD HH:mm"/}
  </div>
  <div class="add-message">
      <button class="btn btn-mini btn-primary">
        <i class="icon-reply"></i>
      </button>
  </div>
</div>
<div class="extended">
  <div class="row-fluid">
    <div class="inset span12">
      <div class="row-fluid data-record-details">
      {#related_entities}
        <b>From:</b>
        {?clinic.parent.parent.name}
          {clinic.parent.parent.name}
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.parent.name}
            {health_center.parent.name}
            <i class="icon-double-angle-right"></i>
          {/health_center.parent.name}
        {/clinic.parent.parent.name}
        {?clinic.parent.name}
          {clinic.parent.name}
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.name}
            {health_center.name}
            <i class="icon-double-angle-right"></i>
          {/health_center.name}
        {/clinic.parent.name}
        {?clinic.name}
          {clinic.name}
        {:else}
          {from}
        {/clinic.name}
        {?clinic.contact.rc_code}
          <span class="label">{clinic.contact.rc_code}</span>
        {/clinic.contact.rc_code}
        {?clinic.contact.name}
          {clinic.contact.name}
        {/clinic.contact.name}
        {?clinic.contact.phone}
          {clinic.contact.phone}
        {/clinic.contact.phone}
      {/related_entities}
      {^related_entities}
        <b>From:</b> {from}
      {/related_entities}
      {#sms_message}
        <p><pre>{message}</pre></p>
      {/sms_message}
      </div>
      {?errors}
        <div class="row-fluid data-record-errors">
          {>"data_record_errors.html"/}
        </div>
      {/errors}
      {?responses}
      <div class="row-fluid data-record-responses">
        {>"data_record_responses.html"/}
      </div>
      {/responses}
      {?tasks}
      <div class="row-fluid data-record-tasks">
        {>"data_record_tasks.html"/}
      </div>
      {/tasks}
      {?scheduled_tasks}
      <div class="row-fluid data-record-scheduled-tasks">
        {>"data_record_scheduled_tasks.html"/}
      </div>
      {/scheduled_tasks}
    </div>
  </div>
  <div class="row-fluid scroll">
    {>"data_record_fields.html":fields/}
  </div>
  {@hasPermission permission="can_view_revisions"}
  <div class="data-record-revisions">
    {>"data_record_revisions.html"/}
  </div>
  {/hasPermission}
</div>
