<div class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="cancel close">&times;</button>
        <h3>Send Message</h3>
    </div>
    <div class="modal-body">
        <form action="" method="POST">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <input value="{to}" style="width:100%;" class="input-xlarge" type="text" name="phone" autocomplete="off"/>
                    </div>
                    <span class="hide help-block">
                        Please include valid phone number, e.g. +9779875432123
                    </span>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea name="message" placeholder="Enter message" />
                    </div>
                    <span class="hide help-block">Please include a message.</span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <p class="pull-left note">{note}</p>
        <a href="#" class="btn cancel">Cancel</a>
        <a href="#" class="btn submit btn-primary">Send</a>
    </div>
</div>
