<div class="modal fade" id="edit-user-profile" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="cancel close" data-dismiss="modal">&times;</button>
        <h3>Edit User Profile</h3>
      </div>
      <div class="modal-body">
        <form action="" method="POST"> 

          <div class="form-group">
            <label for="fullname">Full Name</label>
            <input id="fullname" type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label for="email">E-mail Address</label>
            <input id="email" type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input id="phone" type="text" class="form-control" />
          </div>

          <div class="form-group">
            <label for="language">Language</label>
            <select id="language" class="form-control">
              {#locales}
                <option value="{code}">{name}</option>
              {/locales}
            </select>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <p class="pull-left note"></p>
        <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn submit btn-primary">Submit</a>
      </div>
    </div>
  </div>
</div>
