<div class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="cancel close">&times;</button>
    <h3>{title}</h3>
  </div>
  <div class="hide modal-body">
      <!--form action="" method="POST">
        <fieldset>
          <div class="control-group">
          <textarea id="invalid-reason" name="reason" placeholder="Enter reason" />
          <span class="error-msg hide help-block">Please include a reason.</span>
          </div>
        </fieldset>
      </form-->
  </div>
  <div class="modal-footer">
    <p class="pull-left note">{note}</p>
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn submit btn-primary">Submit</a>
  </div>
</div>
