<div class="message outgoing-message row-fluid clickable">
  <div class="select-row">
    <input type="checkbox" name="select-row-checkbox" />
  </div>
  <div class="direction-icon">
    <i class="icon-envelope icon-muted"></i>
  </div>
  <div class="contact-info">
    <b>To:</b> 
    {@if cond="{outgoing_messages_recipients.length} > 5"}
      <span>{outgoing_messages_recipients.length} {@translate value="recipients"/}</span>
    {/if}
    {@if cond="{outgoing_messages_recipients.length} <= 5"}
      {#outgoing_messages_recipients}
        <span class="recipient">{@contact entities="{facility}" to="{to}" /}</span>
      {/outgoing_messages_recipients}
    {/if}
  </div>
  <div class="msg">
    {outgoing_messages[0].message}
  </div>
  <div class="icons">
    {@ifHasState array="{tasks}" state="sent"}
    <span class="label label-success" title="{@countByState array1="{tasks}" array2="{scheduled_tasks}" state="sent"/} messages sent">
      {@countByState array1="{tasks}" array2="{scheduled_tasks}" state="sent"/}
        <i class="icon-envelope"></i>
      </span>
    {/ifHasState}
    {@ifHasState array="{tasks}" state="pending"}
    <span class="label label-info" title="{@countByState array1="{tasks}" array2="{scheduled_tasks}" state="pending"/} messages pending">
      {@countByState array1="{tasks}" array2="{scheduled_tasks}" state="pending"/}
        <i class="icon-time"></i>
      </span>
    {/ifHasState}
  </div>
  <div class="timestamp" title="{@formatDate timestamp="{reported_date}"/}">
  {?reported_date}
    {@formatDate timestamp="{reported_date}" format="MMM DD HH:mm"/}
  {/reported_date}
  </div>
  <div class="add-message"></div>
</div>
<div class="extended">
  <div class="row-fluid">
    <div class="inset span12 msg-full">
      {#outgoing_messages}
      <p class="pull-right">
        <span class="tasks-state-{state}">{state}</span>
      </p>
      <div>
        <b>To:</b>
        {#recipients}
        <a 
          href="#" 
          class="btn btn-mini" 
          rel="popover" 
          data-placement="bottom" 
          data-content="{state} on {@formatDate timestamp="{timestamp}"/}"
          title="{@contact entities="{facility}" to="{to}" verbose=1/}"
          >{@contact entities="{facility}" to="{to}" /}</a> 
        {/recipients}
      </div>
      <p>
      <b>Sent by:</b> {sent_by} <span class="phone">{from}</span>
      </p>
      <p><pre>{message}</pre></p>
      {/outgoing_messages}
    </div>
  </div>
</div>
