<div class="message outgoing-message row-fluid clickable">
  <div class="select-row">
    <input type="checkbox" name="select-row-checkbox" />
  </div>
  <div class="direction-icon">
    <div class="label label-info">
      <i class="icon-reply"></i>
    </div>
  </div>
  <div class="contact-info">
    {tasks[0].messages[0].to}
  </div>
  <div class="msg">
    <pre>
      {tasks[0].messages[0].message}
    </pre>
  </div>
  <div class="reported-date" title="{@formatDate timestamp="{reported_date}"/}">
    {@formatDate timestamp="{reported_date}" format="MMM DD HH:mm"/}
  </div>
</div>
<div class="hide extended">
  <div class="row-fluid">
    <div class="span1">
      <b>From:</b>
    </div>
    <div class="span5">
      {sent_by}
    </div>
    <div class="span1">
      <b>To:</b>
    </div>
    <div class="span5">
      {#related_entities}
        {?clinic.contact.rc_code}
          {clinic.contact.rc_code}

          <i class="icon-bookmark"></i>
        {/clinic.contact.rc_code}
        {?clinic.contact.phone}
          {clinic.contact.phone}

          <i class="icon-mobile-phone"></i>
        {/clinic.contact.phone}
        {?clinic.parent.parent.name}
          <i>{clinic.parent.parent.name}</i>
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.parent.name}
            <i>{health_center.parent.name}</i>
            <i class="icon-double-angle-right"></i>
          {/health_center.parent.name}
        {/clinic.parent.parent.name}
        {?clinic.parent.name}
          <i>{clinic.parent.name}</i>
          <i class="icon-double-angle-right"></i>
        {:else}
          {?health_center.name}
            <i>{health_center.name}</i>
            <i class="icon-double-angle-right"></i>
          {/health_center.name}
        {/clinic.parent.name}
        {?clinic.name}
          <i>{clinic.name}</i>
        {:else}
          <i class="icon-question-sign icon-large" title="No clinic name."></i>
        {/clinic.name}
      {/related_entities}
    </div>
  </div>
</div>
