<div class="message outgoing-message row-fluid clickable">
  <div class="select-row">
    <input type="checkbox" name="select-row-checkbox" />
  </div>
  <div class="direction-icon">
    <div class="label label-info">
      <i class="icon-envelope"></i>
    </div>
  </div>
  <div class="contact-info">
    To: {tasks[0].messages[0].to}
  </div>
  <div class="msg">
    <pre>
      {tasks[0].messages[0].message}
    </pre>
  </div>
  <div class="icons">
  </div> 
  <div class="add-message">
  </div>
  <div class="reported-date" title="{@formatDate timestamp="{reported_date}"/}">
    {@formatDate timestamp="{reported_date}" format="MMM DD HH:mm"/}
  </div>
</div>
<div class="extended">
  <div class="row-fluid">
    <div class="inset span12 msg-full">
      <b>Sent by</b> {sent_by}
    {#tasks}
      <p class="pull-right">
        <span class="tasks-state-{state}">{state}</span>
        {?timestamp}
        <span class="tasks-timestamp">
          {@formatDate timestamp="{timestamp}"/}
        </span>
        {/timestamp}
      </p>
      {#messages}
        <p>To: {to}</p>
        <pre>{message}</pre>
      {/messages}
    {/tasks}
    </div>
  </div>
</div>
