<div class="row-fluid">
  <div class="span12 b20">
    {?districts}
    {#forms}
    <div class="header-row row-fluid">
      <div class="span12">
        <h4 class="l20">
          {formName}
        </h4>
      </div>
    </div>
    {#districts}
    <div class="row-fluid b5 t5">
      <div class="offset1 span4 lh30">
        {name}
      </div>
      <div class="span6">
        <a href="{baseURL}/reporting/{code}/{id}" class="btn">
          <i class="icon-bar-chart"></i>

          View
        </a>
      </div>
    </div>
    {/districts}
    {/forms}
    {:else}
    <a href="{baseURL}/facilities/districts" class="btn btn-block btn-large btn-primary">Add {@translate value="District"/} facility data</a>
    {/districts}
  </div>
</div>
