{#forms}
    <div class="row-fluid form-row">
      <h4 class="span7 offset1">
        {title} <div class="label label-faded">{form}</div>
      </h4>
        <div class="span3"><label>{total} records</label></div>
        <div class="span1">
            <form class="form-inline" method="get">
              <button class="btn btn-primary" type="submit" data-url="{baseURL}" data-query="{q}">
                    <i class="icon-arrow-down icon-large"></i>
                </button>
            </form>
        </div>
    </div>
    {#districts}
        <div class="row-fluid district-form-row">
            <h5 class="offset1 span7">
                {?isAdmin}{dh_name}{/isAdmin}
            </h5>
            <div class="span3"><label>{total} records</label></div>
            <div class="span1">
                <form class="form-inline" method="get">
                    <button class="btn btn-primary" type="submit" data-url="{baseURL}" data-form="{form}" data-query="{q}">
                        <i class="icon-arrow-down icon-large"></i>
                    </button>
                </form>
            </div>
        </div>
    {/districts}
{:else}
<div class="span12 row-fluid">
  No data is available, please login or contact your supervisor.
</div>
{/forms}
