<div id="sms-messages" class="row">
  <div class="column span1" style="padding-left: 30px; padding-right: -30px; padding-top: 100px;">
    <a class="btn prev" href="#"><i class="icon-arrow-left"></i> Previous</a>
  </div>
  <div class="column span9">
    <table class="common-table zebra-striped">
      <thead>
        <tr>
          <th>
            <a href="{baseURL}/sms_messages_by_form?limit=11">Form</a>
          </th>
          <th>
            <a href="{baseURL}/sms_messages_by_from?limit=11">From</a>
          </th>
          <th>
            <a href="{baseURL}/sms_messages_by_timestamp?limit=11">Timestamp</a>
          </th>
          <th>
            Message
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {#sms_messages}
        <tr rel="{_id}">
          <td>
            {form}
          </td>
          <td>
            {from}
          </td>
          <td>
            {sent_timestamp}
          </td>
          <td>
            <a href="#" class="extend">{short_message}</a>
          </td>
          <td class="edit-col">
            <form style="display: inline; margin: 0;" action="{baseURL}/delete/{_id}" method="post">
              <input type="hidden" name="next" class="next_url" value="{currentURL}" />
              <button type="submit" class="btn">
                <i class="icon-trash icon-large"></i> Delete
              </button>
            </form>
          </td>
        </tr>
        <tr class="extended" style="display: none">
          <td colspan="5">{message|s}</td>
        </tr>
      {/sms_messages}
      </tbody>
    </table>      
  </div>
  <div class="column span1" style="padding-left: 30px; padding-right: -30px; padding-top: 100px;">
    <a class="btn next" href="#"
      ><i class="icon-arrow-right icon-large"></i> Next</a>
  </div>
</div>
