<ul>
{?forms}
{#forms}
<li class="form">
  <h3>{title} <small>{form}</small></h3>
  <h4>{size} total</h4>
      <form method="get">
        <select name="format">
          <option value="{baseURL}/{form}/data_records.xml">Excel (English)</option>
          <option value="{baseURL}/{form}/data_records.csv">CSV (English)</option>
          <option value="{baseURL}/{form}/data_records.xml?locale=fr">Excel (French)</option>
          <option value="{baseURL}/{form}/data_records.csv?locale=fr">CSV (French)</a></li>
        </select>
        <button class="btn btn-primary" type="submit">
          <i class="icon-arrow-down icon-large"></i>
        </button>
      </form>
</li>
{/forms}
{:else}
<li>No data is available yet.</li>
{/forms}
</ul>
