<form class="pull-right" id="sms-forms-controls">
  <div id="startDate" class="input-append" data-role="datetimepicker">
    <input class="input-small" placeholder="yyyy-mm-dd" data-format="yyyy-MM-dd" type="text">
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
  </div>
  to
  <div id="endDate" class="input-append" data-role="datetimepicker">
    <input class="input-small" placeholder="yyyy-mm-dd" data-format="yyyy-MM-dd" type="text">
    <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
    </span>
  </div>
  <select name="format" class="input-medium">
    <option value="xml">Excel (English)</option>
    <option value="csv">CSV (English)</option>
    <option value="xml,fr">Excel (French)</option>
    <option value="csv,fr">CSV (French)</option>
  </select>
</form>
