<ul>
{?forms}
{#iter:forms}
<li class="form">
  <h3>{?value.schema.title}{value.schema.title} <small>{key}</small></h3>
      {:else}{key}</h3>{/value.schema.title}
  <h4>{value.total} total</h4>
      <form method="get">
        <select name="format">
          <option value="{key}/sms_messages.xml">Excel (English)</option>
          <option value="{key}/sms_messages.csv">CSV (English)</option>
          <option value="{key}/sms_messages.xml?locale=fr">Excel (French)</option>
          <option value="{key}/sms_messages.csv?locale=fr">CSV (French)</a></li>
        </select>
        <input class="btn btn-primary" type="submit" value="Download"/>
      </form>
</li>
{/iter}
{:else}
<li>No data is available yet.</li>
{/forms}
</ul>
