<ul class="nav pull-right">
  {?isDbAdmin}
  <li class="settings">
    <a href="{baseURL}/settings">
      <i class="icon-cog"></i> {labels.settings}
    </a>
  </li>
  {/isDbAdmin}
  {?isDbAdmin}
  <li class="schedules">
    <a href="{baseURL}/schedules">
      <i class="icon-time"></i> {labels.schedules}
    </a>
  </li>
  {/isDbAdmin}
  <li class="sms-forms-data">
    <a href="{baseURL}/forms">
      <i class="icon-download"></i> {labels.export}
    </a>
  </li>
  {?isDbAdmin}
  <li class="users">
    <a href="{baseURL}/users">
      <i class="icon-user"></i> {labels.users}
    </a>
  </li>
  {/isDbAdmin}
  <li class="facilities">
    <a href="{baseURL}/facilities">
      <i class="icon-home"></i> {labels.facilities}
    </a>
  </li>
  <li class="logout">
    <a href="#" id="logout">
      <i class="icon-power-off"></i> {labels.logout}
    </a>
  </li>
</ul>