<div class="modal hide fade" id="mark-invalid">
  <div class="modal-header">
    <button type="button" class="cancel close">&times;</button>
    <h3>Update Facility</h3>
  </div>
  <div class="modal-body">
      <form action="" method="POST"> 
        <fieldset>
          <div class="control-group">
            <input type="hidden" name="facility" class="input-xxlarge">
            <div class="alert alert-error hide tm15">Please choose a facility.</div>
          </div>
        </fieldset>
      </form>
  </div>
  <div class="modal-footer">
    <p class="pull-left note">{note}</p>
    <a href="#" class="btn cancel">Cancel</a>
    <a href="#" class="btn submit btn-primary">Submit</a>
  </div>
</div>
