<div id="user-management" class="tab-content">
  <a id="add-user" href="#" class="btn btn-primary">
    <i class="fa fa-user"></i>
    Add User
  </a>

  <div id="user-list">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>User Name</td>
          <td>Full Name</td>
          <td>User Type</td>
          <td>Facility</td>
          <td>Email</td>
          <td>Phone</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  {>"loader.html"/}
</div>

<div id="user-management-modal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Add User</h3>
  </div>
  <div class="modal-body">
    <form id="user-form">
      <div id="user-creation">

        <input id="_id" type="hidden" />
        <input id="_rev" type="hidden" />

        <input id="salt" type="hidden" />
        <input id="iterations" type="hidden" />
        <input id="derived_key" type="hidden" />
        <input id="password_scheme" type="hidden" />
        <input id="iterations" type="hidden" />

        <div class="control-group">
          <label for="name">User Name *</label>
          <input id="name" type="text" />
        </div>

        <label for="fullname">Full Name</label>
        <input id="fullname" type="text" />

        <label for="email">E-mail Address</label>
        <input id="email" type="text" />

        <label for="type">User Type</label>
        <select id="type">
          <option value=""></option>
          <optgroup label="People">
            <option value="national-manager">Full access</option>
            <option value="district-manager">Restricted to group of facilities</option>
            <option value="data-entry">Data entry - access to Medic Reporter only</option>
          </optgroup>
          <optgroup label="Computers">
            <option value="analytics">Analytics - Data export via URL only</option>
            <option value="gateway">Gateway - Limited access user for SMSSync</option>
          </optgroup>
        </select>

        <label for="facility_id">Facility</label>
        <div id="facility_id"></div>

        <label for="language">Language</label>
        <select id="language">
          {#locales}
            <option value="{code}">{name}</option>
          {/locales}
        </select>

        <label for="phone">Phone Number</label>
        <input id="phone" type="text" />

        <div class="control-group">
          <label for="password">Password <span id="password-required">*</span></label>
          <input id="password" type="password" autocomplete="off" />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <p class="note">{note}</p>
    <button type="button" class="btn cancel" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn submit btn-primary">Save</button>
  </div>
</div>

<div class="modal fade" id="user-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="user-delete-confirmation-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="user-delete-confirmation-label"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
