
<div id="user-management">
  <div id="user-list">
    <table>
      <thead>
        <tr>
          <td class="first" colspan="2">User ID</td>
          <td>Name</td>
          <td>User Type</td>
          <td>Facility</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody id="user-rows">
      </tbody>
    </table>
  </div>

  <form id="user-form">
  <div id="user-creation">

    <input id="_id" type="hidden" />
    <input id="_rev" type="hidden" />

    <input id="salt" type="hidden" />
    <input id="iterations" type="hidden" />
    <input id="derived_key" type="hidden" />
    <input id="password_scheme" type="hidden" />

    <label for="name">User Name</label>
    <input id="name" type="text" />

    <label for="fullname">Full Name</label>
    <input id="fullname" type="text" />

    <label for="email">E-mail Address</label>
		<input id="email" type="text" />

    <label for="type">User Type</label>
    <select id="type">
      <option value=""></option>
      <optgroup label="People">
        <option value="national-manager">Full access</option>
        <option value="district-manager">Restricted to group of facilities</option>
        <!--option value="facility-manager">Restricted to individual facility</option-->
        <option value="data-entry">Data entry - access to Muvuku only</option>
      </optgroup>
      <optgroup label="Computers">
        <option value="analytics">Analytics - Data export via URL only</option>
        <option value="gateway">Gateway - Limited access user for SMSSync</option>
      </optgroup>
    </select>

    <label for="facility">Facility</label>
    <div id="facility"></div>

    <label for="language">Language</label>
    <select id="language">
      <option value=""></option>
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="es">Spanish</option>
      <option value="ne">Nepali</option>
      <option value="sw">Swahili</option>
    </select>

    <label for="phone">Phone Number</label>
    <input id="phone" type="text" />

    <label for="password">Password</label>
    <input id="password" type="password" />

    <br />

    <input id="save" type="submit" value="Create User" />
    <div class="status"></div>

  </div>
  </form>

  <div class="clear">
  </div>
</div>

