<div id="user-management" class="tab-content">
  <a id="add-user" href="#" class="btn btn-primary">
    <i class="fa fa-user"></i>
    {@translate value="Add User"/}
  </a>

  <div id="user-list">
    <table>
      <thead>
        <tr>
          <td>&nbsp;</td>
          <td>{@translate value="User Name"/}</td>
          <td>{@translate value="Full Name"/}</td>
          <td>{@translate value="User Type"/}</td>
          <td>{@translate value="Facility"/}</td>
          <td>{@translate value="Email Address"/}</td>
          <td>{@translate value="Phone Number"/}</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>

  {>"loader.html"/}
</div>

<div id="user-management-modal" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>{@translate value="Add User"/}</h3>
  </div>
  <div class="modal-body">
    <form id="user-form">
      <div id="user-creation">

        <input id="_id" type="hidden" />
        <input id="_rev" type="hidden" />

        <input id="salt" type="hidden" />
        <input id="iterations" type="hidden" />
        <input id="derived_key" type="hidden" />
        <input id="password_scheme" type="hidden" />
        <input id="known" type="hidden" />

        <label for="name">{@translate value="User Name"/} *</label>
        <input id="name" type="text" />

        <label for="fullname">{@translate value="Full Name"/}</label>
        <input id="fullname" type="text" />

        <label for="type">{@translate value="User Type"/}</label>
        <select id="type" data-placeholder="{@translate value="Select a type"/}">
          <option value=""></option>
          <optgroup label="{@translate value="usertype.people"/}">
            <option value="national-manager">{@translate value="usertype.national-manager"/}</option>
            <option value="district-manager">{@translate value="usertype.district-manager"/}</option>
            <option value="data-entry">{@translate value="usertype.data-entry"/}</option>
          </optgroup>
          <optgroup label="{@translate value="usertype.computers"/}">
            <option value="analytics">{@translate value="usertype.analytics"/}</option>
            <option value="gateway">{@translate value="usertype.gateway"/}</option>
          </optgroup>
        </select>

        <label for="facility_id">{@translate value="Facility"/}</label>
        <div id="facility_id" data-placeholder="{@translate value="Select a facility"/}"></div>

        <label for="language">{@translate value="Language"/}</label>
        <select id="language" data-placeholder="{@translate value="Select a language"/}">
          <option value=""></option>
          {#locales}
            <option value="{code}">{name}</option>
          {/locales}
        </select>

        <label for="email">{@translate value="Email Address"/}</label>
        <input id="email" type="text" />

        <label for="phone">{@translate value="Phone Number"/}</label>
        <input id="phone" type="text" />

        <label for="password">{@translate value="Password"/} <span class="password-required">*</span></label>
        <input id="password" type="password" autocomplete="off" />

        <label for="password-confirm">{@translate value="Confirm Password"/} <span class="password-required">*</span></label>
        <input id="password-confirm" type="password" autocomplete="off" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <p class="note">{note}</p>
    <button type="button" class="btn cancel btn-link" data-dismiss="modal">{@translate value="Cancel"/}</button>
    <button type="button" class="btn submit btn-primary">{@translate value="Submit"/}</button>
  </div>
</div>

<div class="modal fade" id="user-delete-confirmation" tabindex="-1" role="dialog" aria-labelledby="user-delete-confirmation-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="user-delete-confirmation-label"></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{@translate value="Cancel"/}</button>
        <button type="button" class="btn btn-danger btn-primary">{@translate value="Delete"/}</button>
      </div>
    </div>
  </div>
</div>
