
<h4>Action</h4>
<p>
  A valid form will silence message groups for
  {#silence}
  <input type="number" class="input-mini" value="{value}"/>
  <select class="inline">
    <option value="days" {@eq key="unit" value="days"}selected="true"{/eq}>days</option>
    <option value="weeks" {@eq key="unit" value="weeks"}selected="true"{/eq}>weeks</option>
    <option value="months" {@eq key="unit" value="months"}selected="true"{/eq}>months</option>
    <option value="years" {@eq key="unit" value="years"}selected="true"{/eq}>years</option>
  </select>
  {/silence}
<p>

{#form}
  {>"workflow_validations.html"/}

  <h4>Responses</h4>
  {#messages}
    <p>
      {@eq key="event_type" value="report_accepted"}
        If all the validations pass and the report is accepted
      {/eq}
      {@eq key="event_type" value="registration_not_found"}
        If the validations pass but the patient ID is not located
      {/eq}
      this message will be sent to the sender
    </p>
    <textarea class="input-xxlarge">{message}</textarea>
  {/messages}
{/form}
