@if (!contactsLoadingSummary) {
  <div class="row flex grid" id="contact_summary">
    @for (field of fields; track field) {
      <div class="col col-xs-12 col-sm-{{field.width || 12}}">
        <div class="cell {{field.label | lowercase}}">
          @if (field.icon) {
            <span class="field-icon" [innerHTML]="field.icon | resourceIcon"></span>
          }
          <div>
            @if (field.label) {
              <p class="summary_label" translate>{{field.label}}</p>
            }
            @if (field.translate) {
              <p translate [translateParams]="field.context">{{field.value}}</p>
            }
            @if (!field.translate && field.filter) {
              <p [innerHTML]="field.value"></p>
            }
            @if (!field.translate && !field.filter) {
              <p>{{field.value}}</p>
            }
          </div>
        </div>
      </div>
    }
  </div>
}
