<div class="modal-layout" role="document" [class.enketo-modal]="hasEnketoForm" [class.content-pane]="hasEnketoForm">
  @if (titleKey) {
    <mm-panel-header [headerTitle]="titleKey" (onClose)="cancel()" [hideCloseButton]="true"/>
  }

  <div class="modal-body"><ng-content></ng-content></div>

  @if (!hideFooter) {
    <div class="modal-footer">
      @if (error) {
        <p class="modal-error">{{ error | translate }}</p>
      }
      @if (!hideCancelButton) {
        <button
          mat-button
          color="primary"
          [class.disabled]="processing"
          (click)="cancel()"
          test-id="cancel">
          {{ (cancelKey || 'Cancel') | translate }}
        </button>
      }
      @if (isFlatButton && submitKey) {
        <button
          mat-flat-button
          color="primary"
          [class.disabled]="processing"
          (click)="submit()"
          test-id="submit">
          {{ (processing && submittingKey ? submittingKey : submitKey) | translate }}
        </button>
      }
      @if (!isFlatButton && submitKey) {
        <button
          mat-button
          color="primary"
          [class.disabled]="processing"
          (click)="submit()"
          test-id="submit">
          {{ (processing && submittingKey ? submittingKey : submitKey) | translate }}
        </button>
      }
    </div>
  }
</div>
