<mm-tool-bar title="Tasks"></mm-tool-bar>

<div class="inner">
  <div class="inbox page">

    <div id="tasks-list" class="col-sm-4 inbox-items left-pane">
      @if (!errorStack && hasTasks) {
        <ul>
          @for (task of tasksList; track listTrackBy($index, task)) {
            <li
              [attr.data-record-id]="task._id"
              [class.selected]="task.selected"
              [class.overdue]="task.overdue"
              class="content-row">
              <a [routerLink]="['/', 'tasks', task._id]" [state]="{ tab: 'tasks', id: task._id }">
                @if (task.icon) {
                  <div class="icon" [innerHTML]="task.icon | resourceIcon"></div>
                }
                <div class="content">
                  <div class="heading">
                    <h4>
                      <span>{{task.contact?.name || ''}}</span>
                    </h4>
                    <div class="date">
                      <span [innerHTML]="task.date | taskDueDate"></span>
                    </div>
                  </div>
                  @if (task.title) {
                    <div class="summary">
                      <p>{{task.title}}</p>
                    </div>
                  }
                  @if (task.priorityLabel) {
                    <div class="warning">{{task.priorityLabel}}</div>
                  }
                  @if (task.lineage?.length) {
                    <div class="detail" [innerHTML]="task.lineage | lineage"></div>
                  }
                </div>
              </a>
            </li>
          }
        </ul>
      }

      @if (!!errorStack) {
        <error-log [errorStack]="errorStack" [errorFor]="'tasks'" [reload]="refreshTaskList"></error-log>
      }

      @if (!errorStack && !loading && !hasTasks && !tasksDisabled) {
        <p class="loading-status">{{'No tasks found' | translate}}</p>
      }
      @if (!errorStack && !loading && hasTasks && !tasksDisabled) {
        <p class="loading-status">{{'task.list.complete' | translate}}</p>
      }
      @if (tasksDisabled) {
        <p class="loading-status">{{'tasks.disabled' | translate}}</p>
      }
      @if (loading && !tasksDisabled && !errorStack) {
        <div class="loader"></div>
      }
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
