<div class="content-pane right-pane" id="tasks-group">
  @if (loadingContent) {
    <div class="col-sm-8 item-content empty-selection">
      <div>
        <div class="loader"></div>
      </div>
    </div>
  }

  @if (!loadingContent && contentError) {
    <div class="col-sm-8 item-content empty-selection">
      <div>{{ errorTranslationKey | translate}}</div>
    </div>
  }

  @if (!loadingContent && !contentError && tasks.length) {
    <div class="col-sm-8 item-content">
      <div class="material">
        <div>
          <div class="card">
            <div class="action-header cell">
              <div class="col-xs-12">
                <h3>{{'tasks.group.title' | translate}}</h3>
              </div>
            </div>
            <ul>
              @for (task of tasks; track listTrackBy($index, task)) {
                <mm-content-row
                  [id]="task._id"
                  [route]="['/', navigationTab, task._id]"
                  [tab]="navigationTab"
                  [icon]="task.icon"
                  [date]="task.dueDate"
                  [overdue]="task.overdue"
                  [dateFormat]="'taskDueDate'"
                  [heading]="task.contact?.name"
                  [summary]="task.title"
                  [warning]="task.priorityLabel"
                ></mm-content-row>
              }
            </ul>
          </div>
        </div>
        <div class="padding"></div>
      </div>
    </div>
  }

</div>
