<div class="anc">
  <div class="row">
    <ng-include src="'templates/partials/analytics/anc/active-pregnancies.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/monthly-registrations.html'"></ng-include>
  </div>
  <div class="row">
    <ng-include src="'templates/partials/analytics/anc/missed-appointments.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/high-risk.html'"></ng-include>
  </div>
  <div class="row">
    <ng-include src="'templates/partials/analytics/anc/upcoming-appointments.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/upcoming-due-dates.html'"></ng-include>
  </div>
  <div class="row">
    <ng-include src="'templates/partials/analytics/anc/total-births.html'"></ng-include>
  </div>
  <div class="row">
    <ng-include src="'templates/partials/analytics/anc/missing-delivery-reports.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/visits-completed.html'"></ng-include>
  </div>
  <div class="row">
    <ng-include src="'templates/partials/analytics/anc/delivery-location.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/monthly-deliveries.html'"></ng-include>
  </div>
</div>
