<div class="col-sm-12 reporting ng-hide" ng-show="filterModel.module.id === 'anc'">

  <div class="col-sm-12 analytics-widget active-pregnancies">
    <div class="title">
      <p class="count">{~lb}{~lb}activePregnancies.count{~rb}{~rb}</p>
      <p class="name">Active Pregnancies</p>
    </div>
  </div>

  <div class="col-sm-6 analytics-widget upcoming-appointments table-responsive">
    <div class="title">
      <p class="count">{~lb}{~lb}upcomingAppointments.data.length{~rb}{~rb}</p>
      <p class="name">Upcoming Appointments</p>
    </div>
    <div class="content">
      <table class="table">
        <thead>
          <tr>
            <th class="sortable" ng-class="{'sorted':upcomingAppointments.order==='patient_name'}" ng-click="upcomingAppointments.order='patient_name'">Name</th>
            <th class="sortable" ng-class="{'sorted':upcomingAppointments.order==='clinic.contact.name'}" ng-click="upcomingAppointments.order='clinic.contact.name'">CHW</th>
            <th class="sortable" ng-class="{'sorted':upcomingAppointments.order==='date'}" ng-click="upcomingAppointments.order='date'">Appointment Date</th>
            <th class="sortable" ng-class="{'sorted':upcomingAppointments.order==='-weeks.number'}" ng-click="upcomingAppointments.order='-weeks.number'">Weeks Pregnant</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="appointment in upcomingAppointments.data | orderBy:upcomingAppointments.order">
            <td>{~lb}{~lb}appointment.patient_name{~rb}{~rb}</td>
            <td>{~lb}{~lb}appointment.clinic.contact.name{~rb}{~rb}</td>
            <td ng-bind-html="appointment.date | relativeDate"></td>
            <td>
              <span ng-class="{'approximate': appointment.weeks.approximate}">
                {~lb}{~lb}appointment.weeks.number{~rb}{~rb}
              </span>
            </td>
            <td>
              <a href="#/reports?query=patient_id:{~lb}{~lb}appointment.patient_id{~rb}{~rb}" title="View patient history">
                <span class="fa fa-list-alt"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
