<div class="reporting ng-hide page" ng-show="filterModel.module.id === 'anc'">

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/active-pregnancies.html'"></ng-include>
  </div>

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/upcoming-appointments.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/missed-appointments.html'"></ng-include>
  </div>

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/upcoming-due-dates.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/high-risk.html'"></ng-include>
  </div>

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/monthly-registrations.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/visits-during.html'"></ng-include>
  </div>

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/total-births.html'"></ng-include>
  </div>

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/missing-delivery-reports.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/visits-completed.html'"></ng-include>
  </div>

  <div class="col-sm-12">
    <ng-include src="'templates/partials/analytics/anc/delivery-location.html'"></ng-include>
    <ng-include src="'templates/partials/analytics/anc/monthly-deliveries.html'"></ng-include>
  </div>

</div>
