<div class="reporting-rates">

  <div class="form-select">
    <span ng-repeat="form in forms track by form.meta.code">
      <a class="btn btn-link" ui-sref="analytics.reporting.detail({ form: form.meta.code, place: filters.district })">
        {{form.meta.label | translateFrom}}
      </a>
    </span>
    <div class="loader" ng-hide="forms"></div>
  </div>

  <div class="row facility-select">
    <span ng-repeat="district in districts | orderBy:'name' track by district._id">
      <a class="btn btn-link" ui-sref="analytics.reporting.detail({ form: filters.form, place: district._id })">
        {{district.name}}
      </a>
    </span>
    <div class="loader" ng-hide="districts"></div>
  </div>

  <ui-view name="detail"/>

</div>
