<div class="filter" ng-show="place">
  <label translate>analytics.reporting.date_range</label>
  <a class="btn btn-link"
    ng-class="{ 'disabled': filters.quantity === 1 }"
    ng-click="setTimeQuantity(1)"
    translate="analytics.reporting.last_time_unit"
    translate-values="{
      time_unit: '{{ getTranslationKey(filters.time_unit) | translate }}'
    }"
  ></a>
  <a class="btn btn-link"
    ng-class="{ 'disabled': filters.quantity === 3 }"
    ng-click="setTimeQuantity(3)"
    translate="analytics.reporting.last_time_unit"
    translate-values="{
      quantity: 3,
      time_unit: '{{ getTranslationKey(filters.time_unit, true) | translate }}'
    }"
  ></a>
  <a class="btn btn-link"
    ng-class="{ 'disabled': filters.quantity === 6 }"
    ng-click="setTimeQuantity(6)"
    translate="analytics.reporting.last_time_unit"
    translate-values="{
      quantity: 6,
      time_unit: '{{ getTranslationKey(filters.time_unit, true) | translate }}'
    }"
  ></a>
  <a class="btn btn-link"
    ng-class="{ 'disabled': filters.quantity === 12 }"
    ng-click="setTimeQuantity(12)"
    translate="analytics.reporting.last_time_unit"
    translate-values="{
      quantity: 12,
      time_unit: '{{ getTranslationKey(filters.time_unit, true) | translate }}'
    }"
  ></a>
  <div class="btn-group">
    <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
      <span translate>analytics.reporting.change_time_unit</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a ng-show="filters.reporting_freq === 'weekly'"
        ng-click="setTimeUnit('week')" translate>week</a></li>
      <li><a ng-click="setTimeUnit('month')" translate>month</a></li>
      <li><a ng-click="setTimeUnit('quarter')" translate>quarter</a></li>
      <li><a ng-click="setTimeUnit('year')" translate>year</a></li>
    </ul>
  </div>
</div>

<div class="loader" ng-show="loadingTotals"></div>

<div ng-show="place && !loadingTotals" class="district-totals">
  <div class="alert alert-danger" role="alert" ng-show="error" translate>analytics.connection.error</div>
  <div class="row" ng-hide="error">
    <div class="col-sm-2 col-xs-6">
      <i class="fa fa-hospital-o"></i>
      <h4>{{totals.health_centers_size}}</h4>
      <h3 translate>analytics.reporting.health_centers_size</h3>
    </div>
    <div class="col-sm-2 col-xs-6">
      <i class="fa fa-medkit"></i>
      <h4>{{totals.clinics_size}}</h4>
      <h3 translate>analytics.reporting.clinics_size</h3>
    </div>
    <div class="col-sm-4 col-xs-12">
      <div class="large-pie">
        <nvd3 options="pieChartOptions" data="chart"></nvd3>
      </div>
    </div>
    <div class="col-sm-2 col-xs-6">
      <i class="fa fa-file-o"></i>
      <h4>{{totals.not_submitted}}</h4>
      <h3 translate>analytics.reporting.not_submitted</h3>
    </div>
    <div class="col-sm-2 col-xs-6">
      <i class="fa fa-exclamation-triangle"></i>
      <h4>{{totals.incomplete}}</h4>
      <h3 translate>analytics.reporting.incomplete</h3>
    </div>
  </div>
</div>

<div class="facility-select" ng-show="place && place.type === 'district_hospital' && !loadingTotals">
  <div class="row title" ng-show="facilities.length">
    <div class="col-sm-4" translate>analytics.reporting.health_centers_size</div>
    <div class="col-sm-1" translate>analytics.reporting.reports</div>
    <div class="col-sm-2" translate>analytics.reporting.reporting_rate</div>
  </div>
  <a ui-sref="analytics.reporting.detail({ form: filters.form, place: facility.id })" class="row facility" ng-repeat="facility in facilities">
    <div class="col-sm-4">
      {{facility.name}} ({{facility.clinics.length}})
    </div>
    <div class="col-sm-1">{{facility.valid}}</div>
    <div class="col-sm-1">{{facility.valid_percent}}%</div>
    <div class="col-sm-1">
      <div class="mini-pie">
        <nvd3 options="miniPieChartOptions" data="facility.chart"></nvd3>
      </div>
    </div>
  </div>
</div>

<div class="facility-select" ng-show="place && !loadingTotals">
  <div class="row title" ng-show="clinics.length">
    <div class="col-sm-4" translate>analytics.reporting.health_centers_size</div>
    <div class="col-sm-2" translate>analytics.reporting.reporting_rate</div>
  </div>
  <div ng-repeat="clinic in clinics | orderBy:'name' track by clinic.id">
    <div class="row facility" ng-click="expandClinic(clinic.id)">
      <div class="col-sm-4">
        <i class="fa fa-caret-down" ng-show="expandedClinic === clinic.id"></i>
        <i class="fa fa-caret-right" ng-show="expandedClinic !== clinic.id"></i>
        {{clinic.name}}
        <button class="btn btn-link btn-sm send-message" ng-attr-data-send-to="{{clinic.id}}" ng-if="clinic.phone"><i class="fa fa-envelope"></i></button>
      </div>
      <div class="col-sm-1">{{clinic.valid_percent}}%</div>
      <div class="col-sm-1">
        <div class="mini-pie">
          <nvd3 options="miniPieChartOptions" data="clinic.chart"></nvd3>
        </div>
      </div>
    </div>
    <div class="records" ng-if="expandedClinic === clinic.id">
      <div ng-repeat="record in clinic.records">
        <div class="row" ng-class="{ 'valid': record.is_valid }" ng-click="expandRecord(record.id)">
          <div class="col-sm-8">
            <i class="fa fa-caret-down" ng-show="record.id && expandedRecord === record.id"></i><i class="fa fa-caret-right" ng-show="record.id && expandedRecord !== record.id"></i>{{record.name}}
          </div>
        </div>
        <div class="loader" ng-show="record.id && loadingRecord === record.id"></div>
        <div class="fields" ng-if="expandedRecord && expandedRecord === record.id">
          <div class="row">
            <div class="col-sm-12"><label translate>fields</label></div>
          </div>
          <div class="row" ng-repeat="field in formattedRecord.fields.data">
            <div class="col-sm-2">{{field.label}}</div>
            <div class="col-sm-10">{{field.value}}</div>
          </div>
          <div class="row">
            <div class="col-sm-12"><label translate>metadata</label></div>
          </div>
          <div class="row">
            <div class="col-sm-2" translate>reported_date</div>
            <div class="col-sm-10">{{formattedRecord.reported_date | simpleDateTime}}</div>
          </div>
          <div class="row">
            <div class="col-sm-2" translate>tasks.0.messages.0.message</div>
            <div class="col-sm-10">{{formattedRecord.sms_message.message}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
