<div class="targets">
  <div class="col-xs-12 col-md-6 col-lg-4 target" ng-repeat="target in targets">
    <div class="contents">
      <div class="row">
        <div class="pull-left">
          <span ng-bind-html="target.icon | resourceIcon"></span>
        </div>
        <div class=right-wrapper>
          <div class="left-column text-center">
            <div>{{'Monthly Goal' | translate}}</div>
            <div class="color"><span class="large">{{target.goal}}</span><span ng-if="target.type === 'percent'">%</span></div>
          </div>
          <div class="text-justify">
            <h4>{{target.name | translateFrom}} </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{target.count}}" aria-valuemin="0" aria-valuemax="{{target.goal}}"
          style="width:{{target.displayProgress}}%"></div>
        </div>
        <div
          style="padding-left: {{target.displayProgress - 5}}%; padding-right: {{100 - target.displayProgress - 5}}%;"
          ng-class="{'pull-right': target.displayProgress > 50, 'color': target.count >= target.goal}">
          <span class="large">{{target.count}}</span><span ng-if="target.type === 'percent'">%</span>
        </div>
      </div>
    </div>
  </div>
</div>