<div class="sender">
  <div class="name" ng-if="message.related_entities.clinic.contact.name">
    {{message.related_entities.clinic.contact.name}}
  </div>
  <div class="name" ng-if="!message.related_entities.clinic.contact.name && message.from">
    {{message.from}}
  </div>
  <div class="name" ng-if="!message.related_entities.clinic.contact.name && !message.from">
    {{message.sent_by}}
  </div>
  <div class="position" ng-if="message.related_entities.clinic.parent.name">
    {{message.related_entities.clinic.parent.name}} {{message.related_entities.clinic.parent.parent.name}}
  </div>
</div>