<li attr.data-record-id="{{id}}"
    [class.selected]="selected"
    [class.primary]="primary"
    [class.unread]="unread"
    [class.dod]="dod"
    [class.visit-count]="visits"
    [class.muted]="muted"
    [class.overdue]="overdue"
    class="content-row"
>
  <a routerLink="{{route}}/{{id}}">
    <div><input type="checkbox"></div>
    <div *ngIf="icon" class="icon" [innerHTML]="icon | resourceIcon"></div>
    <div class="content">
      <div class="heading">
        <h4>
          <i *ngIf="primaryContact" class="fa fa-star primary" translate translate-attr-title="Primary contact"></i>
          <span>{{heading}}</span>
        </h4>
        <div class="date">
          <span *ngIf="dateFormat === 'taskDueDate'" [innerHTML]="date | taskDueDate"></span>
          <span *ngIf="dateFormat !== 'taskDueDate'" [innerHTML]="date | relativeDate"></span>
          <span *ngIf="!date && dod" [innerHTML]="dod | dateOfDeath"></span>
        </div>
        <div *ngIf="taskCount" class="status tasks-count">
          <span class="badge">{{taskCount}}</span>
        </div>
        <div *ngIf="visits" class="visits" [class.danger]="visits.status === 'pending'" [class.warning]="visits.status === 'started'" [class.success]="visits.status === 'done'">
          <span>{{visits && visits.count}}</span>
        </div>
        <div *ngIf="aggregate" class="aggregate-status" [class.error]="aggregate.hasGoal && !aggregate.goalMet" [class.success]="aggregate.hasGoal && aggregate.goalMet">
          <span>{{aggregate.summary}}</span>
        </div>
      </div>
      <div class="summary">
        <p>{{summary}}</p>
        <div *ngIf="!valid || verified !== undefined" class="status">
          <!--<span [class.verified]="valid && verified" [class.error]="!valid || !verified" class="verification-badge" [innerHTML]="statusIcon"></span>-->
        </div>
        <div *ngIf="visits" class="visits" [class.danger]="visits.status === 'pending'" [class.warning]="visits.status === 'started'" [class.success]="visits.status === 'done'">
          <span>{{visits.summary}}</span>
        </div>
      </div>
      <p [innerHTML]="dob | age:dod"></p>
      <span *ngIf="muted && displayMuted" translate>contact.muted</span>
      <div *ngIf="simprintsTier" class="simprints-stars tier-{{simprintsTier}}"></div>
      <div *ngIf="lineage && lineage.length" class="detail" [innerHTML]="lineage | lineage"></div>
      <div class="warning">{{warning}}</div>
    </div>
  </a>
</li>
