.about {
  mat-card {
    margin: 0.5em;
  }

  mat-card-content {
    word-break: break-all;
    label {
      word-break: break-word;
    }
  }

  .browser-support-message {
    word-break: break-word;
  }

  .browser-support-icon-red {
    color: @error-color;
  }

  .browser-support-icon-green {
    color: @ok-color;
  }

}
