.partner-image {
  img {
    max-height: 150px;
    max-width: 150px;
    margin: 40px;
  }
}

.form-group.required label::after {
  content: '*';
  margin-left: 5px;
}

.form-actions,
.form-group,
.form-footer {
  .error {
    color: @error-color;
    font-weight: bold;
  }
}
.form-footer .error {
  text-align: right;
  clear: right;
}
.form-actions {
  line-height: 20px;
  .success {
    display: inline-block !important;
    opacity: 1;
    transition: all linear 0s;
    &.ng-hide, &.ng-hide-add.ng-hide-add-active {
      opacity: 0;
    }
    &.ng-hide-add {
      transition: all linear 1s;
      opacity: 1;
    }
  }
}
