@import "variables";

/**
* @name mm-icon:
*/

.mm-icon {
  cursor: pointer;
  text-align: center;
  position: relative;
  &, &:focus {
    .button-text;
    span:before{
      background-color: black !important;
      text-shadow: none;
    }
  }
  &:hover, &.active {
    .button-text-hover;
  }
}

.mm-icon-inverse {
  &, &:focus {
    .button-text-inverse;
    span:before,i:before{
      background-color: @button-text-inverse-color !important;
      text-shadow: none;
    }
  }
}

.mm-icon-disabled {
  &, &:hover, &:focus {
    text-decoration: none;
    cursor: default;
    pointer-events: none;
    .button-text-disabled;
    span:before,i:before{
      background-color: @label-color !important;
      text-shadow: none;
    }
  }
}

.mm-icon-caption {
  font-size: @font-small;
  font-weight: bold;
  p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.loader {
  margin: 10px auto;
  position: relative;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgba(0, 0, 0, 0.5);
  transform: translateZ(0);
  animation: loader 1.1s infinite linear;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  &.inline {
    vertical-align: middle;
    display: inline-block;
    margin: 10px;
  }
  &.small {
    width: 20px;
    height: 20px;
    border-width: 3px;
  }
}
@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.fa-comments:before{
  -webkit-mask-image: url('../img/comments-solid.svg');
  mask: url('../img/comments-solid.svg');
  mask-repeat: no-repeat;
  content: '';
}

.fa-envelope:before{
  -webkit-mask-image: url('../img/comments-solid.svg');
  mask: url('../img/comments-solid.svg');
  mask-repeat: no-repeat;
}

.fa-tasks:before{
  -webkit-mask-image: url('../img/navicon-tasks.svg');
  mask: url('../img/navicon-tasks.svg');
  mask-repeat: no-repeat;
  content: '';
}

.fa-book:before{
  -webkit-mask-image: url('../img/book-open-solid.svg');
  mask: url('../img/book-open-solid.svg');
  mask-repeat: no-repeat;
  content: '';
  width: 30px;
  height: 30px;
  display: block;
}

.fa-users:before{
  -webkit-mask-image: url('../img/navicon-people.svg');
  mask: url('../img/navicon-people.svg');
  mask-repeat: no-repeat;
  content: '';
}

.fa-line-chart:before{
  -webkit-mask-image: url('../img/bars-progress-solid.svg');
  mask: url('../img/bars-progress-solid.svg');
  mask-repeat: no-repeat;
  content: '';
}

.fa-bars:before{
  -webkit-mask-image: url('../img/bars-solid.svg');
  mask: url('../img/bars-solid.svg');
  mask-repeat: no-repeat;
  font-size: 30px;
}

.fa-cog:before{
  -webkit-mask-image: url('../img/gear-solid.svg');
  mask: url('../img/gear-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-list-ol:before{
  -webkit-mask-image: url('../img/list-check-solid.svg');
  mask: url('../img/list-check-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-graduation-cap:before{
  -webkit-mask-image: url('../img/graduation-cap-solid.svg');
  mask: url('../img/graduation-cap-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-info-circle:before{
  -webkit-mask-image: url('../img/circle-info-solid.svg');
  mask: url('../img/circle-info-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-user-o:before{
  -webkit-mask-image: url('../img/user-gear-solid.svg');
  mask: url('../img/user-gear-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-bug:before{
  -webkit-mask-image: url('../img/bug-solid.svg');
  mask: url('../img/bug-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-power-off:before{
  -webkit-mask-image: url('../img/power-off-solid.svg');
  mask: url('../img/power-off-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-refresh:before{
  -webkit-mask-image: url('../img/arrows-rotate-solid.svg');
  mask: url('../img/arrows-rotate-solid.svg');
  mask-repeat: no-repeat;
  background-color: black;
  font-size: 20px;
}

.fa-plus:before{
  -webkit-mask-image: url('../img/plus-solid.svg');
  mask: url('../img/plus-solid.svg');
  mask-repeat: no-repeat;
  font-size: 30px;
}

.fa-arrow-down:before{
  -webkit-mask-image: url('../img/arrow-down-solid.svg');
  mask: url('../img/arrow-down-solid.svg');
  mask-repeat: no-repeat;
}

.fa-check-circle:before{
  -webkit-mask-image: url('../img/circle-check-solid.svg');
  mask: url('../img/circle-check-solid.svg');
  mask-repeat: no-repeat;
}

.fa-trash-o:before{
  -webkit-mask-image: url('../img/trash-can-solid.svg');
  mask: url('../img/trash-can-solid.svg');
  mask-repeat: no-repeat;
}

.fa-list-alt:before{
  -webkit-mask-image: url('../img/rectangle-list-solid.svg');
  mask: url('../img/rectangle-list-solid.svg');
  mask-repeat: no-repeat;
}

.fa-pencil:before{
  -webkit-mask-image: url('../img/pencil-solid.svg');
  mask: url('../img/pencil-solid.svg');
  mask-repeat: no-repeat;
}

.fa-check:before{
  -webkit-mask-image: url('../img/check-solid.svg');
  mask: url('../img/check-solid.svg');
  mask-repeat: no-repeat;
}
