.p2p-status,
.p2p-history {
  mat-card {
    margin: 15px 0;
  }

  mat-card-content {
    overflow-wrap: break-word;
    label {
      word-break: break-word;
      margin-top: 1em;
    }
  }

  .mat-mdc-card {
    border-radius: @radius-size-small;
  }

  .mat-mdc-card-header {
    padding: 16px;
  }

  .p2p-qr-container {
    text-align: center;
    padding: 15px;

    .p2p-qr-image {
      max-width: 250px;
      width: 100%;
    }
  }
}
