@import "variables";

.panel-group {

  margin-bottom: 0;

  .panel {
    box-shadow: none;
    &.disabled .panel-heading {
      color: @muted-state-color;
    }
    + .panel {
      border-top: 1px solid @separator-color;
      clear: right;
    }
  }
  .panel-default > .panel-heading {
    background-color: inherit;
  }
  .panel-default {
    border: 0;
  }
  .panel-heading + .panel-collapse > .panel-body {
    border: 0;
  }
  .panel-body {
    padding-top: 0;
    padding-bottom: 0;
  }
  .panel-heading {
    flex-grow: 1;
    padding: 0;
    .panel-title {
      cursor: pointer;
      width: 100%;
      display: block;
      padding-top: 3px;
      outline: 0;
      font-size: @font-extra-large;
      &:hover, &:focus {
        text-decoration: none;
      }
      &:hover .count {
        background-color: @separator-color;
      }
    }

    .accordion-toggle {
      display: flex;
      &:before,
      &:after {
        color: @top-header-color;
        font-family: FontAwesome;
        margin-right: 10px;
        width: 10px;
      }
      &[aria-expanded="false"]:before {
        content: '\f0da'; // https://fontawesome.com/v4.7.0/icon/caret-right/
      }
      &[aria-expanded="true"]:before {
        content: '\f0d7'; // https://fontawesome.com/v4.7.0/icon/caret-down/
      }
    }

    .count {
      box-sizing: border-box;
      display: inline-block;
      width: 20px;
      height: 20px;
      line-height: 15px;
      border-radius: 10px;
      border: 2px solid @separator-color;
      text-align: center;
      margin-right: 5px;
      font-size: @font-size-base;
      .fa {
        display: none;
      }
    }
    .value {
      float: right;
      font-size: @font-small;
      line-height: 20px;
      text-align: right;
    }
  }
  .panel-complete .panel-heading {
    .count {
      .number {
        display: none;
      }
      .fa {
        display: inline;
      }
    }
    .value, .count .fa {
      color: @ok-color;
    }
  }
  .panel.collapsible-list {
    .panel-body {
      padding: 0;
    }
    .list-group {
      margin: 0;
      .list-group-item {
        border-right: none;
        border-left: none;
      }
    }
  }
}
