<ng-container>

  @if (!overlay) {
    <div class="no-overlay">
      <mm-tool-bar title="display.privacy.policies.title"></mm-tool-bar>
      <div class="inner">
        @if (loading) {
          <div class="loader"></div>
        }
        @if (!loading) {
          <div class="col-sm-12 page configuration privacy-policy">
            @if (privacyPolicy) {
              <div [innerHTML]="privacyPolicy.html"></div>
            }
            @if (!privacyPolicy) {
              <p>{{'privacy.policy.not.found' | translate}}</p>
            }
          </div>
        }
      </div>
    </div>
  }

  @if (overlay) {
    <div id="privacy-policy-wrapper" class="overlay">
      <div class="container">
        @if (loading) {
          <div class="loader"></div>
        }
        @if (!loading && privacyPolicy) {
          <div class="content">
            <div class="html-content" [innerHTML]="privacyPolicy?.html"></div>
            <div class="footer text-right">
              @if (!accepting && !loading) {
                <button class="btn btn-primary" (click)="accept()">{{'privacy.policy.accept' | translate}}</button>
              }
              @if (accepting) {
                <div>
                  <span class="loader inline small"></span>
                  <button class="btn btn-primary disabled">{{'privacy.policy.accept' | translate}}</button>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
  }

</ng-container>
