<div class="content-pane right-pane">
  @if (loadingContent) {
    <div class="col-sm-8 item-content empty-selection">
      <div>
        <div class="loader"></div>
      </div>
    </div>
  }
  @if (!loadingContent && contentError) {
    <div class="col-sm-8 item-content empty-selection">
      @if (errorTranslationKey) {
        <div>{{ errorTranslationKey | translate}}</div>
      }
    </div>
  }
  <div class="col-sm-8 item-content material" [hidden]="loadingContent || contentError">
    <div class="card">
      <mm-enketo formId="contact-form" [editing]="enketoContact?.docId" [status]="enketoStatus" (onSubmit)="save()" (onCancel)="navigationCancel()">
        @if (duplicates.length) {
          <div duplicate-contacts id="duplicate_contacts" [ngClass]="{'invalid-value': enketoError}" class="question">
            <p [ngClass]="{'invalid-value-msg': enketoError}" class="results_header active">{{ duplicateMessage }}</p>
            <mat-accordion multi>
              @for (duplicate of duplicates; track duplicate) {
                <mm-duplicate-contacts [duplicate]="duplicate"></mm-duplicate-contacts>
              }
            </mat-accordion>
            <div>
              <label for="check" class="acknowledge_label">
                <input
                  id="check"
                  type="checkbox"
                  [checked]="duplicatesAcknowledged"
                  (change)="toggleDuplicatesAcknowledged()"/>
                {{'duplicate_check.contact.acknowledge' | translate }}
              </label>
            </div>
          </div>
        }
      </mm-enketo>
    </div>
  </div>
</div>
