<mm-tool-bar title="Contacts">
  <mm-search-bar
    [showSort]="isAllowedToSort"
    [sortDirection]="sortDirection"
    [lastVisitedDateExtras]="lastVisitedDateExtras"
    (sort)="sort($event)"
    (search)="search()">
  </mm-search-bar>
  <mm-contacts-more-menu (exportContacts)="exportContacts()"></mm-contacts-more-menu>
</mm-tool-bar>

<div class="inner">
  <div class="inbox page">
    <div id="contacts-list" class="col-sm-4 inbox-items left-pane ">
      <div class="items-container">
        <ul [hidden]="loading && !appending">
          @for (contact of contactsList; track listTrackBy($index, contact)) {
            <li
              [attr.data-record-id]="contact._id"
              [class.selected] = "contact._id === selectedContact?._id"
              [class.primary]="contact.primary"
              [class.deceased]="contact.dod"
              [class.visit-count]="contact.visits"
              [class.muted]="contact.muted"
              [class.overdue]="contact.overdue"
              class="content-row"
              >
              <a [routerLink]="['/', 'contacts', contact._id]">
                @if (contact.icon) {
                  <div class="icon" [innerHTML]="contact.icon | resourceIcon"></div>
                }
                <div class="content">
                  <div class="heading">
                    <h4>
                      <span>{{contact.heading}}</span>
                    </h4>
                    <div class="date">
                      @if (contact.dod) {
                        <span [innerHTML]="contact.dod | dateOfDeath"></span>
                      }
                    </div>
                    @if (contact.visits) {
                      <div class="visits" [class.danger]="contact.visits.status === 'pending'" [class.warning]="contact.visits.status === 'started'" [class.success]="contact.visits.status === 'done'">
                        <span>{{contact.visits.count | localizeNumber}}</span>
                      </div>
                    }
                  </div>
                  @if (contact.summary) {
                    <div class="summary">
                      <p>{{contact.summary}}</p>
                      @if (contact.visits) {
                        <div class="visits" [class.danger]="contact.visits.status === 'pending'" [class.warning]="contact.visits.status === 'started'" [class.success]="contact.visits.status === 'done'">
                          <span>{{contact.visits.summary}}</span>
                        </div>
                      }
                    </div>
                  }
                </div>
              </a>
            </li>
          }
        </ul>
        @if (error) {
          <p class="alert alert-danger" role="alert">{{'Error fetching contacts' | translate}}</p>
        }
        @if (!error && !loading && !hasContacts) {
          <p class="loading-status">{{'No contacts found' | translate}}</p>
        }
        @if (!error && !loading && hasContacts && !moreItems) {
          <p class="loading-status">{{'No more contacts' | translate}}</p>
        }
        @if (loading) {
          <div class="loader"></div>
        }
        <div class="padding"></div>
      </div>

      <mm-fast-action-button class="mobile-only"
        [config]="{ button: { type: buttonType.FAB, label: 'contact.new_place.button' } }"
        [fastActions]="fastActionList">
      </mm-fast-action-button>

      <mm-fast-action-button class="desktop-only"
        [config]="{ button: { type: buttonType.FLAT, label: 'contact.new_place.button' } }"
        [fastActions]="fastActionList">
      </mm-fast-action-button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
