<div class="filters tab-bar">
  <div class="inner">
    <contacts-filters
      *ngIf="!useSearchNewDesign"
      (search)="search()"
      (sort)="sort($event)"
      [disabled]="false"
      [sortDirection]="sortDirection"
      [lastVisitedDateExtras]="lastVisitedDateExtras">
    </contacts-filters>
    <mm-navigation></mm-navigation>
    <mm-search-bar
      *ngIf="useSearchNewDesign"
      [showSort]="true"
      [sortDirection]="sortDirection"
      [lastVisitedDateExtras]="lastVisitedDateExtras"
      (sort)="sort($event)"
      (search)="search()">
    </mm-search-bar>
    <mm-contacts-more-menu (exportContacts)="exportContacts()"></mm-contacts-more-menu>
  </div>
</div>

<div class="inner">
  <div class="inbox page">
    <div id="reports-list"
         class="inbox-items left-pane col-sm-3">

      <div class="items-container">
          <ul [hidden]="loading && !appending">
            <li *ngFor="let contact of contactsList; trackBy: listTrackBy"
                [attr.data-record-id]="contact._id"
                [class.selected] = "contact._id === selectedContact?._id"
                [class.primary]="contact.primary"
                [class.deceased]="contact.dod"
                [class.visit-count]="contact.visits"
                [class.muted]="contact.muted"
                [class.overdue]="contact.overdue"
                class="content-row"
            >
              <a [routerLink]="['/', 'contacts', contact._id]">
                <div *ngIf="contact.icon" class="icon" [innerHTML]="contact.icon | resourceIcon"></div>
                <div class="content">
                  <div class="heading">
                    <h4>
                      <span>{{contact.heading}}</span>
                    </h4>
                    <div class="date">
                      <span *ngIf="contact.dod" [innerHTML]="contact.dod | dateOfDeath"></span>
                    </div>
                    <div *ngIf="contact.visits" class="visits" [class.danger]="contact.visits.status === 'pending'" [class.warning]="contact.visits.status === 'started'" [class.success]="contact.visits.status === 'done'">
                      <span>{{contact.visits.count | localizeNumber}}</span>
                    </div>
                  </div>

                  <div *ngIf="contact.summary" class="summary">
                    <p>{{contact.summary}}</p>

                    <div *ngIf="contact.visits" class="visits" [class.danger]="contact.visits.status === 'pending'" [class.warning]="contact.visits.status === 'started'" [class.success]="contact.visits.status === 'done'">
                      <span>{{contact.visits.summary}}</span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          <p *ngIf="error" class="alert alert-danger" role="alert">{{'Error fetching contacts' | translate}}</p>
          <p class="loading-status" *ngIf="!error && !loading && !hasContacts">{{'No contacts found' | translate}}</p>
          <p class="loading-status" *ngIf="!error && !loading && hasContacts && !moreItems">{{'No more contacts' | translate}}</p>
          <div class="loader" *ngIf="loading"></div>
          <div class="padding"></div>
        </div>

      <mm-fast-action-button
        [config]="{ button: { type: getFastActionButtonType(), label: 'contact.new_place.button' } }"
        [fastActions]="fastActionList">
      </mm-fast-action-button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
