<div class="content-pane right-pane">

  <div class="col-sm-8 item-content empty-selection" *ngIf="loadingContent">
    <div>
      <div class="loader"></div>
    </div>
  </div>

  <div class="col-sm-8 item-content empty-selection" *ngIf="!selectedContact && !loadingContent">
    <div translate>No contact selected</div>
  </div>

  <div class="col-sm-8 item-content empty-selection" *ngIf="selectedContact && selectedContact.error && !loadingContent">
    <div translate>contact.select.error</div>
  </div>

  <div class="col-sm-8 item-content" *ngIf="selectedContact && !selectedContact.error && !loadingContent">
    <div class="material">
      <div class="body meta">
        <div class="card">
          <div class="row heading" [ngClass]="{'deceased': selectedContact.doc.date_of_death, 'muted':selectedContact.doc.date_of_death }">
            <!-- <span ng-bind-html="selectedContact.type.icon | resourceIcon"></span> -->
            <div class="heading-content">
              <h2>{{selectedContact.doc.name}}</h2>
              <div *ngIf="selectedContact.doc.date_of_death" translate>contact.deceased.title</div>
              <div class="primary-contact" [hidden]="!selectedContact.isPrimaryContact">
                <i class="fa fa-star primary"></i>
                <span translate>{{selectedContact.type.primary_contact_key || 'Primary contact'}}</span>
              </div>
              <div class="muted" *ngIf="selectedContact.doc.muted" translate>contact.muted</div>
            </div>
          </div>

          <div class="loader" *ngIf="contactsLoadingSummary"></div>
          <div class="row flex grid" *ngIf="!contactsLoadingSummary">
            <div class="col col-xs-12 col-sm-{{field.width || 12}}" *ngFor="let field of selectedContact.summary.field">
              <div class="cell {{field.label | lowercase}}">
                <span *ngIf="field.icon" class="field-icon" ng-bind-html="field.icon | resourceIcon"></span>
                <div>
                  <label translate ng-show="field.label">{{field.label}}</label>
                  <!-- <p *ngIf="field.translate" translate translate-values="{{field.context}}">{{field.value}}</p> -->
                  <p *ngIf="!field.translate && field.filter" ng-bind-html="field.value"></p>
                  <p *ngIf="!field.translate && !field.filter">{{field.value}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div ng-repeat="card in selectedContact.summary.cards">
          <div class="card">
            <div class="action-header cell">
              <h3 translate>{{card.label}}</h3>
            </div>
            <div class="row flex grid">
              <div class="col col-xs-12 col-sm-{{field.width || 12}}" ng-repeat="field in card.fields">
                <div class="cell">
                  <span *ngIf="field.icon" class="field-icon" ng-bind-html="field.icon | resourceIcon"></span>
                  <div>
                    <label translate ng-show="field.label">{{field.label}}</label>
                    <p *ngIf="field.translate" translate translate-values="{{field.context}}">{{field.value}}</p>
                    <p *ngIf="!field.translate && field.filter" ng-bind-html="field.value"></p>
                    <p *ngIf="!field.translate && !field.filter">{{field.value}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>

      <!-- <div class="card children" ng-repeat="group in selectedContact.children">
        <div class="action-header cell">
          <div class="col-xs-10">
            <h3 translate>{{group.type.group_key}}</h3>
          </div>
          <div *ngIf="group.type.person" mm-auth="can_view_tasks" class="col-xs-2 tasks-title" translate>Tasks</div>
        </div>

        <ul>
          <mm-content-row ng-repeat="child in group.contacts" *ngIf="!child.deceased"
            id="child.doc._id"
            route="'contacts'"
            heading="child.doc.name"
            summary="child.doc.title"
            primary-contact="child.isPrimaryContact"
            dob="child.doc.date_of_birth"
            task-count="child.taskCount"
            is-muted="child.doc.muted"
            display-muted="true"
          />
        </ul>
        <ul class="action deceased">
          <li *ngIf="group.deceasedCount > 0" class="content-row deceased">
            <a ui-sref="contacts.deceased({ id: selectedContact.doc._id })">
              <span translate translate-values="{ count: group.deceasedCount }">contact.deceased.view</span>
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div> -->

      <!-- <div *ngIf="selectedContact.tasks" mm-auth="can_view_tasks">
        <div class="card tasks">
          <div class="action-header cell">
            <h3 translate>Tasks</h3>
            <span class="table-filter">
              <a ng-click="setTasksTimeWindowWeeks(1)" class="btn btn-link" ng-class="{selected: tasksTimeWindowWeeks === 1}" translate translate-values="{WEEKS: 1}" translate-interpolation="messageformat">n.week</a>
              <a ng-click="setTasksTimeWindowWeeks(2)" class="btn btn-link" ng-class="{selected: tasksTimeWindowWeeks === 2}" translate translate-values="{WEEKS: 2}" translate-interpolation="messageformat">n.week</a>
              <a ng-click="setTasksTimeWindowWeeks()" class="btn btn-link" ng-class="{selected: !tasksTimeWindowWeeks}" translate>view.all</a>
            </span>
          </div>
          <ul>
            <mm-content-row ng-repeat="task in selectedContact.tasks | filter:filterTasks as filteredTasks"
              id="task._id"
              route="'tasks'"
              icon="task.icon"
              date="task.dueDate"
              overdue="task.overdue"
              date-format="'taskDueDate'"
              heading="selectedContact.children.length ? (task.contact && task.contact.name) : task.title"
              summary="selectedContact.children.length ? task.title : ''"
              warning="task.priorityLabel"
            />
          </ul>
          <div class="row" ng-show="!filteredTasks.length">
            <div class="cell col">
              <span ng-show="!tasksTimeWindowWeeks" translate>tasks.none</span>
              <span ng-show="tasksTimeWindowWeeks" translate translate-values="{WEEKS: tasksTimeWindowWeeks}" translate-interpolation="messageformat">tasks.none.n.weeks</span>
            </div>
          </div>
        </div>
      </div> -->

      <!-- <div mm-auth="can_view_reports">
        <div class="card reports">
          <div class="action-header cell">
            <h3 translate>Reports</h3>
            <span class="table-filter">
              <a ng-click="setReportsTimeWindowMonths(3)" class="btn btn-link" ng-class="{selected: reportsTimeWindowMonths === 3}"  translate translate-values="{ MONTHS: 3 }" translate-interpolation="messageformat">n.month</a>
              <a ng-click="setReportsTimeWindowMonths(6)" class="btn btn-link" ng-class="{selected: reportsTimeWindowMonths === 6}"  translate translate-values="{ MONTHS: 6 }" translate-interpolation="messageformat">n.month</a>
              <a ng-click="setReportsTimeWindowMonths()" class="btn btn-link" ng-class="{selected: !reportsTimeWindowMonths}" translate>view.all</a>
            </span>
          </div>
          <div class="loader" *ngIf="loadingSelectedContactReports"></div>
          <div *ngIf="!loadingSelectedContactReports">
            <ul>
              <mm-content-row ng-repeat="report in selectedContact.reports | filter:filterReports as filteredReports track by report._id"
                id="report._id"
                route="'reports'"
                icon="report | formIconName:forms"
                date="report.reported_date"
                heading="selectedContact.children.length ? report.heading : (report | summary:forms)"
                summary="selectedContact.children.length ? (report | summary:forms) : ''"
                show-status="true"
                valid="report.valid"
                verified="report.verified"
              />
            </ul>
            <div class="row" ng-show="!filteredReports.length">
              <div class="cell col">
                <span ng-show="!reportsTimeWindowMonths" translate>reports.none</span>
                <span ng-show="reportsTimeWindowMonths" translate translate-values="{MONTHS: reportsTimeWindowMonths}" translate-interpolation="messageformat">reports.none.n.months</span>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="padding"></div>
    </div>
  </div>
</div>
