<div class="content-pane right-pane">
  @if (loadingForm) {
    <div class="col-sm-8 item-content empty-selection">
      <div>
        <div class="loader"></div>
      </div>
    </div>
  }

  @if (!loadingForm && contentError) {
    <div class="col-sm-8 item-content empty-selection">
      <div>{{ errorTranslationKey | translate}}</div>
    </div>
  }

  <div class="col-sm-8 item-content material" [hidden]="loadingForm || contentError">
    <div class="card">
      <mm-enketo formId="contact-report" [status]="enketoStatus" (onSubmit)="save()" (onCancel)="navigationCancel()"></mm-enketo>
    </div>
  </div>
</div>
