<div class="filters">
  <div class="inner">
    <!--<mm-navigation></mm-navigation>-->
  </div>
</div>

<div class="inner">
  <div class="inbox page">
    <div id="contacts-list" class="col-sm-4 inbox-items left-pane">
      <!-- <ul class="unfiltered" *ngIf="(!loading || appending) && !filtered"></ul>
      <ul class="filtered" *ngIf="(!loading || appending) && filtered"></ul> -->
      <ul [hidden]="loading && !appending">
        <mm-content-row
          *ngFor="let contact of contactsList"
          [id]="contact._id"
          route="contacts"
          [icon]="contact.icon"
          [heading]="contact.name"
        >
        </mm-content-row>
      </ul>
      <p *ngIf="error" class="alert alert-danger" role="alert" translate>Error fetching contacts</p>
      <p class="loading-status" *ngIf="!error && !loading && !hasContacts" translate>No contacts found</p>
      <p class="loading-status" ng-show="!error && !loading && hasContacts && !moreItems" translate>No more contacts</p>
      <div class="loader" *ngIf="loading"></div>
      <div class="padding"></div>
    </div>
    <contacts-content></contacts-content>
  </div>
</div>
