<div class="content-pane right-pane">

  @if (loadingContent) {
    <div class="col-sm-8 item-content empty-selection">
      <div>
        <div class="loader"></div>
      </div>
    </div>
  }

  @if (!selectedContact && !loadingContent && !summaryErrorStack) {
    <div class="col-sm-8 item-content empty-selection">
      <div>{{'No contact selected' | translate}}</div>
    </div>
  }

  @if (selectedContact?.error && !loadingContent) {
    <div class="col-sm-8 item-content empty-selection">
      <div>{{'contact.select.error' | translate}}</div>
    </div>
  }

  @if (!!summaryErrorStack && !loadingContent) {
    <div class="item-content">
      <error-log [errorStack]="summaryErrorStack" [errorFor]="'contacts'"></error-log>
    </div>
  }

  @if (!selectedContact?.error && !loadingContent && !summaryErrorStack) {
    <div class="col-sm-8 item-content">
      <mm-fast-action-button [fastActions]="fastActionList"></mm-fast-action-button>
      <div class="material">
        <div class="body meta">
          <div class="card">
            <div class="row heading" [ngClass]="{'deceased': selectedContact?.doc?.date_of_death, 'muted':selectedContact?.doc?.muted }">
              <span [innerHTML]="selectedContact?.type?.icon | resourceIcon"></span>
              <div class="heading-content">
                <h2 [attr.test-id]="'contact-name'">{{selectedContact?.doc?.name}}</h2>
                @if (selectedContact?.doc?.date_of_death) {
                  <div [attr.test-id]="'deceased-title'">{{'contact.deceased.title' | translate}}</div>
                }
                @if (selectedContact?.isPrimaryContact) {
                  <div class="primary-contact">
                    <i class="fa fa-star primary"></i>
                    <span>{{selectedContact?.type?.primary_contact_key || 'Primary contact' | translate}}</span>
                  </div>
                }
                @if (selectedContact?.doc?.muted) {
                  <div class="muted">{{'contact.muted' | translate}}</div>
                }
              </div>
            </div>
            @if (contactsLoadingSummary) {
              <div class="loader"></div>
            }
            <mm-contact-summary-content
              [fields]="selectedContact?.summary?.fields"
              [contactsLoadingSummary]="contactsLoadingSummary">
            </mm-contact-summary-content>
          </div>
          @if (selectedContact?.summary) {
            @for (card of selectedContact?.summary?.cards; track card) {
              <div>
                <div class="card compact-card" [attr.test-id]="card.label">
                  <div class="action-header cell">
                    <h3>{{card.label | translate}}</h3>
                  </div>
                  <div class="row flex grid">
                    @for (field of card.fields; track field) {
                      <div class="col col-xs-12 col-sm-{{field.width || 12}}">
                        <div class="cell">
                          @if (field.icon) {
                            <span class="field-icon" [innerHTML]="field.icon | resourceIcon"></span>
                          }
                          <div [attr.test-id]="field.label">
                            @if (field.label) {
                              <label>{{field.label | translate}}</label>
                            }
                            @if (field.translate) {
                              <p class="card-field-value" translate [translateParams]="field.context">{{field.value}}</p>
                            }
                            @if (!field.translate && field.filter) {
                              <p class="card-field-value" [innerHTML]="field.value"></p>
                            }
                            @if (!field.translate && !field.filter) {
                              <p class="card-field-value">{{field.value}}</p>
                            }
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </div>
            }
          }
        </div>
        @for (group of selectedContact?.children; track group) {
          <div class="card compact-card children" [ngClass]="group?.type?.person ? 'persons' : 'places'">
            <div class="action-header cell">
              <div class="col-xs-10">
                <h3>{{group?.type?.group_key | translate}}</h3>
              </div>
              @if (group?.type?.person) {
                <div mmAuth="can_view_tasks" class="col-xs-2 tasks-title">{{'Tasks' | translate}}</div>
              }
            </div>
            <ul>
              @for (child of group?.contacts; track child) {
                @if (!child.deceased) {
                  <mm-content-row
                    [id]="child.doc._id"
                    [route]="['/', 'contacts', child.doc._id]"
                    [heading]="child.doc.name"
                    [summary]="''"
                    [primaryContact]="child.isPrimaryContact"
                    [dob]="child.doc.date_of_birth"
                    [taskCount]="child.taskCount"
                    [muted]="child.doc.muted"
                    [displayMuted]="true"
                    [valid]="true"
                  ></mm-content-row>
                }
              }
            </ul>
            <ul class="action deceased">
              @if (group?.deceasedCount > 0) {
                <li class="content-row deceased">
                  <a [routerLink]="['/contacts', selectedContact?.doc?._id, 'deceased']">
                    <span translate [translateParams]="{ count: group.deceasedCount | localizeNumber }">contact.deceased.view</span>
                    <i class="fa fa-chevron-right"></i>
                  </a>
                </li>
              }
            </ul>
          </div>
        }
        @if (selectedContact?.tasks) {
          <div mmAuth="can_view_tasks">
            <div class="card compact-card tasks">
              <div class="action-header cell">
                <h3>{{'Tasks' | translate}}</h3>
                <span class="table-filter">
                  <a (click)="filterTasks(1)" class="btn btn-link" [class.selected]="tasksTimeWindowWeeks === 1" translate [translateParams]="{ WEEKS: 1 }">n.week</a>
                  <a (click)="filterTasks(2)" class="btn btn-link" [class.selected]="tasksTimeWindowWeeks === 2" translate [translateParams]="{ WEEKS: 2 }">n.week</a>
                  <a (click)="filterTasks()" class="btn btn-link" [class.selected]="!tasksTimeWindowWeeks">{{'view.all' | translate}}</a>
                </span>
              </div>
              <ul>
                @for (task of filteredTasks; track task) {
                  <mm-content-row
                    [id]="task._id"
                    [route]="['/', 'tasks', task._id]"
                    [icon]="task.icon"
                    [date]="task.dueDate"
                    [overdue]="task.overdue"
                    [dateFormat]="'taskDueDate'"
                    [heading]="selectedContact?.children?.length ? task.contact?.name : task.title"
                    [summary]="selectedContact?.children?.length ? task.title : ''"
                    [warning]="task.priorityLabel"
                  ></mm-content-row>
                }
              </ul>
              @if (!filteredTasks.length) {
                <div class="row">
                  <div class="cell col">
                    @if (!tasksTimeWindowWeeks) {
                      <span>{{'tasks.none' | translate}}</span>
                    }
                    @if (tasksTimeWindowWeeks) {
                      <span translate [translateParams]="{ WEEKS: tasksTimeWindowWeeks }">tasks.none.n.weeks</span>
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        }
        <div mmAuth="can_view_reports">
          <div class="card compact-card reports">
            <div class="action-header cell">
              <h3>{{'Reports' | translate}}</h3>
              <span class="table-filter">
                <a (click)="filterReports(3)" class="btn btn-link" [class.selected]="reportsTimeWindowMonths === 3" translate [translateParams]="{ MONTHS: 3 }">n.month</a>
                <a (click)="filterReports(6)" class="btn btn-link" [class.selected]="reportsTimeWindowMonths === 6" translate [translateParams]="{ MONTHS: 6 }">n.month</a>
                <a (click)="filterReports()" class="btn btn-link" [class.selected]="!reportsTimeWindowMonths">{{'view.all' | translate}}</a>
              </span>
            </div>
            @if (loadingSelectedContactReports) {
              <div class="loader"></div>
            }
            @if (!loadingSelectedContactReports) {
              <div>
                <ul>
                  @for (report of filteredReports; track report) {
                    <mm-content-row
                      [id]="report._id"
                      [route]="['/', 'reports', report._id]"
                      [icon]="report | formIconName:forms"
                      [date]="report.reported_date"
                      [heading]="selectedContact?.children?.length ? report.heading : (report | summary:forms)"
                      [summary]="selectedContact?.children?.length ? (report | summary:forms) : ''"
                      [showStatus]="true"
                      [valid]="report.valid"
                      [verified]="report.verified"
                    ></mm-content-row>
                  }
                </ul>
                @if (!filteredReports.length) {
                  <div class="row">
                    <div class="cell col">
                      @if (!reportsTimeWindowMonths) {
                        <span>{{'reports.none' | translate}}</span>
                      }
                      @if (reportsTimeWindowMonths) {
                        <span translate [translateParams]="{ MONTHS: reportsTimeWindowMonths }">reports.none.n.months</span>
                      }
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
        <div class="padding"></div>
      </div>
    </div>
  }
</div>
