@if (canConfigure) {
  <legend>{{ 'Users' | translate }}</legend>
  <div class="btn-toolbar">
    <button id="add-user" class="btn btn-primary" (click)="addUser()">
      <span>{{ 'users.manage.add_single_user' | translate }}</span>
    </button>
    <button id="add-users" class="btn btn-primary" (click)="importUsers()">
      <span>{{ 'users.manage.import_users' | translate }}</span>
    </button>
  </div>

  @if (loading) {
    <div class="loader"></div>
  } @else {
    @if (error) {
      <p class="alert alert-danger" role="alert">
        {{ 'Error fetching users' | translate }}
      </p>
    } @else {
      <div class="container-fluid">
        <div class="row selection-heading">
          <div class="col-xs-3">{{ 'User Name' | translate }}</div>
          <div class="col-xs-3">{{ 'Full Name' | translate }}</div>
          <div class="col-xs-3">{{ 'Phone Number' | translate }}</div>
          <div class="col-xs-1">{{ 'Facility' | translate }}</div>
          <div class="col-xs-1">{{ 'Contact' | translate }}</div>
          <div class="col-xs-1"></div>
        </div>

        @if (users.length === 0) {
          <div class="text-center empty-state">
            <p>{{ 'No users found.' | translate }}</p>
          </div>
        } @else {
          @for (user of users; track user.id) {
            <div
              class="row selection"
              (click)="onRowClick(user)"
              [class.inactive]="user.inactive"
              [title]="user.inactive ? 'Deleted user' : ''"
            >
              <div class="col-xs-3">{{ user.username }}</div>
              <div class="col-xs-3">{{ user.fullname }}</div>
              <div class="col-xs-3">{{ user.phone }}</div>
              @if (user.facility_id) {
                <div class="col-xs-1">
                  <i class="fa fa-check" aria-label="Has facility"></i>
                </div>
              } @else {
                <div class="col-xs-1"></div>
              }
              @if (user.contact_id) {
                <div class="col-xs-1">
                  <i class="fa fa-check" aria-label="Has contact"></i>
                </div>
              } @else {
                <div class="col-xs-1"></div>
              }
              @if (!user.inactive) {
                <div class="col-xs-1 delete">
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="deleteUser(user, $event)"
                    aria-label="Delete user"
                  >
                    <i class="fa fa-trash-o"></i>
                  </button>
                </div>
              } @else {
                <div class="col-xs-1"></div>
              }
            </div>
          }
        }
      </div>
    }
  }
}
