<section class="mm-search-bar-container" [class.open-search]="openSearch" [class.disabled]="disabled">
  <div class="search-bar-left-icon">
    <label for="barcode-scanner-input" class="fa fa-qrcode" *ngIf="isBarcodeScannerAvailable && showSearchIcon()">
      <input type="file" id="barcode-scanner-input" data-type-xml="binary" accept="image/*"/>
    </label>
    <span class="fa fa-search" *ngIf="showSearchIcon()" (click)="toggleMobileSearch()"></span>
    <a class="fa fa-chevron-left search-bar-clear" *ngIf="showClearIcon()" (click)="clear()"></a>
  </div>

  <mm-freetext-filter class="filter" (search)="search.emit()" [disabled]="disabled"></mm-freetext-filter>

  <mm-sort-filter
    *ngIf="showSort"
    [lastVisitedDateExtras]="lastVisitedDateExtras"
    (sort)="applySort($event)"
    [sortDirection]="sortDirection">
  </mm-sort-filter>

  <button class="btn open-filter" *ngIf="showFilter" (click)="toggleFilter.emit()">
    <span class="fa fa-sliders"></span>
    <span class="open-filter-label">{{ 'search_bar.filter.label' | translate }}</span>
    <span class="filter-counter" *ngIf="activeFilters">{{ activeFilters.toString() | translate }}</span>
  </button>
</section>
