;
; BIND data file for local loopback interface
;
$TTL	604800
@	IN	SOA	ns.medic.dev. dev.medicmobile.org. (
			      2		; Serial
			 604800		; Refresh
			  86400		; Retry
			2419200		; Expire
			 604800 )	; Negative Cache TTL
;
@	IN	NS	ns.medic.dev.
ns  IN  A   <%= ipAddress %>
@	IN	A	<%= ipAddress %>

