{
  "env": {
    "browser": true,
    "jquery": true,
    "node": true
  },
  "plugins": ["compat"],
  "globals": {
    "angular": true,
    "Tour": true
  },
  "rules": {
    "compat/compat": "error"
  },
  "overrides": [
    {
      "files": [
        "src/js/app.js",
        "src/js/enketo/**",
        "src/js/bootstrapper/**",
        "src/js/bootstrap-multidropdown.js",
        "tests/**/*",
        "src/js/bootstrapper/**"
      ],
      "rules": {
        "angular/window-service": "off",
        "angular/timeout-service": "off",
        "angular/di-order": "off",
        "angular/interval-service": "off"
      }
    },
    {
      "files": [
        "src/js/app.js",
        "src/js/modules/feedback.js",
        "src/js/bootstrapper/*.js"
      ],
      "rules": {
        "no-console": "off"
      }
    },
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "plugins": ["@typescript-eslint"],
      "rules": {
        "no-console": "off",
        // Prevent TypeScript-specific constructs from being erroneously flagged as unused
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        // Require a specific member delimiter style for interfaces and type literals
        // Default Semicolon style
        "@typescript-eslint/member-delimiter-style": "error"
      }
    }
  ]
}
