{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.spec.js"], // Or whatever pattern your test files follow
      "rules": {
        "max-len": "off",
        "no-console": "off"
      }
    }
  ]
}
