<mm-modal
  status="status"
  id="'update-password'"
  [titleKey]="'password.update'"
  [submitKey]="'Submit'"
  [submittingKey]="'Submitting'"
  (onCancel)="cancel()"
  (onSubmit)="updatePassword()"
>
  <form action="" method="POST">
    <div class="help-block">
      <label translate>online.action.title</label>
    </div>
    <div class="form-group required" [ngClass]="{'has-error': errors.currentPassword}">
      <label for="currentPassword" translate>user.password.current</label>
      <input id="currentPassword" type="password" class="form-control"
             [(ngModel)]="editUserModel.currentPassword"
             name="currentPassword"
             autocomplete="off"/>
      <span class="help-block">{{errors.currentPassword}}</span>
    </div>

    <div class="form-group required" [ngClass]="{'has-error': errors.password}">
      <label for="password" translate>Password</label>
      <input id="password" type="password" class="form-control"
             [(ngModel)]="editUserModel.password"
             name="password"
             autocomplete="off"/>
      <span class="help-block">{{errors.password}}</span>
    </div>

    <div class="form-group required">
      <label for="password-confirm" translate>Confirm Password</label>
      <input id="password-confirm" type="password" class="form-control"
             [(ngModel)]="editUserModel.passwordConfirm"
             name="passwordConfirm"
             autocomplete="off"/>
    </div>

  </form>
</mm-modal>
