<div class="page" ng-show="!analyticsTargetAggregatesCtrl.enabled || analyticsTargetAggregatesCtrl.loading">
  <div class="item-content empty-selection disabled" ng-show="!analyticsTargetAggregatesCtrl.loading">
    <div translate>analytics.target.aggregates.disabled</div>
  </div>
  <div class="item-content empty-selection" ng-show="analyticsTargetAggregatesCtrl.loading">
    <div>
      <div class="loader"></div>
    </div>
  </div>
</div>
<div class="page target-aggregates" ng-if="analyticsTargetAggregatesCtrl.enabled && !analyticsTargetAggregatesCtrl.loading">
  <div id="target-aggregates-list" class="col-sm-4 inbox-items left-pane">
    <ul>
      <mm-content-row
        ng-repeat="aggregate in analyticsTargetAggregatesCtrl.aggregates"
        id="aggregate.id"
        route="'analytics/target-aggregates'"
        is-selected="analyticsTargetAggregatesCtrl.selected && analyticsTargetAggregatesCtrl.selected.id === aggregate.id"
        icon="aggregate.icon"
        heading="aggregate.heading"
        aggregate="aggregate.aggregateValue"
      ></mm-content-row>
    </ul>
    <p ng-show="analyticsTargetAggregatesCtrl.error && !analyticsTargetAggregatesCtrl.aggregates" class="alert alert-danger" role="alert" translate>analytics.target.aggregates.error</p>
    <p class="loading-status" ng-show="!analyticsTargetAggregatesCtrl.error && !analyticsTargetAggregatesCtrl.aggregates.length" translate>analytics.target.aggregates.no.targets</p>
  </div>
  <ui-view name="detail"/>
</div>
