<div class="page scrolling">
  <div class="item-content empty-selection" ng-show="analyticsTargetsCtrl.targetsDisabled">
    <div translate>targets.disabled</div>
  </div>
  <div class="item-content empty-selection" ng-show="!analyticsTargetsCtrl.targetsDisabled && analyticsTargetsCtrl.loading">
    <div>
      <div class="loader"></div>
    </div>
  </div>
  <div class="targets" ng-show="!analyticsTargetsCtrl.targetsDisabled && !analyticsTargetsCtrl.loading">
    <div class="target" ng-repeat="target in analyticsTargetsCtrl.targets" ng-class="{ 'has-goal': target.goal >= 0, 'goal-met': (target.value.pass >= target.goal) || (target.value.percent >= target.goal) }">
      <div class="heading">
        <div class="icon" ng-bind-html="target.icon | resourceIcon"></div>
        <div class="title">
          <h2 ng-if="target.translation_key" translate>{{target.translation_key}}</h2>
          <h2 ng-if="!target.translation_key">{{target.name | translateFrom}}</h2>
          <p ng-if="target.subtitle_translation_key" translate>{{target.subtitle_translation_key}}</p>
        </div>
      </div>
      <div class="body">
        <mm-analytics-targets-progress ng-if="target.type === 'percent'" target="target" value="target.value" aggregate="false"></mm-analytics-targets-progress>
        <div class="target-progress ng-hide" ng-if="target.type === 'percent'">
          <div class="progress">
            <div class="progress-bar" style="width:{{target.value.percent}}%" ng-class="{'ng-hide': target.value.percent === 0}"></div>
          </div>
          <div class="goal" style="left:{{target.goal}}%">
            <label ng-class="{ 'pin-left': target.goal < 15, 'pin-right': target.goal > 85 }">
              <span translate>analytics.target.monthly_goal</span>
              {{target.goal}}%
            </label>
            <div class="bar"></div>
          </div>
          <div class="number">
            <span class="value">{{target.value.percent}}%</span>
            <span translate translate-values="target.value">{{target.percentage_count_translation_key || 'targets.count.default'}}</span>
          </div>
        </div>
        <div class="count" ng-if="target.type !== 'percent'">
          <div class="goal" ng-if="target.goal >= 0">
            <label translate>analytics.target.monthly_goal</label>
            <p>{{target.goal}}</p>
          </div>
          <div class="number">{{target.value.pass}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
