{
  "env": {
    "node": true
  },
  "plugins": ["compat"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-console": "error"
  },
  "overrides": [
    {
      "env": {
        "browser": true
      },
      "files": [
        "src/public/**/*.js"
      ],
      "rules": {
        "no-console": "off",
        "compat/compat": "error"
      }
    }
  ],
  "globals": {
    "emit": true
  }
}
