{
  "extends": ["plugin:node/recommended"],
  "env": {
    "node": true
  },
  "plugins": ["compat"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "no-console": "error",
    "no-process-exit": "off",
    "node/no-extraneous-require": ["off"] // figure out how to use resolvePaths to allow root deps
  },
  "overrides": [
    {
      "env": {
        "browser": true
      },
      "files": [
        "src/public/**/*.js"
      ],
      "rules": {
        "no-console": "off",
        "compat/compat": "error"
      }
    },
    {
      "files": [
        "tests/**/*.js"
      ],
      "rules": {
        "node/no-extraneous-require": "off" // maybe delete this?
      }
    }
  ],
  "globals": {
    "emit": true
  }
}
