name: Build and test

on: [push, pull_request]

env:
  COUCH_URL: http://admin:pass@localhost:5984/medic-test
  BUILDS_SERVER: ${{ secrets.AUTH_MARKET_URL && '_couch/builds_testing' || '_couch/builds_external' }}
  STAGING_SERVER: ${{ secrets.AUTH_MARKET_URL && '_couch/builds_4' || '_couch/builds_external' }}
  MARKET_URL_READ: 'https://staging.dev.medicmobile.org'
  MARKET_URL: ${{ secrets.AUTH_MARKET_URL || 'https://staging.dev.medicmobile.org' }}
  INTERNAL_CONTRIBUTOR: ${{ secrets.AUTH_MARKET_URL && 'true' }}
  DOCKERHUB_USERNAME: 'dockermedic'
  ECR_REPO: '720541322708.dkr.ecr.eu-west-2.amazonaws.com/medic'
  ECR_PUBLIC_REPO: 'public.ecr.aws/medic'
  COUCHDB_LOG_LEVEL: 'debug'
  TAG: ${{ (github.ref_type == 'tag' && github.ref_name) || '' }}
  BRANCH: ${{ github.head_ref || github.ref_name }}
  BUILD_NUMBER: ${{ github.run_id }}

jobs:

  build:
    name: Compile the app
    runs-on: ubuntu-22.04

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      if: ${{ env.INTERNAL_CONTRIBUTOR }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        aws-access-key-id: ${{ secrets.ECR_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.ECR_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
      if: ${{ env.INTERNAL_CONTRIBUTOR }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      if: ${{ env.INTERNAL_CONTRIBUTOR }}

    - uses: actions/checkout@v3
    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
    # - name: Couch Start
    #   run: ./scripts/ci/couch-start
    # - name: Create logs directory
    #   run: mkdir tests/logs
    # - run: npm ci --legacy-peer-deps
    # - name: Grunt Install
    #   run: npm install -g grunt-cli
    # - name: Grunt CI-Compile
    #   run: |
    #     node --stack_size=10000 `which grunt` ci-compile-github
    # - name: Publish for testing
    #   run: |
    #     node --stack_size=10000 `which grunt` publish-for-testing

    # - name: Upload docker images as artifacts
    #   uses: actions/upload-artifact@v3
    #   with:
    #     name: cht-images
    #     path: images/
    #   if: ${{ !env.INTERNAL_CONTRIBUTOR }}

  

  tests:
    needs: build
    name: ${{ matrix.grunt-cmd }}
    runs-on: macos-latest
    env:
      NODE: 16.x

    strategy:
      fail-fast: false
      matrix:
        grunt-cmd: ['ci-webdriver-default']

    steps:
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      if: ${{ env.INTERNAL_CONTRIBUTOR }}

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1-node16
      with:
        aws-access-key-id: ${{ secrets.ECR_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.ECR_SECRET_ACCESS_KEY }}
        aws-region: eu-west-2
      if: ${{ env.INTERNAL_CONTRIBUTOR }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      if: ${{ env.INTERNAL_CONTRIBUTOR }}

    - name: Use Node.js 16.x
      uses: actions/setup-node@v3
      with:
        node-version: 16.x
    - uses: actions/checkout@v3
    - name: Download docker images artifacts
      uses: actions/download-artifact@v3
      with:
        name: cht-images
        path: images/
      if: ${{ !env.INTERNAL_CONTRIBUTOR }}
    - name: Load docker images
      run: ls -1 *.tar | xargs --no-run-if-empty -L 1 docker load -i
      working-directory: images/
      if: ${{ !env.INTERNAL_CONTRIBUTOR }}

    - name: Set ENV
      run: |        
        echo "HORTI_BUILDS_SERVER=$MARKET_URL_READ/$BUILDS_SERVER" >> $GITHUB_ENV
    - name: Create logs directory
      run: mkdir tests/logs
    - name: Install pyxform
      run:  python -m pip install git+https://github.com/medic/pyxform.git@medic-conf-1.17#egg=pyxform-medic
    - name: Install cht-conf
      run:  npm install -g cht-conf
    - run: npm ci --legacy-peer-deps
    - name: Run tests
      run: node --stack_size=10000 `which grunt` ${{ matrix.grunt-cmd }}
    - name: Archive Results
      uses: actions/upload-artifact@v3
      with:
        name: ${{ matrix.grunt-cmd }}
        path: |
          allure-results
          allure-report
          tests/logs
          tests/results/
      if: ${{ failure() }}

  
