name: Release notes markdown generator

on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  release_notes:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
      - name: Use Node 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: |
          cd scripts
          npm ci
      - name: Generate Markdown (or error)
        run: |
          cd release-notes
          GH_TOKEN=$(gh auth token) node index.js cht-core 5.1.0
