name: Scalability Workflow
# This workflow is triggered on pushes to the repository.
on:
  push:
    branches: 
      - "6610-merge-resutls-on-execution"
      
jobs:
  build:
    name: Set up Medic on EC2 and Execute Jmeter on another EC2
    runs-on: ubuntu-latest
    steps:
      - name: Set TAG_NAME var
        run: echo "::set-env name=TAG_NAME::${GITHUB_REF#refs/tags/}"
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.SCALABILITY_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.SCALABILITY_SECRET_ACCESS_KEY }}
          aws-region: ca-central-1
      - name: Start EC2 and Medics
        run: cd tests/scalability && ./start_ec2_medic.sh $TAG_NAME
      - name: Execute Jmeter
        env: 
          SCALABILITY_ARN: ${{ secrets.SCALABILITY_ARN }}
        run: cd tests/scalability && ./start_jmeter_ec2.sh 