<div class="tabbable">

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#settings" data-toggle="tab">{@translate value="Settings"/}</a>
    </li>
    <li>
      <a href="#translations" data-toggle="tab" class="autosize">{@translate value="Translations"/}</a>
    </li>
    <li>
      <a href="#forms" data-toggle="tab">{@translate value="Forms"/}</a>
    </li>
    <li>
      <a href="#advanced" data-toggle="tab">{@translate value="Advanced"/}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="settings">
      {>"configuration/settings.html"/}
    </div>
    <div class="tab-pane" id="translations">
      {>"configuration/translations.html"/}
    </div>
    <div class="tab-pane" id="forms">
      {>"configuration/forms.html"/}
    </div>
    <div class="tab-pane" id="advanced">
      {>"configuration/advanced.html"/}
    </div>
  </div>

</div>
