<div class="tabbable">

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#settings" data-toggle="tab">Settings</a>
    </li>
    <li>
      <a href="#translations" data-toggle="tab" class="autosize">Translations</a>
    </li>
    <li>
      <a href="#workflows" data-toggle="tab">Workflows</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="settings">
      {>"configuration/configuration_settings.html"/}
    </div>
    <div class="tab-pane" id="translations">
      {>"configuration/configuration_translations.html"/}
    </div>
    <div class="tab-pane" id="workflows">
      {>"configuration/configuration_workflows.html"/}
    </div>
  </div>

</div>