<label for="locale">{@translate value="Default Application Language"/}</label>
<select id="locale">
{#locales}
  <option value="{code}" {@if cond="'{locale}' === '{code}'"}selected="true"{/if}>{name}</option>
{/locales}
</select>
<span class="help-block">{@translate value="setup.language.subtitle"/}</span>

<label for="locale-outgoing">{@translate value="Language For Outgoing Messages"/}</label>
<select id="locale-outgoing">
{#locales}
  <option value="{code}" {@if cond="'{locale_outgoing}' === '{code}'"}selected="true"{/if}>{name}</option>
{/locales}
</select>
<span class="help-block">{@translate value="setup.language.outgoing.subtitle"/}</span>