<div id="forms-configuration" class="tab-content">
  <form id="forms-upload-form">
    <div>
      <fieldset>
        <legend>{@translate value="Upload Forms"/}</legend>
        <div class="alert alert-error hide">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <i class="fa fa-exclamation-triangle"></i> <span>{@translate value="Upload failed"/}</span>
        </div>
        <div class="alert alert-success hide">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <i class="fa fa-check-square"></i> <span>{@translate value="Upload succeeded"/}</span>
        </div>
        <button type="button" class="btn choose">
          <i class="fa fa-arrow-circle-o-up"></i> {@translate value="Choose file"/}
        </button>
        <span class="loading-wrapper hide">
          <i class="fa fa-spin fa-spinner"></i>
        </span>
        <span class="help-block">{@translate value="Upload forms help"/}</span>
        <div class="hide">
          <input class="uploader" type="file" accept="application/json">
        </div>
      </fieldset>
    </div>
  </form>

  <div>
    <fieldset>
    <legend>{@translate value="Installed Forms"/}</legend>
      <p id="forms-installed"></p>
    </fieldset>
  </div>
</div>
