{#info}
<form id="configuration-form">
  <fieldset>

    <legend>{@translate value="Basic Settings"/}</legend>

    <div id="default-language">
      {>"configuration/default-language.html"/}
    </div>

    <label for="gateway-number">{@translate value="Gateway number"/}</label>
    <input id="gateway-number" type="text" value="{gateway_number}" />
    <span class="help-block">{@translate value="Gateway number help"/}</span>

    <label for="default-country-code">{@translate value="Default country code"/}</label>
    <input id="default-country-code" type="text" value="{default_country_code}" />
    <span class="help-block">{@translate value="Default country code help"/}</span>

  </fieldset>

  <fieldset>
    <legend>{@translate value="Advanced Settings"/}</legend>

    <label for="accept-messages">{@translate value="Accept plain-text messages"/}</label>
    <input id="accept-messages" type="checkbox" {@eq key="forms_only_mode" value="false"}checked="true"{/eq}>
    <span class="help-block">{@translate value="Accept plain-text messages help"/}</span>

    <label for="date-display-format">{@translate value="Date display format"/}</label>
    <select id="date-display-format">
      {#date_formats}
      <option 
        value="{.}" 
        {@if cond="'{date_format}' === '{.}'"}selected="true"{/if}>
        {.}
      </option>
      {/date_formats}
    </select>
    {@translate value="For example"/}
    <span id="date-format-example">{date_format_example}</span>

    <label for="datetime-display-format">{@translate value="Datetime display format"/}</label>
    <select id="datetime-display-format">
      {#datetime_formats}
      <option 
        value="{.}" 
        {@if cond="'{reported_date_format}' === '{.}'"}selected="true"{/if}>
          {.}
      </option>
      {/datetime_formats}
    </select>
    {@translate value="For example"/}
    <span id="datetime-format-example">{datetime_format_example}</span>

    <label>{@translate value="Phone number conversion"/}</label>
    {@translate value="Replace country code for"/}
    {>"configuration/countrycodes.html"/}
    {@translate value="With"/}
    <input id="phone-filters-replace" type="text" value="{outgoing_phone_replace.replace}" class="input-mini"/>

    <label>{@translate value="Messaging window"/}</label>
    <p class="inline-form control-group" id="messaging-window">
      {@translate value="Send scheduled messages between"/}
      <span id="schedule-morning">{#scheduleMorning}{>"partials/time.html"/}{/scheduleMorning}</span>
      {@translate value="and"/}
      <span id="schedule-evening">{#scheduleEvening}{>"partials/time.html"/}{/scheduleEvening}</span>.
    </p>
  </fieldset>

  <fieldset>
    <legend>Languages</legend>
    <p>You can edit the translations for each language on the <a href="#translations" class="tab-link">Translations</a> tab.</p>
    <div id="languages" class="repeat-container">
      {#locales}
      <div class="repeat-element">
        <p class="inline-form">
          Display the language code <input type="text" class="input-mini" name="language-code" value="{code}"/>
          as <input type="text" name="language-name" value="{name}"/>
        </p>
        <p>
          <a href="#" class="btn btn-small remove"><i class="fa fa-trash-o"></i> Remove</a>
        </p>
      </div>
      {/locales}
      <div class="repeat-template">
        <p class="inline-form">
          Display the language code <input type="text" class="input-mini" name="language-code"/>
          as <input type="text" name="language-name"/>
        </p>
        <p>
          <a href="#" class="btn btn-small remove"><i class="fa fa-trash-o"></i> Remove</a>
        </p>
      </div>
      <p>
        <a href="#" class="add btn"><i class="fa fa-plus"></i> Add language</a>
      </p>
    </div>
  </fieldset>

  <div class="footer control-group">
    <button type="button" class="btn submit btn-primary">{@translate value="Submit"/}</button>
    <span class="status help-inline"></span>
  </div>
</form>
{/info}