{#info}
<form id="configuration-form">
  <fieldset>

    <legend>Basic Settings</legend>

    <label for="language">Language</label>
    <select id="language">
    {#locales}
      <option value="{code}" {@if cond="'{locale}' === '{code}'"}selected="true"{/if}>{name}</option>
    {/locales}
    </select>
    <span class="help-block">edit translations by going to the Translations tab above</span>

    <label for="gateway-number">Gateway number</label>
    <input id="gateway-number" type="text" value="{gateway_number}" />

  </fieldset>

  <fieldset>
    <legend>Advanced Settings</legend>

    <label for="accept-messages">Accept messages</label>
    <input id="accept-messages" type="checkbox" {@eq key="forms_only_mode" value="false"}checked="true"{/eq}>
    <span class="help-block">if unchecked an error message will be sent to anyone who submits anything other than a report</span>

    <label for="date-display-format">Date display format</label>
    <select id="date-display-format">
      {#date_formats}
      <option 
        value="{.}" 
        {@if cond="'{reported_date_format}' === '{.}'"}selected="true"{/if}>
          {.}
      </option>
      {/date_formats}
    </select>
    eg: <span id="date-format-example">{date_format_example}</span>

    <label>Phone number conversion</label>
    Replace the country code for {>"configuration/countrycodes.html"/}
    with <input id="phone-filters-replace" type="text" value="{outgoing_phone_replace.replace}" class="input-mini"/>

    <label>Messaging window</label>
    <p class="inline-form control-group" id="messaging-window">
      Send scheduled messages between 
      <span id="schedule-morning">{#scheduleMorning}{>"partials/time.html"/}{/scheduleMorning}</span>
      and
      <span id="schedule-evening">{#scheduleEvening}{>"partials/time.html"/}{/scheduleEvening}</span>.
    </p>
  </fieldset>

  <div class="footer">
    <button type="button" class="btn submit btn-primary">Save</button>
    <span class="status"></span>
  </div>
</form>
{/info}