<p>Edit the translation of the text as you would like it to appear. You may set your language preference in your User Profile, and set the language preference for all outgoing messages in Settings.</p>

<form id="translations-form">
  <fieldset id="language-to-edit">

    {>"partials/locale.html"/}

    <p>You can add additional languages on the <a href="#settings" class="tab-link">Settings</a> tab.</p>

  </fieldset>
  <fieldset>

    <legend>Translations</legend>

    <ul>
      <li class="header">
        <div class="default" title="Language fields left blank will use the 'default' text">Default <i class="fa fa-question-circle"></i></div>
        <div class="translation">Translation</div>
      </li>
      {#translations}
        <li>
          <div class="default">{default}</div>
          <div class="translation">
            <textarea name="{key}" class="translated" data-message="{message}">{message}</textarea>
          </div>
        </li>
      {/translations}
    </ul>

    <div class="footer">
      <button type="button" class="btn submit btn-primary">Save</button>
      <span class="status"></span>
    </div>

  </fieldset>
</form>

<div id="discard-changes-confirmation" class="modal hide fade" tabindex="-1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3>Unsubmitted changes</h3>
  </div>
  <div class="modal-body">
    Would you like to continue and discard changes made to the current language?
  </div>
  <div class="modal-footer">
    <button type="button" class="btn cancel" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn submit btn-primary">Continue</button>
  </div>
</div>