<mm-modal
  [status]="status"
  id="feedback"
  [titleKey]="'Report Bug'"
  [submitKey]="'Submit'"
  [submittingKey]="'Submitting'"
  (onCancel)="cancel()"
  (onSubmit)="submit()"
>
  <form action="" method="POST">
    <div class="form-group" [class.has-error]="error.message">
      <textarea [(ngModel)]="model.message" class="form-control" name="message" translate translate-attr-placeholder="Bug description"></textarea>
      <span class="help-block" *ngIf="error.message">{{error.message}}</span>
    </div>
  </form>
</mm-modal>
